force-app/main/default/flows/Accounts_Daily_Insurance_Types.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>addAUD</name>
        <label>addAUD</label>
        <locationX>1326</locationX>
        <locationY>5484</locationY>
        <assignmentItems>
            <assignToReference>sumAUD_PREM</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PolicyLoop.NRMLZD_Premium__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sumAUD_INC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PolicyLoop.NRMLZD_Income_without_Agency_Fee__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sumAgencyFee_USD</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>policyAgencyFeeInUSD</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PolicyLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddBusiness_0</name>
        <label>AddBusiness</label>
        <locationX>1194</locationX>
        <locationY>1692</locationY>
        <assignmentItems>
            <assignToReference>$Record.Active_Insurance_Types__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Business</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InsuranceType_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addCAD</name>
        <label>addCAD</label>
        <locationX>1854</locationX>
        <locationY>5484</locationY>
        <assignmentItems>
            <assignToReference>sumCAD_PREM</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PolicyLoop.NRMLZD_Premium__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sumCAD_INC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PolicyLoop.NRMLZD_Income_without_Agency_Fee__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sumAgencyFee_USD</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>policyAgencyFeeInUSD</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PolicyLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddCar</name>
        <label>AddCar</label>
        <locationX>50</locationX>
        <locationY>6276</locationY>
        <assignmentItems>
            <assignToReference>$Record.Active_Insurance_Types__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Motor</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddConstructors_0</name>
        <label>AddConstructors</label>
        <locationX>1194</locationX>
        <locationY>3192</locationY>
        <assignmentItems>
            <assignToReference>$Record.Active_Insurance_Types__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Constructors</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InsuranceType_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddCredit_0</name>
        <label>AddCredit</label>
        <locationX>1194</locationX>
        <locationY>3792</locationY>
        <assignmentItems>
            <assignToReference>$Record.Active_Insurance_Types__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Credit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InsuranceType_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddCrime_0</name>
        <label>AddCrime</label>
        <locationX>1194</locationX>
        <locationY>2292</locationY>
        <assignmentItems>
            <assignToReference>$Record.Active_Insurance_Types__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Crime</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InsuranceType_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddCyber_0</name>
        <label>AddCyber</label>
        <locationX>1194</locationX>
        <locationY>1392</locationY>
        <assignmentItems>
            <assignToReference>$Record.Active_Insurance_Types__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Cyber</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InsuranceType_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddDirectors_0</name>
        <label>AddDirectors</label>
        <locationX>1194</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>$Record.Active_Insurance_Types__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Directors</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InsuranceType_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addGBP</name>
        <label>addGBP</label>
        <locationX>534</locationX>
        <locationY>5484</locationY>
        <assignmentItems>
            <assignToReference>sumGBP_PREM</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PolicyLoop.NRMLZD_Premium__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sumGBP_INC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PolicyLoop.NRMLZD_Income_without_Agency_Fee__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sumAgencyFee_USD</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>policyAgencyFeeInUSD</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PolicyLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddHousehold</name>
        <label>Add Household</label>
        <locationX>1128</locationX>
        <locationY>4992</locationY>
        <assignmentItems>
            <assignToReference>$Record.Active_Insurance_Types__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Household</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PremCurrency</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddHousehold_0</name>
        <label>Add Household</label>
        <locationX>1194</locationX>
        <locationY>4692</locationY>
        <assignmentItems>
            <assignToReference>$Record.Active_Insurance_Types__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Household</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InsuranceType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addILS</name>
        <label>addILS</label>
        <locationX>270</locationX>
        <locationY>5484</locationY>
        <assignmentItems>
            <assignToReference>sumILS_PREM</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PolicyLoop.NRMLZD_Premium__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sumILS_INC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PolicyLoop.NRMLZD_Income_without_Agency_Fee__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sumAgencyFee_USD</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>policyAgencyFeeInUSD</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PolicyLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddLiability_0</name>
        <label>AddLiability</label>
        <locationX>1194</locationX>
        <locationY>1092</locationY>
        <assignmentItems>
            <assignToReference>$Record.Active_Insurance_Types__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Liability</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InsuranceType_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddLife</name>
        <label>AddLife</label>
        <locationX>50</locationX>
        <locationY>5976</locationY>
        <assignmentItems>
            <assignToReference>$Record.Active_Insurance_Types__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Life</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Car</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddMarine_0</name>
        <label>AddMarine</label>
        <locationX>1194</locationX>
        <locationY>1992</locationY>
        <assignmentItems>
            <assignToReference>$Record.Active_Insurance_Types__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Marine</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InsuranceType_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddMedicalRresearch_0</name>
        <label>AddMedicalRresearch</label>
        <locationX>1194</locationX>
        <locationY>2592</locationY>
        <assignmentItems>
            <assignToReference>$Record.Active_Insurance_Types__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Medical Research</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InsuranceType_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddMotor_0</name>
        <label>Add Motor</label>
        <locationX>1194</locationX>
        <locationY>4392</locationY>
        <assignmentItems>
            <assignToReference>$Record.Active_Insurance_Types__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Motor</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InsuranceType_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddOther</name>
        <label>AddOther</label>
        <locationX>1392</locationX>
        <locationY>5100</locationY>
        <assignmentItems>
            <assignToReference>$Record.Active_Insurance_Types__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Other Insurance Products</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PremCurrency</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddPLCGL_0</name>
        <label>Add PL CGL</label>
        <locationX>1194</locationX>
        <locationY>4092</locationY>
        <assignmentItems>
            <assignToReference>$Record.Active_Insurance_Types__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>PL CGL</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InsuranceType_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addPLN</name>
        <label>addPLN</label>
        <locationX>1590</locationX>
        <locationY>5484</locationY>
        <assignmentItems>
            <assignToReference>sumPLN_PREM</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PolicyLoop.NRMLZD_Premium__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sumPLN_INC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PolicyLoop.NRMLZD_Income_without_Agency_Fee__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sumAgencyFee_USD</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>policyAgencyFeeInUSD</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PolicyLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addSGD</name>
        <label>addSGD</label>
        <locationX>2118</locationX>
        <locationY>5484</locationY>
        <assignmentItems>
            <assignToReference>sumSGD_PREM</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PolicyLoop.NRMLZD_Premium__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sumSGD_INC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PolicyLoop.NRMLZD_Income_without_Agency_Fee__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sumAgencyFee_USD</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>policyAgencyFeeInUSD</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PolicyLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddTerror_0</name>
        <label>AddTerror</label>
        <locationX>1194</locationX>
        <locationY>3492</locationY>
        <assignmentItems>
            <assignToReference>$Record.Active_Insurance_Types__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>War and Terror</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InsuranceType_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddTravel_0</name>
        <label>AddTravel</label>
        <locationX>1194</locationX>
        <locationY>2892</locationY>
        <assignmentItems>
            <assignToReference>$Record.Active_Insurance_Types__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Travel</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InsuranceType_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addUSD</name>
        <label>addUSD</label>
        <locationX>1062</locationX>
        <locationY>5484</locationY>
        <assignmentItems>
            <assignToReference>sumUSD_PREM</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PolicyLoop.NRMLZD_Premium__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sumUSD_INC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PolicyLoop.NRMLZD_Income_without_Agency_Fee__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sumAgencyFee_USD</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>policyAgencyFeeInUSD</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PolicyLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assEUR</name>
        <label>assEUR</label>
        <locationX>798</locationX>
        <locationY>5484</locationY>
        <assignmentItems>
            <assignToReference>sumEUR_PREM</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PolicyLoop.NRMLZD_Premium__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sumEUR_INC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PolicyLoop.NRMLZD_Income_without_Agency_Fee__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sumAgencyFee_USD</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>policyAgencyFeeInUSD</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PolicyLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>clear_Old_Types</name>
        <label>clear Old Types</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <assignmentItems>
            <assignToReference>$Record.Active_Insurance_Types__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Elem_Policies</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setNRMLZD_Data</name>
        <label>setNRMLZD Data</label>
        <locationX>182</locationX>
        <locationY>5760</locationY>
        <assignmentItems>
            <assignToReference>$Record.NRMLZD_Premium__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Premium_Nrmlzd_to_USD</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.NRMLZD_Income__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Income_Nrmlzd_to_USD</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Life</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Car</name>
        <label>Car</label>
        <locationX>182</locationX>
        <locationY>6168</locationY>
        <defaultConnector>
            <targetReference>Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>hasCarPolicy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Elem_CAR_Policies</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddCar</targetReference>
            </connector>
            <label>hasCarPolicy</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contains_OTHER</name>
        <label>Contains OTHER</label>
        <locationX>1524</locationX>
        <locationY>4992</locationY>
        <defaultConnector>
            <targetReference>PremCurrency</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>NOT 1</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Active_Insurance_Types__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Other Insurance Products</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOther</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>InsuranceType</name>
        <label>InsuranceType</label>
        <locationX>1326</locationX>
        <locationY>4884</locationY>
        <defaultConnector>
            <targetReference>Contains_OTHER</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Household</name>
            <conditionLogic>1 AND Not  2</conditionLogic>
            <conditions>
                <leftValueReference>PolicyLoop.Novidea_HPC__Product_Definition__r.Grouping_Products__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>House hold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Active_Insurance_Types__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Household</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddHousehold</targetReference>
            </connector>
            <label>Household</label>
        </rules>
    </decisions>
    <decisions>
        <name>InsuranceType_0</name>
        <label>InsuranceType</label>
        <locationX>1326</locationX>
        <locationY>684</locationY>
        <defaultConnector>
            <targetReference>InsuranceType_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Directors_0</name>
            <conditionLogic>1 and (NOT(2))</conditionLogic>
            <conditions>
                <leftValueReference>PolicyLoop.Novidea_HPC__Product_Definition__r.Grouping_Products__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>D&amp;O</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Active_Insurance_Types__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Directors</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddDirectors_0</targetReference>
            </connector>
            <label>Directors</label>
        </rules>
    </decisions>
    <decisions>
        <name>InsuranceType_0_0</name>
        <label>InsuranceType</label>
        <locationX>1326</locationX>
        <locationY>984</locationY>
        <defaultConnector>
            <targetReference>InsuranceType_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Liability_0</name>
            <conditionLogic>1 AND not(2)</conditionLogic>
            <conditions>
                <leftValueReference>PolicyLoop.Novidea_HPC__Product_Definition__r.Grouping_Products__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>PI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Active_Insurance_Types__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Liability</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddLiability_0</targetReference>
            </connector>
            <label>Liability</label>
        </rules>
    </decisions>
    <decisions>
        <name>InsuranceType_0_0_0</name>
        <label>InsuranceType</label>
        <locationX>1326</locationX>
        <locationY>1284</locationY>
        <defaultConnector>
            <targetReference>InsuranceType_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cyber_0</name>
            <conditionLogic>1 AND NOT 2</conditionLogic>
            <conditions>
                <leftValueReference>PolicyLoop.Novidea_HPC__Product_Definition__r.Grouping_Products__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Cyber</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Active_Insurance_Types__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Cyber</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddCyber_0</targetReference>
            </connector>
            <label>Cyber</label>
        </rules>
    </decisions>
    <decisions>
        <name>InsuranceType_0_0_0_0</name>
        <label>InsuranceType</label>
        <locationX>1326</locationX>
        <locationY>1584</locationY>
        <defaultConnector>
            <targetReference>InsuranceType_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Business_0</name>
            <conditionLogic>1 AND NOT 2</conditionLogic>
            <conditions>
                <leftValueReference>PolicyLoop.Novidea_HPC__Product_Definition__r.Grouping_Products__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Property And Casualty</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Active_Insurance_Types__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Business</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddBusiness_0</targetReference>
            </connector>
            <label>Business</label>
        </rules>
    </decisions>
    <decisions>
        <name>InsuranceType_0_0_0_0_0</name>
        <label>InsuranceType</label>
        <locationX>1326</locationX>
        <locationY>1884</locationY>
        <defaultConnector>
            <targetReference>InsuranceType_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Marine_0</name>
            <conditionLogic>1 AND NOT 2</conditionLogic>
            <conditions>
                <leftValueReference>PolicyLoop.Novidea_HPC__Product_Definition__r.Grouping_Products__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Cargo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Active_Insurance_Types__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Marine</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddMarine_0</targetReference>
            </connector>
            <label>Marine</label>
        </rules>
    </decisions>
    <decisions>
        <name>InsuranceType_0_0_0_0_0_0</name>
        <label>InsuranceType</label>
        <locationX>1326</locationX>
        <locationY>2184</locationY>
        <defaultConnector>
            <targetReference>InsuranceType_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Crime_0</name>
            <conditionLogic>1 AND NOT  2</conditionLogic>
            <conditions>
                <leftValueReference>PolicyLoop.Novidea_HPC__Product_Definition__r.Grouping_Products__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Crime</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Active_Insurance_Types__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Crime</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddCrime_0</targetReference>
            </connector>
            <label>Crime</label>
        </rules>
    </decisions>
    <decisions>
        <name>InsuranceType_0_0_0_0_0_0_0</name>
        <label>InsuranceType</label>
        <locationX>1326</locationX>
        <locationY>2484</locationY>
        <defaultConnector>
            <targetReference>InsuranceType_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Medical_Research_0</name>
            <conditionLogic>1 AND NOT 2 and not 3</conditionLogic>
            <conditions>
                <leftValueReference>PolicyLoop.Novidea_HPC__Product_Definition__r.Grouping_Products__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>CT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Active_Insurance_Types__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Medical Research</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PolicyLoop.Novidea_HPC__Product_Definition__r.Grouping_Products__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Constructors</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddMedicalRresearch_0</targetReference>
            </connector>
            <label>Medical Research</label>
        </rules>
    </decisions>
    <decisions>
        <name>InsuranceType_0_0_0_0_0_0_0_0</name>
        <label>InsuranceType</label>
        <locationX>1326</locationX>
        <locationY>2784</locationY>
        <defaultConnector>
            <targetReference>InsuranceType_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Travel_0</name>
            <conditionLogic>1 AND NOT 2</conditionLogic>
            <conditions>
                <leftValueReference>PolicyLoop.Novidea_HPC__Product_Definition__r.Grouping_Products__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Travel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Active_Insurance_Types__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Travel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddTravel_0</targetReference>
            </connector>
            <label>Travel</label>
        </rules>
    </decisions>
    <decisions>
        <name>InsuranceType_0_0_0_0_0_0_0_0_0</name>
        <label>InsuranceType</label>
        <locationX>1326</locationX>
        <locationY>3084</locationY>
        <defaultConnector>
            <targetReference>InsuranceType_0_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Constructors_0</name>
            <conditionLogic>1 AND NOT 2</conditionLogic>
            <conditions>
                <leftValueReference>PolicyLoop.Novidea_HPC__Product_Definition__r.Grouping_Products__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Constructors</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Active_Insurance_Types__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Constructors</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddConstructors_0</targetReference>
            </connector>
            <label>Constructors</label>
        </rules>
    </decisions>
    <decisions>
        <name>InsuranceType_0_0_0_0_0_0_0_0_0_0</name>
        <label>InsuranceType</label>
        <locationX>1326</locationX>
        <locationY>3384</locationY>
        <defaultConnector>
            <targetReference>InsuranceType_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>War_and_Terror_0</name>
            <conditionLogic>1 AND NOT 2</conditionLogic>
            <conditions>
                <leftValueReference>PolicyLoop.Novidea_HPC__Product_Definition__r.Grouping_Products__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Terrorism</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Active_Insurance_Types__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>War and Terror</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddTerror_0</targetReference>
            </connector>
            <label>War and Terror</label>
        </rules>
    </decisions>
    <decisions>
        <name>InsuranceType_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>InsuranceType</label>
        <locationX>1326</locationX>
        <locationY>3684</locationY>
        <defaultConnector>
            <targetReference>InsuranceType_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Credit_0</name>
            <conditionLogic>1 AND NOT 2</conditionLogic>
            <conditions>
                <leftValueReference>PolicyLoop.Novidea_HPC__Product_Definition__r.Grouping_Products__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Credit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Active_Insurance_Types__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Credit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddCredit_0</targetReference>
            </connector>
            <label>Credit</label>
        </rules>
    </decisions>
    <decisions>
        <name>InsuranceType_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>InsuranceType</label>
        <locationX>1326</locationX>
        <locationY>3984</locationY>
        <defaultConnector>
            <targetReference>InsuranceType_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PL_CGL_0</name>
            <conditionLogic>1 AND  NOT  2</conditionLogic>
            <conditions>
                <leftValueReference>PolicyLoop.Novidea_HPC__Product_Definition__r.Grouping_Products__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>PL CGL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Active_Insurance_Types__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>PL CGL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddPLCGL_0</targetReference>
            </connector>
            <label>PL CGL</label>
        </rules>
    </decisions>
    <decisions>
        <name>InsuranceType_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>InsuranceType</label>
        <locationX>1326</locationX>
        <locationY>4284</locationY>
        <defaultConnector>
            <targetReference>InsuranceType_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Motor_0</name>
            <conditionLogic>1 AND NOT 2</conditionLogic>
            <conditions>
                <leftValueReference>PolicyLoop.Novidea_HPC__Product_Definition__r.Grouping_Products__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Motor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Active_Insurance_Types__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Motor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddMotor_0</targetReference>
            </connector>
            <label>Motor</label>
        </rules>
    </decisions>
    <decisions>
        <name>InsuranceType_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>InsuranceType</label>
        <locationX>1326</locationX>
        <locationY>4584</locationY>
        <defaultConnector>
            <targetReference>InsuranceType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Household_0</name>
            <conditionLogic>1 AND Not  2</conditionLogic>
            <conditions>
                <leftValueReference>PolicyLoop.Novidea_HPC__Product_Definition__r.Grouping_Products__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>House hold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Active_Insurance_Types__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Household</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddHousehold_0</targetReference>
            </connector>
            <label>Household</label>
        </rules>
    </decisions>
    <decisions>
        <name>Life</name>
        <label>Life</label>
        <locationX>182</locationX>
        <locationY>5868</locationY>
        <defaultConnector>
            <targetReference>Car</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>hasLifePolicy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Number_Of_Active_Employees__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddLife</targetReference>
            </connector>
            <label>hasLifePolicy</label>
        </rules>
    </decisions>
    <decisions>
        <name>PremCurrency</name>
        <label>PremCurrency</label>
        <locationX>1326</locationX>
        <locationY>5376</locationY>
        <defaultConnector>
            <targetReference>PolicyLoop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ILS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PolicyLoop.Novidea_HPC__Premium_Amount_Currency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ILS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addILS</targetReference>
            </connector>
            <label>ILS</label>
        </rules>
        <rules>
            <name>GBP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PolicyLoop.Novidea_HPC__Premium_Amount_Currency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GBP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addGBP</targetReference>
            </connector>
            <label>GBP</label>
        </rules>
        <rules>
            <name>EUR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PolicyLoop.Novidea_HPC__Premium_Amount_Currency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EUR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assEUR</targetReference>
            </connector>
            <label>EUR</label>
        </rules>
        <rules>
            <name>USD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PolicyLoop.Novidea_HPC__Premium_Amount_Currency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addUSD</targetReference>
            </connector>
            <label>USD</label>
        </rules>
        <rules>
            <name>AUD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PolicyLoop.Novidea_HPC__Premium_Amount_Currency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AUD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addAUD</targetReference>
            </connector>
            <label>AUD</label>
        </rules>
        <rules>
            <name>PLN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PolicyLoop.Novidea_HPC__Premium_Amount_Currency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PLN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addPLN</targetReference>
            </connector>
            <label>PLN</label>
        </rules>
        <rules>
            <name>CAD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PolicyLoop.Novidea_HPC__Premium_Amount_Currency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CAD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addCAD</targetReference>
            </connector>
            <label>CAD</label>
        </rules>
        <rules>
            <name>SGD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PolicyLoop.Novidea_HPC__Premium_Amount_Currency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SGD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addSGD</targetReference>
            </connector>
            <label>SGD</label>
        </rules>
    </decisions>
    <description>Check All groups for each policy</description>
    <environments>Default</environments>
    <formulas>
        <name>Income_Nrmlzd_to_USD</name>
        <dataType>Number</dataType>
        <expression>{!$Setup.Last_Exchange_Rate__c.AUD__c}*{!sumAUD_INC}+
{!$Setup.Last_Exchange_Rate__c.ILS__c}*{!sumILS_INC}+
{!$Setup.Last_Exchange_Rate__c.EUR__c}*{!sumEUR_INC}+
{!$Setup.Last_Exchange_Rate__c.CAD__c}*{!sumCAD_INC}+
{!$Setup.Last_Exchange_Rate__c.GBP__c}*{!sumGBP_INC}+
{!$Setup.Last_Exchange_Rate__c.PLN__c}*{!sumPLN_INC}+
{!$Setup.Last_Exchange_Rate__c.SGD__c}*{!sumSGD_INC}+
{!$Setup.Last_Exchange_Rate__c.USD__c}*{!sumUSD_INC} +
{!sumAgencyFee_USD}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>policyAgencyFeeInUSD</name>
        <dataType>Number</dataType>
        <expression>CASE({!PolicyLoop.Novidea_HPC__Agency_Fees_Currency__c},
&apos;USD&apos;,{!PolicyLoop.Novidea_HPC__Agency_Fee__c}*{!$Setup.Last_Exchange_Rate__c.USD__c},
&apos;ILS&apos;,{!PolicyLoop.Novidea_HPC__Agency_Fee__c}*{!$Setup.Last_Exchange_Rate__c.ILS__c},
&apos;EUR&apos;,{!PolicyLoop.Novidea_HPC__Agency_Fee__c}*{!$Setup.Last_Exchange_Rate__c.EUR__c},
&apos;AUD&apos;,{!PolicyLoop.Novidea_HPC__Agency_Fee__c}*{!$Setup.Last_Exchange_Rate__c.AUD__c},
&apos;CAD&apos;,{!PolicyLoop.Novidea_HPC__Agency_Fee__c}*{!$Setup.Last_Exchange_Rate__c.CAD__c},
&apos;GBP&apos;,{!PolicyLoop.Novidea_HPC__Agency_Fee__c}*{!$Setup.Last_Exchange_Rate__c.GBP__c},
&apos;PLN&apos;,{!PolicyLoop.Novidea_HPC__Agency_Fee__c}*{!$Setup.Last_Exchange_Rate__c.PLN__c},
&apos;SGD&apos;,{!PolicyLoop.Novidea_HPC__Agency_Fee__c}*{!$Setup.Last_Exchange_Rate__c.SGD__c},
0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Premium_Nrmlzd_to_USD</name>
        <dataType>Number</dataType>
        <expression>{!$Setup.Last_Exchange_Rate__c.AUD__c}*{!sumAUD_PREM}+
{!$Setup.Last_Exchange_Rate__c.ILS__c}*{!sumILS_PREM}+
{!$Setup.Last_Exchange_Rate__c.EUR__c}*{!sumEUR_PREM}+
{!$Setup.Last_Exchange_Rate__c.CAD__c}*{!sumCAD_PREM}+
{!$Setup.Last_Exchange_Rate__c.GBP__c}*{!sumGBP_PREM}+
{!$Setup.Last_Exchange_Rate__c.PLN__c}*{!sumPLN_PREM}+
{!$Setup.Last_Exchange_Rate__c.SGD__c}*{!sumSGD_PREM}+
{!$Setup.Last_Exchange_Rate__c.USD__c}*{!sumUSD_PREM}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Accounts - Daily - Insurance Types {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Accounts - Daily - Insurance Types</label>
    <loops>
        <name>PolicyLoop</name>
        <label>PolicyLoop</label>
        <locationX>182</locationX>
        <locationY>576</locationY>
        <collectionReference>Elem_Policies</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>InsuranceType_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>setNRMLZD_Data</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Elem_CAR_Policies</name>
        <label>Elem CAR Policies</label>
        <locationX>182</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PolicyLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Novidea_HPC__Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Novidea_HPC__Expiration_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Novidea_HPC__Action__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Novidea_HPC__Car_Number__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Novidea_HPC__Policy__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Elem_Policies</name>
        <label>Elem Policies</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Elem_CAR_Policies</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Novidea_HPC__Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Novidea_HPC__Expiration_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Novidea_HPC__Action__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Novidea_HPC__Car_Number__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Novidea_HPC__Policy__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update</name>
        <label>Update</label>
        <locationX>182</locationX>
        <locationY>6468</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>clear_Old_Types</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>001D0000020YIDuIAO</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2020-12-10</startDate>
            <startTime>03:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>oldTypes</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sumAgencyFee_USD</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>sumAUD_INC</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>sumAUD_PREM</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>sumCAD_INC</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>sumCAD_PREM</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>sumEUR_INC</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>sumEUR_PREM</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>sumGBP_INC</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>sumGBP_PREM</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>sumILS_INC</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>sumILS_PREM</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>sumPLN_INC</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>sumPLN_PREM</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>sumSGD_INC</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>sumSGD_PREM</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>sumUSD_INC</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>sumUSD_PREM</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
