force-app/main/default/flows/Account_BS_Manage_RI.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>setRI</name>
        <label>setRI</label>
        <locationX>176</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.manage_RI__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>accountRI</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>setRI_0_0</name>
        <label>setRI</label>
        <locationX>440</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.manage_RI__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ownerRI</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>groupRIid</name>
        <dataType>String</dataType>
        <value>
            <stringValue>00GD0000004NPYNMA4</stringValue>
        </value>
    </constants>
    <decisions>
        <name>isAutomatedProcess</name>
        <label>isAutomatedProcess</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>ownerInGroupRI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>005D0000002DrTr</stringValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>RTandOwner</name>
        <label>RTandOwner</label>
        <locationX>440</locationX>
        <locationY>551</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RTisRI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012D0000000BaU5IAK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setRI</targetReference>
            </connector>
            <label>RTisRI</label>
        </rules>
        <rules>
            <name>OwnerIsRI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ownerInGroupRI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setRI_0_0</targetReference>
            </connector>
            <label>OwnerIsRI</label>
        </rules>
    </decisions>
    <interviewLabel>Account - BS - Manage RI {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - BS - Manage RI</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>ownerInGroupRI</name>
        <label>ownerInGroupRI</label>
        <locationX>440</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RTandOwner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>groupRIid</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>isAutomatedProcess</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
