force-app/main/default/flows/Application_BS_RI.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_New_Status</name>
        <label>Assign New Status</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Novidea_HPC__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Proposals evaluation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RI_Users</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setRI</name>
        <label>setRI</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.manage_RI__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>accountRI</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>setRI_0_0</name>
        <label>setRI</label>
        <locationX>314</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.manage_RI__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ownerRI</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>ownerOrRTisRI</name>
        <label>ownerOrRTisRI</label>
        <locationX>314</locationX>
        <locationY>803</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_RT_is_RI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Account__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setRI</targetReference>
            </connector>
            <label>Account RT is RI</label>
        </rules>
        <rules>
            <name>Owner_is_RI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ownerInGroupRI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setRI_0_0</targetReference>
            </connector>
            <label>Owner is RI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_IsChanged</name>
        <label>Status IsChanged</label>
        <locationX>314</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>RI_Users</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partial Coverage - followup</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>HIL-214</description>
    <environments>Default</environments>
    <interviewLabel>Application - BS -RI {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Application - BS -RI</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>ownerInGroupRI</name>
        <label>ownerInGroupRI</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ownerOrRTisRI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RI_Users.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RI_Users</name>
        <label>RI Users</label>
        <locationX>314</locationX>
        <locationY>587</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ownerInGroupRI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ri_Users</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Status_IsChanged</targetReference>
        </connector>
        <object>Novidea_HPC__Application__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
