force-app/main/default/flows/Aw_Agreement_BS_Check_Active_Record_Validation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>CountAgreements</name>
        <label>CountAgreements</label>
        <locationX>536</locationX>
        <locationY>128</locationY>
        <assignmentItems>
            <assignToReference>Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetAllAgreementByKey</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Validation_Flag</name>
        <label>Update Validation Flag</label>
        <locationX>845</locationX>
        <locationY>131</locationY>
        <assignmentItems>
            <assignToReference>$Record.ActiveVallidationFlag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Validation_Flag_0</name>
        <label>Update Validation Flag</label>
        <locationX>846</locationX>
        <locationY>271</locationY>
        <assignmentItems>
            <assignToReference>$Record.ActiveVallidationFlag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Count</name>
        <label>Check Count</label>
        <locationX>647</locationX>
        <locationY>130</locationY>
        <defaultConnector>
            <targetReference>Update_Validation_Flag_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>More_Than_One_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Validation_Flag</targetReference>
            </connector>
            <label>More Than One Active</label>
        </rules>
    </decisions>
    <description>פלוו ביפור סייב על הסכם שבודק ביצירה/בעדכון רשומה כפעילה שיש רק רשומה אחת פעילה לאותו מפתח של יצרן וחשבון עסקי, אחרת מדליק דגל שיש עליו ולידציה</description>
    <environments>Default</environments>
    <interviewLabel>Aw Agreement BS Check Active Record Validation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Aw Agreement BS Check Active Record Validation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetAllAgreementByKey</name>
        <label>GetAllAgreementsByKey</label>
        <locationX>409</locationX>
        <locationY>128</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CountAgreements</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AgentWise_IL__Carrier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AgentWise_IL__Carrier__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Business__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Business__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>כן</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AgentWise_IL__Agreement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetAllAgreementByKey</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>כן</stringValue>
            </value>
        </filters>
        <object>AgentWise_IL__Agreement__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
