force-app/main/default/flows/Aw_Application_Convert_Application_To_Policy.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Check_Validations</name>
        <label>Check Validations</label>
        <locationX>512</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Search_Policies</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Missing_Policy_Number_To_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Application.Policy_Number_To_Update__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MissingPolicyNumber</targetReference>
            </connector>
            <label>Missing Policy Number To Update</label>
        </rules>
        <rules>
            <name>Application_Is_Already_Converted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Application.AgentWise_IL__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Converted to Policy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AlreadyConv</targetReference>
            </connector>
            <label>Application Is Already Converted</label>
        </rules>
        <rules>
            <name>Application_Shouldnt_Be_Converted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Application.Action_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Addition</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Addition</targetReference>
            </connector>
            <label>Application Shouldnt Be Converted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found</name>
        <label>Found ?</label>
        <locationX>974</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Create_Policy</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Search_Policies</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FoundPolicies</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Account</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!Get_Application.AgentWise_IL__Employer_Account__c})),{!Get_Application.AgentWise_IL__Employer_Account__c},{!Get_Application.AgentWise_IL__Account__c})</expression>
    </formulas>
    <formulas>
        <name>FundType</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Application.RecordType.DeveloperName}=&apos;Individual_Pension_Application&apos; &amp;&amp; ISPICKVAL ({!Get_Application.Pension_Fund_Type__c},&quot;משלימה (כללית)&quot;),&quot;כללית&quot;,
IF({!Get_Application.RecordType.DeveloperName}=&apos;Individual_Pension_Application&apos; &amp;&amp; ISPICKVAL ({!Get_Application.Pension_Fund_Type__c},&quot;מקיפה&quot;),&quot;מקיפה&quot;,
null))</expression>
    </formulas>
    <formulas>
        <name>RecordTypeId</name>
        <dataType>String</dataType>
        <expression>Case ({!Get_Application.RecordType.Id},
&quot;0124G000000kqAfQAI&quot;,&quot;0124G000000kqAlQAI&quot;,
&quot;0124G000000kq6mQAA&quot;,&quot;0124G000000kq91QAA&quot;,
&quot;0124G000000kqAgQAI&quot;,&quot;0124G000000t3xCQAQ&quot;,
&quot;0124G000000kq6nQAA&quot;,&quot;0124G000000kq92QAA&quot;,
&quot;0124G000000kq6oQAA&quot;,&quot;0124G000000kq93QAA&quot;,
&quot;0124G000000kq6pQAA&quot;,&quot;0124G000000kq94QAA&quot;,
&quot;0124G000000kq6qQAA&quot;,&quot;0124G000000kq95QAA&quot;,
&quot;0124G000000kq6sQAA&quot;,&quot;0124G000000kq97QAA&quot;,
&quot;0124G000000kq6uQAA&quot;,&quot;0124G000000kq99QAA&quot;,
&quot;0124G000000kq6wQAA&quot;,&quot;0124G000000kq9BQAQ&quot;,
&quot;0124G000000kq6vQAA&quot;,&quot;0124G000000kq9AQAQ&quot;,
&quot;0124G000000kq6xQAA&quot;,&quot;0124G000000kq9CQAQ&quot;,
&quot;0124G000000kqAhQAI&quot;,&quot;0124G000000kqAnQAI&quot;,
&quot;0124G000000kq6yQAA&quot;,&quot;0124G000000kq9DQAQ&quot;,
&quot;0124G000000kq70QAA&quot;,&quot;0124G000000kq9GQAQ&quot;,
&quot;0124G000000kq71QAA&quot;,&quot;0124G000000kq9HQAQ&quot;,
&quot;0124G000000kq73QAA&quot;,&quot;0124G000000kq9JQAQ&quot;,
&quot;0124G000000kq96QAA&quot;)</expression>
    </formulas>
    <formulas>
        <name>Tikun190</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Get_Application.Tikun_190__c},TRUE,FALSE)</expression>
    </formulas>
    <interviewLabel>Aw Application Convert Application To Policy {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Aw Application Convert Application To Policy</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Policy</name>
        <label>Create Policy</label>
        <locationX>1106</locationX>
        <locationY>638</locationY>
        <assignRecordIdToReference>CreatedPolicy</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Application</targetReference>
        </connector>
        <inputAssignments>
            <field>Actual_Accumulation__c</field>
            <value>
                <elementReference>Get_Application.Actual_Accumulation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AgentWise_IL__Account__c</field>
            <value>
                <elementReference>Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AgentWise_IL__Application__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AgentWise_IL__Carrier__c</field>
            <value>
                <elementReference>Get_Application.AgentWise_IL__Selected_Carrier__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AgentWise_IL__Effective_Date__c</field>
            <value>
                <elementReference>Get_Application.AgentWise_IL__Effective_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AgentWise_IL__Fund_Type__c</field>
            <value>
                <elementReference>Get_Application.Pension_Fund_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AgentWise_IL__Household__c</field>
            <value>
                <elementReference>Get_Application.AgentWise_IL__Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AgentWise_IL__Insured_Person__c</field>
            <value>
                <elementReference>Get_Application.AgentWise_IL__Insured_Person__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AgentWise_IL__Policy_Number__c</field>
            <value>
                <elementReference>Get_Application.Policy_Number_To_Update__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AgentWise_IL__Secondary_Insured__c</field>
            <value>
                <elementReference>Get_Application.AgentWise_IL__Secondary_Insured__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AgentWise_IL__Status__c</field>
            <value>
                <stringValue>In Force</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Insured_Salary__c</field>
            <value>
                <elementReference>Get_Application.Insured_Salary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monthly_Premium__c</field>
            <value>
                <elementReference>Get_Application.Actual_Premium__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Application.Policy_Number_To_Update__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Rep__c</field>
            <value>
                <elementReference>Get_Application.Sales_Rep__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tikun_190__c</field>
            <value>
                <elementReference>Tikun190</elementReference>
            </value>
        </inputAssignments>
        <object>AgentWise_IL__Policy__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Application</name>
        <label>Get Application</label>
        <locationX>512</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Validations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AgentWise_IL__Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Search_Policies</name>
        <label>Search Policies</label>
        <locationX>974</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AgentWise_IL__Carrier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Application.AgentWise_IL__Selected_Carrier__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>AgentWise_IL__Fund_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FundType</elementReference>
            </value>
        </filters>
        <filters>
            <field>NrmlzdPolicyNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Application.NrmlzdPolicyNumber__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AgentWise_IL__Policy__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Mark_For_Validation</name>
        <label>Mark For Validation</label>
        <locationX>1106</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Finished0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Anti_Validate__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>AgentWise_IL__Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Application</name>
        <label>Update Application</label>
        <locationX>1106</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Mark_For_Validation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AgentWise_IL__Policy__c</field>
            <value>
                <elementReference>CreatedPolicy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AgentWise_IL__Status__c</field>
            <value>
                <stringValue>Converted to Policy</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Anti_Validate__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Policy_Lookup_Was_Updated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>AgentWise_IL__Application__c</object>
    </recordUpdates>
    <screens>
        <name>Addition</name>
        <label>Addition</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AlreadyConvertedMessage_0</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong&gt;לא ניתן להמיר לפוליסה הצעה מסוג תוספת. יש לחברה לפוליסה קיימת ולסגור אותה בסטטוס &quot;נסגר ללא המרה&quot;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AlreadyConv</name>
        <label>AlreadyConv</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AlreadyConvertedMessage</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong&gt;הצעה זו כבר בסטטוס הופקה, לא ניתן להפיק שוב&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Finished0</name>
        <label>Finished</label>
        <locationX>1106</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Finished</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong&gt;הפעולה הסתיימה בהצלחה. למעבר לפוליסה שהופקה כנס/י מהלינק בהצעה&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FoundPolicies</name>
        <label>FoundPolicies</label>
        <locationX>842</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AlreadyConvertedMessage_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong&gt;פוליסה/קופה כזו כבר קיימת במערכת, לא ניתן להמיר את ההצעה&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>MissingPolicyNumber</name>
        <label>MissingPolicyNumber</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MissingPolicyMessage</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong&gt;לא צויין מספר הפוליסה שהופקה. יש להשלים זאת בהצעה&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Application</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CreatedPolicy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
