force-app/main/default/flows/Aw_Application_Autolaunched_Create_ServiceReq_For_Cancel_Taking_Ownership_On_App.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_User</name>
        <label>Notify User</label>
        <locationX>924</locationX>
        <locationY>384</locationY>
        <actionName>AgentWise_IL__Service_Request__c.CancelLifePolicyAlert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Var_CreatedSr</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AgentWise_IL__Service_Request__c.CancelLifePolicyAlert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Application_Action_Type_Decision</name>
        <label>Application Action Type Decision</label>
        <locationX>493</locationX>
        <locationY>96</locationY>
        <defaultConnector>
            <targetReference>Create_TakingOwnership_Req</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>All_But_Taking_OwnerShip</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApplicationRec.Action_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Taking The OwnerShip</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Policies_To_Cancel</targetReference>
            </connector>
            <label>All But Taking OwnerShip</label>
        </rules>
    </decisions>
    <description>יוצא לדרך בעת סגירת הצעת חיים בהמרה / נסגר ללא המרה ומוציא לדרך בקשות שירות לפי בקשות הביטול/ניוד/קבלת בעלות שיש בהצעה</description>
    <environments>Default</environments>
    <formulas>
        <name>Application</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!Loop.Application__c})),{!Loop.Application__c},
IF(NOT(ISBLANK({!Loop.Application_Pens__c})),{!Loop.Application_Pens__c},
{!ApplicationRec.Id}))</expression>
    </formulas>
    <formulas>
        <name>beneficiary</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!ApplicationRec.AgentWise_IL__Insured_Person__c})),{!ApplicationRec.AgentWise_IL__Insured_Person__c},&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>CarrierId</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!Loop.Extern_Policy_To_Be_Deleted_Carrier__c})),{!Loop.Extern_Policy_To_Be_Deleted_Carrier__c},{!Loop.Policy__r.AgentWise_IL__Carrier__c})</expression>
    </formulas>
    <formulas>
        <name>Sla_Date</name>
        <dataType>Date</dataType>
        <expression>IF(NOT(ISBLANK({!Loop.Expected_Niud_Date__c})),{!Loop.Expected_Niud_Date__c},TODAY())</expression>
    </formulas>
    <formulas>
        <name>SlaDateTakingOwnership</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+21</expression>
    </formulas>
    <formulas>
        <name>SubSubject</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!Loop.Application_Pens__c}))&amp;&amp; NOT(ISBLANK({!Loop.Policy__c})),&quot;Internal Niud&quot;,
IF(NOT(ISBLANK({!Loop.Application_Pens__c})),&quot;External Niud&quot;, &quot;Policy Cancellation&quot;))</expression>
    </formulas>
    <interviewLabel>Aw Autolaunched {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Aw Application Autolaunched Create ServiceReq For Cancel/Taking Ownership On Application Closure</label>
    <loops>
        <name>Loop</name>
        <label>Loop</label>
        <locationX>847</locationX>
        <locationY>92</locationY>
        <collectionReference>Get_All_Policies_To_Cancel</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Cancel_Service_Req</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Cancel_Service_Req</name>
        <label>Create Cancel Service Req</label>
        <locationX>720</locationX>
        <locationY>322</locationY>
        <assignRecordIdToReference>Var_CreatedSr</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Lookup</targetReference>
        </connector>
        <inputAssignments>
            <field>AgentWise_IL__Application__c</field>
            <value>
                <elementReference>Application</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AgentWise_IL__Beneficiary__c</field>
            <value>
                <elementReference>beneficiary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AgentWise_IL__Policy__c</field>
            <value>
                <elementReference>Loop.Policy__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AgentWise_IL__Request_Origin__c</field>
            <value>
                <stringValue>Policy Cancellation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Carrier__c</field>
            <value>
                <elementReference>CarrierId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Extern_Policy_To_Be_Deleted_Carrier_Name__c</field>
            <value>
                <elementReference>Loop.Extern_Policy_To_Be_Deleted_Carrier_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Extern_Policy_To_Be_Deleted_Number__c</field>
            <value>
                <elementReference>Loop.Extern_Policy_To_Be_Deleted_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Policy_Created_By_Conversion__c</field>
            <value>
                <elementReference>ApplicationRec.AgentWise_IL__Policy__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0124G000000kqAoQAI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLA_Date__c</field>
            <value>
                <elementReference>Sla_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Subject__c</field>
            <value>
                <elementReference>SubSubject</elementReference>
            </value>
        </inputAssignments>
        <object>AgentWise_IL__Service_Request__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_TakingOwnership_Req</name>
        <label>Create TakingOwnership Req</label>
        <locationX>568</locationX>
        <locationY>318</locationY>
        <assignRecordIdToReference>Var_CreatedSr</assignRecordIdToReference>
        <connector>
            <targetReference>Get_All_Policies_To_Cancel</targetReference>
        </connector>
        <inputAssignments>
            <field>AgentWise_IL__Application__c</field>
            <value>
                <elementReference>Application</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AgentWise_IL__Beneficiary__c</field>
            <value>
                <elementReference>beneficiary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AgentWise_IL__Policy__c</field>
            <value>
                <elementReference>ApplicationRec.AgentWise_IL__Policy__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AgentWise_IL__Request_Origin__c</field>
            <value>
                <stringValue>Policy Creation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Carrier__c</field>
            <value>
                <elementReference>ApplicationRec.AgentWise_IL__Selected_Carrier__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0124G000000kqAqQAI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLA_Date__c</field>
            <value>
                <elementReference>SlaDateTakingOwnership</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Lead__c</field>
            <value>
                <elementReference>ApplicationRec.AgentWise_IL__Lead__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Subject__c</field>
            <value>
                <stringValue>Taking Ownership Followup</stringValue>
            </value>
        </inputAssignments>
        <object>AgentWise_IL__Service_Request__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Policies_To_Cancel</name>
        <label>Get All Policies To Cancel</label>
        <locationX>676</locationX>
        <locationY>92</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 or 4)</filterLogic>
        <filters>
            <field>Search_Application_Lookup__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ApplicationRec.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Cancel_Policy_Request__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Cancel_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ביטול על ידי נספח ג</stringValue>
            </value>
        </filters>
        <filters>
            <field>Start_Cancel_Niud_Manually__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Application_Deleted_Policies__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lookup</name>
        <label>Update Lookup</label>
        <locationX>720</locationX>
        <locationY>494</locationY>
        <connector>
            <targetReference>Notify_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cancel_Policy_Request__c</field>
            <value>
                <elementReference>Var_CreatedSr</elementReference>
            </value>
        </inputAssignments>
        <object>Application_Deleted_Policies__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Application_Action_Type_Decision</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ApplicationRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AgentWise_IL__Application__c</objectType>
    </variables>
    <variables>
        <name>Var_CreatedSr</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
