force-app/main/default/flows/Aw_Claim_Autolaunched_Complete_Employer_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Count_Connections</name>
        <label>Count Connections</label>
        <locationX>158</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Search_All_Open_Ap_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Found_Only_One</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_Only_One</name>
        <label>Found Only One ?</label>
        <locationX>158</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>One</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Extract_Item</targetReference>
            </connector>
            <label>One</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Insured</name>
        <label>Has Insured ?</label>
        <locationX>300</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ClaimRec.AgentWise_IL__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_All_Open_Ap_Records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Aw Claim Autolaunched Complete Employer Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Aw Claim Autolaunched Complete Employer Account From Ap</label>
    <loops>
        <name>Extract_Item</name>
        <label>Extract Item</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <collectionReference>Search_All_Open_Ap_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Claim</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Search_All_Open_Ap_Records</name>
        <label>Search All Open Ap Records</label>
        <locationX>158</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Connections</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Novidea_HPC__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ClaimRec.AgentWise_IL__Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Novidea_HPC__Date_Connection_Ended__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0124G000000kqAsQAI</stringValue>
            </value>
        </filters>
        <filters>
            <field>Novidea_HPC__Date_Start_Connection__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Novidea_HPC__Associated_Person__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Claim</name>
        <label>Update Claim</label>
        <locationX>138</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Extract_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ClaimRec.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Employer_Account__c</field>
            <value>
                <elementReference>Extract_Item.Novidea_HPC__Account__c</elementReference>
            </value>
        </inputAssignments>
        <object>AgentWise_IL__Claim__c</object>
    </recordUpdates>
    <start>
        <locationX>174</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_Insured</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ClaimRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AgentWise_IL__Claim__c</objectType>
    </variables>
    <variables>
        <name>Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
