force-app/main/default/flows/AW_Claim_Set_Howden_Employee_Flag.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>setFlag</name>
        <label>setFlag</label>
        <locationX>467</locationX>
        <locationY>349</locationY>
        <assignmentItems>
            <assignToReference>$Record.is_Howden_Employee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>isHowdenEmployee</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <formulas>
        <name>isHowdenEmployee</name>
        <dataType>Boolean</dataType>
        <expression>OR({!Contact.is_Howden_Employee__c},{!Contact.AgentWise_IL__Household__r.Is_Howden_Employee_Household__c})</expression>
    </formulas>
    <interviewLabel>AW_Claim Set Howden Employee Flag {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AW_Claim Set Howden Employee Flag</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Contact</name>
        <label>Contact</label>
        <locationX>188</locationX>
        <locationY>356</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>setFlag</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AgentWise_IL__Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Contact</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <object>AgentWise_IL__Claim__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
