force-app/main/default/flows/Aw_Policy_Set_Employer_Account_After_Prod.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Has_Billing_Data</name>
        <label>Has Billing Data ?</label>
        <locationX>611</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Last_Billing_Data</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_PayerId</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Payer_Account_And_Needs_Update</name>
        <label>Has Payer Account And Needs Update</label>
        <locationX>182</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Payer_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AgentWise_IL__Account__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Payer_Account.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Policy_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_PayerId</name>
        <label>Has PayerId ?</label>
        <locationX>380</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PayerId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Last_Billing_Data.Otzar_Interface__Payer_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Payer_Account</targetReference>
            </connector>
            <label>PayerId</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>PayerIdClean</name>
        <dataType>String</dataType>
        <expression>TEXT(VALUE({!Get_Last_Billing_Data.Otzar_Interface__Payer_ID__c}))</expression>
    </formulas>
    <interviewLabel>Aw Policy Set Employer Account After Prod {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Aw Policy Set Employer Account After Prod</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Last_Billing_Data</name>
        <label>Get Last Billing Data</label>
        <locationX>611</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Billing_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Otzar_Interface__Policy__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Otzar_Interface__Billing_Data__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Payer_Account</name>
        <label>Get Payer Account</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Payer_Account_And_Needs_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Novidea_HPC__Tax_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PayerIdClean</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Policy_Account</name>
        <label>Update Policy Account</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <inputAssignments>
            <field>AgentWise_IL__Account__c</field>
            <value>
                <elementReference>Get_Payer_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Last_Billing_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Otzar_Interface__Transaction_File_Name__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AgentWise_IL__Application__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>AgentWise_IL__Policy__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
