force-app/main/default/flows/B4u_Update_Before_Creation_Updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Initial_Fields</name>
        <label>Assign Initial Fields</label>
        <locationX>1097</locationX>
        <locationY>311</locationY>
        <assignmentItems>
            <assignToReference>$Record.Remarks__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Meeting_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MeetingTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.B4u_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>No_Id_For_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignEvent</name>
        <label>AssignEvent</label>
        <locationX>50</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>$Record.Updated_Record_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Event.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.EventIDCompletedBySsn__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>AssignLead</name>
        <label>AssignLead</label>
        <locationX>314</locationX>
        <locationY>1391</locationY>
        <assignmentItems>
            <assignToReference>$Record.Updated_Record_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.EventIDCompletedBySsn__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Found</name>
        <label>Found ?</label>
        <locationX>545</locationX>
        <locationY>791</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Search_Ssn</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Event</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Event</name>
        <label>Found Event</label>
        <locationX>248</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Get_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Event</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignEvent</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Lead</name>
        <label>Found Lead</label>
        <locationX>446</locationX>
        <locationY>1271</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignLead</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Nrmlzd_Ssn</name>
        <label>Has Nrmlzd Ssn ?</label>
        <locationX>825</locationX>
        <locationY>551</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NrmlzdSsn</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_Ssn</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Id_For_Record</name>
        <label>No Id For Record</label>
        <locationX>1097</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.B4u_Tz__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordIdIsOk</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Nrmlzd_Ssn</targetReference>
            </connector>
            <label>NoId</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>MeetingTime</name>
        <dataType>DateTime</dataType>
        <expression>IF(ISBLANK({!$Record.Meeting_Time__c}),{!$Setup.AgentWise_IL__AgentwiseSettings__c.Default_DateTime_For_B4u_Updates__c},{!$Record.Meeting_Time__c})</expression>
    </formulas>
    <formulas>
        <name>NrmlzdSsn</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!$Record.B4u_Tz__c})),right(lpad(substitute(substitute( {!$Record.B4u_Tz__c},&quot;/&quot;,&quot;&quot;),&quot;-&quot;,&quot;&quot;),9,&quot;0&quot;),9),&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>RecordIdIsOk</name>
        <dataType>Boolean</dataType>
        <expression>LEFT({!$Record.Updated_Record_Id__c},3) = &apos;a30&apos; || LEFT({!$Record.Updated_Record_Id__c},3)  = &apos;00U&apos;</expression>
    </formulas>
    <formulas>
        <name>Status</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.B4u_Status__c}),&quot;לא נשלח סטטוס&quot;,{!$Record.B4u_Status__c})</expression>
    </formulas>
    <formulas>
        <name>Text</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Remarks__c}),&quot;ללא הערות&quot;,{!$Record.Remarks__c})</expression>
    </formulas>
    <interviewLabel>B4u Update Before Creation Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B4u Update Before Creation Updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Event</name>
        <label>Get Event</label>
        <locationX>248</locationX>
        <locationY>911</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Search_Ssn.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Meeting_Time__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>446</locationX>
        <locationY>1151</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AgentWise_IL__Insured_Person__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Search_Ssn.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Meeting_Time__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AgentWise_IL__Lead__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Search_Ssn</name>
        <label>Search Ssn</label>
        <locationX>545</locationX>
        <locationY>671</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AgentWise_IL__SSN__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NrmlzdSsn</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>971</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Initial_Fields</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Remarks__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Meeting_Time__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>B4u_Updates__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
