force-app/main/default/flows/B4u_Updates_After_Creation_Updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>AssignEvent</name>
        <label>AssignEvent</label>
        <locationX>50</locationX>
        <locationY>768</locationY>
        <assignmentItems>
            <assignToReference>$Record.Updated_Record_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Event.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.EventIDCompletedBySsn__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignLead</name>
        <label>AssignLead</label>
        <locationX>314</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>$Record.Updated_Record_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.EventIDCompletedBySsn__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found</name>
        <label>Found ?</label>
        <locationX>941</locationX>
        <locationY>408</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Meeting_Time</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Search_Ssn</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Meeting_Time__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.AgentWise_IL__AgentwiseSettings__c.Default_DateTime_For_B4u_Updates__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Event</targetReference>
            </connector>
            <label>Yes, Has Meeting Time</label>
        </rules>
        <rules>
            <name>Yes_No_Meeting_Time</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Search_Ssn</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Meeting_Time__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.AgentWise_IL__AgentwiseSettings__c.Default_DateTime_For_B4u_Updates__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Event_0</targetReference>
            </connector>
            <label>Yes, No Meeting Time</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Event</name>
        <label>Found Event</label>
        <locationX>248</locationX>
        <locationY>648</locationY>
        <defaultConnector>
            <targetReference>Get_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Event</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignEvent</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Event1</name>
        <label>Found ?</label>
        <locationX>1040</locationX>
        <locationY>648</locationY>
        <defaultConnector>
            <targetReference>Get_Lead_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_Event0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Event_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>AssignEvent</targetReference>
            </connector>
            <label>Found Event</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Lead</name>
        <label>Found Lead</label>
        <locationX>446</locationX>
        <locationY>888</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignLead</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Lead0</name>
        <label>Found Lead ?</label>
        <locationX>1238</locationX>
        <locationY>888</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FoundLead0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>AssignLead</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>MeetingTime</name>
        <dataType>DateTime</dataType>
        <expression>IF(ISBLANK({!$Record.Meeting_Time__c}),{!$Setup.AgentWise_IL__AgentwiseSettings__c.Default_DateTime_For_B4u_Updates__c},{!$Record.Meeting_Time__c})</expression>
    </formulas>
    <formulas>
        <name>Text</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Remarks__c}),&quot;ללא הערות&quot;,{!$Record.Remarks__c})</expression>
    </formulas>
    <interviewLabel>B4u Updates After Creation Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B4u Updates After Creation Updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Event</name>
        <label>Get Event</label>
        <locationX>248</locationX>
        <locationY>528</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Search_Ssn.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.Meeting_Time__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Event_0</name>
        <label>Get Event</label>
        <locationX>1040</locationX>
        <locationY>528</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Event1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Search_Ssn.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>446</locationX>
        <locationY>768</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AgentWise_IL__Insured_Person__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Search_Ssn.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.Meeting_Time__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AgentWise_IL__Lead__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead_0</name>
        <label>Get Lead</label>
        <locationX>1238</locationX>
        <locationY>768</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Lead0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AgentWise_IL__Insured_Person__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Search_Ssn.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AgentWise_IL__Lead__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Search_Ssn</name>
        <label>Search Ssn</label>
        <locationX>941</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AgentWise_IL__SSN__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.NrmlzdSsn__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update</name>
        <label>Update</label>
        <locationX>248</locationX>
        <locationY>1320</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>237</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>B4u_Tz__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Updated_Record_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>B4u_Updates__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>X1_Minute_After_Creation</name>
            <connector>
                <targetReference>Search_Ssn</targetReference>
            </connector>
            <label>1 Minute After Creation</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
