force-app/main/default/flows/BPM_Process_For_Sales_App.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>BPM Process For Sales App {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BPM Process For Sales App</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Proc</name>
        <label>Create Proc</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>NBPM__Procedure_Definition__c</field>
            <value>
                <elementReference>Get_Application_Pro.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Novidea_HPC__Account__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Application__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>NBPM__Procedure__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Application_Pro</name>
        <label>Get Application Pro</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Proc</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NBPM__Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Policy Management</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NBPM__Procedure_Definition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Application_Pro</targetReference>
        </connector>
        <object>Novidea_HPC__Application__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
