force-app/main/default/flows/Close_Niud_Service_Req_And_Update_Policy.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Count_Open_SR</name>
        <label>Count Open SR</label>
        <locationX>795</locationX>
        <locationY>69</locationY>
        <assignmentItems>
            <assignToReference>CountOpenSr</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Check_If_Open_Niud</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Flag_On_Policy</name>
        <label>Update Flag On Policy</label>
        <locationX>1099</locationX>
        <locationY>541</locationY>
        <assignmentItems>
            <assignToReference>GetNewPolicy.All_Niudim_Closed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Policy</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Flag_On_Policy_0</name>
        <label>Update Flag On Policy</label>
        <locationX>945</locationX>
        <locationY>394</locationY>
        <assignmentItems>
            <assignToReference>GetNewPolicy.All_Niudim_Closed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Policy</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_New_Actual_Accumulation</name>
        <label>Update New Actual Accumulation</label>
        <locationX>533</locationX>
        <locationY>253</locationY>
        <assignmentItems>
            <assignToReference>GetNewPolicy.Actual_Accumulation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ActualAccumulationCalculated</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_If_Open_Niud</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Count</name>
        <label>Check Count</label>
        <locationX>938</locationX>
        <locationY>71</locationY>
        <defaultConnector>
            <targetReference>Update_Application</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountOpenSr</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Application_0</targetReference>
            </connector>
            <label>Has Open</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Status</name>
        <label>Check Status</label>
        <locationX>523</locationX>
        <locationY>71</locationY>
        <defaultConnector>
            <targetReference>Check_If_Open_Niud</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_SrId.AgentWise_IL__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_New_Actual_Accumulation</targetReference>
            </connector>
            <label>Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Update_Old_Policy_As_Cancelled</name>
        <label>Should Update Old Policy As Cancelled</label>
        <locationX>799</locationX>
        <locationY>543</locationY>
        <defaultConnector>
            <targetReference>Should_Update_Original_Application</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_SrId.Update_Policy_As_Cancelled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>כן</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_SrId.AgentWise_IL__Policy__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Old_Policy</targetReference>
            </connector>
            <label>Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Update_Original_Application</name>
        <label>Should Update Original Application ?</label>
        <locationX>633</locationX>
        <locationY>546</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Application0</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND (5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>Var_SrId.AgentWise_IL__Policy__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_SrId.Sub_Subject__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal Niud</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_SrId.AgentWise_IL__Policy__r.AgentWise_IL__Application__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_SrId.AgentWise_IL__Policy__r.AgentWise_IL__Application__r.Action_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Agent Appointment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_SrId.AgentWise_IL__Policy__r.AgentWise_IL__Application__r.AgentWise_IL__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Converted to Policy</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_SrId.AgentWise_IL__Policy__r.AgentWise_IL__Application__r.AgentWise_IL__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Without Conversion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Original_Application</targetReference>
            </connector>
            <label>Update Application</label>
        </rules>
    </decisions>
    <description>יוצא מפרוסס בקשת שירות חיים כשנסגרת בקשת שירות של ניוד שיש לה קישור לפוליסה המקבלת. מעדכן בפוליסה המקבלת את הניוד באופן מצטבר (אם יש כמה ניודים) וכן בודק האם הסתיימו כל הניודים שיצאו לדרך ומעדכן בפוליסה</description>
    <environments>Default</environments>
    <formulas>
        <name>ActualAccumulationCalculated</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!GetNewPolicy.Actual_Accumulation__c}),{!Var_SrId.Niud_Sum__c},{!GetNewPolicy.Actual_Accumulation__c}+{!Var_SrId.Niud_Sum__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CancelledInternalPolicyAge</name>
        <dataType>Number</dataType>
        <expression>((YEAR({!$Flow.CurrentDate}) - YEAR(DATEVALUE( {!Var_SrId.AgentWise_IL__Policy__r.CreatedDate})))*12) + (MONTH({!$Flow.CurrentDate}) - MONTH(DATEVALUE( {!Var_SrId.AgentWise_IL__Policy__r.CreatedDate})))</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Close Niud Service Req And Update Policy {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Close Niud Service Req And Update Policy</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Check_If_Open_Niud</name>
        <label>Check If Open Niud</label>
        <locationX>672</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Open_SR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>New_Policy_Created_By_Conversion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_SrId.New_Policy_Created_By_Conversion__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>AgentWise_IL__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Var_SrId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AgentWise_IL__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled Niud</stringValue>
            </value>
        </filters>
        <filters>
            <field>AgentWise_IL__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer Regret</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AgentWise_IL__Service_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetNewPolicy</name>
        <label>GetNewPolicy</label>
        <locationX>418</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_SrId.New_Policy_Created_By_Conversion__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AgentWise_IL__Policy__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Application</name>
        <label>Update Application</label>
        <locationX>1099</locationX>
        <locationY>69</locationY>
        <connector>
            <targetReference>Update_Flag_On_Policy</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_SrId.AgentWise_IL__Application__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>All_Niudim_Closed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>AgentWise_IL__Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Application_0</name>
        <label>Update Application</label>
        <locationX>944</locationX>
        <locationY>248</locationY>
        <connector>
            <targetReference>Update_Flag_On_Policy_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_SrId.AgentWise_IL__Application__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>All_Niudim_Closed__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>AgentWise_IL__Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Old_Policy</name>
        <label>Update Old Policy</label>
        <locationX>719</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Should_Update_Original_Application</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_SrId.AgentWise_IL__Policy__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AgentWise_IL__Status__c</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cancellation_Date__c</field>
            <value>
                <elementReference>Var_SrId.Niud_Actual_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cancellation_Reason__c</field>
            <value>
                <stringValue>ניוד פנימי</stringValue>
            </value>
        </inputAssignments>
        <object>AgentWise_IL__Policy__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Original_Application</name>
        <label>Update Original Application</label>
        <locationX>480</locationX>
        <locationY>547</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_SrId.AgentWise_IL__Policy__r.AgentWise_IL__Application__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Pidion_Or_Cancel_After_Production__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Policy_Age_In_Months__c</field>
            <value>
                <elementReference>CancelledInternalPolicyAge</elementReference>
            </value>
        </inputAssignments>
        <object>AgentWise_IL__Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Policy</name>
        <label>Update Policy</label>
        <locationX>945</locationX>
        <locationY>541</locationY>
        <connector>
            <targetReference>Should_Update_Old_Policy_As_Cancelled</targetReference>
        </connector>
        <inputReference>GetNewPolicy</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetNewPolicy</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CountOpenSr</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Var_SrId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AgentWise_IL__Service_Request__c</objectType>
    </variables>
</Flow>
