force-app/main/default/flows/Contact_Daily_Add_household_by_Life_policies_or_create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Set_Values</name>
        <label>Set Values</label>
        <locationX>644</locationX>
        <locationY>1116</locationY>
        <assignmentItems>
            <assignToReference>$Record.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Participants.AgentWise_IL__Policy__r.AgentWise_IL__Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.AgentWise_IL__Household__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Participants.AgentWise_IL__Policy__r.AgentWise_IL__Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>hhFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Participants</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found</name>
        <label>Found</label>
        <locationX>611</locationX>
        <locationY>756</locationY>
        <defaultConnector>
            <targetReference>Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParticipantsInPolicy</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Participants</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_HH</name>
        <label>Found HH</label>
        <locationX>380</locationX>
        <locationY>1428</locationY>
        <defaultConnector>
            <targetReference>Account_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hhFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_0</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Need_to_Update_Policies</name>
        <label>Need to Update Policies</label>
        <locationX>182</locationX>
        <locationY>1788</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Need</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Policies_to_Update</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Policies</targetReference>
            </connector>
            <label>Need</label>
        </rules>
    </decisions>
    <decisions>
        <name>Policy_has_HH</name>
        <label>Policy has HH</label>
        <locationX>688</locationX>
        <locationY>996</locationY>
        <defaultConnector>
            <targetReference>Participants</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Already_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hhFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Participants</targetReference>
            </connector>
            <label>Already found</label>
        </rules>
        <rules>
            <name>Has</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Participants.AgentWise_IL__Policy__r.AgentWise_IL__Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Participants.AgentWise_IL__Policy__r.AgentWise_IL__Account__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>household</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Values</targetReference>
            </connector>
            <label>Has</label>
        </rules>
    </decisions>
    <formulas>
        <name>fullName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Firstname}  + &apos; &apos; +{!$Record.LastName}</expression>
    </formulas>
    <interviewLabel>Contact - Daily - Add household by Life policies or create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact - Daily - Add household by Life policies or create</label>
    <loops>
        <name>Participants</name>
        <label>Participants</label>
        <locationX>380</locationX>
        <locationY>876</locationY>
        <collectionReference>ParticipantsInPolicy</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Policy_has_HH</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Found_HH</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Account</name>
        <label>Account</label>
        <locationX>842</locationX>
        <locationY>876</locationY>
        <connector>
            <targetReference>Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>fullName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Owner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>rt_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Account_0</name>
        <label>Account</label>
        <locationX>578</locationX>
        <locationY>1548</locationY>
        <connector>
            <targetReference>Contact_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>fullName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Owner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>rt_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Owner</name>
        <label>Owner</label>
        <locationX>611</locationX>
        <locationY>516</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ParticipantsInPolicy</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>is_Wise_User__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ParticipantsInPolicy</name>
        <label>ParticipantsInPolicy</label>
        <locationX>611</locationX>
        <locationY>636</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AgentWise_IL__Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AgentWise_IL__Participant_Role__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Policies_to_Update</name>
        <label>Policies to Update</label>
        <locationX>182</locationX>
        <locationY>1668</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Need_to_Update_Policies</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AgentWise_IL__Insured_Person__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AgentWise_IL__Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AgentWise_IL__Policy__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>rt_Account</name>
        <label>rt Account</label>
        <locationX>611</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>rt_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>household</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>rt_Contact</name>
        <label>rt Contact</label>
        <locationX>611</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>client</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Contact</name>
        <label>Contact</label>
        <locationX>842</locationX>
        <locationY>996</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AgentWise_IL__Household__c</field>
            <value>
                <elementReference>Account</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Contact_0</name>
        <label>Contact</label>
        <locationX>182</locationX>
        <locationY>1548</locationY>
        <connector>
            <targetReference>Policies_to_Update</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Contact_0_0</name>
        <label>Contact</label>
        <locationX>578</locationX>
        <locationY>1668</locationY>
        <connector>
            <targetReference>Updae_Policies</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Account_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AgentWise_IL__Household__c</field>
            <value>
                <elementReference>Account_0</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Updae_Policies</name>
        <label>Updae Policies</label>
        <locationX>578</locationX>
        <locationY>1788</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AgentWise_IL__Insured_Person__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AgentWise_IL__Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>AgentWise_IL__Account__c</field>
            <value>
                <elementReference>Account_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AgentWise_IL__Household__c</field>
            <value>
                <elementReference>Account_0</elementReference>
            </value>
        </inputAssignments>
        <object>AgentWise_IL__Policy__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_Policies</name>
        <label>update Policies</label>
        <locationX>50</locationX>
        <locationY>1908</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AgentWise_IL__Insured_Person__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AgentWise_IL__Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>AgentWise_IL__Account__c</field>
            <value>
                <elementReference>$Record.AgentWise_IL__Household__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AgentWise_IL__Household__c</field>
            <value>
                <elementReference>$Record.AgentWise_IL__Household__c</elementReference>
            </value>
        </inputAssignments>
        <object>AgentWise_IL__Policy__c</object>
    </recordUpdates>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>rt_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AgentWise_IL__Household__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Otzar_Interface__Last_Modified_By_Load_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-12-25</startDate>
            <startTime>03:55:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>hhFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
