force-app/main/default/flows/Contact_Daily_Statistics_For_Wise_Client.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Active_Var</name>
        <label>Assign Active Var</label>
        <locationX>1061</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>ActivePolicies</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Secondary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Count</name>
        <label>Assign Count</label>
        <locationX>930</locationX>
        <locationY>1608</locationY>
        <assignmentItems>
            <assignToReference>PensionCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Life</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Count_Std</name>
        <label>Assign Count Std</label>
        <locationX>3570</locationX>
        <locationY>2688</locationY>
        <assignmentItems>
            <assignToReference>StdCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Life</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Health</name>
        <label>Assign Health</label>
        <locationX>2778</locationX>
        <locationY>2364</locationY>
        <assignmentItems>
            <assignToReference>HealthCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Life</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Key_Person</name>
        <label>Assign Key Person</label>
        <locationX>797</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>KeyCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActivePolicies</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Secondary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Maybe_Not_Active_Var</name>
        <label>Assign Maybe Not Active Var</label>
        <locationX>402</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>MayBeNotActive</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Life</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Not_Active_Var</name>
        <label>Assign Not Active Var</label>
        <locationX>138</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>NotActive</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Life</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Risk</name>
        <label>Assign Risk</label>
        <locationX>3042</locationX>
        <locationY>2472</locationY>
        <assignmentItems>
            <assignToReference>RiskCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Life</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Saving_Count</name>
        <label>Assign Saving Count</label>
        <locationX>4098</locationX>
        <locationY>2904</locationY>
        <assignmentItems>
            <assignToReference>SavingCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Life</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignCount</name>
        <label>AssignCount</label>
        <locationX>666</locationX>
        <locationY>1500</locationY>
        <assignmentItems>
            <assignToReference>ExecutiveCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Life</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignDisability</name>
        <label>AssignDisability</label>
        <locationX>2514</locationX>
        <locationY>2256</locationY>
        <assignmentItems>
            <assignToReference>DisabilityCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Life</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignSerious</name>
        <label>AssignSerious</label>
        <locationX>3306</locationX>
        <locationY>2580</locationY>
        <assignmentItems>
            <assignToReference>SeriousIllnessCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Life</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CareCount1</name>
        <label>CareCount</label>
        <locationX>2250</locationX>
        <locationY>2148</locationY>
        <assignmentItems>
            <assignToReference>CareCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Life</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_As_Secondary</name>
        <label>Count As Secondary</label>
        <locationX>797</locationX>
        <locationY>1200</locationY>
        <assignmentItems>
            <assignToReference>CountSecondary</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Executive</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Life_Policies</name>
        <label>Count Life Policies</label>
        <locationX>1830</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>CountLifePolicies</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Search_Life_Policies</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CountAlternative</name>
        <label>CountAlternative</label>
        <locationX>1986</locationX>
        <locationY>2040</locationY>
        <assignmentItems>
            <assignToReference>AlternativeCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Life</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CountEducation</name>
        <label>CountEducation</label>
        <locationX>3834</locationX>
        <locationY>2796</locationY>
        <assignmentItems>
            <assignToReference>EducationCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Life</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CountInvestProvident</name>
        <label>CountInvestProvident</label>
        <locationX>1458</locationX>
        <locationY>1824</locationY>
        <assignmentItems>
            <assignToReference>InvestmentFundCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Life</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CountProvident</name>
        <label>CountProvident</label>
        <locationX>1194</locationX>
        <locationY>1716</locationY>
        <assignmentItems>
            <assignToReference>ProvidentCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Life</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ManagedCount</name>
        <label>ManagedCount</label>
        <locationX>1722</locationX>
        <locationY>1932</locationY>
        <assignmentItems>
            <assignToReference>ManagedPortCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Life</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Alternative</name>
        <label>Alternative</label>
        <locationX>2249</locationX>
        <locationY>1932</locationY>
        <defaultConnector>
            <targetReference>Care</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AlternativeType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Life.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Alternative_Investments</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CountAlternative</targetReference>
            </connector>
            <label>AlternativeType</label>
        </rules>
    </decisions>
    <decisions>
        <name>Care</name>
        <label>Care</label>
        <locationX>2512</locationX>
        <locationY>2040</locationY>
        <defaultConnector>
            <targetReference>Disability</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CareType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Life.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Individual_Care_Policy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CareCount1</targetReference>
            </connector>
            <label>CareType</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Status</name>
        <label>Check Status</label>
        <locationX>533</locationX>
        <locationY>684</locationY>
        <defaultConnector>
            <targetReference>Is_Key_Person</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Consider_As_Not_Active</name>
            <conditionLogic>1 OR (2 AND 3) OR 4 OR 5 OR 6 OR (7 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Life.AgentWise_IL__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Life.AgentWise_IL__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payoff</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Life.Total_Investment_Track__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Life.AgentWise_IL__Status__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>לאחר פדיון</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Life.AgentWise_IL__Status__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>סילוק עקב בקשת מבוטח</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Life.AgentWise_IL__Status__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>מבוטל</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Life.AgentWise_IL__Status__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>מסולק</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Not_Active_Var</targetReference>
            </connector>
            <label>Consider As Not Active</label>
        </rules>
        <rules>
            <name>Consider_As_MayBe_Not_Active</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Life.AgentWise_IL__Status__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>פוליסה בפיגור עמוק</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Life.AgentWise_IL__Status__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>ביטול עקב שגיאה</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Life.AgentWise_IL__Status__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>תום תשלום</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Life.AgentWise_IL__Status__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>תום תקופה</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Life.AgentWise_IL__Status__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>עקב מעבר לביטוח אחר</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Maybe_Not_Active_Var</targetReference>
            </connector>
            <label>Consider As MayBe Not Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Disability</name>
        <label>Disability</label>
        <locationX>2775</locationX>
        <locationY>2148</locationY>
        <defaultConnector>
            <targetReference>Health</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DisabilityType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Life.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Individual_Disability_Policy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignDisability</targetReference>
            </connector>
            <label>DisabilityType</label>
        </rules>
    </decisions>
    <decisions>
        <name>Education</name>
        <label>Education</label>
        <locationX>4032</locationX>
        <locationY>2688</locationY>
        <defaultConnector>
            <targetReference>Saving_Plan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EducationType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Life.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Indvidual_Education_Fund_Policy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CountEducation</targetReference>
            </connector>
            <label>EducationType</label>
        </rules>
    </decisions>
    <decisions>
        <name>Executive</name>
        <label>Executive</label>
        <locationX>929</locationX>
        <locationY>1392</locationY>
        <defaultConnector>
            <targetReference>Pension</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ExecutiveType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Life.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Individual_Executive_Insurance_Policy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignCount</targetReference>
            </connector>
            <label>ExecutiveType</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found</name>
        <label>Found ?</label>
        <locationX>1830</locationX>
        <locationY>468</locationY>
        <defaultConnector>
            <targetReference>Update_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountLifePolicies</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Life</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Health</name>
        <label>Health</label>
        <locationX>3037</locationX>
        <locationY>2256</locationY>
        <defaultConnector>
            <targetReference>Risk</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HealthType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Life.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Individual_Health_Policy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Health</targetReference>
            </connector>
            <label>HealthType</label>
        </rules>
    </decisions>
    <decisions>
        <name>Investment_Provident</name>
        <label>Investment Provident</label>
        <locationX>1721</locationX>
        <locationY>1716</locationY>
        <defaultConnector>
            <targetReference>Managed_Accounts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>InvestmentProvidentType</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Life.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Investment_Provident_Fund_Policy</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Life.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Child_Savings_Plan_Policy</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Life.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Investment_Fund_Policy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CountInvestProvident</targetReference>
            </connector>
            <label>InvestmentProvidentType</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Key_Person</name>
        <label>Is Key Person</label>
        <locationX>929</locationX>
        <locationY>792</locationY>
        <defaultConnector>
            <targetReference>Assign_Active_Var</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Key</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Life.AgentWise_IL__Application__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Life.AgentWise_IL__Application__r.Is_Key_Person__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Key_Person</targetReference>
            </connector>
            <label>Key</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Secondary</name>
        <label>Is Secondary ?</label>
        <locationX>929</locationX>
        <locationY>1092</locationY>
        <defaultConnector>
            <targetReference>Executive</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Secondary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Life.AgentWise_IL__Insured_Person__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Count_As_Secondary</targetReference>
            </connector>
            <label>Secondary</label>
        </rules>
    </decisions>
    <decisions>
        <name>Managed_Accounts</name>
        <label>Managed Accounts</label>
        <locationX>1985</locationX>
        <locationY>1824</locationY>
        <defaultConnector>
            <targetReference>Alternative</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ManagedAccountType</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Life.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Invesments_Account_Policy</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Life.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Managed_Portfolio</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ManagedCount</targetReference>
            </connector>
            <label>ManagedAccountType</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pension</name>
        <label>Pension</label>
        <locationX>1193</locationX>
        <locationY>1500</locationY>
        <defaultConnector>
            <targetReference>Provident</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PensionType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Life.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Individual_Pension_Policy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Count</targetReference>
            </connector>
            <label>PensionType</label>
        </rules>
    </decisions>
    <decisions>
        <name>Provident</name>
        <label>Provident</label>
        <locationX>1457</locationX>
        <locationY>1608</locationY>
        <defaultConnector>
            <targetReference>Investment_Provident</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ProvidentType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Life.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Provident_Fund_Policy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CountProvident</targetReference>
            </connector>
            <label>ProvidentType</label>
        </rules>
    </decisions>
    <decisions>
        <name>Risk</name>
        <label>Risk</label>
        <locationX>3297</locationX>
        <locationY>2364</locationY>
        <defaultConnector>
            <targetReference>Serious_Illness</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RiskType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Life.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Individual_Life_Policy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Risk</targetReference>
            </connector>
            <label>RiskType</label>
        </rules>
    </decisions>
    <decisions>
        <name>Saving_Plan</name>
        <label>Saving Plan</label>
        <locationX>4230</locationX>
        <locationY>2796</locationY>
        <defaultConnector>
            <targetReference>Loop_Life</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SavingPlanType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Life.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Savings_Plan_Policy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Saving_Count</targetReference>
            </connector>
            <label>SavingPlanType</label>
        </rules>
    </decisions>
    <decisions>
        <name>Serious_Illness</name>
        <label>Serious Illness</label>
        <locationX>3553</locationX>
        <locationY>2472</locationY>
        <defaultConnector>
            <targetReference>Std</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SeriousIllnessType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Life.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Individual_Serious_Illness_Policy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignSerious</targetReference>
            </connector>
            <label>SeriousIllnessType</label>
        </rules>
    </decisions>
    <decisions>
        <name>Std</name>
        <label>Std</label>
        <locationX>3801</locationX>
        <locationY>2580</locationY>
        <defaultConnector>
            <targetReference>Education</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>StdType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Life.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Individual_STD_Policy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Count_Std</targetReference>
            </connector>
            <label>StdType</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsActive</name>
        <dataType>String</dataType>
        <expression>IF(
{!ActivePolicies} &gt; 0,
&quot;Active&quot;,
IF (
AND(
{!ActivePolicies} = 0,
{!MayBeNotActive} &gt; 0),
&quot;May be Not Active&quot;,
IF(
AND(
{!CountLifePolicies} &gt; 0,
{!ActivePolicies} = 0,
{!MayBeNotActive} = 0),
&quot;Not Active&quot;,
&quot;Potencial&quot;)))</expression>
    </formulas>
    <formulas>
        <name>KeyPerson</name>
        <dataType>String</dataType>
        <expression>IF(
AND(
{!KeyCount}&gt;0,
{!ActivePolicies} &gt; {!KeyCount}),
&quot;עם פוליסות נוספות&quot;,
IF(
{!KeyCount}&gt;0,
&quot;ללא פוליסות נוספות&quot;,&quot;&quot;))</expression>
    </formulas>
    <interviewLabel>Contact - Daily - Statistics For Wise Client {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact - Daily - Statistics For Wise Client</label>
    <loops>
        <name>Loop_Life</name>
        <label>Loop Life</label>
        <locationX>50</locationX>
        <locationY>576</locationY>
        <collectionReference>Search_Life_Policies</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Contact</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Search_Life_Policies</name>
        <label>Search Life Policies</label>
        <locationX>1830</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Life_Policies</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>AgentWise_IL__Insured_Person__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AgentWise_IL__Secondary_Insured__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AgentWise_IL__Policy__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>1830</locationX>
        <locationY>4440</locationY>
        <inputAssignments>
            <field>Contact_Status__c</field>
            <value>
                <elementReference>IsActive</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Key_Person_Type__c</field>
            <value>
                <elementReference>KeyPerson</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wise_Active_Alternative_Investments__c</field>
            <value>
                <elementReference>AlternativeCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wise_Active_Disability__c</field>
            <value>
                <elementReference>DisabilityCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wise_Active_Individual_Care__c</field>
            <value>
                <elementReference>CareCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wise_Active_Key_Person_Policies_Count__c</field>
            <value>
                <elementReference>KeyCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wise_Active_Policies_Count__c</field>
            <value>
                <elementReference>ActivePolicies</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wise_Count_As_Secondary__c</field>
            <value>
                <elementReference>CountSecondary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wise_Education_Fund_Active__c</field>
            <value>
                <elementReference>EducationCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wise_Executive_Insurance_Active__c</field>
            <value>
                <elementReference>ExecutiveCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wise_Health_Active__c</field>
            <value>
                <elementReference>HealthCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wise_Invesments_Account_Active__c</field>
            <value>
                <elementReference>ManagedPortCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wise_Investment_Fund_Active__c</field>
            <value>
                <elementReference>InvestmentFundCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wise_Life_Active__c</field>
            <value>
                <elementReference>RiskCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wise_Pension_Active__c</field>
            <value>
                <elementReference>PensionCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wise_Provident_Fund_Active__c</field>
            <value>
                <elementReference>ProvidentCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wise_Savings_Plan_Active__c</field>
            <value>
                <elementReference>SavingCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wise_Serious_Illness_Active__c</field>
            <value>
                <elementReference>SeriousIllnessCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wise_Std_Active__c</field>
            <value>
                <elementReference>StdCount</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1704</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Search_Life_Policies</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Wise_Activity__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contact_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>לא פעיל - עבר לסוכן אחר</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-12-08</startDate>
            <startTime>04:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ActivePolicies</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>AlternativeCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CareCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountLifePolicies</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountSecondary</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>DisabilityCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>EducationCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ExecutiveCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>HealthCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>InvestmentFundCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>KeyCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ManagedPortCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>MayBeNotActive</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NotActive</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>PensionCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ProvidentCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>RiskCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SavingCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SeriousIllnessCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>StdCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
