force-app/main/default/flows/create_custom_lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Set_apartment_Process</name>
        <label>Set apartment Process</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>ProcessID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a15D0000001Chn7IAC</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Customer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Car_Process</name>
        <label>Set Car Process</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>ProcessID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a15D0000001ChmiIAC</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Customer</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>apartment_existing_customer</name>
        <choiceText>דירה</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>012D0000000BVqfIAG</stringValue>
        </value>
    </choices>
    <choices>
        <name>apartment_new_customer</name>
        <choiceText>דירה</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>012D0000000BVhJIAW</stringValue>
        </value>
    </choices>
    <choices>
        <name>buisness_lead</name>
        <choiceText>פוטנציאל עסקי</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>012D0000000jetoIAA</stringValue>
        </value>
    </choices>
    <choices>
        <name>car_existing_customer</name>
        <choiceText>רכב</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>012D0000000BVZEIA4</stringValue>
        </value>
    </choices>
    <choices>
        <name>car_new_customer</name>
        <choiceText>רכב</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>012D0000000BVZFIA4</stringValue>
        </value>
    </choices>
    <choices>
        <name>Existing_Customer</name>
        <choiceText>לקוח קיים&lt;p&gt;&lt;br&gt;&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>existing</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_client</name>
        <choiceText>לקוח חדש</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>new</stringValue>
        </value>
    </choices>
    <decisions>
        <name>New_Customer</name>
        <label>Is New Customer</label>
        <locationX>314</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>Create_Lead_for_existing_customer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Interested_status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>new</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Lead</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_need</name>
        <label>Product need</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>New_Customer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>car</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>existing_customer_product_pick_list</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012D0000000BVZFIA4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_customer_product_pick_list</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012D0000000BVZFIA4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Car_Process</targetReference>
            </connector>
            <label>car</label>
        </rules>
        <rules>
            <name>apartment</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>existing_customer_product_pick_list</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012D0000000BVhJIAW</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_customer_product_pick_list</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012D0000000BVhJIAW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_apartment_Process</targetReference>
            </connector>
            <label>apartment</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Lead_source_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Novidea_HPC__Lead_Source__c</picklistField>
        <picklistObject>Novidea_HPC__Lead__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Custom_Lead_name_F</name>
        <dataType>String</dataType>
        <expression>&apos;ליד מהיר - &apos; + {!Fname} +&apos; &apos; + {!Lname} + &apos; &apos; + {!account.recordName}</expression>
    </formulas>
    <formulas>
        <name>Regex_Phone_number</name>
        <dataType>Boolean</dataType>
        <expression>REGEX({!Mobile.value},&quot;^0?(([23489]{1}[0123456789]{7})|[5]{1}[0123456789]{8})$&quot;)</expression>
    </formulas>
    <interviewLabel>יצירת ליד {!$Flow.CurrentDateTime}</interviewLabel>
    <label>יצירת ליד</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Lead</name>
        <label>Create Lead</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <connector>
            <targetReference>end_msg</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Custom_Lead_name_F</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Contact_Celular__c</field>
            <value>
                <elementReference>Mobile.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Contact_Email__c</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Contact_Last_Name__c</field>
            <value>
                <elementReference>Lname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Contact_Name__c</field>
            <value>
                <elementReference>Fname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Contact_SS__c</field>
            <value>
                <elementReference>SSN</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Description__c</field>
            <value>
                <elementReference>Source_Detail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Lead_Source__c</field>
            <value>
                <elementReference>Lead_source_Picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Process__c</field>
            <value>
                <elementReference>ProcessID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Source_Desciption__c</field>
            <value>
                <elementReference>Source_Detail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>new_customer_product_pick_list</elementReference>
            </value>
        </inputAssignments>
        <object>Novidea_HPC__Lead__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Lead_for_existing_customer</name>
        <label>Create Lead for existing customer</label>
        <locationX>446</locationX>
        <locationY>650</locationY>
        <connector>
            <targetReference>end_msg</targetReference>
        </connector>
        <inputAssignments>
            <field>LeadContactEmail__c</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadContactMobile__c</field>
            <value>
                <elementReference>Mobile.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Custom_Lead_name_F</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Client__c</field>
            <value>
                <elementReference>account.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Description__c</field>
            <value>
                <elementReference>Source_Detail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Lead_Source__c</field>
            <value>
                <elementReference>Lead_source_Picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Process__c</field>
            <value>
                <elementReference>ProcessID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Source_Desciption__c</field>
            <value>
                <elementReference>Source_Detail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>existing_customer_product_pick_list</elementReference>
            </value>
        </inputAssignments>
        <object>Novidea_HPC__Lead__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>create_new_custom_lead</name>
        <label>צור ליד חדש</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Product_need</targetReference>
        </connector>
        <fields>
            <name>Lead_Source</name>
            <choiceReferences>Lead_source_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>מקור הליד</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Source_Detail</name>
            <dataType>String</dataType>
            <fieldText>פירוט מקור</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Lead_Source</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>אחר</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Interested_status</name>
            <choiceReferences>Existing_Customer</choiceReferences>
            <choiceReferences>New_client</choiceReferences>
            <dataType>String</dataType>
            <fieldText>סטטוס פונה</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>new_customer_product_pick_list</name>
            <choiceReferences>apartment_new_customer</choiceReferences>
            <choiceReferences>car_new_customer</choiceReferences>
            <choiceReferences>buisness_lead</choiceReferences>
            <dataType>String</dataType>
            <fieldText>מוצר דרוש</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Interested_status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>new</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>existing_customer_product_pick_list</name>
            <choiceReferences>apartment_new_customer</choiceReferences>
            <choiceReferences>car_new_customer</choiceReferences>
            <choiceReferences>buisness_lead</choiceReferences>
            <dataType>String</dataType>
            <fieldText>מוצר דרוש</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Interested_status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>existing</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>account</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Novidea_HPC__Lead__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Novidea_HPC__Client__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>לקוח</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Interested_status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>existing</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CUstom_Lead_detail_section</name>
            <fieldText>פרטי הפונה</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CUstom_Lead_detail_section_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Fname</name>
                    <dataType>String</dataType>
                    <fieldText>שם פרטי</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Lname</name>
                    <dataType>String</dataType>
                    <fieldText>שם משפחה</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>SSN</name>
                    <dataType>String</dataType>
                    <fieldText>תעודת זהות / ח.פ.</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Mobile</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>טלפון</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>pattern</name>
                        <value>
                            <stringValue>^0?(([23489]{1}[0123456789]{7})|[5]{1}[0123456789]{8})$</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>יש להכניס מספר טלפון ללא מקף</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>דואר אלקטרוני</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Interested_status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>new</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>שלח</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>end_msg</name>
        <label>הפעולה הסתיימה</label>
        <locationX>314</locationX>
        <locationY>842</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>success_msg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;הפעולה הסתיימה בהצלחה&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>סיום</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>create_new_custom_lead</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>ProcessID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>a15D00000019lYjIAI</stringValue>
        </value>
    </variables>
</Flow>
