force-app/main/default/flows/Create_Collection_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Daniel_Berry_Fix</name>
        <label>Assign Daniel Berry</label>
        <locationX>314</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>OwnerID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0054G00000C06Hb</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Collection_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Daniela_Zohar</name>
        <label>Assign Daniela Zohar</label>
        <locationX>578</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>OwnerID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0054G00000BWoeU</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Collection_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Gabriela_Gershtain</name>
        <label>Assign Gabriela Gershtain</label>
        <locationX>1370</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>OwnerID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005D0000008jpvB</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Collection_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Gila_Pranbuk_Fix</name>
        <label>Assign Gila Pranbuk</label>
        <locationX>50</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>OwnerID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005D0000007dHbB</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Collection_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Irena_Murshak</name>
        <label>Assign Irena Murshak</label>
        <locationX>842</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>OwnerID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005D0000003yDRP</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Collection_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Liza_Brosobani</name>
        <label>Assign Liza Brosobani</label>
        <locationX>1106</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>OwnerID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0054G00000C06Aa</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Collection_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Ran_Ben_Moshe</name>
        <label>Assign Ran Ben Moshe</label>
        <locationX>1634</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>OwnerID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005D0000003yWbx</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Collection_Record</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Product_ID_Colection</name>
        <dataType>String</dataType>
        <value>
            <stringValue>a0P4G00000caBKMUA2,a0P4G00000caIGmUAM,a0P4G00000cbcpoUAA,a0P4G00000cbcsFUAQ,a0P4G00000cbTPwUAM,a0P4G00000cbvwMUAQ,a0P4G00000cbXbQUAU,a0P4G00000cbXMGUA2,a0P4G00000iHaIdUAK,a0P4G00000iHaWVUA0,a0P4G00000iHbWbUAK,a0P4G00000iHbWgUAK,a0P4G00000iHbWlUAK,a0P4G00000iHbWWUA0,a0P4G00000iHhwNUAS,a0P4G00000iHjmfUAC,a0P4G00000iHjmkUAC,a0P4G00000iHr6CUAS,a0P4G00000iHYAkUAO,a0P4G00000iI3wgUAC,a0P4G00000iI3wWUAS,a0P4G00000iITiHUAW,a0P4G00000iIySkUAK,a0P4G00000iJ4gCUAS,a0P4G00000iqlGRUAY,a0P4G00000ka73YUAQ,a0P4G00000kJbb2UAC,a0P4G00000kZvysUAC,a0P4G00000kZwUKUA0,a0P4G00000Vv0YeUAJ,a0P4G00000Vv803UAB,a0P4G00000Wgi2FUAR,a0P4G00000Wgi2GUAR,a0P4G00000WglQ0UAJ,a0PD0000005leUrMAI,a0PD0000005leUsMAI,a0PD0000005leUvMAI,a0PD0000005leUwMAI,a0PD0000005leUzMAI,a0PD0000005leV0MAI,a0PD0000005leVBMAY,a0PD0000005leVgMAI,a0PD0000005leVlMAI,a0PD0000005leVnMAI,a0PD0000005leVOMAY,a0PD0000005leVPMAY,a0PD0000005leVqMAI,a0PD0000005leVwMAI,a0PD0000005leW3MAI,a0PD0000005leW4MAI,a0PD0000005leW5MAI,a0PD0000005leW6MAI,a0PD0000005leW8MAI,a0PD0000005leWdMAI,a0PD0000005leWhMAI,a0PD0000005leWiMAI,a0PD0000005leWkMAI,a0PD0000005leWSMAY,a0PD0000005leWWMAY,a0PD0000005leWzMAI,a0PD0000005leX8MAI,a0PD0000005leX9MAI,a0PD0000005leXAMAY,a0PD0000005leXBMAY,a0PD0000005leXCMAY,a0PD0000005leXDMAY,a0PD0000005leXEMAY,a0PD0000005leXFMAY,a0PD0000005leXGMAY,a0PD0000005leXHMAY,a0PD0000005lgqVMAQ,a0PD0000005ljBEMAY,a0PD0000005ljBJMAY,a0PD0000005ljBTMAY,a0PD0000005ltksMAA,a0PD0000005m7IfMAI,a0PD0000005m8cQMAQ,a0PD0000005m9MaMAI,a0PD0000005m9MkMAI,a0PD0000005m9MVMAY,a0PD0000005m9Y7MAI,a0PD0000005m9YCMAY,a0PD0000005m9YmMAI,a0PD0000005m9YSMAY,a0PD0000005mfgNMAQ,a0PD0000005mfiVMAQ,a0PD0000005mfpnMAA,a0PD0000005mfsAMAQ,a0PD0000005mfsFMAQ,a0PD0000005ohlRMAQ,a0PD0000005onhbMAA,a0PD0000005oP90MAE,a0PD0000005oThfMAE,a0PD00000094ZPsMAM,a0PD00000096drOMAQ,a0PD00000096ivtMAA,a0PD00000097BheMAE,a0PD00000098GmlMAE,a0PD00000098OupMAE,a0PD000000Bmk0NMAR,a0PD000000BmmHWMAZ,a0PD000000Bn986MAB,a0PD000000BoLRsMAN,a0PD000000BoLRxMAN,a0PD000000BpHQoMAN,a0PD000000BpHQtMAN,a0PD000000BpHR8MAN,a0PD000000BpHRcMAN,a0PD000000BpHRhMAN,a0PD000000BpHRIMA3,a0PD000000BpHRrMAN,a0PD000000BpHRSMA3,a0PD000000BpHRXMA3,a0PD000000BpHSGMA3,a0PD000000BpHSLMA3,a0PD000000BqFMxMAN,a0PD000000EcVKEMA3,a0PD000000EdzRFMAZ,a0PD000000EeKaTMAV,a0PD000000EfZWKMA3,a0PD000000Gaml9MAB,a0PD000000Gcq8NMAR,a0PD000000GcWJsMAN,a0PD000000GcWKqMAN,a0PD000000GdDoGMAV,a0PD000000IuCtbMAF,a0PD000000IuCtgMAF,a0PD000000IuCtWMAV,a0PD000000IvAQEMA3,a0PD000000JvXBXMA3,a0PD000000JwNSyMAN,a0PD000000Ldk27MAB,a0PD000000Ldk2CMAR,a0PD000000NaWeiMAF,a0PD000000NaWf2MAF,a0PD000000TPF20MAH,a0PD000000TPF2eMAH,a0PD000000TPF2jMAH,a0PD000000TPF2oMAH,a0PD000000TPF2UMAX,a0PD000000TPF2ZMAX,a0PD000000TPF3NMAX,a0PD0000005leVDMAY,a0PD0000005leWIMAY</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Create_Collection_From_Product</name>
        <label>Create Collection From Product</label>
        <locationX>1370</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_ID_Colection</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Novidea_HPC__Policy__r.Novidea_HPC__Product_Definition__r.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Collection_Owner</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_Collection_Owner</name>
        <label>Set Collection Owner</label>
        <locationX>842</locationX>
        <locationY>408</locationY>
        <defaultConnector>
            <targetReference>Assign_Ran_Ben_Moshe</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Gila_Pranbuk_Fix</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Client__r.Industry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hi Tech</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Client__r.First_Letter_A_I__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Client__r.Account_Grouping__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>מ.מ.י יועצים בע&quot;מ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Client__r.Account_Grouping__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>ארגון מהנדסים ואדריכלים</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Client__r.Account_Grouping__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>ניליביט</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Gila_Pranbuk_Fix</targetReference>
            </connector>
            <label>Gila Pranbuk</label>
        </rules>
        <rules>
            <name>Daniel_Berry_Fix</name>
            <conditionLogic>(1 OR (2 AND 3)) AND 4 AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Client__r.Industry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Client__r.Industry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hi Tech</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Client__r.First_Letter_A_I__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Client__r.Account_Grouping__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>מ.מ.י יועצים בע&quot;מ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Client__r.Account_Grouping__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>ארגון מהנדסים ואדריכלים</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Client__r.Account_Grouping__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>ניליביט</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Daniel_Berry_Fix</targetReference>
            </connector>
            <label>Daniel Berry</label>
        </rules>
        <rules>
            <name>Daniela_Zohar</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Client__r.Industry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LS Cleantech</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Client__r.Industry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Med Mal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Client__r.Account_Grouping__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>מ.מ.י יועצים בע&quot;מ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Client__r.Account_Grouping__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>ארגון מהנדסים ואדריכלים</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Client__r.Account_Grouping__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>ניליביט</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Daniela_Zohar</targetReference>
            </connector>
            <label>Daniela Zohar</label>
        </rules>
        <rules>
            <name>Irena_Murshak</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Client__r.Industry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>מתכנני ערים</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Client__r.Industry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>רואי חשבון</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Client__r.Industry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>מהנדסים</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Client__r.Industry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Architects</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Client__r.Industry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>הנדסאים</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Client__r.Industry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Engineering</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Client__r.Industry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Law Firm</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Client__r.Account_Grouping__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>מ.מ.י יועצים בע&quot;מ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Client__r.Account_Grouping__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ארגון מהנדסים ואדריכלים</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Irena_Murshak</targetReference>
            </connector>
            <label>Irena Murshak</label>
        </rules>
        <rules>
            <name>Liza_Brosobani</name>
            <conditionLogic>1 OR ((2 OR 3) AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Client__r.Account_Grouping__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ניליביט</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Client__r.Industry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Client__r.Industry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Client__r.Account_Grouping__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>לקוחות האודן</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Liza_Brosobani</targetReference>
            </connector>
            <label>Liza Brosobani</label>
        </rules>
        <rules>
            <name>Gabriela_Gershtain</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Client__r.Account_Grouping__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>מ.מ.י יועצים בע&quot;מ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Client__r.Account_Grouping__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>ניליביט</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Gabriela_Gershtain</targetReference>
            </connector>
            <label>Gabriela Gershtain</label>
        </rules>
    </decisions>
    <description>תוספת מוצר צד ג
ביטול הקמת רשומה להכנסה 0 + הקמת רשומה בהנחה ובוצע עדכון בהכנסה
נוסף מוצר שבר מכני
תיקון חלוקת רשומות בין דניאל לגילה
האם עודכן ע&quot;י פרודוקציה = FALSE
ביטול עדכון הכנסה (יטופל בנפרד)
ריצה אסינכרונית
בוטלה הגבלת קליטה מפרודוקציה</description>
    <environments>Default</environments>
    <formulas>
        <name>Collection_Record_Name</name>
        <dataType>String</dataType>
        <expression>{!$Record.Novidea_HPC__Policy__r.Name}</expression>
    </formulas>
    <formulas>
        <name>Due_Date</name>
        <dataType>Date</dataType>
        <expression>IF(AND(ISPICKVAL({!$Record.Novidea_HPC__Policy__r.Novidea_HPC__Insurance_Type__c}, &apos;Local&apos;), {!$Record.Novidea_HPC__Endorsement_Number__c} =0), {!$Record.Novidea_HPC__Policy__r.Novidea_HPC__Effective_Date__c}+30, IF(AND(ISPICKVAL({!$Record.Novidea_HPC__Policy__r.Novidea_HPC__Insurance_Type__c}, &apos;Local&apos;), {!$Record.Novidea_HPC__Endorsement_Number__c} !=0), today()+10, IF(OR(ISPICKVAL({!$Record.Novidea_HPC__Policy__r.Novidea_HPC__Insurance_Type__c}, &apos;Direct&apos;), ISPICKVAL({!$Record.Novidea_HPC__Policy__r.Novidea_HPC__Insurance_Type__c}, &apos;Front&apos;)), today()+10, today()+5)))</expression>
    </formulas>
    <formulas>
        <description>Novidea_HPC__Premium__c + Novidea_HPC__Fees__c</description>
        <name>Premium_Bruto</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Novidea_HPC__Premium_Bruto__c} + {!$Record.Novidea_HPC__Fees__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Stats_F</name>
        <dataType>String</dataType>
        <expression>IF(AND(ISPICKVAL({!$Record.Novidea_HPC__Policy__r.Novidea_HPC__Insurance_Type__c}, &apos;Local&apos;), {!$Record.Novidea_HPC__Endorsement_Number__c} =0), &apos;תזכורת ראשונה&apos;, IF(AND(ISPICKVAL({!$Record.Novidea_HPC__Policy__r.Novidea_HPC__Insurance_Type__c}, &apos;Local&apos;), {!$Record.Novidea_HPC__Endorsement_Number__c} !=0), &apos;תזכורת לתשלום תוספת&apos;, IF(OR(ISPICKVAL({!$Record.Novidea_HPC__Policy__r.Novidea_HPC__Insurance_Type__c}, &apos;Direct&apos;), ISPICKVAL({!$Record.Novidea_HPC__Policy__r.Novidea_HPC__Insurance_Type__c}, &apos;Front&apos;)), &apos;תזכורת לתשלום&apos;, &apos;חדש&apos;)))</expression>
    </formulas>
    <interviewLabel>Create Collection Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Collection Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Collection_Record</name>
        <label>Create Collection Record</label>
        <locationX>842</locationX>
        <locationY>744</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Novidea_HPC__Client__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_to_Contact__c</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Elementar_Policy__c</field>
            <value>
                <elementReference>$Record.Novidea_HPC__Policy__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Income__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Collection_Record_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>status_collection__c</field>
            <value>
                <elementReference>Stats_F</elementReference>
            </value>
        </inputAssignments>
        <object>Collection_management__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Novidea_HPC__Endorsement_Number__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>-101.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Novidea_HPC__Endorsement_Number__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>-201.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Industry__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>RI</stringValue>
            </value>
        </filters>
        <object>Novidea_HPC__Income__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Create_Collection_From_Product</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>OwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>005D0000003yWbx</stringValue>
        </value>
    </variables>
</Flow>
