force-app/main/default/flows/Create_New_Private_Client.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Contact_And_Account_IDS</name>
        <label>Assign Contact And Account IDS</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Var_Account</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_If_SSN_Exists_Oid.AgentWise_IL__Household__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Contact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_If_SSN_Exists_Oid.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_And_Account_IDS_0</name>
        <label>Assign Contact And Account IDS</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Var_Account</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_If_SSN_Exists_By_ssn.AgentWise_IL__Household__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Contact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_If_SSN_Exists_By_ssn.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Lead</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>בליד שנבחר כבר קיים מבוטח</stringValue>
        </value>
    </constants>
    <constants>
        <name>NoSSnMessage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>בהקמת לקוח חובה לציין מספר תעודת זהות</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Found</name>
        <label>Found</label>
        <locationX>248</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Check_If_SSN_Exists_By_ssn</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_oid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_If_SSN_Exists_Oid</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact_And_Account_IDS</targetReference>
            </connector>
            <label>Found oid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_By_SSN</name>
        <label>Found By SSN</label>
        <locationX>446</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Create_HouseHold</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_SS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_If_SSN_Exists_By_ssn</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact_And_Account_IDS_0</targetReference>
            </connector>
            <label>Found SSN</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Has_Insured</name>
        <label>Lead Has Insured ?</label>
        <locationX>957</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Insured_Already_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead_Record.AgentWise_IL__Insured_Person__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead_Record.Client_TZ__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LeadHasSSN</targetReference>
            </connector>
            <label>No And Has SSN</label>
        </rules>
        <rules>
            <name>No_Missing_SSN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead_Record.AgentWise_IL__Insured_Person__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead_Record.Client_TZ__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Nossn</targetReference>
            </connector>
            <label>No Missing SSN</label>
        </rules>
    </decisions>
    <decisions>
        <name>LeadHasSSN</name>
        <label>LeadHasSSN</label>
        <locationX>545</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_HouseHold</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead_Record.Client_TZ__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead_Record.Id_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>תעודת זהות</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_If_SSN_Exists_Oid</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>מופעל מכפתור על הליד, בודק שאין כבר מבוטח קיים בליד ומקים כזה עם חשבון משק בית, מעדכן בחזרה את הליד עם שדות הלוקאפ</description>
    <environments>Default</environments>
    <formulas>
        <name>FamilyName</name>
        <dataType>String</dataType>
        <expression>{!Get_Lead_Record.AgentWise_IL__Last_Name__c} +&quot; &quot; + {!Get_Lead_Record.AgentWise_IL__First_Name__c} &amp; &quot; - משק בית&quot;</expression>
    </formulas>
    <interviewLabel>Create New Private Client {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create New Private Client</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>578</locationX>
        <locationY>1118</locationY>
        <assignRecordIdToReference>Var_Contact</assignRecordIdToReference>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Lead</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Var_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AgentWise_IL__Gender__c</field>
            <value>
                <elementReference>Get_Lead_Record.AgentWise_IL__Gender__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AgentWise_IL__Household__c</field>
            <value>
                <elementReference>Var_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AgentWise_IL__Id_Type__c</field>
            <value>
                <stringValue>תעודת זהות</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AgentWise_IL__Martial_Status__c</field>
            <value>
                <elementReference>Get_Lead_Record.AgentWise_IL__Martial_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AgentWise_IL__Source_Lead__c</field>
            <value>
                <elementReference>Get_Lead_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Birthdate</field>
            <value>
                <elementReference>Get_Lead_Record.AgentWise_IL__Birthdate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Status__c</field>
            <value>
                <stringValue>Potencial</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Get_Lead_Record.AgentWise_IL__Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Get_Lead_Record.AgentWise_IL__First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Creation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HomePhone</field>
            <value>
                <elementReference>Get_Lead_Record.AgentWise_IL__Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Id_Type__c</field>
            <value>
                <elementReference>Get_Lead_Record.Id_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Get_Lead_Record.AgentWise_IL__Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>Get_Lead_Record.AgentWise_IL__Mailing_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>Get_Lead_Record.Mailing_Zip_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>Get_Lead_Record.Mailing_Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Menahel_Tik_Pensiony__c</field>
            <value>
                <elementReference>Get_Lead_Record.Sales_Rep__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>Get_Lead_Record.AgentWise_IL__Mobile_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__SSN__c</field>
            <value>
                <elementReference>Get_Lead_Record.Client_TZ__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0124G000000kq7NQAQ</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Create_HouseHold</name>
        <label>Create HouseHold</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <assignRecordIdToReference>Var_Account</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>AgentWise_IL__Source_Lead__c</field>
            <value>
                <elementReference>Get_Lead_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>Get_Lead_Record.AgentWise_IL__Mailing_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>Get_Lead_Record.Mailing_Zip_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>Get_Lead_Record.Mailing_Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FamilyName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012D0000000jetbIAA</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordLookups>
        <name>Check_If_SSN_Exists_By_ssn</name>
        <label>Check If SSN Exists By ssn</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_By_SSN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Novidea_HPC__SSN__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead_Record.Client_TZ__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Check_If_SSN_Exists_Oid</name>
        <label>Check If SSN Exists By OID</label>
        <locationX>248</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Otzar_Interface__Contact_OID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead_Record.Client_TZ__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead_Record</name>
        <label>Get Lead Record</label>
        <locationX>957</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_Has_Insured</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_LeadID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AgentWise_IL__Lead__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Check_Documents</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_LeadID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AgentWise_IL__Client__c</field>
            <value>
                <elementReference>Var_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AgentWise_IL__Insured_Person__c</field>
            <value>
                <elementReference>Var_Contact</elementReference>
            </value>
        </inputAssignments>
        <object>AgentWise_IL__Lead__c</object>
    </recordUpdates>
    <screens>
        <name>Insured_Already_Exists</name>
        <label>Insured Already Exists</label>
        <locationX>1370</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ErrorMessage</elementReference>
            </defaultValue>
            <fieldText>Error</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Nossn</name>
        <label>Nossn</label>
        <locationX>1106</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>NoSSnMessage</elementReference>
            </defaultValue>
            <fieldText>Error</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>831</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Lead_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Check_Documents</name>
        <label>Check Documents</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <flowName>Saleslead_Attachemnts_to_Inbound</flowName>
        <inputAssignments>
            <name>accountId</name>
            <value>
                <elementReference>Var_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactId</name>
            <value>
                <elementReference>Var_Contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>salesLeadId</name>
            <value>
                <elementReference>Var_LeadID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Var_Account</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Var_Contact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Var_LeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
