force-app/main/default/flows/Deleted_Policies_In_Aw_Application_After_Change_Update_Numbers_on_Application.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>AssignCurrentNumbers</name>
        <label>AssignCurrentNumbers</label>
        <locationX>1100</locationX>
        <locationY>439</locationY>
        <assignmentItems>
            <assignToReference>NewCanceledNumbers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopPolicyNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCanceledNumbers</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>LoopPolicyNumber</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!Loop.Extern_Policy_To_Be_Deleted_Number__c})),{!Loop.Extern_Policy_To_Be_Deleted_Number__c},
IF(NOT(ISBLANK({!Loop.Policy__c})),{!Loop.Policy__r.AgentWise_IL__Policy_Number__c},&quot;&quot;))</expression>
    </formulas>
    <interviewLabel>Deleted Policies In Aw Application After Change Update Numbers on Application {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Deleted Policies In Aw Application After Change Update Numbers on Application</label>
    <loops>
        <name>Loop</name>
        <label>Loop</label>
        <locationX>1099</locationX>
        <locationY>158</locationY>
        <collectionReference>Get_All_Related_Cancelled_Applications</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignCurrentNumbers</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Application</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Related_Cancelled_Applications</name>
        <label>Get All Related Cancelled Applications</label>
        <locationX>969</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Search_Application_Lookup__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Search_Application_Lookup__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Application_Deleted_Policies__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Application</name>
        <label>Update Application</label>
        <locationX>1253</locationX>
        <locationY>159</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Search_Application_Lookup__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cancelled_Application_Numbers__c</field>
            <value>
                <elementReference>NewCanceledNumbers</elementReference>
            </value>
        </inputAssignments>
        <object>AgentWise_IL__Application__c</object>
    </recordUpdates>
    <start>
        <locationX>543</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_All_Related_Cancelled_Applications</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Extern_Policy_To_Be_Deleted_Number__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Application_Deleted_Policies__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>NewCanceledNumbers</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
