force-app/main/default/flows/Digital_Form_D_O.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_1_to_Flag</name>
        <label>Add 1 to Flag</label>
        <locationX>50</locationX>
        <locationY>1478</locationY>
        <assignmentItems>
            <assignToReference>flag</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Flag_equal_toSubsidiaries</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Add_Subsidiaries</name>
        <label>Add Subsidiaries</label>
        <locationX>204</locationX>
        <locationY>1118</locationY>
        <defaultConnector>
            <targetReference>Current_D_O_Insurance_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cancel</defaultConnectorLabel>
        <rules>
            <name>Add</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>add_Subsidiaries_question</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Number_of_subsidiaries_to_add</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Number_of_subsidiaries_to_add</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>flag</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Related_Entities_Screen</targetReference>
            </connector>
            <label>Add</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Flag_equal_toSubsidiaries</name>
        <label>Check if Flag equal toSubsidiaries</label>
        <locationX>50</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>Current_D_O_Insurance_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>equal</defaultConnectorLabel>
        <rules>
            <name>not_equal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flag</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Number_of_subsidiaries_to_add</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Add_Subsidiaries</targetReference>
            </connector>
            <label>not equal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_or_new_customer</name>
        <label>Existing or new customer</label>
        <locationX>369</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>new customer</defaultConnectorLabel>
        <rules>
            <name>Existing_customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountid</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_account_details</targetReference>
            </connector>
            <label>Existing customer</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>accountID_from_product_application</name>
        <dataType>String</dataType>
        <expression>{!Get_product_details.Novidea_HPC__Application__r.Novidea_HPC__Account__c}</expression>
    </formulas>
    <formulas>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>Total_Emploees_formula</name>
        <dataType>Number</dataType>
        <expression>{!Number_of_Employees_in_Canada}+{!Number_of_Employees_in_Europe}+{!Number_of_Employees_in_Israel}+{!Number_of_Employees_in_the_rest_of_the_World}+{!Number_of_Employees_in_USA}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Digital FORM - D&amp;O {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Digital Form - D&amp;O</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_related_entity</name>
        <label>Create related entity</label>
        <locationX>50</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>Add_1_to_Flag</targetReference>
        </connector>
        <inputAssignments>
            <field>Company_Name__c</field>
            <value>
                <elementReference>New_Product_Related_Entities.Company_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company_Ownership_Type__c</field>
            <value>
                <elementReference>New_Product_Related_Entities.Company_Ownership_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country_Of_Registration__c</field>
            <value>
                <elementReference>New_Product_Related_Entities.Country_Of_Registration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Insured_Share__c</field>
            <value>
                <elementReference>New_Product_Related_Entities.Insured_Share__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>Get_product_details.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Product_Related_Entity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_account_details</name>
        <label>Get account details</label>
        <locationX>204</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_product_details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountid</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_product_details</name>
        <label>Get product details</label>
        <locationX>204</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_product_related_entitiy</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>D&amp;O</stringValue>
            </value>
        </filters>
        <filters>
            <field>Novidea_HPC__Effective_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>today</elementReference>
            </value>
        </filters>
        <filters>
            <field>Novidea_HPC__Required_Policy_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Renew</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Novidea_HPC__Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_product_related_entitiy</name>
        <label>Get product related entitiy</label>
        <locationX>204</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Product_Renewal_Form_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_product_details.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product_Related_Entity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Renewal_Form_Data</name>
        <label>Get Product Renewal Form Data</label>
        <locationX>204</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>General_Information_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Source_Product_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_product_details.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product_Additional_Form_Data__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Account update in case the process stops at this stage</description>
        <name>Update_account</name>
        <label>Update account</label>
        <locationX>204</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Add_Subsidiaries_screen</targetReference>
        </connector>
        <inputReference>Get_account_details</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Product_Renewal_Form_Data_Stage_1</name>
        <label>update Product Renewal Form Data Stage 1</label>
        <locationX>204</locationX>
        <locationY>2090</locationY>
        <connector>
            <targetReference>General_Questions_Screen</targetReference>
        </connector>
        <inputReference>Get_Product_Renewal_Form_Data</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Product_Renewal_Form_Data_Stage_2</name>
        <label>update Product Renewal Form Data Stage 2</label>
        <locationX>204</locationX>
        <locationY>2330</locationY>
        <connector>
            <targetReference>Employees_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Product_Renewal_Form_Data.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Company_Changed_Auditing_Firm_Details__c</field>
            <value>
                <elementReference>G_Q_2_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company_Changed_Auditing_Firm_Last_Year__c</field>
            <value>
                <elementReference>G_Q_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_Acquisition_or_Merger_Last_Year_Det__c</field>
            <value>
                <elementReference>G_Q_1_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_Acquisition_or_Merger_Last_Year__c</field>
            <value>
                <elementReference>G_Q_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_Company_Considering_Acquisition_Det__c</field>
            <value>
                <elementReference>G_Q_3_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_Company_Considering_Acquisition__c</field>
            <value>
                <elementReference>G_Q_3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_Directors_Or_Executive_Replaced_Issue__c</field>
            <value>
                <elementReference>G_Q_4_3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_Directors_Or_Executive_Replaced_Reaso__c</field>
            <value>
                <elementReference>G_Q_4_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_Directors_Or_Executive_Replaced_Title__c</field>
            <value>
                <elementReference>G_Q_4_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_Directors_Or_Executive_Replaced__c</field>
            <value>
                <elementReference>G_Q_4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_Is_Policyholder_publicly_Details__c</field>
            <value>
                <elementReference>G_Q_2_3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_Is_Policyholder_publicly_traded__c</field>
            <value>
                <elementReference>G_Q_2_2</elementReference>
            </value>
        </inputAssignments>
        <object>Product_Additional_Form_Data__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_Product_Renewal_Form_Data_Stage_3</name>
        <label>update Product Renewal Form Data Stage 3</label>
        <locationX>204</locationX>
        <locationY>2570</locationY>
        <connector>
            <targetReference>Financials_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Product_Renewal_Form_Data.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Do_Change_In_Employees_Number_Reason__c</field>
            <value>
                <elementReference>Employee_Question</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_Number_Of_Employees_Canada__c</field>
            <value>
                <elementReference>Number_of_Employees_in_Canada</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_Number_Of_Employees_Europe__c</field>
            <value>
                <elementReference>Number_of_Employees_in_Europe</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_Number_Of_Employees_Israel__c</field>
            <value>
                <elementReference>Number_of_Employees_in_Israel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_Number_Of_Employees_The_Rest__c</field>
            <value>
                <elementReference>Number_of_Employees_in_the_rest_of_the_World</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_Number_Of_Employees_Usa__c</field>
            <value>
                <elementReference>Number_of_Employees_in_USA</elementReference>
            </value>
        </inputAssignments>
        <object>Product_Additional_Form_Data__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_Product_Renewal_Form_Data_Stage_4</name>
        <label>update Product Renewal Form Data Stage 4</label>
        <locationX>204</locationX>
        <locationY>2810</locationY>
        <connector>
            <targetReference>Claims_and_Circumstances_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Product_Renewal_Form_Data.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Do_Company_Has_Debts_Details__c</field>
            <value>
                <elementReference>F_Q_3_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_Company_Has_Debts__c</field>
            <value>
                <elementReference>F_Q_3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_Company_Has_Enough_Cash_Details__c</field>
            <value>
                <elementReference>F_Q_1_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_Company_Has_Enough_Cash__c</field>
            <value>
                <elementReference>F_Q_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_Company_Has_Positive_equity_Details__c</field>
            <value>
                <stringValue>F_Q_2_1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_Company_Has_Positive_equity__c</field>
            <value>
                <elementReference>F_Q_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_Company_Turnover_North_America__c</field>
            <value>
                <elementReference>F_Q_6</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_Company_Turnover__c</field>
            <value>
                <elementReference>F_Q_5</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_Total_Asset_of_Company__c</field>
            <value>
                <elementReference>F_Q_4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_Total_gross_assets_in_the_USA__c</field>
            <value>
                <elementReference>F_Q_7</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_total_investments_raised__c</field>
            <value>
                <elementReference>F_Q_8</elementReference>
            </value>
        </inputAssignments>
        <object>Product_Additional_Form_Data__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_Product_Renewal_Form_Data_Stage_5</name>
        <label>update Product Renewal Form Data Stage 5</label>
        <locationX>204</locationX>
        <locationY>3050</locationY>
        <connector>
            <targetReference>Additional_Information_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Product_Renewal_Form_Data.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Do_Current_Investigations_Details__c</field>
            <value>
                <elementReference>C_Q_2_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_Current_Investigations__c</field>
            <value>
                <elementReference>C_Q_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_Knowledge_Of_Any_Risk_Details__c</field>
            <value>
                <elementReference>C_Q_3_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_Knowledge_Of_Any_Risk__c</field>
            <value>
                <elementReference>C_Q_3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_Present_Investigation_Details__c</field>
            <value>
                <elementReference>C_Q_1_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_Present_Investigation__c</field>
            <value>
                <elementReference>C_Q_1</elementReference>
            </value>
        </inputAssignments>
        <object>Product_Additional_Form_Data__c</object>
    </recordUpdates>
    <screens>
        <name>Add_Subsidiaries_screen</name>
        <label>Add Subsidiaries screen</label>
        <locationX>204</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_Subsidiaries</targetReference>
        </connector>
        <fields>
            <name>Add_Subsidiaries_screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_Subsidiaries_screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Subsidiaries_table</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Product_Related_Entity__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Subsidiaries</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>MULTI_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_product_related_entitiy</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Company_Name__c&quot;,&quot;guid&quot;:&quot;column-0152&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Company Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Country_Of_Registration__c&quot;,&quot;guid&quot;:&quot;column-7590&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Country Of Registration&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Insured_Share__c&quot;,&quot;guid&quot;:&quot;column-71da&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Insured Share&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>NB_Decleration</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(68, 68, 68);&quot;&gt;N.B.&amp;nbsp;&amp;nbsp;Hereinafter the Proposer and its subsidiaries shall be known as the “Company.”&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Create_related_entity</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Add_Subsidiaries_screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_Subsidiaries_screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>add_Subsidiaries_question</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is there Subsidiaries under the Policyholder to add?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Number_of_subsidiaries_to_add</name>
                    <dataType>Number</dataType>
                    <fieldText>Number of subsidiaries to add</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>add_Subsidiaries_question</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_Subsidiaries_screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Additional_Information_Screen</name>
        <label>Additional Information Screen</label>
        <locationX>204</locationX>
        <locationY>3170</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Declaration_Screen</targetReference>
        </connector>
        <fields>
            <name>Additional_Information</name>
            <fieldText>Additional Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Additional_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>File_upload_msg</name>
                    <fieldText>&lt;ol&gt;&lt;li&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please attach an updated Cap Table&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;If required, please attach most updated financial reports.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;If required, please send the attached financial appendix fully answered, signed and dated.&lt;/span&gt;&lt;/li&gt;&lt;/ol&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Additional_Information_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Claims_and_Circumstances_Screen</name>
        <label>Claims and Circumstances Screen</label>
        <locationX>204</locationX>
        <locationY>2930</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>update_Product_Renewal_Form_Data_Stage_5</targetReference>
        </connector>
        <fields>
            <name>Claims_and_Circumstances</name>
            <fieldText>Claims and Circumstances</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Claims_and_Circumstances_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>C_Q_1</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is the U.S. SEC or U.S. IRS presently investigation or requesting information from the Company or any director or officer of the Company?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>C_Q_1_1</name>
                    <fieldText>please provide details</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>C_Q_1</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>C_Q_2</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Has there been or is there now pending any claims, actions or investigations against or involving any proposed insured (including but not limited to any director and or officer of any company)?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>C_Q_2_1</name>
                    <fieldText>please provide details</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>C_Q_2</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>C_Q_3</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Does any of the directors or officers of the company, the General Counsel (or equivalent person) of the company and the risk manager of the company have any knowledge or information of any act, error or omission which could reasonably give rise to a claim, investigation, or action under the proposed policy, except as follows: (Attach complete details)</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>C_Q_3_1</name>
                    <fieldText>please provide details</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>C_Q_3</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Claims_and_Circumstances_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Claim_alart</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(192, 0, 0); font-size: 16px;&quot;&gt;Please note that it is highly recommended to forward the Claims and Circumstances Questions above to all the Company&apos;s Directors and Officers before signing the proposal form&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Related_Entities_Screen</name>
        <label>Create Related Entities Screen</label>
        <locationX>50</locationX>
        <locationY>1238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_related_entity</targetReference>
        </connector>
        <fields>
            <name>Create_Related_Entities_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_Related_Entities_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>New_Product_Related_Entities.Company_Name__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>New_Product_Related_Entities.Company_Ownership_Type__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>New_Product_Related_Entities.Country_Of_Registration__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>New_Product_Related_Entities.Insured_Share__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_Related_Entities_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Current_D_O_Insurance_Screen</name>
        <label>Current D&amp;O Insurance Screen</label>
        <locationX>204</locationX>
        <locationY>1970</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>update_Product_Renewal_Form_Data_Stage_1</targetReference>
        </connector>
        <fields>
            <name>Current_D_O_Insurance</name>
            <fieldText>Current D&amp;O Insurance</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Current_D_O_Insurance_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>None_Current_D_O_Insurance</name>
                    <dataType>Boolean</dataType>
                    <fieldText>None Current D&amp;O Insurance</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Product_Renewal_Form_Data.Do_Current_Insurer__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>None_Current_D_O_Insurance</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Product_Renewal_Form_Data.Do_Current_Broker__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>None_Current_D_O_Insurance</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Product_Renewal_Form_Data.Do_Current_Premium__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>None_Current_D_O_Insurance</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Product_Renewal_Form_Data.Do_Expiration_Date__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>None_Current_D_O_Insurance</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Product_Renewal_Form_Data.Do_Current_Liability_Limit__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>None_Current_D_O_Insurance</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Product_Renewal_Form_Data.Do_Desired_Liablity_Limit_As_Text__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>None_Current_D_O_Insurance</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Product_Renewal_Form_Data.Desired_Liability_Limit_If_Else__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>None_Current_D_O_Insurance</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Current_D_O_Insurance_Decleration</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Has the Company ever had any Insurer decline a proposal or cancel or refuse to renew a  Directors&apos;  &amp; Officers&apos; Liability Insurance?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>please_provide_details</name>
                    <fieldText>please provide details</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Current_D_O_Insurance_Decleration</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Current_D_O_Insurance_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Declaration_Screen</name>
        <label>Declaration Screen</label>
        <locationX>204</locationX>
        <locationY>3290</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Declaration_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Declaration_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Declaration_msg</name>
                    <fieldText>&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;I declare on behalf of all insureds, after inquiry, that the statements and particulars in this supplemental proposal are true and no material facts have been misstated or suppressed.&amp;nbsp;I agree that this proposal forms, any attachment, any information submitted therewith and any and all other information supplied or requested, shall form the basis of any Contract of Insurance effected thereon.&amp;nbsp;All written statements and materials furnished to the insurer in conjunction with this application are hereby incorporated by reference into this application and made a part hereof. Signing this proposal does not bind the Policyholder to complete this insurance.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Full_name_of_the_signer</name>
                    <dataType>String</dataType>
                    <fieldText>Full name of the signer</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Title_of_the_signer</name>
                    <dataType>String</dataType>
                    <fieldText>Title of the signer</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Sign_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>today</elementReference>
                    </defaultValue>
                    <fieldText>Sign Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Declaration_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Employees_Screen</name>
        <label>Employees Screen</label>
        <locationX>204</locationX>
        <locationY>2450</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>update_Product_Renewal_Form_Data_Stage_3</targetReference>
        </connector>
        <fields>
            <name>Employees</name>
            <fieldText>Employees</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Employees_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Number_of_Employees_in_Israel</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Product_Renewal_Form_Data.Do_Number_Of_Employees_Israel__c</elementReference>
                    </defaultValue>
                    <fieldText>Number of Employees in Israel</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Number_of_Employees_in_USA</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Product_Renewal_Form_Data.Do_Number_Of_Employees_Usa__c</elementReference>
                    </defaultValue>
                    <fieldText>Number of Employees in USA</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Number_of_Employees_in_Canada</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Product_Renewal_Form_Data.Do_Number_Of_Employees_Canada__c</elementReference>
                    </defaultValue>
                    <fieldText>Number of Employees in Canada</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Number_of_Employees_in_Europe</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Product_Renewal_Form_Data.Do_Number_Of_Employees_Europe__c</elementReference>
                    </defaultValue>
                    <fieldText>Number of Employees in Europe</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Number_of_Employees_in_the_rest_of_the_World</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Product_Renewal_Form_Data.Do_Number_Of_Employees_The_Rest__c</elementReference>
                    </defaultValue>
                    <fieldText>Number of Employees in the rest of the World</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Total</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Total_Emploees_formula</elementReference>
                    </defaultValue>
                    <fieldText>Total</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Employee_Question</name>
                    <defaultValue>
                        <stringValue>{!Get_Product_Renewal_Form_Data.Do_Change_In_Employees_Number_Reason__c}</stringValue>
                    </defaultValue>
                    <fieldText>In the event that there was a major change in no. of employees and/or their geographical distribution please explain the reasons for such change</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Employees_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Financials_Screen</name>
        <label>Financials Screen</label>
        <locationX>204</locationX>
        <locationY>2690</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>update_Product_Renewal_Form_Data_Stage_4</targetReference>
        </connector>
        <fields>
            <name>Financials</name>
            <fieldText>Financials</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Financials_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>F_Q_1</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Product_Renewal_Form_Data.Do_Company_Has_Enough_Cash__c</elementReference>
                    </defaultValue>
                    <fieldText>Does the Company including each of its subsidiaries have enough cash to finance its operation for at least 6 months from the date of this form is signed?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>F_Q_1_1</name>
                    <defaultValue>
                        <stringValue>{!Get_Product_Renewal_Form_Data.Do_Company_Has_Enough_Cash_Details__c}</stringValue>
                    </defaultValue>
                    <fieldText>please provide details</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>F_Q_1</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>No</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>F_Q_2</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Product_Renewal_Form_Data.Do_Company_Has_Positive_equity__c</elementReference>
                    </defaultValue>
                    <fieldText>Does the company have a positive equity?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>F_Q_2_1</name>
                    <defaultValue>
                        <stringValue>{!Get_Product_Renewal_Form_Data.Do_Company_Has_Positive_equity_Details__c}</stringValue>
                    </defaultValue>
                    <fieldText>please provide details</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>F_Q_2</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>No</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>F_Q_3</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Product_Renewal_Form_Data.Do_Company_Has_Debts__c</elementReference>
                    </defaultValue>
                    <fieldText>Does the company including any of its subsidiaries in breach in any debts, covenants or loan agreement?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>F_Q_3_1</name>
                    <defaultValue>
                        <stringValue>{!Get_Product_Renewal_Form_Data.Do_Company_Has_Debts_Details__c}</stringValue>
                    </defaultValue>
                    <fieldText>please provide details</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>F_Q_3</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>F_Q_4</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Product_Renewal_Form_Data.Do_Total_Asset_of_Company__c</elementReference>
                    </defaultValue>
                    <fieldText>What is the Total Asset of the company (Consolidate Figures)?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>F_Q_5</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Product_Renewal_Form_Data.Do_Company_Turnover__c</elementReference>
                    </defaultValue>
                    <fieldText>What is the company turnover (Consolidate Figures)?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>F_Q_6</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Product_Renewal_Form_Data.Do_Company_Turnover_North_America__c</elementReference>
                    </defaultValue>
                    <fieldText>What is the total turnover in North America?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>F_Q_7</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Product_Renewal_Form_Data.Do_Total_gross_assets_in_the_USA__c</elementReference>
                    </defaultValue>
                    <fieldText>Please state total gross assets in the United States</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>F_Q_8</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Product_Renewal_Form_Data.Do_total_investments_raised__c</elementReference>
                    </defaultValue>
                    <fieldText>Please state total investments raised by the company since its establishment</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Financials_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>General_Information_Screen</name>
        <label>General Information Screen</label>
        <locationX>204</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_account</targetReference>
        </connector>
        <fields>
            <name>General_Information_title</name>
            <fieldText>General Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>General_Information_title_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_account_details.Name</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_account_details.ShippingAddress</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_account_details.Novidea_HPC__Country_of_Registration__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_account_details.Novidea_HPC__Tax_ID__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_account_details.Foundation_Date__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>General_Information_title_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>General_Questions_Screen</name>
        <label>General Questions Screen</label>
        <locationX>204</locationX>
        <locationY>2210</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>update_Product_Renewal_Form_Data_Stage_2</targetReference>
        </connector>
        <fields>
            <name>General_Questions_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>General_Questions_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>G_Q_1</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Product_Renewal_Form_Data.Do_Acquisition_or_Merger_Last_Year__c</elementReference>
                    </defaultValue>
                    <fieldText>During the last year has any acquisition or merger occurred involving the Policyholder or any subsidiary?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>G_Q_1_1</name>
                    <defaultValue>
                        <stringValue>{!Get_Product_Renewal_Form_Data.Do_Acquisition_or_Merger_Last_Year_Det__c}</stringValue>
                    </defaultValue>
                    <fieldText>please provide details</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>G_Q_1</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>G_Q_2</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Product_Renewal_Form_Data.Company_Changed_Auditing_Firm_Last_Year__c</elementReference>
                    </defaultValue>
                    <fieldText>Has the Company changed its external auditing firm in the past three years or have any plans to remove or replace its external auditor in the next 12 months?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>G_Q_2_1</name>
                    <defaultValue>
                        <stringValue>{!Get_Product_Renewal_Form_Data.Company_Changed_Auditing_Firm_Details__c}</stringValue>
                    </defaultValue>
                    <fieldText>please provide details</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>G_Q_2</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>G_Q_2_2</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Product_Renewal_Form_Data.Do_Is_Policyholder_publicly_traded__c</elementReference>
                    </defaultValue>
                    <fieldText>Is the policyholder publicly traded (equity or debt)? Or has any ADRs?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>G_Q_2</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>G_Q_2_3</name>
                    <defaultValue>
                        <stringValue>{!Get_Product_Renewal_Form_Data.Do_Is_Policyholder_publicly_Details__c}</stringValue>
                    </defaultValue>
                    <fieldText>on which stock exchange?</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>G_Q_2_2</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>G_Q_3</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Product_Renewal_Form_Data.Do_Company_Considering_Acquisition__c</elementReference>
                    </defaultValue>
                    <fieldText>Is the Company considering any acquisition, tender offer, merger, or public offering?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>G_Q_3_1</name>
                    <defaultValue>
                        <stringValue>{!Get_Product_Renewal_Form_Data.Do_Company_Considering_Acquisition_Det__c}</stringValue>
                    </defaultValue>
                    <fieldText>please provide details</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>G_Q_3</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>G_Q_4</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Product_Renewal_Form_Data.Do_Directors_Or_Executive_Replaced__c</elementReference>
                    </defaultValue>
                    <fieldText>Have any Directors and / or Executive Officers of the Policyholder or of any subsidiary of the Policyholder been replaced in the past 12 months?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>G_Q_4_1</name>
                    <defaultValue>
                        <stringValue>{!Get_Product_Renewal_Form_Data.Do_Directors_Or_Executive_Replaced_Title__c}</stringValue>
                    </defaultValue>
                    <fieldText>please state: Title position of replaced D&amp;Os</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>G_Q_4</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>G_Q_4_2</name>
                    <defaultValue>
                        <stringValue>{!Get_Product_Renewal_Form_Data.Do_Directors_Or_Executive_Replaced_Reaso__c}</stringValue>
                    </defaultValue>
                    <fieldText>Please clarify why they were replaced?</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>G_Q_4</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>G_Q_4_3</name>
                    <defaultValue>
                        <stringValue>{!Get_Product_Renewal_Form_Data.Do_Directors_Or_Executive_Replaced_Issue__c}</stringValue>
                    </defaultValue>
                    <fieldText>Are there any open issues regarding the replacement?</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>G_Q_4</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>General_Questions_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>243</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Existing_or_new_customer</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>accountid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>flag</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>New_Product_Related_Entities</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_Related_Entity__c</objectType>
    </variables>
</Flow>
