force-app/main/default/flows/Doco_Send_Invitation_To_Meeting_From_Contact_List_View.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Notify_User</name>
        <label>Notify User</label>
        <locationX>266</locationX>
        <locationY>398</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>NoPermissionBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>בקשתך למשלוח הזמנות לפגישה</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Notify_User</name>
        <label>Notify User</label>
        <locationX>530</locationX>
        <locationY>398</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>בקשתך למשלוח הזמנות לפגישה</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Set_Collection_Size</name>
        <label>Set Collection Size</label>
        <locationX>290</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>CollectionSize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Valid_Size</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Valid_Size</name>
        <label>Is Valid Size ?</label>
        <locationX>290</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Notify_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CollectionSize</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CollectionSize</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>21.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_Permissions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$UserRole.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>OperationsHowdenWise</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Notify_User</targetReference>
            </connector>
            <label>No Permissions</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Doco Send Invitation To Meeting From Contact List View {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Doco Send Invitation To Meeting From Contact List View</label>
    <loops>
        <name>Loop</name>
        <label>Loop</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <collectionReference>ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Generate_Form</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>138</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Send_Doco_Flag__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Send_Doco_Form_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>164</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Collection_Size</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Generate_Form</name>
        <label>Generate Form</label>
        <locationX>138</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
        <flowName>Generate_Docomotion_Autolaunched_Send_New_Link_From_Contact</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Loop</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>Body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;---- ניתן לשלוח עד 20&amp;nbsp;מסרונים&amp;nbsp;----&lt;/p&gt;&lt;p&gt;בקשתך למשלוח&amp;nbsp;&amp;nbsp;{!CollectionSize} מסרונים לא בוצעה&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>NoPermissionBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;---- רק למשתמש האודן תפעול יש הרשאה להפעיל פעולה זו&amp;nbsp;----&lt;/p&gt;&lt;p&gt;בקשתך למשלוח&amp;nbsp;&amp;nbsp;{!CollectionSize} מסרונים לא בוצעה&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CollectionSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
