force-app/main/default/flows/Doco_Copy_Renewal_Data_Lookup_To_New_Product_On_Conversion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Found</name>
        <label>Found ?</label>
        <locationX>182</locationX>
        <locationY>528</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Application_Product_Data</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Application_Product_Data</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clone_To_New_Product</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_0</name>
        <label>Found ?</label>
        <locationX>710</locationX>
        <locationY>528</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Policy_Product_Data</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Policy_Product_Data.Product_Renewal_Form_Data__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clone_To_New_Product_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Trigger</name>
        <label>Trigger</label>
        <locationX>644</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>On_Conversion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Policy__r.Novidea_HPC__Application__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Product_Definition__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_Renewal_Form_Data__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Policy__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Application_Product_Data</targetReference>
            </connector>
            <label>Proffessional Lia. On Conversion</label>
        </rules>
        <rules>
            <name>Proffessional_Lia_On_Renew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Application__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Product_Definition__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Previous_Policy__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Required_Policy_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renew</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Policy_Product_Data</targetReference>
            </connector>
            <label>Proffessional Lia. On Renew</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Doco_Copy Renewal Data Lookup To New Product On Conversion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Doco Update Data For New Proffessional Liability Product After Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Application_Product_Data</name>
        <label>Get Application Product Data</label>
        <locationX>182</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Novidea_HPC__Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Novidea_HPC__Policy__r.Novidea_HPC__Application__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Novidea_HPC__Product_Def_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PI</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Renewal_Form_Data__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Novidea_HPC__Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Policy_Product_Data</name>
        <label>Get Policy Product Data</label>
        <locationX>710</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Novidea_HPC__Policy__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Novidea_HPC__Previous_Policy__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Novidea_HPC__Product_Def_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PI</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Novidea_HPC__Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>89</locationX>
        <locationY>0</locationY>
        <filterLogic>3 AND (1 OR 2)</filterLogic>
        <filters>
            <field>Novidea_HPC__Policy__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Novidea_HPC__Previous_Policy__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Novidea_HPC__Product_Definition__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a0PD0000005leXCMAY</stringValue>
            </value>
        </filters>
        <object>Novidea_HPC__Product__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>X5_Minutes_After_Creation</name>
            <connector>
                <targetReference>Trigger</targetReference>
            </connector>
            <label>5 Minutes After Creation</label>
            <offsetNumber>5</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Clone_To_New_Product</name>
        <label>Clone To New Product</label>
        <locationX>50</locationX>
        <locationY>648</locationY>
        <flowName>Doco_Clone_Old_Product_Data_Autolaunched</flowName>
        <inputAssignments>
            <name>NewProduct</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OldProduct</name>
            <value>
                <elementReference>Get_Application_Product_Data.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ShouldCopyFieldsFromOldRenewalDataRecord</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Clone_To_New_Product_0</name>
        <label>Clone To New Product</label>
        <locationX>578</locationX>
        <locationY>648</locationY>
        <flowName>Doco_Clone_Old_Product_Data_Autolaunched</flowName>
        <inputAssignments>
            <name>NewProduct</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OldProduct</name>
            <value>
                <elementReference>Get_Policy_Product_Data.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ShouldCopyFieldsFromOldRenewalDataRecord</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
