force-app/main/default/flows/Doco_Signature_Feedback_Chcek_On_Signed_Document.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_To_Sender</name>
        <label>Send Email To Sender</label>
        <locationX>50</locationX>
        <locationY>492</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SignedBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Product__r.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SubjectForMail</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_One_0</name>
        <label>Assign One</label>
        <locationX>1104</locationX>
        <locationY>3564</locationY>
        <assignmentItems>
            <assignToReference>RemoveOne.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Clear_0.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemoveOne.Direction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Removed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_To_List0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_OneRecord_Create</name>
        <label>Assign OneRecord Create</label>
        <locationX>1502</locationX>
        <locationY>1032</locationY>
        <assignmentItems>
            <assignToReference>OneEntity.First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_All_Signatures_0.First_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OneEntity.Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_All_Signatures_0.Last_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OneEntity.Ssn__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_All_Signatures_0.Ssn__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OneEntity.Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_All_Signatures_0.Role__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OneEntity.Hasmacha_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_All_Signatures_0.Hasmacha_Year__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OneEntity.Vetek_In_Years__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_All_Signatures_0.Vetek_In_Years__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OneEntity.Professional_Degree__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_All_Signatures_0.Professional_Degree__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OneEntity.Direction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Out</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OneEntity.Entity_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Employee</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OneEntity.Id_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>תעודת זהות</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OneEntity.Last_Updated_Signature__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_All_Signatures_0.doco__Signature__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OneEntity.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OneEntity.ProductForContactEntity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_To_Create_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_OneRecord_Create0</name>
        <label>Assign OneRecord Create</label>
        <locationX>1368</locationX>
        <locationY>2556</locationY>
        <assignmentItems>
            <assignToReference>OneCompany.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_If_Exists_0.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OneCompany.Addition_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_All_Company_Signatures.Addition_Reason__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OneCompany.Company_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_All_Company_Signatures.Company_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OneCompany.Insured_Share__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_All_Company_Signatures.Insured_Share__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OneCompany.Company_Hp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_All_Company_Signatures.Company_Hp__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OneCompany.Direction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Out</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OneCompany.Entity_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Company</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OneCompany.Last_Updated_Signature__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_All_Company_Signatures.doco__Signature__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OneCompany.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OneCompany.ProductForAccountEntity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_To_Create_List_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_OneRecord_Update</name>
        <label>Assign OneRecord Update</label>
        <locationX>1238</locationX>
        <locationY>1032</locationY>
        <assignmentItems>
            <assignToReference>OneEntity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_If_Exists.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OneEntity.First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_All_Signatures_0.First_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OneEntity.Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_All_Signatures_0.Last_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OneEntity.Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_All_Signatures_0.Role__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OneEntity.Hasmacha_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_All_Signatures_0.Hasmacha_Year__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OneEntity.Vetek_In_Years__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_All_Signatures_0.Vetek_In_Years__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OneEntity.Professional_Degree__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_All_Signatures_0.Professional_Degree__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OneEntity.Last_Updated_Signature__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_All_Signatures_0.doco__Signature__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_To_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_OneRecord_Update_0_0</name>
        <label>Assign OneRecord Update</label>
        <locationX>1104</locationX>
        <locationY>2556</locationY>
        <assignmentItems>
            <assignToReference>OneCompany.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_If_Exists_0.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OneCompany.Addition_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_All_Company_Signatures.Addition_Reason__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OneCompany.Company_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_All_Company_Signatures.Company_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OneCompany.Insured_Share__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_All_Company_Signatures.Insured_Share__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OneCompany.Last_Updated_Signature__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_All_Company_Signatures.doco__Signature__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_To_List_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_To_Create_List</name>
        <label>Assign To Create List</label>
        <locationX>1502</locationX>
        <locationY>1140</locationY>
        <assignmentItems>
            <assignToReference>EntityCreateList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OneEntity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_All_Signatures_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_To_Create_List_0</name>
        <label>Assign To Create List</label>
        <locationX>1368</locationX>
        <locationY>2664</locationY>
        <assignmentItems>
            <assignToReference>EntityCreateList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OneCompany</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_All_Company_Signatures</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_To_List</name>
        <label>Assign To List</label>
        <locationX>1238</locationX>
        <locationY>1140</locationY>
        <assignmentItems>
            <assignToReference>EntityList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OneEntity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_All_Signatures_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_To_List0_0</name>
        <label>Assign To List</label>
        <locationX>1104</locationX>
        <locationY>3672</locationY>
        <assignmentItems>
            <assignToReference>OldList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RemoveOne</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Clear_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_To_List_0</name>
        <label>Assign To List</label>
        <locationX>1104</locationX>
        <locationY>2664</locationY>
        <assignmentItems>
            <assignToReference>EntityList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OneEntity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_All_Company_Signatures</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearLists</name>
        <label>ClearLists</label>
        <locationX>974</locationX>
        <locationY>1716</locationY>
        <assignmentItems>
            <assignToReference>EntityList</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EntityCreateList</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_Feedback_Company_S_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Records_0</name>
        <label>Count Records</label>
        <locationX>1148</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_All_Feedback_Insured_S_Records_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Found_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Records_0_0</name>
        <label>Count Records</label>
        <locationX>1148</locationX>
        <locationY>2016</locationY>
        <assignmentItems>
            <assignToReference>CountCompanies</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_All_Feedback_Company_S_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Found_0_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found</name>
        <label>Found ?</label>
        <locationX>1148</locationX>
        <locationY>3348</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Previous_Entity_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Clear_0</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found1</name>
        <label>Found ?</label>
        <locationX>1370</locationX>
        <locationY>924</locationY>
        <defaultConnector>
            <targetReference>Assign_OneRecord_Create</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_If_Exists</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_OneRecord_Update</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found1_0</name>
        <label>Found ?</label>
        <locationX>1236</locationX>
        <locationY>2448</locationY>
        <defaultConnector>
            <targetReference>Assign_OneRecord_Create0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_If_Exists_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_OneRecord_Update_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_0</name>
        <label>Found ?</label>
        <locationX>1148</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>Get_All_Feedback_Company_S_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_All_Signatures_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_0_0</name>
        <label>Found ?</label>
        <locationX>1148</locationX>
        <locationY>2124</locationY>
        <defaultConnector>
            <targetReference>Get_All_Previous_Entity_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountCompanies</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_All_Company_Signatures</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validations</name>
        <label>Validations</label>
        <locationX>1216</locationX>
        <locationY>708</locationY>
        <defaultConnector>
            <targetReference>Check_If_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_Not_Ok</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordIsNotOk</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_All_Signatures_0</targetReference>
            </connector>
            <label>Record Not Ok</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Signed_Now</name>
        <label>Was Signed Now ?</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Signed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.doco__Signed__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product__r.Owner:User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Product</targetReference>
            </connector>
            <label>Yes, Signed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Link</name>
        <dataType>String</dataType>
        <expression>&quot;https://howdenil.lightning.force.com/&quot;&amp;{!$Record.Product__r.Novidea_HPC__Application__c}</expression>
    </formulas>
    <formulas>
        <name>RecordIsNotOk</name>
        <dataType>Boolean</dataType>
        <expression>OR(
NOT(ISNUMBER({!Loop_All_Signatures_0.Ssn__c})),
LEN({!Loop_All_Signatures_0.Ssn__c})&gt;9,
NOT(ISNUMBER({!Loop_All_Signatures_0.Hasmacha_Year__c})),
LEN({!Loop_All_Signatures_0.Hasmacha_Year__c})&gt;4,
LEN({!Loop_All_Signatures_0.Vetek_In_Years__c})&gt;2,
NOT(ISNUMBER({!Loop_All_Signatures_0.Vetek_In_Years__c})))</expression>
    </formulas>
    <formulas>
        <name>SubjectForMail</name>
        <dataType>String</dataType>
        <expression>&quot;נחתם טופס דיגיטלי ששלחת ל: &quot; &amp;{!$Record.Product__r.Novidea_HPC__Application__r.Novidea_HPC__Account__r.Name}</expression>
    </formulas>
    <interviewLabel>Doco_Signature_Feedback Chcek On Signed Document {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Doco_Signature_Feedback Chcek On Signed Document</label>
    <loops>
        <name>Loop_All_Company_Signatures</name>
        <label>Loop All Company Signatures</label>
        <locationX>1016</locationX>
        <locationY>2232</locationY>
        <collectionReference>Get_All_Feedback_Company_S_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_If_Exists_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateList_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_All_Signatures_0</name>
        <label>Loop All Signatures</label>
        <locationX>974</locationX>
        <locationY>600</locationY>
        <collectionReference>Get_All_Feedback_Insured_S_Records_0</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Validations</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateList</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Clear_0</name>
        <label>Loop Clear</label>
        <locationX>1016</locationX>
        <locationY>3456</locationY>
        <collectionReference>Get_All_Previous_Entity_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_One_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_List</name>
        <label>Create List</label>
        <locationX>974</locationX>
        <locationY>1608</locationY>
        <connector>
            <targetReference>ClearLists</targetReference>
        </connector>
        <inputReference>EntityCreateList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_List_0</name>
        <label>Create List</label>
        <locationX>1016</locationX>
        <locationY>3048</locationY>
        <connector>
            <targetReference>Get_All_Previous_Entity_Records</targetReference>
        </connector>
        <inputReference>EntityCreateList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Check_If_Exists</name>
        <label>Check If Exists</label>
        <locationX>1370</locationX>
        <locationY>816</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Entity_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Employee</stringValue>
            </value>
        </filters>
        <filters>
            <field>Ssn__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_All_Signatures_0.Ssn__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Direction__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Out</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product_Related_Entity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Check_If_Exists_0</name>
        <label>Check If Exists</label>
        <locationX>1236</locationX>
        <locationY>2340</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found1_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Entity_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Company</stringValue>
            </value>
        </filters>
        <filters>
            <field>Company_Hp__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_All_Company_Signatures.Company_Hp__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Direction__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Out</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product_Related_Entity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Feedback_Company_S_Records</name>
        <label>Get All Feedback_Company (S Records)</label>
        <locationX>1148</locationX>
        <locationY>1908</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Records_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>doco__Signature__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Entity_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Company</stringValue>
            </value>
        </filters>
        <filters>
            <field>Company_Hp__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>doco__Interactive_Submission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Feedback_Insured_S_Records_0</name>
        <label>Get All Feedback_Insured (S Records)</label>
        <locationX>1148</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Records_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>doco__Signature__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Entity_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Employee</stringValue>
            </value>
        </filters>
        <filters>
            <field>Ssn__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>doco__Interactive_Submission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Previous_Entity_Records</name>
        <label>Get All Previous Entity Records</label>
        <locationX>1148</locationX>
        <locationY>3240</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Direction__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Out</stringValue>
            </value>
        </filters>
        <filters>
            <field>Last_Updated_Signature__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product_Related_Entity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update</name>
        <label>Update</label>
        <locationX>1016</locationX>
        <locationY>3864</locationY>
        <inputReference>OldList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Product</name>
        <label>Update Product</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Send_Email_To_Sender</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Renew_Doco_Signed_Signature__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Novidea_HPC__Product__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateList</name>
        <label>Update List</label>
        <locationX>974</locationX>
        <locationY>1500</locationY>
        <connector>
            <targetReference>Create_List</targetReference>
        </connector>
        <inputReference>EntityList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateList_0</name>
        <label>Update List</label>
        <locationX>1016</locationX>
        <locationY>2940</locationY>
        <connector>
            <targetReference>Create_List_0</targetReference>
        </connector>
        <inputReference>EntityList</inputReference>
    </recordUpdates>
    <start>
        <locationX>539</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Was_Signed_Now</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>doco__Signed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>doco__Signature__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>Wait2Minutes</name>
            <connector>
                <targetReference>Get_All_Feedback_Insured_S_Records_0</targetReference>
            </connector>
            <label>Wait2Minutes</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>SignedBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p class=&quot;ql-direction-rtl&quot;&gt;טופס דיגיטלי בהצעה שאת/ה הבעלים שלה נחתם כעת על ידי הלקוח.&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot;&gt;הלקוח: {!$Record.Product__r.Novidea_HPC__Application__r.Novidea_HPC__Account__r.Name}&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot;&gt;&lt;a href=&quot;{!Link}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;להלן קישור להצעה הקשורה&lt;/a&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot;&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountCompanies</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>EntityCreateList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product_Related_Entity__c</objectType>
    </variables>
    <variables>
        <name>EntityList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product_Related_Entity__c</objectType>
    </variables>
    <variables>
        <name>OldList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product_Related_Entity__c</objectType>
    </variables>
    <variables>
        <name>OneCompany</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product_Related_Entity__c</objectType>
    </variables>
    <variables>
        <name>OneEntity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product_Related_Entity__c</objectType>
    </variables>
    <variables>
        <name>RemoveOne</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product_Related_Entity__c</objectType>
    </variables>
</Flow>
