force-app/main/default/flows/Doco_Clone_Old_Product_Data_Autolaunched.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_One_0</name>
        <label>Assign One</label>
        <locationX>138</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>OneEntity.Addition_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.Addition_Reason__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OneEntity.Business_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.Business_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OneEntity.Company_Hp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.Company_Hp__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OneEntity.Company_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.Company_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OneEntity.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OneEntity.Direction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.Direction__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OneEntity.Entity_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.Entity_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OneEntity.First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.First_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OneEntity.Hasmacha_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.Hasmacha_Year__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OneEntity.Id_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.Id_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OneEntity.Insured_Share__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.Insured_Share__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OneEntity.Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.Last_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OneEntity.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewProduct</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OneEntity.ProductForAccountEntity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountPorductLookup</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OneEntity.ProductForContactEntity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactProductLookup</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OneEntity.Professional_Degree__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.Professional_Degree__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OneEntity.Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.Role__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OneEntity.Ssn__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.Ssn__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OneEntity.Vetek_In_Years__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.Vetek_In_Years__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignToList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_One_0_0</name>
        <label>Assign One</label>
        <locationX>402</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>OneEntity.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OneEntity.Direction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.Direction__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OneEntity.Entity_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.Entity_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OneEntity.First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.First_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OneEntity.Hasmacha_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.Hasmacha_Year__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OneEntity.Id_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.Id_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OneEntity.Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.Last_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OneEntity.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewProduct</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OneEntity.ProductForContactEntity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactProductLookup</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OneEntity.Professional_Degree__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.Professional_Degree__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OneEntity.Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.Role__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OneEntity.Ssn__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.Ssn__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OneEntity.Vetek_In_Years__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.Vetek_In_Years__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignToList_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignToList</name>
        <label>AssignToList</label>
        <locationX>138</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>EntityList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OneEntity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignToList_0</name>
        <label>AssignToList</label>
        <locationX>402</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>EntityList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OneEntity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Copy_Target</name>
        <label>Copy Target</label>
        <locationX>402</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_To_Policy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop.Direction__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Out</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop.Product__r.Novidea_HPC__Policy__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop.Product__r.Novidea_HPC__Application__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_One_0</targetReference>
            </connector>
            <label>Copy To Policy</label>
        </rules>
        <rules>
            <name>Copy_To_Renew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop.Product__r.Novidea_HPC__Policy__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop.Product__r.Novidea_HPC__Application__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop.Entity_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Company</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_One_0_0</targetReference>
            </connector>
            <label>Copy To Renew</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Entities</name>
        <label>Found Entities ?</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>OldProduct_Had_Renewal_Data_Record_To_Copy</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_OldProduct_Related_Entities</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>OldProduct_Had_Renewal_Data_Record_To_Copy</name>
        <label>OldProduct Had Renewal Data Record To Copy ?</label>
        <locationX>182</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>Create_Record_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Old_Product.Product_Renewal_Form_Data__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ShouldCopyFieldsFromOldRenewalDataRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AccountPorductLookup</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!Loop.ProductForAccountEntity__c})),{!NewProduct},NULL)</expression>
    </formulas>
    <formulas>
        <name>ChangesInOnwershipDetails</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!Get_Old_Product.Novidea_HPC__Application__c})),{!Get_Old_Product.Product_Renewal_Form_Data__r.Changes_In_Ownership_Details__c},&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>ChangesInOwnerShipLastYear</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!Get_Old_Product.Novidea_HPC__Application__c})),TEXT({!Get_Old_Product.Product_Renewal_Form_Data__r.Changes_In_Ownership_Last_Year__c}),&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>ContactProductLookup</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!Loop.ProductForContactEntity__c})),{!NewProduct},NULL)</expression>
    </formulas>
    <formulas>
        <name>IsoActive</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!Get_Old_Product.Novidea_HPC__Application__c})),TEXT({!Get_Old_Product.Product_Renewal_Form_Data__r.Is_Iso_Active__c}),&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>IsoActiveDetails</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!Get_Old_Product.Novidea_HPC__Application__c})),{!Get_Old_Product.Product_Renewal_Form_Data__r.Iso_Active_Details__c},&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>IsoApprover</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!Get_Old_Product.Novidea_HPC__Application__c})),{!Get_Old_Product.Product_Renewal_Form_Data__r.Iso_Approver__c},&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>IsoTypeFormula</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!Get_Old_Product.Novidea_HPC__Application__c})),{!Get_Old_Product.Product_Renewal_Form_Data__r.Iso_Type__c},&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>OverSeasActivityUsa</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!Get_Old_Product.Novidea_HPC__Application__c})),TEXT({!Get_Old_Product.Product_Renewal_Form_Data__r.OverSeas_Activity_Usa__c}),&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>OverseasCountries</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!Get_Old_Product.Novidea_HPC__Application__c})),{!Get_Old_Product.Product_Renewal_Form_Data__r.OverSeas_Additional_Countries__c},&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>OverseasDetails</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!Get_Old_Product.Novidea_HPC__Application__c})),{!Get_Old_Product.Product_Renewal_Form_Data__r.OverSeas_Activity_Details__c},&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>OverseasWorldwide</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!Get_Old_Product.Novidea_HPC__Application__c})),TEXT({!Get_Old_Product.Product_Renewal_Form_Data__r.OverSeas_Activity_WorldWide_No_Usa__c}),&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>RelationToProfessionalCorp</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!Get_Old_Product.Novidea_HPC__Application__c})),TEXT({!Get_Old_Product.Product_Renewal_Form_Data__r.Relation_To_Professional_Cooporation__c}),&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>RelationToProfessionalCorpDetails</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!Get_Old_Product.Novidea_HPC__Application__c})),{!Get_Old_Product.Product_Renewal_Form_Data__r.Relation_To_Professional_Co_Details__c},&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>RetroDate</name>
        <dataType>Date</dataType>
        <expression>IF(NOT(ISBLANK({!Get_Old_Product.Novidea_HPC__Application__c})),{!Get_Old_Product.Product_Renewal_Form_Data__r.Retro_Coverage_Required_Date__c},null)</expression>
    </formulas>
    <formulas>
        <name>UsaActivityPercent</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!Get_Old_Product.Novidea_HPC__Application__c})),{!Get_Old_Product.Product_Renewal_Form_Data__r.OverSeas_Activity_Usa_Percent__c},&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>WorldWideActivityPercent</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!Get_Old_Product.Novidea_HPC__Application__c})),{!Get_Old_Product.Product_Renewal_Form_Data__r.Overseas_Activitiy_Worldwide_Percent__c},&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Doco_Clone Old Product Data Autolaunched {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Doco_Clone Old Product Data Autolaunched</label>
    <loops>
        <name>Loop</name>
        <label>Loop</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <collectionReference>Get_OldProduct_Related_Entities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_Target</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_List</name>
        <label>Create List</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>OldProduct_Had_Renewal_Data_Record_To_Copy</targetReference>
        </connector>
        <inputReference>EntityList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Record</name>
        <label>Create Record</label>
        <locationX>50</locationX>
        <locationY>1526</locationY>
        <assignRecordIdToReference>CreatedRenewalData</assignRecordIdToReference>
        <connector>
            <targetReference>Update_New_Product_With_Renewal_lookup</targetReference>
        </connector>
        <inputAssignments>
            <field>Applicant_Name__c</field>
            <value>
                <elementReference>Get_Old_Product.Product_Renewal_Form_Data__r.Applicant_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changes_In_Ownership_Details__c</field>
            <value>
                <elementReference>ChangesInOnwershipDetails</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changes_In_Ownership_Last_Year__c</field>
            <value>
                <elementReference>ChangesInOwnerShipLastYear</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country_In_Which_Insurance_Is_Needed__c</field>
            <value>
                <elementReference>Get_Old_Product.Product_Renewal_Form_Data__r.Country_In_Which_Insurance_Is_Needed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desired_Liability_Limit_As_Text__c</field>
            <value>
                <elementReference>Get_Old_Product.Product_Renewal_Form_Data__r.Desired_Liability_Limit_As_Text__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desired_Liability_Limit_If_Else__c</field>
            <value>
                <elementReference>Get_Old_Product.Product_Renewal_Form_Data__r.Desired_Liability_Limit_If_Else__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Date_Of_Professional_Insurance__c</field>
            <value>
                <elementReference>Get_Old_Product.Product_Renewal_Form_Data__r.First_Date_Of_Professional_Insurance__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Adrichal__c</field>
            <value>
                <elementReference>Get_Old_Product.Product_Renewal_Form_Data__r.Is_Adrichal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Considered_As_Main_Designer__c</field>
            <value>
                <elementReference>Get_Old_Product.Product_Renewal_Form_Data__r.Is_Considered_As_Main_Designer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Iso_Active__c</field>
            <value>
                <elementReference>IsoActive</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Main_Designer_Extra_Insurance__c</field>
            <value>
                <elementReference>Get_Old_Product.Product_Renewal_Form_Data__r.Is_Main_Designer_Extra_Insurance__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Iso_Active_Details__c</field>
            <value>
                <elementReference>IsoActiveDetails</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Iso_Approver__c</field>
            <value>
                <elementReference>IsoApprover</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Iso_Type__c</field>
            <value>
                <elementReference>IsoTypeFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OverSeas_Activity_Details__c</field>
            <value>
                <elementReference>OverseasDetails</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OverSeas_Activity_Usa_Percent__c</field>
            <value>
                <elementReference>UsaActivityPercent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OverSeas_Activity_Usa__c</field>
            <value>
                <elementReference>OverSeasActivityUsa</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OverSeas_Activity_WorldWide_No_Usa__c</field>
            <value>
                <elementReference>OverseasWorldwide</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OverSeas_Additional_Countries__c</field>
            <value>
                <elementReference>OverseasCountries</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Overseas_Activitiy_Worldwide_Percent__c</field>
            <value>
                <elementReference>WorldWideActivityPercent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Relation_To_Professional_Co_Details__c</field>
            <value>
                <elementReference>RelationToProfessionalCorpDetails</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Relation_To_Professional_Cooporation__c</field>
            <value>
                <elementReference>RelationToProfessionalCorp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Retro_Coverage_Required_Date__c</field>
            <value>
                <elementReference>RetroDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Retroactive_Coverage_Required__c</field>
            <value>
                <elementReference>Get_Old_Product.Product_Renewal_Form_Data__r.Retroactive_Coverage_Required__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Product_Id__c</field>
            <value>
                <elementReference>NewProduct</elementReference>
            </value>
        </inputAssignments>
        <object>Product_Additional_Form_Data__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Record_0</name>
        <label>Create Record</label>
        <locationX>314</locationX>
        <locationY>1526</locationY>
        <assignRecordIdToReference>CreatedRenewalData</assignRecordIdToReference>
        <connector>
            <targetReference>Update_New_Product_With_Renewal_lookup</targetReference>
        </connector>
        <inputAssignments>
            <field>Source_Product_Id__c</field>
            <value>
                <elementReference>NewProduct</elementReference>
            </value>
        </inputAssignments>
        <object>Product_Additional_Form_Data__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Old_Product</name>
        <label>Get Old Product</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_OldProduct_Related_Entities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OldProduct</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Novidea_HPC__Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OldProduct_Related_Entities</name>
        <label>Get OldProduct Related Entities</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Entities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OldProduct</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product_Related_Entity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_New_Product_With_Renewal_lookup</name>
        <label>Update New Product With Renewal lookup</label>
        <locationX>182</locationX>
        <locationY>1742</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewProduct</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Product_Renewal_Form_Data__c</field>
            <value>
                <elementReference>CreatedRenewalData</elementReference>
            </value>
        </inputAssignments>
        <object>Novidea_HPC__Product__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Old_Product</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CreatedRenewalData</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EntityList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product_Related_Entity__c</objectType>
    </variables>
    <variables>
        <name>NewProduct</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OldProduct</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OneEntity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product_Related_Entity__c</objectType>
    </variables>
    <variables>
        <name>OneRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product_Additional_Form_Data__c</objectType>
    </variables>
    <variables>
        <name>ShouldCopyFieldsFromOldRenewalDataRecord</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
