force-app/main/default/flows/Doco_Feedback_Recieved_After_Creation_Sum_All_Fields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_On_Record</name>
        <label>Assign On Record</label>
        <locationX>440</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>$Record.Ssn__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SsnFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FirstNameFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LastNameFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Hasmacha_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HasharaYearFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Professional_Degree__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProfessionalDegreeFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Entity_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EntityType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Addition_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RoleFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Addition_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AdditionReason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Company_Hp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HpFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Company_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CompanyNameFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Vetek_In_Years__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VetekInYears</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Insured_Share__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InsuredShareFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>AdditionReason</name>
        <dataType>String</dataType>
        <expression>IF({!Loop.doco__Interactive_Field__r.doco__Question__c}=&apos;Name&apos;,{!Loop.doco__Response__c},{!$Record.Addition_Reason__c})</expression>
    </formulas>
    <formulas>
        <name>CompanyNameFormula</name>
        <dataType>String</dataType>
        <expression>IF({!Loop.doco__Interactive_Field__r.doco__Question__c}=&apos;Name&apos;,{!Loop.doco__Response__c},{!$Record.Company_Name__c})</expression>
    </formulas>
    <formulas>
        <name>EntityType</name>
        <dataType>String</dataType>
        <expression>IF({!Loop.doco__Interactive_Field__r.doco__Question__c}=&apos;SSN&apos; &amp;&amp; LEN({!Loop.doco__Response__c}) = 9,&quot;Employee&quot;,
IF({!Loop.doco__Interactive_Field__r.doco__Question__c}=&apos;Bn Number&apos; &amp;&amp; LEN({!Loop.doco__Response__c}) = 9,&quot;Company&quot;,
text({!$Record.Entity_Type__c})))</expression>
    </formulas>
    <formulas>
        <name>FirstNameFormula</name>
        <dataType>String</dataType>
        <expression>IF({!Loop.doco__Interactive_Field__r.doco__Question__c}=&apos;First Name&apos;,{!Loop.doco__Response__c},{!$Record.First_Name__c})</expression>
    </formulas>
    <formulas>
        <name>HasharaYearFormula</name>
        <dataType>String</dataType>
        <expression>IF({!Loop.doco__Interactive_Field__r.doco__Question__c}=&apos;Hasmacha Year&apos;,{!Loop.doco__Response__c},{!$Record.Hasmacha_Year__c})</expression>
    </formulas>
    <formulas>
        <name>HpFormula</name>
        <dataType>String</dataType>
        <expression>IF({!Loop.doco__Interactive_Field__r.doco__Question__c}=&apos;Bn Number&apos;,{!Loop.doco__Response__c},{!$Record.Company_Hp__c})</expression>
    </formulas>
    <formulas>
        <name>InsuredShareFormula</name>
        <dataType>String</dataType>
        <expression>IF({!Loop.doco__Interactive_Field__r.Name}=&apos;Insured Share&apos;,{!Loop.doco__Response__c},{!$Record.Insured_Share__c})</expression>
    </formulas>
    <formulas>
        <name>LastNameFormula</name>
        <dataType>String</dataType>
        <expression>IF({!Loop.doco__Interactive_Field__r.doco__Question__c}=&apos;Last Name&apos;,{!Loop.doco__Response__c},{!$Record.Last_Name__c})</expression>
    </formulas>
    <formulas>
        <name>ProfessionalDegreeFormula</name>
        <dataType>String</dataType>
        <expression>IF({!Loop.doco__Interactive_Field__r.doco__Question__c}=&apos;Professional Degree&apos;,{!Loop.doco__Response__c},{!$Record.Professional_Degree__c})</expression>
    </formulas>
    <formulas>
        <name>RoleFormula</name>
        <dataType>String</dataType>
        <expression>IF({!Loop.doco__Interactive_Field__r.doco__Question__c}=&apos;Role&apos;,{!Loop.doco__Response__c},TEXT({!$Record.Role__c}))</expression>
    </formulas>
    <formulas>
        <name>SsnFormula</name>
        <dataType>String</dataType>
        <expression>IF({!Loop.doco__Interactive_Field__r.doco__Question__c}=&apos;SSN&apos;,{!Loop.doco__Response__c},{!$Record.Ssn__c})</expression>
    </formulas>
    <formulas>
        <name>VetekInYears</name>
        <dataType>String</dataType>
        <expression>IF({!Loop.doco__Interactive_Field__r.doco__Question__c}=&apos;Vetek in Years&apos;,{!Loop.doco__Response__c},{!$Record.Vetek_In_Years__c})</expression>
    </formulas>
    <interviewLabel>Doco_Feedback Recieved After Creation Sum All Fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Doco_Feedback Recieved After Creation Sum All Fields</label>
    <loops>
        <name>Loop</name>
        <label>Loop</label>
        <locationX>352</locationX>
        <locationY>408</locationY>
        <collectionReference>Get_All_Feedback_Response_Of_Me</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_On_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Feedback_Response_Of_Me</name>
        <label>Get All Feedback Response Of Me</label>
        <locationX>352</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>doco__Interactive_Submission__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>doco__Interactive_Response__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update</name>
        <label>Update</label>
        <locationX>352</locationX>
        <locationY>744</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>doco__Interactive_Submission__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Calculate_All_Values_For_Record_From_Related</name>
            <connector>
                <targetReference>Get_All_Feedback_Response_Of_Me</targetReference>
            </connector>
            <label>Calculate All Values For Record From Related</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
