force-app/main/default/flows/Doco_Triggered_From_Contact_Send_Email_Or_Sms_To_Client.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email1</name>
        <label>Send Email</label>
        <locationX>308</locationX>
        <locationY>600</locationY>
        <actionName>Contact.WiseMeetingNew</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Assign_Email_Done</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.WiseMeetingNew</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Email_Done</name>
        <label>Assign Email Done</label>
        <locationX>308</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>EmailDone</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Mobile</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_SmsConsiderAsDone</name>
        <label>SmsConsiderAsDone</label>
        <locationX>440</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>SmsDone</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Create_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SmsConsiderAsDone</name>
        <label>SmsConsiderAsDone</label>
        <locationX>176</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>SmsDone</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_EMail</name>
        <label>Has EMail ?</label>
        <locationX>440</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Has_Mobile</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Last_Signature</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Mobile</name>
        <label>Has Mobile ?</label>
        <locationX>440</locationX>
        <locationY>900</locationY>
        <defaultConnector>
            <targetReference>Update_Contact_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Last_Signature</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EmailDone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SmsConsiderAsDone</targetReference>
            </connector>
            <label>Yes, Only</label>
        </rules>
        <rules>
            <name>Yes_Email_Done</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Last_Signature</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EmailDone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_SmsConsiderAsDone</targetReference>
            </connector>
            <label>Yes, Email Done</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>OneMinute</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+1/1440</expression>
    </formulas>
    <formulas>
        <name>SignatureClientLink</name>
        <dataType>String</dataType>
        <expression>{!Get_Last_Signature.doco__Client_URL__c}</expression>
    </formulas>
    <interviewLabel>Doco Triggered From Product Send Email Or Sms To Client {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Doco Triggered From Contact Send Email Or Sms To Client</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Task</name>
        <label>Create Task</label>
        <locationX>440</locationX>
        <locationY>1116</locationY>
        <connector>
            <targetReference>Update_Signature</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>SMS:HowdenWiseSmsForMeeting</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NOVU__SMS__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>הזמנה לקביעת פגישה עיתית - האודן וייז</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.AgentWise_IL__Household__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>176</locationX>
        <locationY>1224</locationY>
        <connector>
            <targetReference>Update_Signature</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>SMS:HowdenWiseSmsForMeeting</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NOVU__SMS__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>הזמנה לקביעת פגישה עיתית - האודן וייז</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.AgentWise_IL__Household__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Last_Signature</name>
        <label>Get Last Signature</label>
        <locationX>440</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_EMail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>doco__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>doco__Created__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>doco__Signature__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Contact</name>
        <label>Update Contact</label>
        <locationX>308</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Send_Email1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Doco_Wise_Sender__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Signature_Link_For_Sms_To_Client__c</field>
            <value>
                <elementReference>SignatureClientLink</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>176</locationX>
        <locationY>1116</locationY>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Doco_Wise_Sender__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Signature_Link_For_Sms_To_Client__c</field>
            <value>
                <elementReference>SignatureClientLink</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_0</name>
        <label>Update Contact</label>
        <locationX>704</locationX>
        <locationY>1008</locationY>
        <connector>
            <targetReference>Update_Signature</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Doco_Wise_Sender__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Send_Doco_Flag__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Signature</name>
        <label>Update Signature</label>
        <locationX>440</locationX>
        <locationY>1416</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Last_Signature.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Document_Trigger__c</field>
            <value>
                <stringValue>פנית שירות לפגישה תקופתית</stringValue>
            </value>
        </inputAssignments>
        <object>doco__Signature__c</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Send_Doco_Flag__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Send_Doco_Form_Time__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>X1_Minute_Wait</name>
            <connector>
                <targetReference>Get_Last_Signature</targetReference>
            </connector>
            <label>1 Minute Wait</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>Send_Doco_Form_Time__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;font-size: 14px; font-family: Arial, sans-serif;&quot;&gt; &lt;/strong&gt;&lt;strong style=&quot;font-size: 14px; font-family: Arial, sans-serif; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.LastName}&lt;/strong&gt;&lt;strong style=&quot;font-size: 14px; font-family: Arial, sans-serif;&quot;&gt; {!$Record.FirstName} &lt;/strong&gt;&lt;strong style=&quot;font-size: 14px; font-family: Arial, sans-serif; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;שלום רב&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;font-size: 14px; font-family: Arial, sans-serif;&quot;&gt;כסוכנות הביטוח שלך, חשוב לנו להיות איתך בקשר ולהפגש איתך אחת לשנתיים לפחות על מנת להתאים את התכניות שלך לצרכים המשתנים.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;font-size: 14px; font-family: Arial, sans-serif;&quot;&gt;במידה ואת/ה מעוניין/נת, נשמח להזמין אותך לפגישה אישית לניתוח תיק הביטוח הפנסיוני/ בריאות / פיננסי שלך.&lt;/strong&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;font-size: 14px; font-family: Arial, sans-serif;&quot;&gt;בכדי שנוכל לתאם מולך , אנא מלא/י את הטופס הבא וניצור איתך קשר&lt;/strong&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;: &lt;/strong&gt;&lt;a href=&quot;{!SignatureClientLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;&lt;strong&gt;למילוי טופס&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;בברכה&lt;/strong&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Howden Wise&lt;/strong&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: right;&quot;&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>WarBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;font-size: 14px; font-family: Arial, sans-serif;&quot;&gt; &lt;/strong&gt;&lt;strong style=&quot;font-size: 14px; font-family: Arial, sans-serif; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.LastName}&lt;/strong&gt;&lt;strong style=&quot;font-size: 14px; font-family: Arial, sans-serif;&quot;&gt; {!$Record.FirstName} &lt;/strong&gt;&lt;strong style=&quot;font-size: 14px; font-family: Arial, sans-serif; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;שלום רב&lt;/strong&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;font-size: 10.5pt; font-family: Arial, sans-serif;&quot;&gt;ימים אלו הם ימים של מלחמה במדינת ישראל.&lt;/strong&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;font-size: 10.5pt; font-family: Arial, sans-serif;&quot;&gt;כידוע, מלחמה היא אירוע מורכב גם ברמה הכלכלית (ברמת המדינה וברמת הפרט)&amp;nbsp;אשר מצריך התבוננות מותאמת למצב בכל הנוגע לחסכון הפנסיוני/ פיננסי שלנו, ובנוגע לבדיקת הכיסויים הביטוחיים הרלוונטיים שיש לכל אחד מאתנו.&lt;/strong&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;font-size: 10.5pt; font-family: Arial, sans-serif;&quot;&gt;כסוכנות הביטוח שלך, אנו מציעים לך להיפגש עמנו על מנת להתאים את התכניות שלך לצרכים המשתנים ולמציאות המורכבת שבה אנו נמצאים.&lt;/strong&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;font-size: 10.5pt; font-family: Arial, sans-serif;&quot;&gt;במידה ואת/ה מעוניין/נת, נשמח להזמין אותך לפגישה אישית לניתוח תיק הביטוח הפנסיוני/ בריאות / פיננסי שלך.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;font-size: 14px; font-family: Arial, sans-serif;&quot;&gt;בכדי שנוכל לתאם מולך , אנא מלא/י את הטופס הבא וניצור איתך קשר&lt;/strong&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;: &lt;/strong&gt;&lt;a href=&quot;https://howdenil.lightning.force.com/builder_platform_interaction/%7B!SignatureClientLink%7D&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;&lt;strong&gt;למילוי טופס&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;בברכה&lt;/strong&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Howden Wise&lt;/strong&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: right;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>EmailDone</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SmsDone</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
