force-app/main/default/flows/Doco_Autolaunched_Send_Email_Or_Sms_To_Client.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendMail1</name>
        <label>SendMail1</label>
        <locationX>116</locationX>
        <locationY>398</locationY>
        <actionName>doco__Signature__c.ReNewProfLiabilityAppl</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Assign_Email_Done</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_Last_Signature.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>doco__Signature__c.ReNewProfLiabilityAppl</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SendMail1_1</name>
        <label>SendMail1</label>
        <locationX>380</locationX>
        <locationY>398</locationY>
        <actionName>doco__Signature__c.NewProfLiabilityAppl</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Assign_Email_Done_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_Last_Signature.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>doco__Signature__c.NewProfLiabilityAppl</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SendMail2</name>
        <label>SendMail2</label>
        <locationX>380</locationX>
        <locationY>854</locationY>
        <actionName>doco__Signature__c.NewProfLiabilityAppl2</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Copy_2_of_Assign_Email_Done</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_Last_Signature.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>doco__Signature__c.NewProfLiabilityAppl2</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SendMail2_1</name>
        <label>SendMail2</label>
        <locationX>116</locationX>
        <locationY>854</locationY>
        <actionName>doco__Signature__c.ReNewProfLiabilityAppl2</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Assign_Email_Done1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_Last_Signature.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>doco__Signature__c.ReNewProfLiabilityAppl2</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Email_Done</name>
        <label>Assign Email Done</label>
        <locationX>116</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>EmailDone</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Work_EMail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Email_Done1</name>
        <label>Assign Email Done</label>
        <locationX>116</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>EmailDone</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Mobile</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Email_Done_0</name>
        <label>Assign Email Done</label>
        <locationX>380</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>EmailDone</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Work_EMail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Email_Done</name>
        <label>Assign Email Done</label>
        <locationX>380</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>EmailDone</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Mobile</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SmsConsiderAsDone</name>
        <label>SmsConsiderAsDone</label>
        <locationX>50</locationX>
        <locationY>1310</locationY>
        <assignmentItems>
            <assignToReference>SmsDone</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SmsConsiderAsDone_0</name>
        <label>SmsConsiderAsDone</label>
        <locationX>314</locationX>
        <locationY>1310</locationY>
        <assignmentItems>
            <assignToReference>SmsDone</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Product_0_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Email_Sent</name>
        <label>Only Email Was Sent ?</label>
        <locationX>710</locationX>
        <locationY>1310</locationY>
        <defaultConnector>
            <targetReference>Clear_Flag</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailDone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Product_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Mail</name>
        <label>Has Mail ?</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Has_Work_EMail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Renew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductRec.Novidea_HPC__Application__r.Novidea_HPC__Account__r.Renewals_Contact__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Last_Signature</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Last_Signature.Contact_First_Email_Address__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProductRec.Novidea_HPC__Application__r.Novidea_HPC__Required_Policy_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renew</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendMail1</targetReference>
            </connector>
            <label>Yes, Renew</label>
        </rules>
        <rules>
            <name>Yes_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductRec.Novidea_HPC__Application__r.Novidea_HPC__Account__r.Renewals_Contact__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProductRec.Novidea_HPC__Application__r.Novidea_HPC__Required_Policy_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Last_Signature</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Last_Signature.Contact_First_Email_Address__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendMail1_1</targetReference>
            </connector>
            <label>Yes; New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Mobile</name>
        <label>Has Mobile ?</label>
        <locationX>380</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Email_Sent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Renew0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductRec.Renewal_Contact_Mobile_Phone__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Last_Signature</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProductRec.Novidea_HPC__Application__r.Novidea_HPC__Required_Policy_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renew</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SmsConsiderAsDone</targetReference>
            </connector>
            <label>Yes, Renew</label>
        </rules>
        <rules>
            <name>Yes_New0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductRec.Renewal_Contact_Mobile_Phone__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Last_Signature</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProductRec.Novidea_HPC__Application__r.Novidea_HPC__Required_Policy_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SmsConsiderAsDone_0</targetReference>
            </connector>
            <label>Yes, New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Work_EMail</name>
        <label>Has Work EMail ?</label>
        <locationX>380</locationX>
        <locationY>734</locationY>
        <defaultConnector>
            <targetReference>Has_Mobile</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes_Renew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductRec.Novidea_HPC__Application__r.Novidea_HPC__Account__r.Renewals_Contact__r.Work_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Last_Signature</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Last_Signature.Contact_Seoond_Email_Address__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProductRec.Novidea_HPC__Application__r.Novidea_HPC__Required_Policy_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renew</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendMail2_1</targetReference>
            </connector>
            <label>Yes, Renew</label>
        </rules>
        <rules>
            <name>Copy_1_of_Yes_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductRec.Novidea_HPC__Application__r.Novidea_HPC__Account__r.Renewals_Contact__r.Work_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProductRec.Novidea_HPC__Application__r.Novidea_HPC__Required_Policy_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Last_Signature</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Last_Signature.Contact_Seoond_Email_Address__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendMail2</targetReference>
            </connector>
            <label>Yes; New</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>OneMinute</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+1/1440</expression>
    </formulas>
    <formulas>
        <name>SignatureClientLink</name>
        <dataType>String</dataType>
        <expression>{!Get_Last_Signature.doco__Client_URL__c}</expression>
    </formulas>
    <interviewLabel>Doco Autolaunched Send Email Or Sms To Client {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Doco Autolaunched Send Email Or Sms To Client</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>50</locationX>
        <locationY>1550</locationY>
        <connector>
            <targetReference>Clear_Flag</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>SMS:SmsForDocomotionRenew</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NOVU__SMS__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>משלוח מסרון חידוש ביטוח א. מקצועית</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>ProductRec.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>ProductRec.Novidea_HPC__Application__r.Novidea_HPC__Account__r.Renewals_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_0</name>
        <label>Create Task</label>
        <locationX>314</locationX>
        <locationY>1550</locationY>
        <connector>
            <targetReference>Clear_Flag</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>SMS:SmsForDocomotionNew</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NOVU__SMS__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>משלוח מסרון ביטוח א. מקצועית</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>ProductRec.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>ProductRec.Novidea_HPC__Application__r.Novidea_HPC__Account__r.Renewals_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Last_Signature</name>
        <label>Get Last Signature</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Mail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProductRec.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>doco__Created__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>doco__Signature__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Clear_Flag</name>
        <label>Clear Flag</label>
        <locationX>380</locationX>
        <locationY>1766</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProductRec.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Send_Doco_Flag__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Novidea_HPC__Product__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Product</name>
        <label>Update Product</label>
        <locationX>50</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProductRec.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Doco_DateTime_Renew_Sent_To_Client__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Signature_Link_For_Sms_To_Client__c</field>
            <value>
                <elementReference>SignatureClientLink</elementReference>
            </value>
        </inputAssignments>
        <object>Novidea_HPC__Product__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Product_0</name>
        <label>Update Product</label>
        <locationX>578</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Clear_Flag</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProductRec.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Doco_DateTime_Renew_Sent_To_Client__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Novidea_HPC__Product__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Product_0_0</name>
        <label>Update Product</label>
        <locationX>314</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Create_Task_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProductRec.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Doco_DateTime_Renew_Sent_To_Client__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Signature_Link_For_Sms_To_Client__c</field>
            <value>
                <elementReference>SignatureClientLink</elementReference>
            </value>
        </inputAssignments>
        <object>Novidea_HPC__Product__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Last_Signature</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>EmailDone</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProductRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Novidea_HPC__Product__c</objectType>
    </variables>
    <variables>
        <name>SmsDone</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
