force-app/main/default/flows/Doco_Triggered_Send_Email_Or_Sms_To_Client.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_Owner</name>
        <label>Notify Owner</label>
        <locationX>341</locationX>
        <locationY>2472</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Clear_Flag</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>DocoSentOwnerNotifyBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>טופס דיגיטלי נשלח ללקוח</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Mail1</name>
        <label>Send Mail1</label>
        <locationX>473</locationX>
        <locationY>528</locationY>
        <actionName>doco__Signature__c.NewProfLiabilityAppl</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Assign_Email_Done_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_Last_Signature.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>doco__Signature__c.NewProfLiabilityAppl</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SendMail1Renew</name>
        <label>SendMail1Renew</label>
        <locationX>209</locationX>
        <locationY>528</locationY>
        <actionName>doco__Signature__c.ReNewProfLiabilityAppl</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Assign_Email_Done</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_Last_Signature.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>doco__Signature__c.ReNewProfLiabilityAppl</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SendMail2</name>
        <label>SendMail2</label>
        <locationX>473</locationX>
        <locationY>984</locationY>
        <actionName>doco__Signature__c.NewProfLiabilityAppl2</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Assign_Email_Done_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_Last_Signature.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>doco__Signature__c.NewProfLiabilityAppl2</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SendMail2_Renew</name>
        <label>SendMail2-Renew</label>
        <locationX>209</locationX>
        <locationY>984</locationY>
        <actionName>doco__Signature__c.ReNewProfLiabilityAppl2</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Assign_Email_Done_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_Last_Signature.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>doco__Signature__c.ReNewProfLiabilityAppl2</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Email_Done</name>
        <label>Assign Email Done</label>
        <locationX>209</locationX>
        <locationY>648</locationY>
        <assignmentItems>
            <assignToReference>EmailDone</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Work_EMail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Email_Done_0</name>
        <label>Assign Email Done</label>
        <locationX>473</locationX>
        <locationY>648</locationY>
        <assignmentItems>
            <assignToReference>EmailDone</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Work_EMail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Email_Done_0_0</name>
        <label>Assign Email Done</label>
        <locationX>473</locationX>
        <locationY>1104</locationY>
        <assignmentItems>
            <assignToReference>EmailDone</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Mobile</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Email_Done_0_0_0</name>
        <label>Assign Email Done</label>
        <locationX>209</locationX>
        <locationY>1104</locationY>
        <assignmentItems>
            <assignToReference>EmailDone</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Mobile</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Mobile_Done</name>
        <label>Assign Mobile Done</label>
        <locationX>407</locationX>
        <locationY>1800</locationY>
        <assignmentItems>
            <assignToReference>MobileDone</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Done</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Mobile_Done</name>
        <label>Assign Mobile Done</label>
        <locationX>143</locationX>
        <locationY>1800</locationY>
        <assignmentItems>
            <assignToReference>MobileDone</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Done</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SmsConsiderAsDone</name>
        <label>SmsConsiderAsDone</label>
        <locationX>143</locationX>
        <locationY>1440</locationY>
        <assignmentItems>
            <assignToReference>SmsDone</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SmsConsiderAsDone_0</name>
        <label>SmsConsiderAsDone</label>
        <locationX>407</locationX>
        <locationY>1440</locationY>
        <assignmentItems>
            <assignToReference>SmsDone</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Product_0_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Email_Done</name>
        <label>Email Done ?</label>
        <locationX>473</locationX>
        <locationY>2016</locationY>
        <defaultConnector>
            <targetReference>Sent_To_Client</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Renew1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailDone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Application__r.Novidea_HPC__Required_Policy_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renew</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Create_Task</targetReference>
            </connector>
            <label>Yes, Renew</label>
        </rules>
        <rules>
            <name>Yes_New1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailDone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Application__r.Novidea_HPC__Required_Policy_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Create_Email_Task</targetReference>
            </connector>
            <label>Yes, New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Sent</name>
        <label>Only Email Was Sent ?</label>
        <locationX>803</locationX>
        <locationY>1440</locationY>
        <defaultConnector>
            <targetReference>Email_Done</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailDone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Product_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_EMail</name>
        <label>Has EMail ?</label>
        <locationX>473</locationX>
        <locationY>408</locationY>
        <defaultConnector>
            <targetReference>Has_Work_EMail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Renew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Application__r.Novidea_HPC__Account__r.Renewals_Contact__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Last_Signature</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Application__r.Novidea_HPC__Required_Policy_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renew</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Last_Signature.Contact_First_Email_Address__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendMail1Renew</targetReference>
            </connector>
            <label>Yes, Renew</label>
        </rules>
        <rules>
            <name>Yes_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Application__r.Novidea_HPC__Account__r.Renewals_Contact__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Application__r.Novidea_HPC__Required_Policy_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Last_Signature</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Last_Signature.Contact_First_Email_Address__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Mail1</targetReference>
            </connector>
            <label>Yes; New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Mobile</name>
        <label>Has Mobile ?</label>
        <locationX>473</locationX>
        <locationY>1320</locationY>
        <defaultConnector>
            <targetReference>Email_Sent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Renew0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Renewal_Contact_Mobile_Phone__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Last_Signature</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Application__r.Novidea_HPC__Required_Policy_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renew</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SmsConsiderAsDone</targetReference>
            </connector>
            <label>Yes, Renew</label>
        </rules>
        <rules>
            <name>Yes_New0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Renewal_Contact_Mobile_Phone__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Last_Signature</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Application__r.Novidea_HPC__Required_Policy_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SmsConsiderAsDone_0</targetReference>
            </connector>
            <label>Yes, New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Work_EMail</name>
        <label>Has Work EMail ?</label>
        <locationX>473</locationX>
        <locationY>864</locationY>
        <defaultConnector>
            <targetReference>Has_Mobile</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Renew_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Application__r.Novidea_HPC__Account__r.Renewals_Contact__r.Work_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Last_Signature</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Application__r.Novidea_HPC__Required_Policy_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renew</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Last_Signature.Contact_Seoond_Email_Address__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendMail2_Renew</targetReference>
            </connector>
            <label>Yes, Renew</label>
        </rules>
        <rules>
            <name>Yes_New_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Application__r.Novidea_HPC__Account__r.Renewals_Contact__r.Work_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Application__r.Novidea_HPC__Required_Policy_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Last_Signature</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Last_Signature.Contact_Seoond_Email_Address__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendMail2</targetReference>
            </connector>
            <label>Yes; New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sent_To_Client</name>
        <label>Sent To Client ?</label>
        <locationX>473</locationX>
        <locationY>2352</locationY>
        <defaultConnector>
            <targetReference>Clear_Flag</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Sent</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>EmailDone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MobileDone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Owner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>EmailTaskNewSubject</name>
        <dataType>String</dataType>
        <expression>&quot;משלוח מייל הצעת ביטוח א. מקצועית&quot; &amp; &quot; - &quot; &amp; {!$Record.Novidea_HPC__Application__r.Novidea_HPC__Account__r.Renewals_Contact__r.Email}</expression>
    </formulas>
    <formulas>
        <name>EmailTaskRenewSubject</name>
        <dataType>String</dataType>
        <expression>&quot;משלוח מייל חידוש ביטוח א. מקצועית&quot; &amp; &quot; - &quot; &amp; {!$Record.Novidea_HPC__Application__r.Novidea_HPC__Account__r.Renewals_Contact__r.Email}</expression>
    </formulas>
    <formulas>
        <name>OneMinute</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+1/1440</expression>
    </formulas>
    <formulas>
        <name>SignatureClientLink</name>
        <dataType>String</dataType>
        <expression>{!Get_Last_Signature.doco__Client_URL__c}</expression>
    </formulas>
    <interviewLabel>Doco Autolaunched Send Email Or Sms To Client {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Doco Triggered From Product Send Email Or Sms To Client</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Email_Task</name>
        <label>Create Email Task</label>
        <locationX>473</locationX>
        <locationY>2136</locationY>
        <connector>
            <targetReference>Sent_To_Client</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>EmailTaskNewSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Novidea_HPC__Application__r.Novidea_HPC__Account__r.Renewals_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Create_Task</name>
        <label>Create Email Task</label>
        <locationX>209</locationX>
        <locationY>2136</locationY>
        <connector>
            <targetReference>Sent_To_Client</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>EmailTaskRenewSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Novidea_HPC__Application__r.Novidea_HPC__Account__r.Renewals_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>143</locationX>
        <locationY>1680</locationY>
        <connector>
            <targetReference>Copy_1_of_Assign_Mobile_Done</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>SMS:SmsForDocomotionRenew</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NOVU__SMS__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>משלוח מסרון חידוש ביטוח א. מקצועית</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Novidea_HPC__Application__r.Novidea_HPC__Account__r.Renewals_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_0</name>
        <label>Create Task</label>
        <locationX>407</locationX>
        <locationY>1680</locationY>
        <connector>
            <targetReference>Assign_Mobile_Done</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>SMS:SmsForDocomotionNew</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NOVU__SMS__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>משלוח מסרון ביטוח א. מקצועית</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Novidea_HPC__Application__r.Novidea_HPC__Account__r.Renewals_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Last_Signature</name>
        <label>Get Last Signature</label>
        <locationX>473</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_EMail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>doco__Created__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>doco__Signature__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Clear_Flag</name>
        <label>Clear Flag</label>
        <locationX>473</locationX>
        <locationY>2688</locationY>
        <inputAssignments>
            <field>Send_Doco_Flag__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Product</name>
        <label>Update Product</label>
        <locationX>143</locationX>
        <locationY>1560</locationY>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Doco_DateTime_Renew_Sent_To_Client__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Signature_Link_For_Sms_To_Client__c</field>
            <value>
                <elementReference>SignatureClientLink</elementReference>
            </value>
        </inputAssignments>
        <object>Novidea_HPC__Product__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Product_0</name>
        <label>Update Product</label>
        <locationX>671</locationX>
        <locationY>1560</locationY>
        <connector>
            <targetReference>Email_Done</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Doco_DateTime_Renew_Sent_To_Client__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Novidea_HPC__Product__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Product_0_0</name>
        <label>Update Product</label>
        <locationX>407</locationX>
        <locationY>1560</locationY>
        <connector>
            <targetReference>Create_Task_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Doco_DateTime_Renew_Sent_To_Client__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Signature_Link_For_Sms_To_Client__c</field>
            <value>
                <elementReference>SignatureClientLink</elementReference>
            </value>
        </inputAssignments>
        <object>Novidea_HPC__Product__c</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Send_Doco_Flag__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Send_Doco_Form_Time__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Novidea_HPC__Product__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>X1_Minute_Wait</name>
            <connector>
                <targetReference>Get_Last_Signature</targetReference>
            </connector>
            <label>1 Minute Wait</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>Send_Doco_Form_Time__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>DocoSentOwnerNotifyBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;direction: rtl;&quot;&gt;טופס דיגיטלי של אחריות מקצועית נשלח ללקוח זה:&lt;/p&gt;&lt;p style=&quot;direction: rtl;&quot;&gt;{!Get_Last_Signature.Product__r.Novidea_HPC__Application__r.Novidea_HPC__Account__r.Name}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>NewBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p class=&quot;ql-direction-rtl&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;מבוטח/ת יקרה/ה !&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot;&gt;&lt;span style=&quot;font-size: 14px; background-color: transparent; color: rgb(0, 0, 0);&quot;&gt;בהמשך לשיחתנו הנעימה, מצ&quot;ב לעיונך קישור לטופס הצעה מקוון - דיגיטלי. לצורך גיבוש הצעת מחיר מתאימה בכפוף למועדי .הכיסוי הרלוונטיים המבוקשים, נודה למילוי הטופס והשבתו&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot;&gt;&lt;span style=&quot;font-size: 14px; background-color: transparent; color: rgb(0, 0, 0);&quot;&gt;.לנוחיותך, ניתן להשיב את הטופס לאחר מילוי, באמצעות דוא&quot;ל(במחשב/בנייד)&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot;&gt;&lt;u style=&quot;font-size: 14px; background-color: transparent; color: rgb(0, 0, 0);&quot;&gt;לתשומת לבך, יש למלא בטופס, את קבלת העיסוקים המתאימה לתחום עיסוקך בלבד !&lt;/u&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot;&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;אנו עומדים לשרותכם לכל שאלה ו/או הבהרה נדרשת למילוי הטופס.&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot;&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;תודה והמשך שיתוף פעולה פורה :)&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;למילוי הטופס לחץ על הלינק המצורף: &lt;/span&gt;&lt;a href=&quot;{!SignatureClientLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;לינק&lt;/a&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;בברכה,&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!$User.Signature}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: right;&quot;&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>RenewBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p class=&quot;ql-direction-rtl&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;מבוטח/ת יקרה/ה ! &lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot;&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 14px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;ביום&amp;nbsp;{!$Record.Previous_Policy_Expiration_Date_As_Text__c} יפוג תוקפה של הפוליסה לביטוח אחריות מקצועית שברשותך.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; במטרה לייעל את השירות והנוחות בהליך חידוש פוליסת הביטוח, אנו שמחים לעדכן, כי שידרגנו עבורך את טופס ההצעה, לטופס מקוון - דיגיטלי.&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;לצורך גיבוש הצעת מחיר מתאימה לחידוש הפוליסה בכפוף למועדי הכיסוי הרלוונטיים, נודה למילוי הטופס והשבתו באמצעים המפורטים להלן.&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;לנוחיותך, ניתן להשיב את הטופס לאחר מילוי, באמצעות דוא&quot;ל(במחשב/בנייד).&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;לתשומת לבכם, יש למלא בטופס, את טבלת העיסוקים המתאימה לתחום עיסוקכם בלבד !&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: transparent; font-size: 14px;&quot;&gt;אנו עומדים לשרותכם לכל שאלה ו/או הבהרה נדרשת למילוי הטופס.&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: transparent; font-size: 14px;&quot;&gt;תודה והמשך שיתוף פעולה פורה :)&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;למילוי הטופס לחץ על הלינק המצורף: &lt;/span&gt;&lt;a href=&quot;{!SignatureClientLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;לינק&lt;/a&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;בברכה,&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!$User.Signature}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: right;&quot;&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>EmailDone</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MobileDone</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SmsDone</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
