force-app/main/default/flows/Doco_Product_Renewal_Data_On_Change_Industry_Generate_New_Form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_Owner</name>
        <label>Notify Owner</label>
        <locationX>242</locationX>
        <locationY>648</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Product.Novidea_HPC__Application__r.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>שגיאה בהפקת טופס חידוש ללקוח</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Is_Success</name>
        <label>Is Success</label>
        <locationX>374</locationX>
        <locationY>528</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Success</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Get_Product.Novidea_HPC__Application__r.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Product.Novidea_HPC__Application__r.Owner:User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Owner</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <interviewLabel>Doco_Product Renewal Data On Change Industry Generate New Form {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Doco_Product Renewal Data On Change Industry Generate New Form</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Product</name>
        <label>Get Product</label>
        <locationX>374</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Generate_New_Form</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Source_Product_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Novidea_HPC__Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Change_Industry__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Product_Additional_Form_Data__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>WaitAMinute</name>
            <connector>
                <targetReference>Get_Product</targetReference>
            </connector>
            <label>WaitAMinute</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>Generate_New_Form</name>
        <label>Generate New Form</label>
        <locationX>374</locationX>
        <locationY>408</locationY>
        <connector>
            <targetReference>Is_Success</targetReference>
        </connector>
        <flowName>Generate_Docomotion_Autolaunched_Send_New_Link_From_Product</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Product.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Success</assignToReference>
            <name>Success</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>Body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: right;&quot;&gt;:לקוח חידוש בחידוש מוצר זה&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;a href=&quot;https://howdenil.lightning.force.com/builder_platform_interaction/%D7%9E%D7%95%D7%A6%D7%A8&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&quot;https://howdenil.lightning.force.com/&quot;&amp;amp;{!Get_Product.Id}&lt;/a&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;סימן בטופס שינוי של תחום עיסוק, אך הפקת הטופס החוזר עבורו נכשלה&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;אנא חולל/י עבורו טופס ידנית מהכפתור ע&quot;ג המוצר&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
