force-app/main/default/flows/Event_BS_Connect_WhoId_From_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_Whoid</name>
        <label>Assign Whoid</label>
        <locationX>613</locationX>
        <locationY>143</locationY>
        <assignmentItems>
            <assignToReference>$Record.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InsuredPerson</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_WhoId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assing_Values_On_Lead</name>
        <label>Assing Values On Lead</label>
        <locationX>883</locationX>
        <locationY>143</locationY>
        <assignmentItems>
            <assignToReference>Get_Insured.Meeting_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Meeting_DateTime__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Insured.Meeting_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Meeting_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Insured.Meeting_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Meeting_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Insured.B4U_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>B4UStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Insured.Last_Meeeting_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Insured.Meeting_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentMeetingCount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Insured.Sales_Rep__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Sales_Rep__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Insured.B4u_Instructions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.B4u_Instructions__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Insured.B4u_Feedback__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Insured.Exported_To_B4u__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Insured.MovedTo_B4U_Time__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead</targetReference>
        </connector>
    </assignments>
    <description>פלוו אפטר סייב על פגישת וויז, מעדכן ברשומת הפגישה את הקישור לתיק הלקוח ומעדכן בליד את פרטי הפגישה ומונה</description>
    <environments>Default</environments>
    <formulas>
        <name>B4UStatus</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK(TEXT({!$Record.B4U_Status__c}))),TEXT({!$Record.B4U_Status__c}),
IF(NOT(ISBLANK(TEXT({!Get_Insured.B4U_Status__c}))),TEXT({!Get_Insured.B4U_Status__c}),&quot;&quot;))</expression>
    </formulas>
    <formulas>
        <name>CurrentMeetingCount</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!Get_Insured.Meeting_Count__c}) || {!Get_Insured.Meeting_Count__c} = 0, 1, {!Get_Insured.Meeting_Count__c}+1)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>InsuredPerson</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!Get_Insured.AgentWise_IL__Insured_Person__c})),{!Get_Insured.AgentWise_IL__Insured_Person__c},&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Event BS Connect WhoId From Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Event BS Connect WhoId From Lead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Insured</name>
        <label>Get Lead</label>
        <locationX>480</locationX>
        <locationY>143</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Whoid</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AgentWise_IL__Lead__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>1010</locationX>
        <locationY>143</locationY>
        <inputReference>Get_Insured</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WhoId</name>
        <label>Update WhoId</label>
        <locationX>739</locationX>
        <locationY>143</locationY>
        <connector>
            <targetReference>Assing_Values_On_Lead</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Insured</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0124G000000kqfOQAQ</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>a30</stringValue>
            </value>
        </filters>
        <object>Event</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
