force-app/main/default/flows/FL_Account_New_Product_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_to_Sachar</name>
        <label>Email to Sachar</label>
        <locationX>270</locationX>
        <locationY>2330</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>AssingValueToProductCreation</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>jonathan.ashkenazy@novidea.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>WiseApplicationSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SacharEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Label.Sachar_Filsner_User_recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Application_Created_Assigned_To_Counter</name>
        <label>Application Created Assigned To Counter</label>
        <locationX>490</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>VR_CountCreatedApplications</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_HPC_Application</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Cyber_To_Application</name>
        <label>Assign Cyber To Application</label>
        <locationX>1018</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>VR_CyberApplicationVR.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FR_ApplicationName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VR_CyberApplicationVR.Application_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CS2024</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VR_CyberApplicationVR.Novidea_HPC__Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VR_CyberApplicationVR.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Michal_Shlomo_User_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VR_CyberApplicationVR.Referrer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Michal_Shlomo_User_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VR_CyberProductDefinitionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughSelectedProducts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VR_CyberApplicationVR.Product_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product_Description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughSelectedProducts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Marine_To_Application</name>
        <label>Assign Marine To Application</label>
        <locationX>754</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>VR_MarineApplicationVR.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FR_ApplicationName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VR_MarineApplicationVR.Novidea_HPC__Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VR_MarineApplicationVR.Application_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CS2024</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VR_MarineApplicationVR.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Mirav_Itach_User_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VR_MarineApplicationVR.Referrer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Mirav_Itach_User_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VR_MarineProductDefinitionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughSelectedProducts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VR_MarineApplicationVR.Product_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product_Description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughSelectedProducts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignToProductDefinitionRecordIdsVar</name>
        <label>AssignToProductDefinitionRecordIdsVar</label>
        <locationX>270</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>VR_ProductDefinitionRecordIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopTHroughProductIds.Novidea_HPC__Product_Definition__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopTHroughProductIds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignValueToPolicyVar</name>
        <label>AssignValueToPolicyVar</label>
        <locationX>270</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>VR_PolicyRecordIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopThroughActivePolicies.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughActivePolicies</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssingValueToCyberProductCreationWithoutWise</name>
        <label>AssingValueToCyberProductCreationWithoutWise</label>
        <locationX>50</locationX>
        <locationY>3422</locationY>
        <assignmentItems>
            <assignToReference>VR_SelectedProductSingle.Novidea_HPC__Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VR_CyberApplicationVR.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VR_SelectedProductSingle.Novidea_HPC__Product_Definition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VR_CyberProductDefinitionId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VR_SelectedProductSingle.Novidea_HPC__Required_Policy_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VR_SelectedProductSingle.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Michal_Shlomo_User_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VR_SelectedProductCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VR_SelectedProductSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateProductsForApplication</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssingValueToMarineProductCreationWithoutWise</name>
        <label>AssingValueToMarineProductCreationWithoutWise</label>
        <locationX>50</locationX>
        <locationY>3014</locationY>
        <assignmentItems>
            <assignToReference>VR_SelectedProductSingle.Novidea_HPC__Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VR_MarineApplicationVR.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VR_SelectedProductSingle.Novidea_HPC__Product_Definition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VR_MarineProductDefinitionId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VR_SelectedProductSingle.Novidea_HPC__Required_Policy_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VR_SelectedProductSingle.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Mirav_Itach_User_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VR_SelectedProductCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VR_SelectedProductSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_If_Cyber_VR_Is_Not_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssingValueToProductCreation</name>
        <label>AssingValueToProductCreation</label>
        <locationX>402</locationX>
        <locationY>2522</locationY>
        <assignmentItems>
            <assignToReference>VR_SelectedProductSingle.Novidea_HPC__Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VR_CreatedApplicationRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VR_SelectedProductSingle.Novidea_HPC__Product_Definition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughSelectedProducts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VR_SelectedProductSingle.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FR_CheckIfOwnerSelected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VR_SelectedProductCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VR_SelectedProductSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughSelectedProducts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssinValueToWiseVar</name>
        <label>AssinValueToWiseVar</label>
        <locationX>270</locationX>
        <locationY>2222</locationY>
        <assignmentItems>
            <assignToReference>VR_WiseProductId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughSelectedProducts.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_to_Sachar</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_Cyber_VR_Is_Not_Null</name>
        <label>Check If Cyber VR Is Not Null</label>
        <locationX>182</locationX>
        <locationY>3206</locationY>
        <defaultConnector>
            <targetReference>CreateProductsForApplication</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cyber_VR_Is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VR_CyberApplicationVR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Cyber_Application</targetReference>
            </connector>
            <label>Cyber VR Is Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Marine_VR_Is_Not_Null</name>
        <label>Check If Marine VR Is Not Null</label>
        <locationX>182</locationX>
        <locationY>2798</locationY>
        <defaultConnector>
            <targetReference>Check_If_Cyber_VR_Is_Not_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Marine_VR_Is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VR_MarineApplicationVR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Marine_Application</targetReference>
            </connector>
            <label>Marine VR Is Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <description>In order to change the wise product definition, update the custom label named &quot;Wise Product recordId&quot; with the new product record Id.</description>
        <name>Check_If_Wise_Product_Selected</name>
        <label>Check If Wise Product Selected</label>
        <locationX>402</locationX>
        <locationY>2114</locationY>
        <defaultConnector>
            <targetReference>AssingValueToProductCreation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Wise_Product_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopThroughSelectedProducts.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>מוצרי WISE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssinValueToWiseVar</targetReference>
            </connector>
            <label>Wise Product Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Selected_Product_Name</name>
        <label>Check Selected Product Name</label>
        <locationX>842</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>LoopThroughSelectedProducts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Product_Not_Equals_To_Cyber_And_Marine</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopThroughSelectedProducts.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Marine</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopThroughSelectedProducts.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cyber</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Limit_Application_Creation</targetReference>
            </connector>
            <label>Product Not Equals To Cyber And Marine</label>
        </rules>
        <rules>
            <name>Product_Equals_Marine_Without_Description</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopThroughSelectedProducts.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Marine</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Marine_To_Application</targetReference>
            </connector>
            <label>Product Equals Marine Without Description</label>
        </rules>
        <rules>
            <name>Product_Equals_Cyber_Without_Description</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopThroughSelectedProducts.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cyber</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Cyber_To_Application</targetReference>
            </connector>
            <label>Product Equals Cyber Without Description</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Active_Policies</name>
        <label>Found Active Policies?</label>
        <locationX>732</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>No_Active_Policies</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Active_Policy_For_Client</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopThroughActivePolicies</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>This decision is created in order to limit the creation of application inside the loop. Only one application will created from this route.</description>
        <name>Limit_Application_Creation</name>
        <label>Limit Application Creation</label>
        <locationX>402</locationX>
        <locationY>1706</locationY>
        <defaultConnector>
            <targetReference>Application_Created_Assigned_To_Counter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>One_Application_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VR_CountCreatedApplications</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_If_Wise_Product_Selected</targetReference>
            </connector>
            <label>One Application Created</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>UserCollectionChoise</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>FR_accountURL</name>
        <dataType>String</dataType>
        <expression>{!$Label.SalesforceURL}&amp;&quot;/&quot;&amp;{!recordId}</expression>
    </formulas>
    <formulas>
        <name>FR_ApplicationName</name>
        <dataType>String</dataType>
        <expression>RIGHT({!Get_The_Account_Record_That_Laucnhed_The_Flow.Name},70) + &apos; - &apos;+ &apos;מבצע CS2024&apos;</expression>
    </formulas>
    <formulas>
        <name>FR_applicationURL</name>
        <dataType>String</dataType>
        <expression>{!$Label.SalesforceURL}&amp;&quot;/&quot;&amp;{!VR_CreatedApplicationRecordId}</expression>
    </formulas>
    <formulas>
        <name>FR_CheckIfOwnerSelected</name>
        <dataType>String</dataType>
        <expression>IF(
ISBLANK({!SelectOwner.selectedChoiceValues}),{!$User.Id},{!SelectOwner.selectedChoiceValues})</expression>
    </formulas>
    <formulas>
        <name>FR_CheckIfRefSelected</name>
        <dataType>String</dataType>
        <expression>IF(
ISBLANK({!SelectReferrer.selectedChoiceValues}),{!$User.Id},{!SelectReferrer.selectedChoiceValues})</expression>
    </formulas>
    <interviewLabel>FL {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL Account New Product (Screen Flow)</label>
    <loops>
        <name>LoopThroughActivePolicies</name>
        <label>LoopThroughActivePolicies</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_Active_Policy_For_Client</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignValueToPolicyVar</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetAllPolicyProducts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopTHroughProductIds</name>
        <label>LoopTHroughProductIds</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <collectionReference>GetAllPolicyProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignToProductDefinitionRecordIdsVar</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetProductDefinition</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopThroughSelectedProducts</name>
        <label>LoopThroughSelectedProducts</label>
        <locationX>182</locationX>
        <locationY>1490</locationY>
        <collectionReference>PickProductDefinition.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Selected_Product_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_If_Marine_VR_Is_Not_Null</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Cyber_Application</name>
        <label>Create Cyber Application</label>
        <locationX>50</locationX>
        <locationY>3314</locationY>
        <connector>
            <targetReference>AssingValueToCyberProductCreationWithoutWise</targetReference>
        </connector>
        <inputReference>VR_CyberApplicationVR</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_HPC_Application</name>
        <label>Create HPC Application</label>
        <locationX>490</locationX>
        <locationY>1922</locationY>
        <assignRecordIdToReference>VR_CreatedApplicationRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Check_If_Wise_Product_Selected</targetReference>
        </connector>
        <inputAssignments>
            <field>Application_Source__c</field>
            <value>
                <stringValue>CS2024</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FR_ApplicationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Required_Policy_Type__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>FR_CheckIfOwnerSelected</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Description__c</field>
            <value>
                <elementReference>Product_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referrer__c</field>
            <value>
                <elementReference>FR_CheckIfRefSelected</elementReference>
            </value>
        </inputAssignments>
        <object>Novidea_HPC__Application__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Marine_Application</name>
        <label>Create Marine Application</label>
        <locationX>50</locationX>
        <locationY>2906</locationY>
        <connector>
            <targetReference>AssingValueToMarineProductCreationWithoutWise</targetReference>
        </connector>
        <inputReference>VR_MarineApplicationVR</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateProductsForApplication</name>
        <label>CreateProductsForApplication</label>
        <locationX>182</locationX>
        <locationY>3614</locationY>
        <connector>
            <targetReference>ApplicationCreated</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error1</targetReference>
        </faultConnector>
        <inputReference>VR_SelectedProductCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Active_Policy_For_Client</name>
        <label>Get Active Policy For Client</label>
        <locationX>732</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_The_Account_Record_That_Laucnhed_The_Flow</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error1</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Novidea_HPC__Action__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Novidea_HPC__Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Novidea_HPC__Policy__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_The_Account_Record_That_Laucnhed_The_Flow</name>
        <label>Get The Account Record That Laucnhed The Flow</label>
        <locationX>732</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Active_Policies</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error1</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAllPolicyProducts</name>
        <label>GetAllPolicyProducts</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopTHroughProductIds</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error1</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Novidea_HPC__Policy__c</field>
            <operator>In</operator>
            <value>
                <elementReference>VR_PolicyRecordIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Novidea_HPC__Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetProductDefinition</name>
        <label>GetProductDefinition</label>
        <locationX>182</locationX>
        <locationY>1166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SelectProducts</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error1</targetReference>
        </faultConnector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>VR_ProductDefinitionRecordIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Add_To_Product_Selection__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Novidea_HPC__Product_Def__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>ApplicationCreated</name>
        <label>ApplicationCreated</label>
        <locationX>182</locationX>
        <locationY>3722</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NewApplication</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;שלום&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;הצעה נוצרה בהצלחה&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;כדי לפתוח את הצעה &lt;a href=&quot;/{!VR_CreatedApplicationRecordId}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;לחץ כאן&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>VR_CreatedApplicationRecordId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NewCyberApplication</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;שלום&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;נוצרה בהצלחה Cyber &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;הצעה מסוג&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;span style=&quot;background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255))); font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif, &apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;); font-size: var(--lwc-fontSize3,0.8125rem); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68)));&quot;&gt;כדי לפתוח את הצעה &lt;/span&gt;&lt;a href=&quot;/{!VR_CyberApplicationVR.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif, &apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;); font-size: var(--lwc-fontSize3,0.8125rem);&quot;&gt;לחץ כאן&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>VR_CyberApplicationVR.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NewMarineApplication</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;שלום&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;נוצרה בהצלחה Marine &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;הצעה מסוג&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;span style=&quot;font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif, &apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;); font-size: var(--lwc-fontSize3,0.8125rem); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255)));&quot;&gt;כדי לפתוח את הצעה &lt;/span&gt;&lt;a href=&quot;/{!VR_MarineApplicationVR.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif, &apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;); font-size: var(--lwc-fontSize3,0.8125rem); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255)));&quot;&gt;לחץ כאן&lt;/a&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>VR_MarineApplicationVR.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>סיום</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error1</name>
        <label>Error1</label>
        <locationX>490</locationX>
        <locationY>3722</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorScreen1</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Active_Policies</name>
        <label>No Active Policies</label>
        <locationX>1282</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoActivePoliciesForAccount</name>
            <fieldText>&lt;p style=&quot;direction: rtl;&quot;&gt;&lt;a href=&quot;/{!recordId}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;לחשבון&lt;/a&gt; זה אין פוליסות פעילות בתוקף.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Ownership</name>
        <label>Select Ownership</label>
        <locationX>182</locationX>
        <locationY>1382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>הקודם</backButtonLabel>
        <connector>
            <targetReference>LoopThroughSelectedProducts</targetReference>
        </connector>
        <fields>
            <name>OwnerScreenDescription</name>
            <fieldText>&lt;p class=&quot;ql-direction-rtl&quot;&gt;בחר משתמש למוצרים שלא מסוג של Marine או Cyber:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SelectOwner</name>
            <choiceReferences>UserCollectionChoise</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>בחר בעלי הצעה</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>משתמש לא נבחר</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SelectReferrer</name>
            <choiceReferences>UserCollectionChoise</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>בחר גורם מפנה</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>משתמש לא נבחר</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>סיום</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SelectProducts</name>
        <label>SelectProducts</label>
        <locationX>182</locationX>
        <locationY>1274</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Select_Ownership</targetReference>
        </connector>
        <fields>
            <name>ClientName</name>
            <fieldText>&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;direction: rtl;&quot;&gt;צור מוצר CS - &lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;direction: rtl;&quot;&gt;&lt;span style=&quot;background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255))); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif, &apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;);&quot;&gt;{!Get_The_Account_Record_That_Laucnhed_The_Flow.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PickProductDefinition</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Novidea_HPC__Product_Def__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Products</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GetProductDefinition</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-f14f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;תיאור מוצר&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Product Def.&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Product_Description</name>
            <dataType>String</dataType>
            <fieldText>הערות</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>צור מוצר</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>606</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Active_Policy_For_Client</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ApplicationName</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Get_The_Account_Record_That_Laucnhed_The_Flow.Name} + &apos; - &apos;+ &apos;CS2024 מבצע&apos;</text>
    </textTemplates>
    <textTemplates>
        <name>SacharEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: right;&quot;&gt;,שלום&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;לקוח בשם {!Get_The_Account_Record_That_Laucnhed_The_Flow.Name} מעוניין במוצר חכם&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;span style=&quot;font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif, &apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;); font-size: var(--lwc-fontSize3,0.8125rem); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255)));&quot;&gt;.כדי לפתוח את חשבון הלקוח &lt;/span&gt;&lt;a href=&quot;{!FR_accountURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif, &apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;); font-size: var(--lwc-fontSize3,0.8125rem);&quot;&gt;לחץ כאן&lt;/a&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>WiseApplicationSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>לקוח מעוניין במוצר Wise</text>
    </textTemplates>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Novidea_HPC__Product__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VR_ApplicationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Novidea_HPC__Application__c</objectType>
    </variables>
    <variables>
        <name>VR_CountCreatedApplications</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VR_CreatedApplicationRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VR_CyberApplicationVR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Novidea_HPC__Application__c</objectType>
    </variables>
    <variables>
        <name>VR_CyberProductDefinitionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VR_MarineApplicationVR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Novidea_HPC__Application__c</objectType>
    </variables>
    <variables>
        <name>VR_MarineProductDefinitionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VR_OwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VR_PolicyRecordIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VR_ProductDefinitionRecordIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VR_SelectedProductCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Novidea_HPC__Product__c</objectType>
    </variables>
    <variables>
        <name>VR_SelectedProductSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Novidea_HPC__Product__c</objectType>
    </variables>
    <variables>
        <name>VR_SingleWiseProductCyber</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Novidea_HPC__Product__c</objectType>
    </variables>
    <variables>
        <name>VR_SingleWiseProductMarine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Novidea_HPC__Product__c</objectType>
    </variables>
    <variables>
        <name>VR_WiseProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0</stringValue>
        </value>
    </variables>
</Flow>
