force-app/main/default/flows/FL_Screen_Income_Number_Button.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_New_Income_Number</name>
        <label>Assign New Income Number</label>
        <locationX>50</locationX>
        <locationY>1310</locationY>
        <assignmentItems>
            <assignToReference>SO_Income.Novidea_HPC__Endorsement_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>p_style_text_align_right_p</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Income</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Number_Incomes</name>
        <label>Assign Number Incomes</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>var_Number_Incomes</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Incomes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Number_Incomes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SO_Income</name>
        <label>Assign SO Income</label>
        <locationX>138</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>SO_Income</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Income</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Income</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Number_Incomes</name>
        <label>Check Number Incomes</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Only_One_Income</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Number_Incomes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Income</targetReference>
            </connector>
            <label>Only One Income</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Number_of_Income</name>
        <label>Check Number of Income</label>
        <locationX>270</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>First_Income_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Income.New_Income_Record__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SO_Income</targetReference>
            </connector>
            <label>First Income Record</label>
        </rules>
    </decisions>
    <description>HIL-116</description>
    <environments>Default</environments>
    <interviewLabel>FL Screen Income Number Button {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL Screen Income Number Button</label>
    <loops>
        <name>Loop_Income</name>
        <label>Loop Income</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <collectionReference>Get_Incomes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Number_of_Income</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Income_Number_Change</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Incomes</name>
        <label>Get Incomes</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Number_Incomes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Novidea_HPC__Policy__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Novidea_HPC__Income__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Income</name>
        <label>Update Income</label>
        <locationX>50</locationX>
        <locationY>1430</locationY>
        <inputReference>SO_Income</inputReference>
    </recordUpdates>
    <screens>
        <name>Copy_1_of_Screen</name>
        <label>Copy 1 of Screen</label>
        <locationX>402</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Display_Text</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;לא ניתן לעדכן מספר פוליסה שלא להכנסה 0, יש לפנות לאדמין&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>סיום</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Income_Number_Change</name>
        <label>Income Number Change</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_New_Income_Number</targetReference>
        </connector>
        <fields>
            <name>p_style_text_align_right_p</name>
            <dataType>Number</dataType>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;מספר תוספת/שינוי&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p style=&quot;text-align: right;&quot;&gt;יש להזין מספר עד 5 ספרות&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN(TEXT({!p_style_text_align_right_p}))&lt;6</formulaExpression>
            </validationRule>
        </fields>
        <nextOrFinishButtonLabel>סיום</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen</name>
        <label>Screen</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display_Text</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;לא ניתן לעדכן מספר פוליסה שלא להכנסה 0, יש לפנות לאדמין&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>סיום</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Incomes</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SO_Income</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Novidea_HPC__Income__c</objectType>
    </variables>
    <variables>
        <name>var_Number_Incomes</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
