force-app/main/default/flows/Generate_Docomotion_Autolaunched_Send_New_Link_From_Product.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate</name>
        <label>Generate</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <actionName>doco__ProcessBuilder_Extension_Link</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Success_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fileName</name>
            <value>
                <elementReference>FileName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>formId</name>
            <value>
                <numberValue>13.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sobjectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whoId</name>
            <value>
                <elementReference>Get_RecordId.Novidea_HPC__Application__r.Novidea_HPC__Account__r.Renewals_Contact__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isActivatedVersion</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>doco__ProcessBuilder_Extension_Link</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Success</name>
        <label>Assign Success</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Success_0</name>
        <label>Assign Success</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Has_Renewal_Contact</name>
        <label>Has Renewal Contact ?</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Success_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_RecordId.Novidea_HPC__Application__r.Novidea_HPC__Account__r.Renewals_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate</targetReference>
            </connector>
            <label>Has</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FileName</name>
        <dataType>String</dataType>
        <expression>&quot;חידוש ביטוח אחריות מקצועית&quot;</expression>
    </formulas>
    <formulas>
        <name>OneMinuteAgoMax</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}-(2/1440)</expression>
    </formulas>
    <interviewLabel>Generate Docomotion Autolaunched Send New Link {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate Docomotion Autolaunched Send New Link From Product</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_RecordId</name>
        <label>Get RecordId</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Renewal_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Novidea_HPC__Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_RecordId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>FailureMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: right;&quot;&gt;:לקוח חידוש בחידוש מוצר זה&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;a href=&quot;מוצר&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&quot;https://howdenil.lightning.force.com/&quot;&amp;amp;{!recordId}&lt;/a&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;סימן בטופס שינוי של תחום עיסוק, אך הפקת הטופס החוזר עבורו נכשלה&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;אנא חולל/י עבורו טופס ידנית מהכפתור ע&quot;ג המוצר&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CreatedRenewalData</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
