force-app/main/default/flows/Generate_Docomotion_Screen_Custom_Flow_From_Product.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Check_Validations</name>
        <label>Check Validations</label>
        <locationX>512</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Product_Has_Renewal_Data_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Missing_Application</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product.Novidea_HPC__Application__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MissingApplication</targetReference>
            </connector>
            <label>Missing Application</label>
        </rules>
        <rules>
            <name>Missing_Hp</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product.Novidea_HPC__Application__r.Novidea_HPC__Account__r.Novidea_HPC__Tax_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MissingHp</targetReference>
            </connector>
            <label>Missing Hp</label>
        </rules>
        <rules>
            <name>Missing_Contact_Person</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product.Novidea_HPC__Application__r.Novidea_HPC__Account__r.Renewals_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Product.Novidea_HPC__Application__r.Novidea_HPC__Account__r.Renewals_Contact__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Product.Novidea_HPC__Application__r.Novidea_HPC__Account__r.Renewals_Contact__r.MobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MissingContactPerson</targetReference>
            </connector>
            <label>Missing Contact Person</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Success</name>
        <label>Is Success</label>
        <locationX>974</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Failure</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Flag_To_SendMail_Flow</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_Has_Renewal_Data_Record</name>
        <label>Product Has Renewal Data Record ?</label>
        <locationX>974</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Generate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product.Product_Renewal_Form_Data__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Renewal_Data_Record</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Generate Docomotion Screen Custom Flow From Product {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate Docomotion Screen Custom Flow From Product</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Renewal_Data_Record</name>
        <label>Create Renewal Data Record</label>
        <locationX>842</locationX>
        <locationY>518</locationY>
        <assignRecordIdToReference>CreatedRenewalData</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Current_Product_With_Lookup</targetReference>
        </connector>
        <inputAssignments>
            <field>Applicant_Name__c</field>
            <value>
                <elementReference>Get_Product.Novidea_HPC__Application__r.Novidea_HPC__Account__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Product_Id__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Product_Additional_Form_Data__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Product</name>
        <label>Get Product</label>
        <locationX>512</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Validations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Novidea_HPC__Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Current_Product_With_Lookup</name>
        <label>Update Current Product With Lookup</label>
        <locationX>842</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Generate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Product_Renewal_Form_Data__c</field>
            <value>
                <elementReference>CreatedRenewalData</elementReference>
            </value>
        </inputAssignments>
        <object>Novidea_HPC__Product__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Flag_To_SendMail_Flow</name>
        <label>Update Flag To SendMail Flow</label>
        <locationX>842</locationX>
        <locationY>1094</locationY>
        <connector>
            <targetReference>Finish_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Send_Doco_Flag__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Send_Doco_Form_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Novidea_HPC__Product__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Failure</name>
        <label>Failure</label>
        <locationX>1106</locationX>
        <locationY>1094</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MissingApplicationMessage_0_0_0_0_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;שגיאה ! לא הופקה בקשה להצעה&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Finish_0</name>
        <label>Finish</label>
        <locationX>842</locationX>
        <locationY>1214</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MissingApplicationMessage_0_0_0_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;הופקה בקשה להצעה. ניתן לצפות בבקשה מרשימת &quot;טפסי דוקומושן&quot; שבמוצר (הרשומה כוללת לינק לבקשת ההצעה)&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>MissingApplication</name>
        <label>MissingApplication</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MissingApplicationMessage</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;לא ניתן לחולל בקשה להצעה; מוצר זה אינו מחובר להצעה&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>MissingContactPerson</name>
        <label>MissingContactPerson</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MissingApplicationMessage_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;לא ניתן לחולל בקשה להצעה; חסר איש קשר לחידושים ברמת החשבון. יש לוודא כי מוגדרים לו טלפון נייד ומייל&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>MissingHp</name>
        <label>MissingHp</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MissingApplicationMessage_0</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;לא ניתן לחולל בקשה להצעה; חסר ח&quot;פ בהגדרת החשבון&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Product</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Generate</name>
        <label>Generate</label>
        <locationX>974</locationX>
        <locationY>854</locationY>
        <connector>
            <targetReference>Is_Success</targetReference>
        </connector>
        <flowName>Generate_Docomotion_Autolaunched_Send_New_Link_From_Product</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Product.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Success</assignToReference>
            <name>Success</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>CreatedRenewalData</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
