force-app/main/default/flows/Inbound_Document_Before_Save_Howden_Employees.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>assignAllExtIds</name>
        <label>assignAllExtIds</label>
        <locationX>552</locationX>
        <locationY>510</locationY>
        <assignmentItems>
            <assignToReference>extIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.NFILING__EntExtId1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>extIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.NFILING__EntExtId2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>extIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.NFILING__EntExtId3__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>extIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.NFILING__EntExtId4__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>extIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.NFILING__EntExtId5__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>extIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.NFILING__EntExtId6__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>extIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.NFILING__EntExtId7__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>extIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.NFILING__EntExtId8__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>extIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.NFILING__EntExtId9__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>extIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.NFILING__EntExtId10__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>extIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.NFILING__EntExtId11__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>extIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.NFILING__EntExtId12__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>extIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.NFILING__EntExtId13__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>extIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.NFILING__EntExtId14__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>extIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.NFILING__EntExtId15__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>extIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.NFILING__EntExtId16__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>extIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.NFILING__EntExtId17__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>extIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.NFILING__EntExtId18__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>extIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.NFILING__EntExtId19__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>extIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.NFILING__EntExtId20__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopIds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>די בסימון מידור אחד כדי לסיים את הריצה</description>
        <name>setHowdenEmployyeFlag</name>
        <label>setHowdenEmployyeFlag</label>
        <locationX>1074</locationX>
        <locationY>392</locationY>
        <assignmentItems>
            <assignToReference>$Record.is_Howden_Employee_Life_Document__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>די בסימון מידור אחד כדי לסיים את הריצה</description>
        <name>setNonHowdenEmployyeFlag</name>
        <label>setNonHowdenEmployyeFlag</label>
        <locationX>304</locationX>
        <locationY>301</locationY>
        <assignmentItems>
            <assignToReference>$Record.is_Howden_Employee_Life_Document__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>accountPrefix</name>
        <dataType>String</dataType>
        <value>
            <stringValue>001</stringValue>
        </value>
    </constants>
    <constants>
        <name>contactPrefix</name>
        <dataType>String</dataType>
        <value>
            <stringValue>003</stringValue>
        </value>
    </constants>
    <decisions>
        <name>howdenFlagOnAccount</name>
        <label>howdenFlagOnAccount</label>
        <locationX>1143</locationX>
        <locationY>592</locationY>
        <defaultConnector>
            <targetReference>assignAllExtIds</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DoesNotHaveAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NFILING__account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignAllExtIds</targetReference>
            </connector>
            <label>DoesNotHaveAccount</label>
        </rules>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NFILING__account__r.Is_Howden_Employee_Household__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setHowdenEmployyeFlag</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>isContactHowdenEmployee</name>
        <label>isContactHowdenEmployee</label>
        <locationX>947</locationX>
        <locationY>289</locationY>
        <defaultConnector>
            <targetReference>loopIds</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contact_0.is_Howden_Employee__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setHowdenEmployyeFlag</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>isContactOrAccount</name>
        <label>isContactOrAccount</label>
        <locationX>503</locationX>
        <locationY>148</locationY>
        <defaultConnector>
            <targetReference>loopIds</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopIds</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>contactPrefix</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>contact_0</targetReference>
            </connector>
            <label>contact</label>
        </rules>
        <rules>
            <name>account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopIds</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>accountPrefix</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>account_0</targetReference>
            </connector>
            <label>account</label>
        </rules>
    </decisions>
    <decisions>
        <description>במידה ואותר מזהה של חשבון או איש קשר
בודקים אם הוא מסומן כשייך לעובד האודן
ואם כן מסמנים את הרשומה כממודרת</description>
        <name>isHowdenEmployee</name>
        <label>isHowdenEmployee</label>
        <locationX>778</locationX>
        <locationY>389</locationY>
        <defaultConnector>
            <targetReference>loopIds</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>account_0.Is_Howden_Employee_Household__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setHowdenEmployyeFlag</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>במידה ולא, יוצאים מהריצה
במידה וכן, בודקים האם המידע מתויק על עובד האודן או על משק בית של עובד האודן</description>
        <name>isUserInLifeGroup</name>
        <label>isUserInLifeGroup</label>
        <locationX>131</locationX>
        <locationY>641</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>inGroup</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$User.is_Wise_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>howdenFlagOnAccount</targetReference>
            </connector>
            <label>inGroup</label>
        </rules>
    </decisions>
    <formulas>
        <name>allExtIds</name>
        <dataType>String</dataType>
        <expression>{!$Record.NFILING__EntExtId1__c}+{!$Record.NFILING__EntExtId2__c}+ {!$Record.NFILING__EntExtId3__c}+ {!$Record.NFILING__EntExtId4__c}+ {!$Record.NFILING__EntExtId5__c}+ {!$Record.NFILING__EntExtId6__c}+ {!$Record.NFILING__EntExtId7__c}+ {!$Record.NFILING__EntExtId8__c}+ {!$Record.NFILING__EntExtId9__c}+ {!$Record.NFILING__EntExtId10__c}+ {!$Record.NFILING__EntExtId11__c}+ {!$Record.NFILING__EntExtId12__c}+ {!$Record.NFILING__EntExtId13__c}+ {!$Record.NFILING__EntExtId14__c}+ {!$Record.NFILING__EntExtId15__c}+ {!$Record.NFILING__EntExtId16__c}+ {!$Record.NFILING__EntExtId17__c}+ {!$Record.NFILING__EntExtId18__c}+ {!$Record.NFILING__EntExtId19__c}+ {!$Record.NFILING__EntExtId20__c}</expression>
    </formulas>
    <interviewLabel>InboundDocuments {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Inbound Document - Before Save - Howden Employees</label>
    <loops>
        <name>loopIds</name>
        <label>loopIds</label>
        <locationX>498</locationX>
        <locationY>310</locationY>
        <collectionReference>extIDs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>isContactOrAccount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>setNonHowdenEmployyeFlag</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>account_0</name>
        <label>account</label>
        <locationX>781</locationX>
        <locationY>191</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isHowdenEmployee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loopIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>contact_0</name>
        <label>contact</label>
        <locationX>1043</locationX>
        <locationY>38</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isContactHowdenEmployee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loopIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>isUserInLifeGroup</targetReference>
        </connector>
        <object>NFILING__InboundDocument__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>accountsSet</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>contactsSet</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>extIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
