force-app/main/default/flows/Inbound_Record_Updates_and_Actions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12 OR 13 OR 14 OR 15 OR 16 OR 17 OR 18 OR 19 OR 20  OR 21)</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>MultiPicklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>MultiPicklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>MultiPicklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.NFILING__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>פוליסה מממשק</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.NFILING__EntExtId1__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a0N</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.NFILING__EntExtId2__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a0N</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.NFILING__EntExtId3__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a0N</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.NFILING__EntExtId4__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a0N</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.NFILING__EntExtId5__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a0N</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.NFILING__EntExtId6__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a0N</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.NFILING__EntExtId7__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a0N</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.NFILING__EntExtId8__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a0N</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.NFILING__EntExtId9__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a0N</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.NFILING__EntExtId10__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a0N</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.NFILING__EntExtId11__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a0N</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.NFILING__EntExtId12__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a0N</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.NFILING__EntExtId13__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a0N</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.NFILING__EntExtId14__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a0N</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.NFILING__EntExtId15__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a0N</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.NFILING__EntExtId16__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a0N</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.NFILING__EntExtId17__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a0N</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.NFILING__EntExtId18__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a0N</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.NFILING__EntExtId19__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a0N</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.NFILING__EntExtId20__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a0N</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Related to Policy?</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision7</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>Sent To Carrier In Application</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision7</name>
        <label>myDecision7</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_8</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_8_A1</targetReference>
            </connector>
            <label>Sent To Carrier In AW Sr</label>
        </rules>
    </decisions>
    <description>#6726</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>TODAY()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_1645496995</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(LEFT([NFILING__InboundDocument__c].NFILING__EntExtId1__c, 3) = &quot;a0N&quot;,[NFILING__InboundDocument__c].NFILING__EntExtId1__c,
IF(LEFT([NFILING__InboundDocument__c].NFILING__EntExtId2__c, 3) = &quot;a0N&quot;,[NFILING__InboundDocument__c].NFILING__EntExtId2__c,
IF(LEFT([NFILING__InboundDocument__c].NFILING__EntExtId3__c, 3) = &quot;a0N&quot;,[NFILING__InboundDocument__c].NFILING__EntExtId3__c,
IF(LEFT([NFILING__InboundDocument__c].NFILING__EntExtId4__c, 3) = &quot;a0N&quot;,[NFILING__InboundDocument__c].NFILING__EntExtId5__c,
IF(LEFT([NFILING__InboundDocument__c].NFILING__EntExtId5__c, 3) = &quot;a0N&quot;,[NFILING__InboundDocument__c].NFILING__EntExtId5__c,
IF(LEFT([NFILING__InboundDocument__c].NFILING__EntExtId6__c, 3) = &quot;a0N&quot;,[NFILING__InboundDocument__c].NFILING__EntExtId6__c,
IF(LEFT([NFILING__InboundDocument__c].NFILING__EntExtId7__c, 3) = &quot;a0N&quot;,[NFILING__InboundDocument__c].NFILING__EntExtId7__c,
IF(LEFT([NFILING__InboundDocument__c].NFILING__EntExtId8__c, 3) = &quot;a0N&quot;,[NFILING__InboundDocument__c].NFILING__EntExtId8__c,
IF(LEFT([NFILING__InboundDocument__c].NFILING__EntExtId9__c, 3) = &quot;a0N&quot;,[NFILING__InboundDocument__c].NFILING__EntExtId9__c,
IF(LEFT([NFILING__InboundDocument__c].NFILING__EntExtId10__c, 3) = &quot;a0N&quot;,[NFILING__InboundDocument__c].NFILING__EntExtId10__c,
IF(LEFT([NFILING__InboundDocument__c].NFILING__EntExtId11__c, 3) = &quot;a0N&quot;,[NFILING__InboundDocument__c].NFILING__EntExtId11__c,
IF(LEFT([NFILING__InboundDocument__c].NFILING__EntExtId12__c, 3) = &quot;a0N&quot;,[NFILING__InboundDocument__c].NFILING__EntExtId12__c,
IF(LEFT([NFILING__InboundDocument__c].NFILING__EntExtId13__c, 3) = &quot;a0N&quot;,[NFILING__InboundDocument__c].NFILING__EntExtId13__c,
IF(LEFT([NFILING__InboundDocument__c].NFILING__EntExtId14__c, 3) = &quot;a0N&quot;,[NFILING__InboundDocument__c].NFILING__EntExtId14__c,
IF(LEFT([NFILING__InboundDocument__c].NFILING__EntExtId15__c, 3) = &quot;a0N&quot;,[NFILING__InboundDocument__c].NFILING__EntExtId15__c,
IF(LEFT([NFILING__InboundDocument__c].NFILING__EntExtId16__c, 3) = &quot;a0N&quot;,[NFILING__InboundDocument__c].NFILING__EntExtId16__c,
IF(LEFT([NFILING__InboundDocument__c].NFILING__EntExtId17__c, 3) = &quot;a0N&quot;,[NFILING__InboundDocument__c].NFILING__EntExtId17__c,
IF(LEFT([NFILING__InboundDocument__c].NFILING__EntExtId18__c, 3) = &quot;a0N&quot;,[NFILING__InboundDocument__c].NFILING__EntExtId18__c,
IF(LEFT([NFILING__InboundDocument__c].NFILING__EntExtId19__c, 3) = &quot;a0N&quot;,[NFILING__InboundDocument__c].NFILING__EntExtId19__c,
IF(LEFT([NFILING__InboundDocument__c].NFILING__EntExtId20__c, 3) = &quot;a0N&quot;,[NFILING__InboundDocument__c].NFILING__EntExtId20__c,NULL))))))))))))))))))))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myRule_1_A1_9257423128</name>
        <dataType>String</dataType>
        <expression>IF(LEFT({!myVariable_current.NFILING__EntExtId1__c}, 3) = &quot;a0N&quot;,{!myVariable_current.NFILING__EntExtId1__c},
IF(LEFT({!myVariable_current.NFILING__EntExtId2__c}, 3) = &quot;a0N&quot;,{!myVariable_current.NFILING__EntExtId2__c},
IF(LEFT({!myVariable_current.NFILING__EntExtId3__c}, 3) = &quot;a0N&quot;,{!myVariable_current.NFILING__EntExtId3__c},
IF(LEFT({!myVariable_current.NFILING__EntExtId4__c}, 3) = &quot;a0N&quot;,{!myVariable_current.NFILING__EntExtId5__c},
IF(LEFT({!myVariable_current.NFILING__EntExtId5__c}, 3) = &quot;a0N&quot;,{!myVariable_current.NFILING__EntExtId5__c},
IF(LEFT({!myVariable_current.NFILING__EntExtId6__c}, 3) = &quot;a0N&quot;,{!myVariable_current.NFILING__EntExtId6__c},
IF(LEFT({!myVariable_current.NFILING__EntExtId7__c}, 3) = &quot;a0N&quot;,{!myVariable_current.NFILING__EntExtId7__c},
IF(LEFT({!myVariable_current.NFILING__EntExtId8__c}, 3) = &quot;a0N&quot;,{!myVariable_current.NFILING__EntExtId8__c},
IF(LEFT({!myVariable_current.NFILING__EntExtId9__c}, 3) = &quot;a0N&quot;,{!myVariable_current.NFILING__EntExtId9__c},
IF(LEFT({!myVariable_current.NFILING__EntExtId10__c}, 3) = &quot;a0N&quot;,{!myVariable_current.NFILING__EntExtId10__c},
IF(LEFT({!myVariable_current.NFILING__EntExtId11__c}, 3) = &quot;a0N&quot;,{!myVariable_current.NFILING__EntExtId11__c},
IF(LEFT({!myVariable_current.NFILING__EntExtId12__c}, 3) = &quot;a0N&quot;,{!myVariable_current.NFILING__EntExtId12__c},
IF(LEFT({!myVariable_current.NFILING__EntExtId13__c}, 3) = &quot;a0N&quot;,{!myVariable_current.NFILING__EntExtId13__c},
IF(LEFT({!myVariable_current.NFILING__EntExtId14__c}, 3) = &quot;a0N&quot;,{!myVariable_current.NFILING__EntExtId14__c},
IF(LEFT({!myVariable_current.NFILING__EntExtId15__c}, 3) = &quot;a0N&quot;,{!myVariable_current.NFILING__EntExtId15__c},
IF(LEFT({!myVariable_current.NFILING__EntExtId16__c}, 3) = &quot;a0N&quot;,{!myVariable_current.NFILING__EntExtId16__c},
IF(LEFT({!myVariable_current.NFILING__EntExtId17__c}, 3) = &quot;a0N&quot;,{!myVariable_current.NFILING__EntExtId17__c},
IF(LEFT({!myVariable_current.NFILING__EntExtId18__c}, 3) = &quot;a0N&quot;,{!myVariable_current.NFILING__EntExtId18__c},
IF(LEFT({!myVariable_current.NFILING__EntExtId19__c}, 3) = &quot;a0N&quot;,{!myVariable_current.NFILING__EntExtId19__c},
IF(LEFT({!myVariable_current.NFILING__EntExtId20__c}, 3) = &quot;a0N&quot;,{!myVariable_current.NFILING__EntExtId20__c},NULL))))))))))))))))))))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(LEFT( [NFILING__InboundDocument__c].NFILING__EntExtId1__c , 3) =&apos;a2c&apos;,[NFILING__InboundDocument__c].NFILING__EntExtId1__c,
IF(LEFT( [NFILING__InboundDocument__c].NFILING__EntExtId2__c , 3) =&apos;a2c&apos;,[NFILING__InboundDocument__c].NFILING__EntExtId2__c,
IF(LEFT( [NFILING__InboundDocument__c].NFILING__EntExtId3__c , 3) =&apos;a2c&apos;,[NFILING__InboundDocument__c].NFILING__EntExtId3__c,
IF(LEFT( [NFILING__InboundDocument__c].NFILING__EntExtId4__c , 3) =&apos;a2c&apos;,[NFILING__InboundDocument__c].NFILING__EntExtId4__c,
IF(LEFT( [NFILING__InboundDocument__c].NFILING__EntExtId5__c , 3) =&apos;a2c&apos;,[NFILING__InboundDocument__c].NFILING__EntExtId5__c,
IF(LEFT( [NFILING__InboundDocument__c].NFILING__EntExtId6__c , 3) =&apos;a2c&apos;,[NFILING__InboundDocument__c].NFILING__EntExtId6__c,
IF(LEFT( [NFILING__InboundDocument__c].NFILING__EntExtId7__c , 3) =&apos;a2c&apos;,[NFILING__InboundDocument__c].NFILING__EntExtId7__c,
IF(LEFT( [NFILING__InboundDocument__c].NFILING__EntExtId8__c , 3) =&apos;a2c&apos;,[NFILING__InboundDocument__c].NFILING__EntExtId8__c,
IF(LEFT( [NFILING__InboundDocument__c].NFILING__EntExtId9__c , 3) =&apos;a2c&apos;,[NFILING__InboundDocument__c].NFILING__EntExtId9__c,
IF(LEFT( [NFILING__InboundDocument__c].NFILING__EntExtId10__c , 3) =&apos;a2c&apos;,[NFILING__InboundDocument__c].NFILING__EntExtId10__c,
IF(LEFT( [NFILING__InboundDocument__c].NFILING__EntExtId11__c , 3) =&apos;a2c&apos;,[NFILING__InboundDocument__c].NFILING__EntExtId11__c,
IF(LEFT( [NFILING__InboundDocument__c].NFILING__EntExtId12__c , 3) =&apos;a2c&apos;,[NFILING__InboundDocument__c].NFILING__EntExtId12__c,
IF(LEFT( [NFILING__InboundDocument__c].NFILING__EntExtId13__c , 3) =&apos;a2c&apos;,[NFILING__InboundDocument__c].NFILING__EntExtId13__c,
IF(LEFT( [NFILING__InboundDocument__c].NFILING__EntExtId14__c , 3) =&apos;a2c&apos;,[NFILING__InboundDocument__c].NFILING__EntExtId14__c,
IF(LEFT( [NFILING__InboundDocument__c].NFILING__EntExtId15__c , 3) =&apos;a2c&apos;,[NFILING__InboundDocument__c].NFILING__EntExtId15__c,
IF(LEFT( [NFILING__InboundDocument__c].NFILING__EntExtId16__c , 3) =&apos;a2c&apos;,[NFILING__InboundDocument__c].NFILING__EntExtId16__c,
IF(LEFT( [NFILING__InboundDocument__c].NFILING__EntExtId17__c , 3) =&apos;a2c&apos;,[NFILING__InboundDocument__c].NFILING__EntExtId17__c,
IF(LEFT( [NFILING__InboundDocument__c].NFILING__EntExtId18__c , 3) =&apos;a2c&apos;,[NFILING__InboundDocument__c].NFILING__EntExtId18__c,
IF(LEFT( [NFILING__InboundDocument__c].NFILING__EntExtId19__c , 3) =&apos;a2c&apos;,[NFILING__InboundDocument__c].NFILING__EntExtId19__c,
IF(LEFT( [NFILING__InboundDocument__c].NFILING__EntExtId20__c , 3) =&apos;a2c&apos;,[NFILING__InboundDocument__c].NFILING__EntExtId20__c, null)
)))))))))))))))))))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_6_myRule_5_A1_0789313862</name>
        <dataType>String</dataType>
        <expression>IF(LEFT( {!myVariable_current.NFILING__EntExtId1__c} , 3) =&apos;a2c&apos;,{!myVariable_current.NFILING__EntExtId1__c},
IF(LEFT( {!myVariable_current.NFILING__EntExtId2__c} , 3) =&apos;a2c&apos;,{!myVariable_current.NFILING__EntExtId2__c},
IF(LEFT( {!myVariable_current.NFILING__EntExtId3__c} , 3) =&apos;a2c&apos;,{!myVariable_current.NFILING__EntExtId3__c},
IF(LEFT( {!myVariable_current.NFILING__EntExtId4__c} , 3) =&apos;a2c&apos;,{!myVariable_current.NFILING__EntExtId4__c},
IF(LEFT( {!myVariable_current.NFILING__EntExtId5__c} , 3) =&apos;a2c&apos;,{!myVariable_current.NFILING__EntExtId5__c},
IF(LEFT( {!myVariable_current.NFILING__EntExtId6__c} , 3) =&apos;a2c&apos;,{!myVariable_current.NFILING__EntExtId6__c},
IF(LEFT( {!myVariable_current.NFILING__EntExtId7__c} , 3) =&apos;a2c&apos;,{!myVariable_current.NFILING__EntExtId7__c},
IF(LEFT( {!myVariable_current.NFILING__EntExtId8__c} , 3) =&apos;a2c&apos;,{!myVariable_current.NFILING__EntExtId8__c},
IF(LEFT( {!myVariable_current.NFILING__EntExtId9__c} , 3) =&apos;a2c&apos;,{!myVariable_current.NFILING__EntExtId9__c},
IF(LEFT( {!myVariable_current.NFILING__EntExtId10__c} , 3) =&apos;a2c&apos;,{!myVariable_current.NFILING__EntExtId10__c},
IF(LEFT( {!myVariable_current.NFILING__EntExtId11__c} , 3) =&apos;a2c&apos;,{!myVariable_current.NFILING__EntExtId11__c},
IF(LEFT( {!myVariable_current.NFILING__EntExtId12__c} , 3) =&apos;a2c&apos;,{!myVariable_current.NFILING__EntExtId12__c},
IF(LEFT( {!myVariable_current.NFILING__EntExtId13__c} , 3) =&apos;a2c&apos;,{!myVariable_current.NFILING__EntExtId13__c},
IF(LEFT( {!myVariable_current.NFILING__EntExtId14__c} , 3) =&apos;a2c&apos;,{!myVariable_current.NFILING__EntExtId14__c},
IF(LEFT( {!myVariable_current.NFILING__EntExtId15__c} , 3) =&apos;a2c&apos;,{!myVariable_current.NFILING__EntExtId15__c},
IF(LEFT( {!myVariable_current.NFILING__EntExtId16__c} , 3) =&apos;a2c&apos;,{!myVariable_current.NFILING__EntExtId16__c},
IF(LEFT( {!myVariable_current.NFILING__EntExtId17__c} , 3) =&apos;a2c&apos;,{!myVariable_current.NFILING__EntExtId17__c},
IF(LEFT( {!myVariable_current.NFILING__EntExtId18__c} , 3) =&apos;a2c&apos;,{!myVariable_current.NFILING__EntExtId18__c},
IF(LEFT( {!myVariable_current.NFILING__EntExtId19__c} , 3) =&apos;a2c&apos;,{!myVariable_current.NFILING__EntExtId19__c},
IF(LEFT( {!myVariable_current.NFILING__EntExtId20__c} , 3) =&apos;a2c&apos;,{!myVariable_current.NFILING__EntExtId20__c}, null)
)))))))))))))))))))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(LEFT( [NFILING__InboundDocument__c].NFILING__EntExtId1__c , 3) =&apos;a3W&apos;,[NFILING__InboundDocument__c].NFILING__EntExtId1__c,
IF(LEFT( [NFILING__InboundDocument__c].NFILING__EntExtId2__c , 3) =&apos;a3W&apos;,[NFILING__InboundDocument__c].NFILING__EntExtId2__c,
IF(LEFT( [NFILING__InboundDocument__c].NFILING__EntExtId3__c , 3) =&apos;a3W&apos;,[NFILING__InboundDocument__c].NFILING__EntExtId3__c,
IF(LEFT( [NFILING__InboundDocument__c].NFILING__EntExtId4__c , 3) =&apos;a3W&apos;,[NFILING__InboundDocument__c].NFILING__EntExtId4__c,
IF(LEFT( [NFILING__InboundDocument__c].NFILING__EntExtId5__c , 3) =&apos;a3W&apos;,[NFILING__InboundDocument__c].NFILING__EntExtId5__c,
IF(LEFT( [NFILING__InboundDocument__c].NFILING__EntExtId6__c , 3) =&apos;a3W&apos;,[NFILING__InboundDocument__c].NFILING__EntExtId6__c,
IF(LEFT( [NFILING__InboundDocument__c].NFILING__EntExtId7__c , 3) =&apos;a3W&apos;,[NFILING__InboundDocument__c].NFILING__EntExtId7__c,
IF(LEFT( [NFILING__InboundDocument__c].NFILING__EntExtId8__c , 3) =&apos;a3W&apos;,[NFILING__InboundDocument__c].NFILING__EntExtId8__c,
IF(LEFT( [NFILING__InboundDocument__c].NFILING__EntExtId9__c , 3) =&apos;a3W&apos;,[NFILING__InboundDocument__c].NFILING__EntExtId9__c,
IF(LEFT( [NFILING__InboundDocument__c].NFILING__EntExtId10__c , 3) =&apos;a3W&apos;,[NFILING__InboundDocument__c].NFILING__EntExtId10__c,
IF(LEFT( [NFILING__InboundDocument__c].NFILING__EntExtId11__c , 3) =&apos;a3W&apos;,[NFILING__InboundDocument__c].NFILING__EntExtId11__c,
IF(LEFT( [NFILING__InboundDocument__c].NFILING__EntExtId12__c , 3) =&apos;a3W&apos;,[NFILING__InboundDocument__c].NFILING__EntExtId12__c,
IF(LEFT( [NFILING__InboundDocument__c].NFILING__EntExtId13__c , 3) =&apos;a3W&apos;,[NFILING__InboundDocument__c].NFILING__EntExtId13__c,
IF(LEFT( [NFILING__InboundDocument__c].NFILING__EntExtId14__c , 3) =&apos;a3W&apos;,[NFILING__InboundDocument__c].NFILING__EntExtId14__c,
IF(LEFT( [NFILING__InboundDocument__c].NFILING__EntExtId15__c , 3) =&apos;a3W&apos;,[NFILING__InboundDocument__c].NFILING__EntExtId15__c,
IF(LEFT( [NFILING__InboundDocument__c].NFILING__EntExtId16__c , 3) =&apos;a3W&apos;,[NFILING__InboundDocument__c].NFILING__EntExtId16__c,
IF(LEFT( [NFILING__InboundDocument__c].NFILING__EntExtId17__c , 3) =&apos;a3W&apos;,[NFILING__InboundDocument__c].NFILING__EntExtId17__c,
IF(LEFT( [NFILING__InboundDocument__c].NFILING__EntExtId18__c , 3) =&apos;a3W&apos;,[NFILING__InboundDocument__c].NFILING__EntExtId18__c,
IF(LEFT( [NFILING__InboundDocument__c].NFILING__EntExtId19__c , 3) =&apos;a3W&apos;,[NFILING__InboundDocument__c].NFILING__EntExtId19__c,
IF(LEFT( [NFILING__InboundDocument__c].NFILING__EntExtId20__c , 3) =&apos;a3W&apos;,[NFILING__InboundDocument__c].NFILING__EntExtId20__c, null)
)))))))))))))))))))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_9_myRule_8_A1_4908732992</name>
        <dataType>String</dataType>
        <expression>IF(LEFT( {!myVariable_current.NFILING__EntExtId1__c} , 3) =&apos;a3W&apos;,{!myVariable_current.NFILING__EntExtId1__c},
IF(LEFT( {!myVariable_current.NFILING__EntExtId2__c} , 3) =&apos;a3W&apos;,{!myVariable_current.NFILING__EntExtId2__c},
IF(LEFT( {!myVariable_current.NFILING__EntExtId3__c} , 3) =&apos;a3W&apos;,{!myVariable_current.NFILING__EntExtId3__c},
IF(LEFT( {!myVariable_current.NFILING__EntExtId4__c} , 3) =&apos;a3W&apos;,{!myVariable_current.NFILING__EntExtId4__c},
IF(LEFT( {!myVariable_current.NFILING__EntExtId5__c} , 3) =&apos;a3W&apos;,{!myVariable_current.NFILING__EntExtId5__c},
IF(LEFT( {!myVariable_current.NFILING__EntExtId6__c} , 3) =&apos;a3W&apos;,{!myVariable_current.NFILING__EntExtId6__c},
IF(LEFT( {!myVariable_current.NFILING__EntExtId7__c} , 3) =&apos;a3W&apos;,{!myVariable_current.NFILING__EntExtId7__c},
IF(LEFT( {!myVariable_current.NFILING__EntExtId8__c} , 3) =&apos;a3W&apos;,{!myVariable_current.NFILING__EntExtId8__c},
IF(LEFT( {!myVariable_current.NFILING__EntExtId9__c} , 3) =&apos;a3W&apos;,{!myVariable_current.NFILING__EntExtId9__c},
IF(LEFT( {!myVariable_current.NFILING__EntExtId10__c} , 3) =&apos;a3W&apos;,{!myVariable_current.NFILING__EntExtId10__c},
IF(LEFT( {!myVariable_current.NFILING__EntExtId11__c} , 3) =&apos;a3W&apos;,{!myVariable_current.NFILING__EntExtId11__c},
IF(LEFT( {!myVariable_current.NFILING__EntExtId12__c} , 3) =&apos;a3W&apos;,{!myVariable_current.NFILING__EntExtId12__c},
IF(LEFT( {!myVariable_current.NFILING__EntExtId13__c} , 3) =&apos;a3W&apos;,{!myVariable_current.NFILING__EntExtId13__c},
IF(LEFT( {!myVariable_current.NFILING__EntExtId14__c} , 3) =&apos;a3W&apos;,{!myVariable_current.NFILING__EntExtId14__c},
IF(LEFT( {!myVariable_current.NFILING__EntExtId15__c} , 3) =&apos;a3W&apos;,{!myVariable_current.NFILING__EntExtId15__c},
IF(LEFT( {!myVariable_current.NFILING__EntExtId16__c} , 3) =&apos;a3W&apos;,{!myVariable_current.NFILING__EntExtId16__c},
IF(LEFT( {!myVariable_current.NFILING__EntExtId17__c} , 3) =&apos;a3W&apos;,{!myVariable_current.NFILING__EntExtId17__c},
IF(LEFT( {!myVariable_current.NFILING__EntExtId18__c} , 3) =&apos;a3W&apos;,{!myVariable_current.NFILING__EntExtId18__c},
IF(LEFT( {!myVariable_current.NFILING__EntExtId19__c} , 3) =&apos;a3W&apos;,{!myVariable_current.NFILING__EntExtId19__c},
IF(LEFT( {!myVariable_current.NFILING__EntExtId20__c} , 3) =&apos;a3W&apos;,{!myVariable_current.NFILING__EntExtId20__c}, null)
)))))))))))))))))))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND (
OR (ISNEW (), ISCHANGED( [NFILING__InboundDocument__c].Application__c  )), INCLUDES([NFILING__InboundDocument__c].NFILING__Type__c ,&quot;שליחת מסמכי הצעת חיים ליצרן&quot;),
OR (
BEGINS([NFILING__InboundDocument__c].NFILING__EntExtId1__c, &apos;a2c&apos;),
BEGINS([NFILING__InboundDocument__c].NFILING__EntExtId2__c, &apos;a2c&apos;),
BEGINS([NFILING__InboundDocument__c].NFILING__EntExtId3__c, &apos;a2c&apos;),
BEGINS([NFILING__InboundDocument__c].NFILING__EntExtId4__c, &apos;a2c&apos;),
BEGINS([NFILING__InboundDocument__c].NFILING__EntExtId5__c, &apos;a2c&apos;),
BEGINS([NFILING__InboundDocument__c].NFILING__EntExtId6__c, &apos;a2c&apos;),
BEGINS([NFILING__InboundDocument__c].NFILING__EntExtId7__c, &apos;a2c&apos;),
BEGINS([NFILING__InboundDocument__c].NFILING__EntExtId8__c, &apos;a2c&apos;),
BEGINS([NFILING__InboundDocument__c].NFILING__EntExtId9__c, &apos;a2c&apos;),
BEGINS([NFILING__InboundDocument__c].NFILING__EntExtId10__c, &apos;a2c&apos;),
BEGINS([NFILING__InboundDocument__c].NFILING__EntExtId11__c, &apos;a2c&apos;),
BEGINS([NFILING__InboundDocument__c].NFILING__EntExtId12__c, &apos;a2c&apos;),
BEGINS([NFILING__InboundDocument__c].NFILING__EntExtId13__c, &apos;a2c&apos;),
BEGINS([NFILING__InboundDocument__c].NFILING__EntExtId14__c, &apos;a2c&apos;),
BEGINS([NFILING__InboundDocument__c].NFILING__EntExtId15__c, &apos;a2c&apos;),
BEGINS([NFILING__InboundDocument__c].NFILING__EntExtId16__c, &apos;a2c&apos;),
BEGINS([NFILING__InboundDocument__c].NFILING__EntExtId17__c, &apos;a2c&apos;),
BEGINS([NFILING__InboundDocument__c].NFILING__EntExtId18__c, &apos;a2c&apos;),
BEGINS([NFILING__InboundDocument__c].NFILING__EntExtId19__c, &apos;a2c&apos;),
BEGINS([NFILING__InboundDocument__c].NFILING__EntExtId20__c, &apos;a2c&apos;)))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>AND (
OR (ISNEW (), ISCHANGED( {!myVariable_current.Application__c}  )), INCLUDES({!myVariable_current.NFILING__Type__c} ,&quot;שליחת מסמכי הצעת חיים ליצרן&quot;),
OR (
BEGINS({!myVariable_current.NFILING__EntExtId1__c}, &apos;a2c&apos;),
BEGINS({!myVariable_current.NFILING__EntExtId2__c}, &apos;a2c&apos;),
BEGINS({!myVariable_current.NFILING__EntExtId3__c}, &apos;a2c&apos;),
BEGINS({!myVariable_current.NFILING__EntExtId4__c}, &apos;a2c&apos;),
BEGINS({!myVariable_current.NFILING__EntExtId5__c}, &apos;a2c&apos;),
BEGINS({!myVariable_current.NFILING__EntExtId6__c}, &apos;a2c&apos;),
BEGINS({!myVariable_current.NFILING__EntExtId7__c}, &apos;a2c&apos;),
BEGINS({!myVariable_current.NFILING__EntExtId8__c}, &apos;a2c&apos;),
BEGINS({!myVariable_current.NFILING__EntExtId9__c}, &apos;a2c&apos;),
BEGINS({!myVariable_current.NFILING__EntExtId10__c}, &apos;a2c&apos;),
BEGINS({!myVariable_current.NFILING__EntExtId11__c}, &apos;a2c&apos;),
BEGINS({!myVariable_current.NFILING__EntExtId12__c}, &apos;a2c&apos;),
BEGINS({!myVariable_current.NFILING__EntExtId13__c}, &apos;a2c&apos;),
BEGINS({!myVariable_current.NFILING__EntExtId14__c}, &apos;a2c&apos;),
BEGINS({!myVariable_current.NFILING__EntExtId15__c}, &apos;a2c&apos;),
BEGINS({!myVariable_current.NFILING__EntExtId16__c}, &apos;a2c&apos;),
BEGINS({!myVariable_current.NFILING__EntExtId17__c}, &apos;a2c&apos;),
BEGINS({!myVariable_current.NFILING__EntExtId18__c}, &apos;a2c&apos;),
BEGINS({!myVariable_current.NFILING__EntExtId19__c}, &apos;a2c&apos;),
BEGINS({!myVariable_current.NFILING__EntExtId20__c}, &apos;a2c&apos;)))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND (
OR (ISNEW (), ISCHANGED([NFILING__InboundDocument__c].Aw_Service_Request__c   )), INCLUDES([NFILING__InboundDocument__c].NFILING__Type__c ,&quot;שליחת מסמכי הצעת חיים ליצרן&quot;),
OR (
BEGINS([NFILING__InboundDocument__c].NFILING__EntExtId1__c, &apos;a3W&apos;),
BEGINS([NFILING__InboundDocument__c].NFILING__EntExtId2__c, &apos;a3W&apos;),
BEGINS([NFILING__InboundDocument__c].NFILING__EntExtId3__c, &apos;a3W&apos;),
BEGINS([NFILING__InboundDocument__c].NFILING__EntExtId4__c, &apos;a3W&apos;),
BEGINS([NFILING__InboundDocument__c].NFILING__EntExtId5__c, &apos;a3W&apos;),
BEGINS([NFILING__InboundDocument__c].NFILING__EntExtId6__c, &apos;a3W&apos;),
BEGINS([NFILING__InboundDocument__c].NFILING__EntExtId7__c, &apos;a3W&apos;),
BEGINS([NFILING__InboundDocument__c].NFILING__EntExtId8__c, &apos;a3W&apos;),
BEGINS([NFILING__InboundDocument__c].NFILING__EntExtId9__c, &apos;a3W&apos;),
BEGINS([NFILING__InboundDocument__c].NFILING__EntExtId10__c, &apos;a3W&apos;),
BEGINS([NFILING__InboundDocument__c].NFILING__EntExtId11__c, &apos;a3W&apos;),
BEGINS([NFILING__InboundDocument__c].NFILING__EntExtId12__c, &apos;a3W&apos;),
BEGINS([NFILING__InboundDocument__c].NFILING__EntExtId13__c, &apos;a3W&apos;),
BEGINS([NFILING__InboundDocument__c].NFILING__EntExtId14__c, &apos;a3W&apos;),
BEGINS([NFILING__InboundDocument__c].NFILING__EntExtId15__c, &apos;a3W&apos;),
BEGINS([NFILING__InboundDocument__c].NFILING__EntExtId16__c, &apos;a3W&apos;),
BEGINS([NFILING__InboundDocument__c].NFILING__EntExtId17__c, &apos;a3W&apos;),
BEGINS([NFILING__InboundDocument__c].NFILING__EntExtId18__c, &apos;a3W&apos;),
BEGINS([NFILING__InboundDocument__c].NFILING__EntExtId19__c, &apos;a3W&apos;),
BEGINS([NFILING__InboundDocument__c].NFILING__EntExtId20__c, &apos;a3W&apos;)))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_8</name>
        <dataType>Boolean</dataType>
        <expression>AND (
OR (ISNEW (), ISCHANGED({!myVariable_current.Aw_Service_Request__c}   )), INCLUDES({!myVariable_current.NFILING__Type__c} ,&quot;שליחת מסמכי הצעת חיים ליצרן&quot;),
OR (
BEGINS({!myVariable_current.NFILING__EntExtId1__c}, &apos;a3W&apos;),
BEGINS({!myVariable_current.NFILING__EntExtId2__c}, &apos;a3W&apos;),
BEGINS({!myVariable_current.NFILING__EntExtId3__c}, &apos;a3W&apos;),
BEGINS({!myVariable_current.NFILING__EntExtId4__c}, &apos;a3W&apos;),
BEGINS({!myVariable_current.NFILING__EntExtId5__c}, &apos;a3W&apos;),
BEGINS({!myVariable_current.NFILING__EntExtId6__c}, &apos;a3W&apos;),
BEGINS({!myVariable_current.NFILING__EntExtId7__c}, &apos;a3W&apos;),
BEGINS({!myVariable_current.NFILING__EntExtId8__c}, &apos;a3W&apos;),
BEGINS({!myVariable_current.NFILING__EntExtId9__c}, &apos;a3W&apos;),
BEGINS({!myVariable_current.NFILING__EntExtId10__c}, &apos;a3W&apos;),
BEGINS({!myVariable_current.NFILING__EntExtId11__c}, &apos;a3W&apos;),
BEGINS({!myVariable_current.NFILING__EntExtId12__c}, &apos;a3W&apos;),
BEGINS({!myVariable_current.NFILING__EntExtId13__c}, &apos;a3W&apos;),
BEGINS({!myVariable_current.NFILING__EntExtId14__c}, &apos;a3W&apos;),
BEGINS({!myVariable_current.NFILING__EntExtId15__c}, &apos;a3W&apos;),
BEGINS({!myVariable_current.NFILING__EntExtId16__c}, &apos;a3W&apos;),
BEGINS({!myVariable_current.NFILING__EntExtId17__c}, &apos;a3W&apos;),
BEGINS({!myVariable_current.NFILING__EntExtId18__c}, &apos;a3W&apos;),
BEGINS({!myVariable_current.NFILING__EntExtId19__c}, &apos;a3W&apos;),
BEGINS({!myVariable_current.NFILING__EntExtId20__c}, &apos;a3W&apos;)))</expression>
    </formulas>
    <interviewLabel>Inbound_Record_Updates_and_Actions-4_InterviewLabel</interviewLabel>
    <label>Inbound Record - Updates and Actions</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>NFILING__InboundDocument__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordCreates>
        <name>myRule_1_A1</name>
        <label>Create Task</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision4</targetReference>
        </connector>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>תאריך יעד בלבד</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ActivityDate</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_1645496995</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>מוקצה למזהה</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <stringValue>005D0000007d25tIAA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>עדיפות</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>מצב</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>נושא</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>Subject</field>
            <value>
                <stringValue>תזכורת להעלות מסמכי פוליסה לצרופות</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>מזהה קשור ל</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Account;Asset;AssetRelationship;Campaign;Case;Client_Collection__c;Contact_to_Potential__c;Contract;InboundDocument__c;Insurance_Cross_Sale__c;ListEmail;NFILING__InboundDocument__c;NOVIPROD__Policy_Transaction__c;Novidea_HPC__Agreement__c;Novidea_HPC__Application__c;Novidea_HPC__Broker_Number__c;Novidea_HPC__Carrier_Product__c;Novidea_HPC__Carrier_Products_In_Agreement__c;Novidea_HPC__Claim__c;Novidea_HPC__Collection__c;Novidea_HPC__Commission_Rate__c;Novidea_HPC__Income__c;Novidea_HPC__Lead__c;Novidea_HPC__Payment_Demand__c;Novidea_HPC__Payment__c;Novidea_HPC__Policy__c;Novidea_HPC__Product_Category__c;Novidea_HPC__Product__c;Novidea_HPC__Property__c;Novidea_HPC__Proposal__c;Novidea_HPC__Request_for_Proposal__c;Novidea_TMF__Project__c;Opportunity;Policy_Transaction__c;Product2;Solution</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>WhatId</field>
            <value>
                <elementReference>formula_3_myRule_1_A1_9257423128</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[NFILING__InboundDocument__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>Update Application</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_5_A2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Application</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>AgentWise_IL__Application__c</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Application__c</field>
            <value>
                <elementReference>formula_6_myRule_5_A1_0789313862</elementReference>
            </value>
        </inputAssignments>
        <object>NFILING__InboundDocument__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>criteria</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[NFILING__InboundDocument__c].Application</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_5_A2</name>
        <label>Set Status</label>
        <locationX>500</locationX>
        <locationY>300</locationY>
        <connector>
            <targetReference>myDecision7</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Application__c</elementReference>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>AgentWise_IL__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Converted to Policy</stringValue>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>AgentWise_IL__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Without Conversion</stringValue>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>AgentWise_IL__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Archive</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>סטטוס</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>AgentWise_IL__Status__c</field>
            <value>
                <stringValue>Sent To Carrier</stringValue>
            </value>
        </inputAssignments>
        <object>AgentWise_IL__Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[NFILING__InboundDocument__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_8_A1</name>
        <label>Update AW sr Lookup</label>
        <locationX>800</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_8_A2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Aw Service Request</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>AgentWise_IL__Service_Request__c</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Aw_Service_Request__c</field>
            <value>
                <elementReference>formula_9_myRule_8_A1_4908732992</elementReference>
            </value>
        </inputAssignments>
        <object>NFILING__InboundDocument__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[NFILING__InboundDocument__c].Aw Service Request</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_8_A2</name>
        <label>Set Status</label>
        <locationX>800</locationX>
        <locationY>300</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Aw_Service_Request__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>AgentWise_IL__Status__c</field>
            <value>
                <stringValue>Sent To Carrier</stringValue>
            </value>
        </inputAssignments>
        <object>AgentWise_IL__Service_Request__c</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>NFILING__InboundDocument__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>NFILING__InboundDocument__c</objectType>
    </variables>
</Flow>
