force-app/main/default/flows/Income_BS_On_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>CopyPremiumFields</name>
        <label>CopyPremiumFields</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Novidea_HPC__Premium__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Novidea_HPC__Premium_From_Production__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Novidea_HPC__Commission_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Novidea_HPC__Commission_Amount_from_Production__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Novidea_HPC__Fees__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Novidea_HPC__Fees_From_Production__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Novidea_HPC__Agent_Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Novidea_HPC__Agent_Discount_From_Production__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>shouldUpdateOtherCarrier</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set054</name>
        <label>set054</label>
        <locationX>50</locationX>
        <locationY>1439</locationY>
        <assignmentItems>
            <assignToReference>$Record.Discount_from_local_tax__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.54</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>set0_0</name>
        <label>set0</label>
        <locationX>314</locationX>
        <locationY>1439</locationY>
        <assignmentItems>
            <assignToReference>$Record.Discount_from_local_tax__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>updateOtherCarrier</name>
        <label>updateOtherCarrier</label>
        <locationX>50</locationX>
        <locationY>767</locationY>
        <assignmentItems>
            <assignToReference>$Record.IsOtherCarrier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fIsOtherCarrier</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>shouldUpdateStorno</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>updStornoOnPolicy</name>
        <label>updStornoOnPolicy</label>
        <locationX>50</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>policyStorno</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>policyAction</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shouldUpdatePolicy</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>shouldCalculateNetIncome</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>oneHundred</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>-101.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>twoHundred</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>-201.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>shouldCalculateNetIncome</name>
        <label>shouldCalculateNetIncome</label>
        <locationX>182</locationX>
        <locationY>1319</locationY>
        <defaultConnector>
            <targetReference>set0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes054</name>
            <conditionLogic>1 AND  4  AND (2 OR 3 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Policy__r.CreatedDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <dateTimeValue>2000-08-22T21:00:00.000Z</dateTimeValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Policy__r.Novidea_HPC__Broker_In_Carrier__r.Novidea_HPC__Carrier__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PRS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Policy__r.Novidea_HPC__Broker_In_Carrier__r.Novidea_HPC__Carrier__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Howden UK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Policy__r.Novidea_HPC__Insurance_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Direct</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set054</targetReference>
            </connector>
            <label>Yes054</label>
        </rules>
    </decisions>
    <decisions>
        <name>shouldCopyPremiumFields</name>
        <label>shouldCopyPremiumFields</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>shouldUpdateOtherCarrier</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Copy_premiums__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CopyPremiumFields</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>replaces workflow
הערה. לוגיקה מורכבת ומיותרת שמועתקת כפי שהיא משום שהשמת הערך חוזרת על חלק מהדברים
הושאר כפי שזה בגלל תאימות לאחור</description>
        <name>shouldUpdateOtherCarrier</name>
        <label>shouldUpdateOtherCarrier</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>shouldUpdateStorno</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_2</name>
            <conditionLogic>1 OR (2 and 3) OR (4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsOtherCarrier__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsOtherCarrier__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Carrier__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Novidea_HPC__Policy__r.Novidea_HPC__Carrier__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsOtherCarrier__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Carrier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Novidea_HPC__Policy__r.Novidea_HPC__Policy_Number__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateOtherCarrier</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>shouldUpdateStorno</name>
        <label>shouldUpdateStorno</label>
        <locationX>182</locationX>
        <locationY>983</locationY>
        <defaultConnector>
            <targetReference>shouldCalculateNetIncome</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Endorsement_Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Novidea_HPC__Policy__r.Novidea_HPC__Endorsement_Number__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Premium_From_Production__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Policy__r.Novidea_HPC__Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Policy__r.Novidea_HPC__Expiration_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updStornoOnPolicy</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>agentDiscountCurrent</name>
        <dataType>Number</dataType>
        <expression>(-1)*{!$Record.Novidea_HPC__Agent_Discount__c}* {!thisYearReduce}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>agentDiscountFuture</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Novidea_HPC__Agent_Discount__c}*{!thisYearReduce}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>commissionCurrent</name>
        <dataType>Number</dataType>
        <expression>(-1)*{!$Record.Novidea_HPC__Commission_Amount__c} *{!thisYearReduce}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>commissionFuture</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Novidea_HPC__Commission_Amount__c}* {!thisYearReduce}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fCanDeleteendorsmentNum</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Novidea_HPC__Endorsement_Number__c})</expression>
    </formulas>
    <formulas>
        <name>fDiscountFromLocalTax</name>
        <dataType>Number</dataType>
        <expression>1</expression>
        <scale>6</scale>
    </formulas>
    <formulas>
        <name>feesCurrent</name>
        <dataType>Number</dataType>
        <expression>(-1)*{!$Record.Novidea_HPC__Fees__c}* {!thisYearReduce}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>feesFuture</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Novidea_HPC__Fees__c}*{!thisYearReduce}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fIsOtherCarrier</name>
        <dataType>Number</dataType>
        <expression>IF({!$Record.Novidea_HPC__Carrier__c}&lt;&gt; {!$Record.Novidea_HPC__Policy__r.Novidea_HPC__Carrier__c},1,0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fPolicyAction</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!policyAction}, TEXT( {!$Record.Novidea_HPC__Policy__r.Novidea_HPC__Action__c}))</expression>
    </formulas>
    <formulas>
        <name>fPolicyNumber</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!policyNumber}, {!$Record.Novidea_HPC__Policy__r.Novidea_HPC__Policy_Number__c})</expression>
    </formulas>
    <formulas>
        <name>fPolicyStatus</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!policyStatus},TEXT({!$Record.Novidea_HPC__Policy__r.Novidea_HPC__Status__c}))</expression>
    </formulas>
    <formulas>
        <name>fPOlicyStorno</name>
        <dataType>Boolean</dataType>
        <expression>IF({!policyStorno} =&apos;TRUE&apos;, true,{!$Record.Novidea_HPC__Policy__r.Storno__c})</expression>
    </formulas>
    <formulas>
        <name>futureRecognitionDate</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!$Record.Novidea_HPC__Effective_Date__c})+1,MONTH({!$Record.Novidea_HPC__Effective_Date__c}),DAY({!$Record.Novidea_HPC__Effective_Date__c}))</expression>
    </formulas>
    <formulas>
        <name>premiumCurrent</name>
        <dataType>Number</dataType>
        <expression>(-1)*{!$Record.Novidea_HPC__Premium__c}* {!thisYearReduce}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>premiumFuture</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Novidea_HPC__Premium__c}* {!thisYearReduce}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>thisYearReduce</name>
        <dataType>Number</dataType>
        <expression>1-(365/{!$Record.Novidea_HPC__Policy__r.Novidea_HPC__Days_Covered__c})</expression>
        <scale>4</scale>
    </formulas>
    <interviewLabel>Income - BS - On Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Income - BS - On Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>shouldCopyPremiumFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Novidea_HPC__Endorsement_Number__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>-101.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Novidea_HPC__Endorsement_Number__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>-201.0</numberValue>
            </value>
        </filters>
        <object>Novidea_HPC__Income__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Incomes100200</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Novidea_HPC__Income__c</objectType>
    </variables>
    <variables>
        <name>policyAction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>policyNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>policyStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>policyStorno</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>shouldUpdatePolicy</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varIncome</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Novidea_HPC__Income__c</objectType>
    </variables>
</Flow>
