force-app/main/default/flows/Is_active_client.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision14</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>is exist in active customers</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision14</name>
        <label>myDecision14</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_15</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_15</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_15_A1</targetReference>
            </connector>
            <label>Create policy in active customers</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>if (AND (or (ISPICKVAL([Novidea_HPC__Policy__c].Novidea_HPC__Action__c, &apos;Active&apos;),
(ISPICKVAL([Novidea_HPC__Policy__c].Novidea_HPC__Action__c, &apos;Not Active&apos;))),
[Novidea_HPC__Policy__c].Grouping_product_for_active_customers__c =&apos;Apartments&apos;),1,0)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_10_myRule_1_A4_3465095015</name>
        <dataType>Number</dataType>
        <expression>if (AND (or (ISPICKVAL({!myVariable_current.Novidea_HPC__Action__c}, &apos;Active&apos;),
(ISPICKVAL({!myVariable_current.Novidea_HPC__Action__c}, &apos;Not Active&apos;))),
{!myVariable_current.Grouping_product_for_active_customers__c} =&apos;Apartments&apos;),1,0)</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>if (AND (or (ISPICKVAL([Novidea_HPC__Policy__c].Novidea_HPC__Action__c, &apos;Active&apos;),
(ISPICKVAL([Novidea_HPC__Policy__c].Novidea_HPC__Action__c, &apos;Not Active&apos;))),
[Novidea_HPC__Policy__c].Grouping_product_for_active_customers__c =&apos;Riders&apos;),1,0)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_11_myRule_1_A3_6123088157</name>
        <dataType>Number</dataType>
        <expression>if (AND (or (ISPICKVAL({!myVariable_current.Novidea_HPC__Action__c}, &apos;Active&apos;),
(ISPICKVAL({!myVariable_current.Novidea_HPC__Action__c}, &apos;Not Active&apos;))),
{!myVariable_current.Grouping_product_for_active_customers__c} =&apos;Riders&apos;),1,0)</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>if (AND (or (ISPICKVAL([Novidea_HPC__Policy__c].Novidea_HPC__Action__c, &apos;Active&apos;),
(ISPICKVAL([Novidea_HPC__Policy__c].Novidea_HPC__Action__c, &apos;Not Active&apos;))),
[Novidea_HPC__Policy__c].Grouping_product_for_active_customers__c =&apos;Hova&apos;),1,0)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_12_myRule_1_A2_7876614399</name>
        <dataType>Number</dataType>
        <expression>if (AND (or (ISPICKVAL({!myVariable_current.Novidea_HPC__Action__c}, &apos;Active&apos;),
(ISPICKVAL({!myVariable_current.Novidea_HPC__Action__c}, &apos;Not Active&apos;))),
{!myVariable_current.Grouping_product_for_active_customers__c} =&apos;Hova&apos;),1,0)</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>if (AND (or (ISPICKVAL([Novidea_HPC__Policy__c].Novidea_HPC__Action__c, &apos;Active&apos;),
(ISPICKVAL([Novidea_HPC__Policy__c].Novidea_HPC__Action__c, &apos;Not Active&apos;))),
[Novidea_HPC__Policy__c].Grouping_product_for_active_customers__c =&apos;Casco&apos;),1,0)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_13_myRule_1_A1_3154442467</name>
        <dataType>Number</dataType>
        <expression>if (AND (or (ISPICKVAL({!myVariable_current.Novidea_HPC__Action__c}, &apos;Active&apos;),
(ISPICKVAL({!myVariable_current.Novidea_HPC__Action__c}, &apos;Not Active&apos;))),
{!myVariable_current.Grouping_product_for_active_customers__c} =&apos;Casco&apos;),1,0)</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Novidea_HPC__Policy__c].Novidea_HPC__Client__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_16_myRule_15_A1_3445185908</name>
        <dataType>String</dataType>
        <expression>{!myVariable_current.Novidea_HPC__Client__c}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Novidea_HPC__Policy__c].Id </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_17_myRule_15_A1_8634824250</name>
        <dataType>String</dataType>
        <expression>{!myVariable_current.Id}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>if (AND (or (ISPICKVAL([Novidea_HPC__Policy__c].Novidea_HPC__Action__c, &apos;Active&apos;),
(ISPICKVAL([Novidea_HPC__Policy__c].Novidea_HPC__Action__c, &apos;Not Active&apos;))),
[Novidea_HPC__Policy__c].Grouping_product_for_active_customers__c =&apos;Apartments&apos;),1,0)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_18_myRule_15_A1_6250637481</name>
        <dataType>Number</dataType>
        <expression>if (AND (or (ISPICKVAL({!myVariable_current.Novidea_HPC__Action__c}, &apos;Active&apos;),
(ISPICKVAL({!myVariable_current.Novidea_HPC__Action__c}, &apos;Not Active&apos;))),
{!myVariable_current.Grouping_product_for_active_customers__c} =&apos;Apartments&apos;),1,0)</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>if (AND (or (ISPICKVAL([Novidea_HPC__Policy__c].Novidea_HPC__Action__c, &apos;Active&apos;),
(ISPICKVAL([Novidea_HPC__Policy__c].Novidea_HPC__Action__c, &apos;Not Active&apos;))),
[Novidea_HPC__Policy__c].Grouping_product_for_active_customers__c =&apos;Business&apos;),1,0)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_19_myRule_15_A1_3256326114</name>
        <dataType>Number</dataType>
        <expression>if (AND (or (ISPICKVAL({!myVariable_current.Novidea_HPC__Action__c}, &apos;Active&apos;),
(ISPICKVAL({!myVariable_current.Novidea_HPC__Action__c}, &apos;Not Active&apos;))),
{!myVariable_current.Grouping_product_for_active_customers__c} =&apos;Business&apos;),1,0)</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>if (AND (or (ISPICKVAL([Novidea_HPC__Policy__c].Novidea_HPC__Action__c, &apos;Active&apos;),
(ISPICKVAL([Novidea_HPC__Policy__c].Novidea_HPC__Action__c, &apos;Not Active&apos;))),
[Novidea_HPC__Policy__c].Grouping_product_for_active_customers__c =&apos;Casco&apos;),1,0)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_20_myRule_15_A1_0877788975</name>
        <dataType>Number</dataType>
        <expression>if (AND (or (ISPICKVAL({!myVariable_current.Novidea_HPC__Action__c}, &apos;Active&apos;),
(ISPICKVAL({!myVariable_current.Novidea_HPC__Action__c}, &apos;Not Active&apos;))),
{!myVariable_current.Grouping_product_for_active_customers__c} =&apos;Casco&apos;),1,0)</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Novidea_HPC__Policy__c].Novidea_HPC__Effective_Date__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_21_myRule_15_A1_5833015842</name>
        <dataType>Date</dataType>
        <expression>{!myVariable_current.Novidea_HPC__Effective_Date__c}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>if (AND (or (ISPICKVAL([Novidea_HPC__Policy__c].Novidea_HPC__Action__c, &apos;Active&apos;),
(ISPICKVAL([Novidea_HPC__Policy__c].Novidea_HPC__Action__c, &apos;Not Active&apos;))),
[Novidea_HPC__Policy__c].Grouping_product_for_active_customers__c =&apos;Health&apos;),1,0)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_22_myRule_15_A1_4752008101</name>
        <dataType>Number</dataType>
        <expression>if (AND (or (ISPICKVAL({!myVariable_current.Novidea_HPC__Action__c}, &apos;Active&apos;),
(ISPICKVAL({!myVariable_current.Novidea_HPC__Action__c}, &apos;Not Active&apos;))),
{!myVariable_current.Grouping_product_for_active_customers__c} =&apos;Health&apos;),1,0)</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>if (AND (or (ISPICKVAL([Novidea_HPC__Policy__c].Novidea_HPC__Action__c, &apos;Active&apos;),
(ISPICKVAL([Novidea_HPC__Policy__c].Novidea_HPC__Action__c, &apos;Not Active&apos;))),
[Novidea_HPC__Policy__c].Grouping_product_for_active_customers__c =&apos;Hova&apos;),1,0)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_23_myRule_15_A1_1210323911</name>
        <dataType>Number</dataType>
        <expression>if (AND (or (ISPICKVAL({!myVariable_current.Novidea_HPC__Action__c}, &apos;Active&apos;),
(ISPICKVAL({!myVariable_current.Novidea_HPC__Action__c}, &apos;Not Active&apos;))),
{!myVariable_current.Grouping_product_for_active_customers__c} =&apos;Hova&apos;),1,0)</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>if (AND (or (ISPICKVAL([Novidea_HPC__Policy__c].Novidea_HPC__Action__c, &apos;Active&apos;),
(ISPICKVAL([Novidea_HPC__Policy__c].Novidea_HPC__Action__c, &apos;Not Active&apos;))),
[Novidea_HPC__Policy__c].Grouping_product_for_active_customers__c =&apos;Others&apos;),1,0)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_24_myRule_15_A1_0153809067</name>
        <dataType>Number</dataType>
        <expression>if (AND (or (ISPICKVAL({!myVariable_current.Novidea_HPC__Action__c}, &apos;Active&apos;),
(ISPICKVAL({!myVariable_current.Novidea_HPC__Action__c}, &apos;Not Active&apos;))),
{!myVariable_current.Grouping_product_for_active_customers__c} =&apos;Others&apos;),1,0)</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>if (AND (or (ISPICKVAL([Novidea_HPC__Policy__c].Novidea_HPC__Action__c, &apos;Active&apos;),
(ISPICKVAL([Novidea_HPC__Policy__c].Novidea_HPC__Action__c, &apos;Not Active&apos;))),
[Novidea_HPC__Policy__c].Grouping_product_for_active_customers__c =&apos;Other Cars&apos;),1,0)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_25_myRule_15_A1_6258256913</name>
        <dataType>Number</dataType>
        <expression>if (AND (or (ISPICKVAL({!myVariable_current.Novidea_HPC__Action__c}, &apos;Active&apos;),
(ISPICKVAL({!myVariable_current.Novidea_HPC__Action__c}, &apos;Not Active&apos;))),
{!myVariable_current.Grouping_product_for_active_customers__c} =&apos;Other Cars&apos;),1,0)</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>if (AND (or (ISPICKVAL([Novidea_HPC__Policy__c].Novidea_HPC__Action__c, &apos;Active&apos;),
(ISPICKVAL([Novidea_HPC__Policy__c].Novidea_HPC__Action__c, &apos;Not Active&apos;))),
[Novidea_HPC__Policy__c].Grouping_product_for_active_customers__c =&apos;Personal Accidents&apos;),1,0)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_26_myRule_15_A1_0565268785</name>
        <dataType>Number</dataType>
        <expression>if (AND (or (ISPICKVAL({!myVariable_current.Novidea_HPC__Action__c}, &apos;Active&apos;),
(ISPICKVAL({!myVariable_current.Novidea_HPC__Action__c}, &apos;Not Active&apos;))),
{!myVariable_current.Grouping_product_for_active_customers__c} =&apos;Personal Accidents&apos;),1,0)</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>if (AND (or (ISPICKVAL([Novidea_HPC__Policy__c].Novidea_HPC__Action__c, &apos;Active&apos;),
(ISPICKVAL([Novidea_HPC__Policy__c].Novidea_HPC__Action__c, &apos;Not Active&apos;))),
[Novidea_HPC__Policy__c].Grouping_product_for_active_customers__c =&apos;RI&apos;),1,0)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_27_myRule_15_A1_8599660261</name>
        <dataType>Number</dataType>
        <expression>if (AND (or (ISPICKVAL({!myVariable_current.Novidea_HPC__Action__c}, &apos;Active&apos;),
(ISPICKVAL({!myVariable_current.Novidea_HPC__Action__c}, &apos;Not Active&apos;))),
{!myVariable_current.Grouping_product_for_active_customers__c} =&apos;RI&apos;),1,0)</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>if (AND (or (ISPICKVAL([Novidea_HPC__Policy__c].Novidea_HPC__Action__c, &apos;Active&apos;),
(ISPICKVAL([Novidea_HPC__Policy__c].Novidea_HPC__Action__c, &apos;Not Active&apos;))),
[Novidea_HPC__Policy__c].Grouping_product_for_active_customers__c =&apos;Riders&apos;),1,0)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_28_myRule_15_A1_1861856986</name>
        <dataType>Number</dataType>
        <expression>if (AND (or (ISPICKVAL({!myVariable_current.Novidea_HPC__Action__c}, &apos;Active&apos;),
(ISPICKVAL({!myVariable_current.Novidea_HPC__Action__c}, &apos;Not Active&apos;))),
{!myVariable_current.Grouping_product_for_active_customers__c} =&apos;Riders&apos;),1,0)</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>if (AND (or (ISPICKVAL([Novidea_HPC__Policy__c].Novidea_HPC__Action__c, &apos;Active&apos;),
(ISPICKVAL([Novidea_HPC__Policy__c].Novidea_HPC__Action__c, &apos;Not Active&apos;))),
[Novidea_HPC__Policy__c].Grouping_product_for_active_customers__c =&apos;Special Risks&apos;),1,0)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_29_myRule_15_A1_1801942013</name>
        <dataType>Number</dataType>
        <expression>if (AND (or (ISPICKVAL({!myVariable_current.Novidea_HPC__Action__c}, &apos;Active&apos;),
(ISPICKVAL({!myVariable_current.Novidea_HPC__Action__c}, &apos;Not Active&apos;))),
{!myVariable_current.Grouping_product_for_active_customers__c} =&apos;Special Risks&apos;),1,0)</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>if (AND (or (ISPICKVAL([Novidea_HPC__Policy__c].Novidea_HPC__Action__c, &apos;Active&apos;),
(ISPICKVAL([Novidea_HPC__Policy__c].Novidea_HPC__Action__c, &apos;Not Active&apos;))),
[Novidea_HPC__Policy__c].Grouping_product_for_active_customers__c =&apos;Others&apos;),1,0)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A12_9127083533</name>
        <dataType>Number</dataType>
        <expression>if (AND (or (ISPICKVAL({!myVariable_current.Novidea_HPC__Action__c}, &apos;Active&apos;),
(ISPICKVAL({!myVariable_current.Novidea_HPC__Action__c}, &apos;Not Active&apos;))),
{!myVariable_current.Grouping_product_for_active_customers__c} =&apos;Others&apos;),1,0)</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>if (AND (or (ISPICKVAL([Novidea_HPC__Policy__c].Novidea_HPC__Action__c, &apos;Active&apos;),
(ISPICKVAL([Novidea_HPC__Policy__c].Novidea_HPC__Action__c, &apos;Not Active&apos;))),
[Novidea_HPC__Policy__c].Grouping_product_for_active_customers__c =&apos;Travels&apos;),1,0)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_30_myRule_15_A1_9565521193</name>
        <dataType>Number</dataType>
        <expression>if (AND (or (ISPICKVAL({!myVariable_current.Novidea_HPC__Action__c}, &apos;Active&apos;),
(ISPICKVAL({!myVariable_current.Novidea_HPC__Action__c}, &apos;Not Active&apos;))),
{!myVariable_current.Grouping_product_for_active_customers__c} =&apos;Travels&apos;),1,0)</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>if (AND (or (ISPICKVAL([Novidea_HPC__Policy__c].Novidea_HPC__Action__c, &apos;Active&apos;),
(ISPICKVAL([Novidea_HPC__Policy__c].Novidea_HPC__Action__c, &apos;Not Active&apos;))),
[Novidea_HPC__Policy__c].Grouping_product_for_active_customers__c =&apos;Travels&apos;),1,0)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myRule_1_A11_9364282360</name>
        <dataType>Number</dataType>
        <expression>if (AND (or (ISPICKVAL({!myVariable_current.Novidea_HPC__Action__c}, &apos;Active&apos;),
(ISPICKVAL({!myVariable_current.Novidea_HPC__Action__c}, &apos;Not Active&apos;))),
{!myVariable_current.Grouping_product_for_active_customers__c} =&apos;Travels&apos;),1,0)</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>if (AND (or (ISPICKVAL([Novidea_HPC__Policy__c].Novidea_HPC__Action__c, &apos;Active&apos;),
(ISPICKVAL([Novidea_HPC__Policy__c].Novidea_HPC__Action__c, &apos;Not Active&apos;))),
[Novidea_HPC__Policy__c].Grouping_product_for_active_customers__c =&apos;Health&apos;),1,0)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_4_myRule_1_A10_5424825455</name>
        <dataType>Number</dataType>
        <expression>if (AND (or (ISPICKVAL({!myVariable_current.Novidea_HPC__Action__c}, &apos;Active&apos;),
(ISPICKVAL({!myVariable_current.Novidea_HPC__Action__c}, &apos;Not Active&apos;))),
{!myVariable_current.Grouping_product_for_active_customers__c} =&apos;Health&apos;),1,0)</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>if (AND (or (ISPICKVAL([Novidea_HPC__Policy__c].Novidea_HPC__Action__c, &apos;Active&apos;),
(ISPICKVAL([Novidea_HPC__Policy__c].Novidea_HPC__Action__c, &apos;Not Active&apos;))),
[Novidea_HPC__Policy__c].Grouping_product_for_active_customers__c =&apos;Special Risks&apos;),1,0)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_5_myRule_1_A9_2043607517</name>
        <dataType>Number</dataType>
        <expression>if (AND (or (ISPICKVAL({!myVariable_current.Novidea_HPC__Action__c}, &apos;Active&apos;),
(ISPICKVAL({!myVariable_current.Novidea_HPC__Action__c}, &apos;Not Active&apos;))),
{!myVariable_current.Grouping_product_for_active_customers__c} =&apos;Special Risks&apos;),1,0)</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>if (AND (or (ISPICKVAL([Novidea_HPC__Policy__c].Novidea_HPC__Action__c, &apos;Active&apos;),
(ISPICKVAL([Novidea_HPC__Policy__c].Novidea_HPC__Action__c, &apos;Not Active&apos;))),
[Novidea_HPC__Policy__c].Grouping_product_for_active_customers__c =&apos;Business&apos;),1,0)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_6_myRule_1_A8_6417694361</name>
        <dataType>Number</dataType>
        <expression>if (AND (or (ISPICKVAL({!myVariable_current.Novidea_HPC__Action__c}, &apos;Active&apos;),
(ISPICKVAL({!myVariable_current.Novidea_HPC__Action__c}, &apos;Not Active&apos;))),
{!myVariable_current.Grouping_product_for_active_customers__c} =&apos;Business&apos;),1,0)</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>if (AND (or (ISPICKVAL([Novidea_HPC__Policy__c].Novidea_HPC__Action__c, &apos;Active&apos;),
(ISPICKVAL([Novidea_HPC__Policy__c].Novidea_HPC__Action__c, &apos;Not Active&apos;))),
[Novidea_HPC__Policy__c].Grouping_product_for_active_customers__c =&apos;Other Cars&apos;),1,0)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_7_myRule_1_A7_0782022897</name>
        <dataType>Number</dataType>
        <expression>if (AND (or (ISPICKVAL({!myVariable_current.Novidea_HPC__Action__c}, &apos;Active&apos;),
(ISPICKVAL({!myVariable_current.Novidea_HPC__Action__c}, &apos;Not Active&apos;))),
{!myVariable_current.Grouping_product_for_active_customers__c} =&apos;Other Cars&apos;),1,0)</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>if (AND (or (ISPICKVAL([Novidea_HPC__Policy__c].Novidea_HPC__Action__c, &apos;Active&apos;),
(ISPICKVAL([Novidea_HPC__Policy__c].Novidea_HPC__Action__c, &apos;Not Active&apos;))),
[Novidea_HPC__Policy__c].Grouping_product_for_active_customers__c =&apos;Personal Accidents&apos;),1,0)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_8_myRule_1_A6_5496278029</name>
        <dataType>Number</dataType>
        <expression>if (AND (or (ISPICKVAL({!myVariable_current.Novidea_HPC__Action__c}, &apos;Active&apos;),
(ISPICKVAL({!myVariable_current.Novidea_HPC__Action__c}, &apos;Not Active&apos;))),
{!myVariable_current.Grouping_product_for_active_customers__c} =&apos;Personal Accidents&apos;),1,0)</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>if (AND (or (ISPICKVAL([Novidea_HPC__Policy__c].Novidea_HPC__Action__c, &apos;Active&apos;),
(ISPICKVAL([Novidea_HPC__Policy__c].Novidea_HPC__Action__c, &apos;Not Active&apos;))),
[Novidea_HPC__Policy__c].Grouping_product_for_active_customers__c =&apos;RI&apos;),1,0)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_9_myRule_1_A5_2949338918</name>
        <dataType>Number</dataType>
        <expression>if (AND (or (ISPICKVAL({!myVariable_current.Novidea_HPC__Action__c}, &apos;Active&apos;),
(ISPICKVAL({!myVariable_current.Novidea_HPC__Action__c}, &apos;Not Active&apos;))),
{!myVariable_current.Grouping_product_for_active_customers__c} =&apos;RI&apos;),1,0)</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND ([Novidea_HPC__Policy__c].is_exist_in_active_customers__c ,  [Novidea_HPC__Policy__c].Novidea_HPC__Client__c  &lt;&gt;&apos;&apos;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND ({!myVariable_current.is_exist_in_active_customers__c} ,  {!myVariable_current.Novidea_HPC__Client__c}  &lt;&gt;&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND ([Novidea_HPC__Policy__c].is_exist_in_active_customers__c &lt;&gt;true,
[Novidea_HPC__Policy__c].Novidea_HPC__Client__c  &lt;&gt;&apos;&apos;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_15</name>
        <dataType>Boolean</dataType>
        <expression>AND ({!myVariable_current.is_exist_in_active_customers__c} &lt;&gt;true,
{!myVariable_current.Novidea_HPC__Client__c}  &lt;&gt;&apos;&apos;)</expression>
    </formulas>
    <interviewLabel>Is_active_client-3_InterviewLabel</interviewLabel>
    <label>Is active client</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Novidea_HPC__Policy__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordCreates>
        <name>myRule_15_A1</name>
        <label>create policy in active customers</label>
        <locationX>1500</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_15_A2</targetReference>
        </connector>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Account__c</field>
            <value>
                <elementReference>formula_16_myRule_15_A1_3445185908</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Apartment active policy</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Apartment_active_policy__c</field>
            <value>
                <elementReference>formula_18_myRule_15_A1_6250637481</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Business_active_policy</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Business_active_policy__c</field>
            <value>
                <elementReference>formula_19_myRule_15_A1_3256326114</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Casco active Policy</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Casco_active_Policy__c</field>
            <value>
                <elementReference>formula_20_myRule_15_A1_0877788975</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Effective date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Effective_date__c</field>
            <value>
                <elementReference>formula_21_myRule_15_A1_5833015842</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Health active policy</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Health_active_policy__c</field>
            <value>
                <elementReference>formula_22_myRule_15_A1_4752008101</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Hova active_policy</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Hova_active_policy__c</field>
            <value>
                <elementReference>formula_23_myRule_15_A1_1210323911</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Other active policy</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Other_active_policy__c</field>
            <value>
                <elementReference>formula_24_myRule_15_A1_0153809067</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Other car active policy</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Other_car_active_policy__c</field>
            <value>
                <elementReference>formula_25_myRule_15_A1_6258256913</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>PA Active policy</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>PA_Active_policy__c</field>
            <value>
                <elementReference>formula_26_myRule_15_A1_0565268785</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Policy</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Policy__c</field>
            <value>
                <elementReference>formula_17_myRule_15_A1_8634824250</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>RI active policy</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>RI_active_policy__c</field>
            <value>
                <elementReference>formula_27_myRule_15_A1_8599660261</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Riders active policy</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Riders_active_policy__c</field>
            <value>
                <elementReference>formula_28_myRule_15_A1_1861856986</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Special Risks active policy</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Special_Risks_active_policy__c</field>
            <value>
                <elementReference>formula_29_myRule_15_A1_1801942013</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Travel insurance Active policy</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Travel_insurance_Active_policy__c</field>
            <value>
                <elementReference>formula_30_myRule_15_A1_9565521193</elementReference>
            </value>
        </inputAssignments>
        <object>Active_customer__c</object>
    </recordCreates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Novidea_HPC__Policy__c]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_15_A2</name>
        <label>Mark as record exist</label>
        <locationX>1500</locationX>
        <locationY>300</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>is exist in active customers</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>is_exist_in_active_customers__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Novidea_HPC__Policy__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Novidea_HPC__Policy__c].Active_customers__r</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>update Casco in customers</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Policy__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Casco active Policy</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Casco_active_Policy__c</field>
            <value>
                <elementReference>formula_13_myRule_1_A1_3154442467</elementReference>
            </value>
        </inputAssignments>
        <object>Active_customer__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Novidea_HPC__Policy__c].Active_customers__r</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A10</name>
        <label>Update Health pol</label>
        <locationX>100</locationX>
        <locationY>1100</locationY>
        <connector>
            <targetReference>myRule_1_A11</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Policy__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Health active policy</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Health_active_policy__c</field>
            <value>
                <elementReference>formula_4_myRule_1_A10_5424825455</elementReference>
            </value>
        </inputAssignments>
        <object>Active_customer__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Novidea_HPC__Policy__c].Active_customers__r</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A11</name>
        <label>Update Travels pol</label>
        <locationX>100</locationX>
        <locationY>1200</locationY>
        <connector>
            <targetReference>myRule_1_A12</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Policy__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Travel insurance Active policy</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Travel_insurance_Active_policy__c</field>
            <value>
                <elementReference>formula_3_myRule_1_A11_9364282360</elementReference>
            </value>
        </inputAssignments>
        <object>Active_customer__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Novidea_HPC__Policy__c].Active_customers__r</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A12</name>
        <label>Update Others pol</label>
        <locationX>100</locationX>
        <locationY>1300</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Policy__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Other active policy</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Other_active_policy__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A12_9127083533</elementReference>
            </value>
        </inputAssignments>
        <object>Active_customer__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Novidea_HPC__Policy__c].Active_customers__r</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A2</name>
        <label>Update Hova pol</label>
        <locationX>100</locationX>
        <locationY>300</locationY>
        <connector>
            <targetReference>myRule_1_A3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Policy__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Hova active_policy</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Hova_active_policy__c</field>
            <value>
                <elementReference>formula_12_myRule_1_A2_7876614399</elementReference>
            </value>
        </inputAssignments>
        <object>Active_customer__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Novidea_HPC__Policy__c].Active_customers__r</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A3</name>
        <label>Update Riders pol</label>
        <locationX>100</locationX>
        <locationY>400</locationY>
        <connector>
            <targetReference>myRule_1_A4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Policy__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Riders active policy</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Riders_active_policy__c</field>
            <value>
                <elementReference>formula_11_myRule_1_A3_6123088157</elementReference>
            </value>
        </inputAssignments>
        <object>Active_customer__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Novidea_HPC__Policy__c].Active_customers__r</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A4</name>
        <label>Update Apartments pol</label>
        <locationX>100</locationX>
        <locationY>500</locationY>
        <connector>
            <targetReference>myRule_1_A5</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Policy__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Apartment active policy</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Apartment_active_policy__c</field>
            <value>
                <elementReference>formula_10_myRule_1_A4_3465095015</elementReference>
            </value>
        </inputAssignments>
        <object>Active_customer__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Novidea_HPC__Policy__c].Active_customers__r</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A5</name>
        <label>Update RI pol</label>
        <locationX>100</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>myRule_1_A6</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Policy__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>RI active policy</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>RI_active_policy__c</field>
            <value>
                <elementReference>formula_9_myRule_1_A5_2949338918</elementReference>
            </value>
        </inputAssignments>
        <object>Active_customer__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Novidea_HPC__Policy__c].Active_customers__r</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A6</name>
        <label>Update Personal Accidents pol</label>
        <locationX>100</locationX>
        <locationY>700</locationY>
        <connector>
            <targetReference>myRule_1_A7</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Policy__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>PA Active policy</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>PA_Active_policy__c</field>
            <value>
                <elementReference>formula_8_myRule_1_A6_5496278029</elementReference>
            </value>
        </inputAssignments>
        <object>Active_customer__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Novidea_HPC__Policy__c].Active_customers__r</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A7</name>
        <label>Update Other Cars pol</label>
        <locationX>100</locationX>
        <locationY>800</locationY>
        <connector>
            <targetReference>myRule_1_A8</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Policy__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Other car active policy</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Other_car_active_policy__c</field>
            <value>
                <elementReference>formula_7_myRule_1_A7_0782022897</elementReference>
            </value>
        </inputAssignments>
        <object>Active_customer__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Novidea_HPC__Policy__c].Active_customers__r</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A8</name>
        <label>Update Business pol</label>
        <locationX>100</locationX>
        <locationY>900</locationY>
        <connector>
            <targetReference>myRule_1_A9</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Policy__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Business_active_policy</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Business_active_policy__c</field>
            <value>
                <elementReference>formula_6_myRule_1_A8_6417694361</elementReference>
            </value>
        </inputAssignments>
        <object>Active_customer__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Novidea_HPC__Policy__c].Active_customers__r</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A9</name>
        <label>Update Special Risks pol</label>
        <locationX>100</locationX>
        <locationY>1000</locationY>
        <connector>
            <targetReference>myRule_1_A10</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Policy__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Special Risks active policy</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Special_Risks_active_policy__c</field>
            <value>
                <elementReference>formula_5_myRule_1_A9_2043607517</elementReference>
            </value>
        </inputAssignments>
        <object>Active_customer__c</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Novidea_HPC__Policy__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Novidea_HPC__Policy__c</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
