force-app/main/default/flows/Last_Exchange_Rate_Daily.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <constants>
        <name>USDtoUSD</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <formulas>
        <name>AUDtoUSD</name>
        <dataType>Number</dataType>
        <expression>{!AUD.Novidea_HPC__Rate__c}/{!USD.Novidea_HPC__Rate__c}</expression>
        <scale>4</scale>
    </formulas>
    <formulas>
        <name>CADtoUSD</name>
        <dataType>Number</dataType>
        <expression>{!CAD.Novidea_HPC__Rate__c}/{!USD.Novidea_HPC__Rate__c}</expression>
        <scale>4</scale>
    </formulas>
    <formulas>
        <name>EURtoUSD</name>
        <dataType>Number</dataType>
        <expression>{!EUR.Novidea_HPC__Rate__c}/{!USD.Novidea_HPC__Rate__c}</expression>
        <scale>4</scale>
    </formulas>
    <formulas>
        <name>GBPtoUSD</name>
        <dataType>Number</dataType>
        <expression>{!GBP.Novidea_HPC__Rate__c}/{!USD.Novidea_HPC__Rate__c}</expression>
        <scale>4</scale>
    </formulas>
    <formulas>
        <name>ILStoUSD</name>
        <dataType>Number</dataType>
        <expression>1/{!USD.Novidea_HPC__Rate__c}</expression>
        <scale>4</scale>
    </formulas>
    <formulas>
        <name>PLNtoUSD</name>
        <dataType>Number</dataType>
        <expression>{!PLN.Novidea_HPC__Rate__c}/{!USD.Novidea_HPC__Rate__c}</expression>
        <scale>4</scale>
    </formulas>
    <formulas>
        <name>SGDtoUSD</name>
        <dataType>Number</dataType>
        <expression>{!SGD.Novidea_HPC__Rate__c}/{!USD.Novidea_HPC__Rate__c}</expression>
        <scale>4</scale>
    </formulas>
    <interviewLabel>Last Exchange Rate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Last Exchange Rate - Daily</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>AUD</name>
        <label>AUD</label>
        <locationX>176</locationX>
        <locationY>996</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateLastExchangeRate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Novidea_HPC__Target_Currency__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AUD</stringValue>
            </value>
        </filters>
        <filters>
            <field>Novidea_HPC__Rate_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Novidea_HPC__Source_Currency__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ILS</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Novidea_HPC__Exchange_Rate__c</object>
        <sortField>Novidea_HPC__Rate_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>CAD</name>
        <label>CAD</label>
        <locationX>176</locationX>
        <locationY>516</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PLN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Novidea_HPC__Target_Currency__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CAD</stringValue>
            </value>
        </filters>
        <filters>
            <field>Novidea_HPC__Rate_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Novidea_HPC__Source_Currency__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ILS</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Novidea_HPC__Exchange_Rate__c</object>
        <sortField>Novidea_HPC__Rate_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>EUR</name>
        <label>EUR</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CAD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Novidea_HPC__Target_Currency__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EUR</stringValue>
            </value>
        </filters>
        <filters>
            <field>Novidea_HPC__Rate_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Novidea_HPC__Exchange_Rate__c</object>
        <sortField>Novidea_HPC__Rate_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GBP</name>
        <label>GBP</label>
        <locationX>176</locationX>
        <locationY>876</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AUD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Novidea_HPC__Target_Currency__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GBP</stringValue>
            </value>
        </filters>
        <filters>
            <field>Novidea_HPC__Rate_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Novidea_HPC__Source_Currency__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ILS</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Novidea_HPC__Exchange_Rate__c</object>
        <sortField>Novidea_HPC__Rate_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>PLN</name>
        <label>PLN</label>
        <locationX>176</locationX>
        <locationY>636</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SGD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Novidea_HPC__Target_Currency__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PLN</stringValue>
            </value>
        </filters>
        <filters>
            <field>Novidea_HPC__Rate_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Novidea_HPC__Source_Currency__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ILS</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Novidea_HPC__Exchange_Rate__c</object>
        <sortField>Novidea_HPC__Rate_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SGD</name>
        <label>SGD</label>
        <locationX>176</locationX>
        <locationY>756</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GBP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Novidea_HPC__Target_Currency__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SGD</stringValue>
            </value>
        </filters>
        <filters>
            <field>Novidea_HPC__Rate_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Novidea_HPC__Source_Currency__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ILS</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Novidea_HPC__Exchange_Rate__c</object>
        <sortField>Novidea_HPC__Rate_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>USD</name>
        <label>USD</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EUR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Novidea_HPC__Target_Currency__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </filters>
        <filters>
            <field>Novidea_HPC__Rate_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Novidea_HPC__Exchange_Rate__c</object>
        <sortField>Novidea_HPC__Rate_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateLastExchangeRate</name>
        <label>UpdateLastExchangeRate</label>
        <locationX>176</locationX>
        <locationY>1116</locationY>
        <inputAssignments>
            <field>AUD__c</field>
            <value>
                <elementReference>AUDtoUSD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAD__c</field>
            <value>
                <elementReference>CADtoUSD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EUR__c</field>
            <value>
                <elementReference>EURtoUSD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GBP__c</field>
            <value>
                <elementReference>GBPtoUSD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ILS__c</field>
            <value>
                <elementReference>ILStoUSD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PLN__c</field>
            <value>
                <elementReference>PLNtoUSD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SGD__c</field>
            <value>
                <elementReference>SGDtoUSD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>USD__c</field>
            <value>
                <elementReference>USDtoUSD</elementReference>
            </value>
        </inputAssignments>
        <object>Last_Exchange_Rate__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>USD</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-01-02</startDate>
            <startTime>00:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
