force-app/main/default/flows/Lead_BS_RI.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>setRI</name>
        <label>setRI</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.manage_RI__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>accountRI</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>setRI_0_0</name>
        <label>setRI</label>
        <locationX>314</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>$Record.manage_RI__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ownerRI</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>setRI_0_0_0</name>
        <label>setRI</label>
        <locationX>578</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>$Record.manage_RI__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Copy_1_of_ownerOrRTisRI</name>
        <label>Copy 1 of ownerOrRTisRI</label>
        <locationX>248</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Account_RT_is_RI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Client__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setRI</targetReference>
            </connector>
            <label>Copy 1 of Account RT is RI</label>
        </rules>
    </decisions>
    <decisions>
        <name>ownerIsRI</name>
        <label>ownerIsRI</label>
        <locationX>446</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>setRI_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Owner_is_RI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ownerInGroupRI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setRI_0_0</targetReference>
            </connector>
            <label>Owner is RI</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Lead - BS -RI {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead - BS -RI</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>group</name>
        <label>group</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ownerInGroupRI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RI_Users</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ownerInGroupRI</name>
        <label>ownerInGroupRI</label>
        <locationX>446</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ownerIsRI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>group.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Copy_1_of_ownerOrRTisRI</targetReference>
        </connector>
        <object>Novidea_HPC__Lead__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
