force-app/main/default/flows/Mark_Lead_Status_AS_B4U_Stage.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Ids_Is_Not_Null</name>
        <label>Ids Is Not Null</label>
        <locationX>405</locationX>
        <locationY>56</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Ids</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ids</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_All_Ids</targetReference>
            </connector>
            <label>Has Ids</label>
        </rules>
    </decisions>
    <description>מופעל מליסט וויו של לידים ומסמן לידים שהועברו לביפוריו</description>
    <interviewLabel>Mark Lead Status AS B4U Stage {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Mark Lead Status AS B4U Stage</label>
    <loops>
        <name>Loop_All_Ids</name>
        <label>Loop All Ids</label>
        <locationX>592</locationX>
        <locationY>50</locationY>
        <collectionReference>ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Mark_As_B4u</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Mark_As_B4u</name>
        <label>Mark As B4u</label>
        <locationX>799</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Loop_All_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_All_Ids</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AgentWise_IL__Lead_Status__c</field>
            <value>
                <stringValue>In Process</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Sub_Status__c</field>
            <value>
                <stringValue>B4U Stage</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MovedTo_B4U_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>AgentWise_IL__Lead__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>43</locationX>
        <locationY>35</locationY>
        <connector>
            <targetReference>Ids_Is_Not_Null</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
