force-app/main/default/flows/New_Lead_From_Upload.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AssignFactorIdAccount</name>
        <label>AssignFactorIdAccount</label>
        <locationX>987</locationX>
        <locationY>593</locationY>
        <assignmentItems>
            <assignToReference>$Record.Lead_Source_Factor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Business / Account Reference</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Lead_Source_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Lead_Factor_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Complete_Other_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>בוחר את השדה להצבת המזהה שניתן</description>
        <name>AssignFactorIdContact</name>
        <label>AssignFactorIdContact</label>
        <locationX>946</locationX>
        <locationY>182</locationY>
        <assignmentItems>
            <assignToReference>$Record.AgentWise_IL__Lead_Source_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Lead_Factor_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Complete_Other_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignFactorIdUser</name>
        <label>AssignFactorIdUser</label>
        <locationX>1147</locationX>
        <locationY>421</locationY>
        <assignmentItems>
            <assignToReference>$Record.Lead_Source_Employee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Lead_Factor_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Complete_Other_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Complete_Other_Values</name>
        <label>Complete Other Values</label>
        <locationX>1138</locationX>
        <locationY>92</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0124G000000kq8YQAQ</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Stop_Process</name>
        <label>Stop Process</label>
        <locationX>411</locationX>
        <locationY>310</locationY>
        <assignmentItems>
            <assignToReference>$Record.Upload_Flow_Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Did Nothing</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Client_Lookup</name>
        <label>Update Client Lookup</label>
        <locationX>534</locationX>
        <locationY>430</locationY>
        <assignmentItems>
            <assignToReference>$Record.AgentWise_IL__Client__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Upload_Flow_Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Insured Already Found By OID</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Lead_Factor_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Default_Lead_Factor</name>
        <label>Update Default Lead Factor</label>
        <locationX>1259</locationX>
        <locationY>295</locationY>
        <assignmentItems>
            <assignToReference>$Record.Lead_Source_Factor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Complete_Other_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Lookups_On_Lead</name>
        <label>Update Lookups On Lead</label>
        <locationX>699</locationX>
        <locationY>544</locationY>
        <assignmentItems>
            <assignToReference>$Record.AgentWise_IL__Insured_Person__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.AgentWise_IL__Client__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Upload_Flow_Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Insured Found By SSN</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Lead_Factor_Id</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_Found</name>
        <label>Check If Found</label>
        <locationX>696</locationX>
        <locationY>345</locationY>
        <defaultConnector>
            <targetReference>Check_Lead_Factor_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lookups_On_Lead</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Lead_Factor_Id</name>
        <label>Check Lead Factor Id</label>
        <locationX>900</locationX>
        <locationY>407</locationY>
        <defaultConnector>
            <targetReference>Update_Default_Lead_Factor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LeadFactorIsContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeadFactorid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignFactorIdContact</targetReference>
            </connector>
            <label>LeadFactorIsContact</label>
        </rules>
        <rules>
            <name>LeadFactorIsEmployee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeadFactorid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>user</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignFactorIdUser</targetReference>
            </connector>
            <label>LeadFactorIsEmployee</label>
        </rules>
        <rules>
            <name>LeadFactorIsAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeadFactorid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignFactorIdAccount</targetReference>
            </connector>
            <label>LeadFactorIsAccount</label>
        </rules>
    </decisions>
    <decisions>
        <description>בודק מצבי טעינה שונים. אם ליד הוקם ידנית במערכת, חודל תהליך (תוצאת דיפולט</description>
        <name>Checks_If_Insured_Exists_By_Oid</name>
        <label>Checks If Insured Exists By Oid</label>
        <locationX>405</locationX>
        <locationY>114</locationY>
        <defaultConnector>
            <targetReference>Stop_Process</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>InsuredAlreadyExistsByOid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AgentWise_IL__Insured_Person__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AgentWise_IL__Client__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Create_By_Upload__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>Insured Already Exists by Oid</label>
        </rules>
        <rules>
            <name>NoInsuredButHasSSN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Client_TZ__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AgentWise_IL__Insured_Person__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Create_By_Upload__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_SSN</targetReference>
            </connector>
            <label>NoInsuredButHasSSN</label>
        </rules>
        <rules>
            <name>NoInsuredAndNoSSN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Client_TZ__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Create_By_Upload__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>NoInsuredAndNoSSN</label>
        </rules>
    </decisions>
    <description>בטעינת קובץ לידים מסדר את הליד. אם הליד הוא ידני, חודל</description>
    <formulas>
        <name>LeadFactorid</name>
        <dataType>String</dataType>
        <expression>IF (LEFT ({!$Record.Lead_Factor_Id__c},3) = &apos;003&apos;, &quot;contact&quot;,
IF (LEFT ({!$Record.Lead_Factor_Id__c},3) = &apos;001&apos;, &quot;account&quot;,
&quot;user&quot;))</expression>
    </formulas>
    <formulas>
        <name>LeadName</name>
        <dataType>String</dataType>
        <expression>&quot;ליד&quot; &amp; &quot; &quot; &amp; {!$Record.AgentWise_IL__First_Name__c} &amp;&quot; &quot; &amp; {!$Record.AgentWise_IL__Last_Name__c}</expression>
    </formulas>
    <interviewLabel>New Lead From Upload {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Lead From Upload</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Check_SSN</name>
        <label>Check SSN</label>
        <locationX>764</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Novidea_HPC__SSN__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Client_TZ__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Contact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>534</locationX>
        <locationY>272</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Client_Lookup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AgentWise_IL__Insured_Person__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Checks_If_Insured_Exists_By_Oid</targetReference>
        </connector>
        <object>AgentWise_IL__Lead__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
