force-app/main/default/flows/One_Time_Fix_Create_Event_Under_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>AssignOn_Lead</name>
        <label>AssignOn Lead</label>
        <locationX>535</locationX>
        <locationY>129</locationY>
        <assignmentItems>
            <assignToReference>$Record.Meeting_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Last_Meeeting_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreatedTask</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Test_Flag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Recorf</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>ActivityDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Record.Meeting_Time__c})</expression>
    </formulas>
    <formulas>
        <name>ActivityDateTime</name>
        <dataType>DateTime</dataType>
        <expression>IF(NOT(ISBLANK({!$Record.Meeting_Time__c})),{!$Record.Meeting_Time__c},{!$Record.CreatedDate})</expression>
    </formulas>
    <formulas>
        <name>EndTime</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.Meeting_Time__c}+1/24</expression>
    </formulas>
    <formulas>
        <name>Owner</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!$Record.Sales_Rep__c})),{!$Record.Sales_Rep__c},&apos;0054G00000BYsVVQA1&apos;)</expression>
    </formulas>
    <interviewLabel>One Time Fix Create Event Under Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>One Time Fix Create Event Under Lead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateEvent</name>
        <label>CreateEvent</label>
        <locationX>418</locationX>
        <locationY>129</locationY>
        <assignRecordIdToReference>CreatedTask</assignRecordIdToReference>
        <connector>
            <targetReference>AssignOn_Lead</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>ActivityDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActivityDateTime</field>
            <value>
                <elementReference>ActivityDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>B4U_Status__c</field>
            <value>
                <elementReference>$Record.B4U_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DurationInMinutes</field>
            <value>
                <numberValue>60.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>EndTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EventSubtype</field>
            <value>
                <stringValue>Event</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_DateTime__c</field>
            <value>
                <elementReference>$Record.Meeting_Time__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Status__c</field>
            <value>
                <elementReference>$Record.Meeting_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Type__c</field>
            <value>
                <elementReference>$Record.Meeting_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Owner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0124G000000kqfOQAQ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Rep__c</field>
            <value>
                <elementReference>$Record.Sales_Rep__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>$Record.Meeting_Time__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>פגישה</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.AgentWise_IL__Insured_Person__c</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordCreates>
    <recordUpdates>
        <name>Update_Recorf</name>
        <label>Update Record</label>
        <locationX>650</locationX>
        <locationY>129</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>CreateEvent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Test_Flag__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </filters>
        <object>AgentWise_IL__Lead__c</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2021-07-26</startDate>
            <startTime>14:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CreatedTask</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
