force-app/main/default/flows/Policy_Nasdaq_Tasks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_First_Task_Email</name>
        <label>Send First Task Email</label>
        <locationX>50</locationX>
        <locationY>516</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SendFirstTaskEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>לקוח נאסדק - הוקצתה לך משימה</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Second_Task_Email</name>
        <label>Send Second Task Email</label>
        <locationX>314</locationX>
        <locationY>516</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SendSecondTaskEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.User_Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>לקוח נאסדק - הוקצתה לך משימה</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>314</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>First_Task_Creation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>First_Task</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Task_Creation</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_First_Task</targetReference>
            </connector>
            <label>First Task Creation</label>
        </rules>
        <rules>
            <name>Second_Task_Creation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Second_Task</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Task_Creation</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Second_Task</targetReference>
            </connector>
            <label>Second Task Creation</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>First_Task</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Novidea_HPC__Effective_Date__c}+90</expression>
    </formulas>
    <formulas>
        <name>Second_Task</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Novidea_HPC__Expiration_Date__c}-120</expression>
    </formulas>
    <formulas>
        <name>Task_Creation</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel>Policy Nasdaq Tasks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Policy Nasdaq Tasks</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_First_Task</name>
        <label>Create First Task</label>
        <locationX>50</locationX>
        <locationY>396</locationY>
        <connector>
            <targetReference>Send_First_Task_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>$Record.Novidea_HPC__Client__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Record.Novidea_HPC__Expiration_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>לקוח נאסדק - קביעת פגישה</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Second_Task</name>
        <label>Create Second Task</label>
        <locationX>314</locationX>
        <locationY>396</locationY>
        <connector>
            <targetReference>Send_Second_Task_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>$Record.Novidea_HPC__Client__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Task_Creation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>לקוח נאסדק - תחילת טיפול בחידוש</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Nasdaq__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Novidea_HPC__Action__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Novidea_HPC__Product_Def_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>D&amp;O</stringValue>
            </value>
        </filters>
        <object>Novidea_HPC__Policy__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-01-09</startDate>
            <startTime>00:45:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>SendFirstTaskEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;direction: rtl;&quot;&gt;היי {!$Record.Owner:User.FirstName},&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;direction: rtl;&quot;&gt;הוקצתה לך משימה לקביעת פגישה עם לקוח נאסדק.&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;direction: rtl;&quot;&gt;למעבר למשימה לחץ &lt;a href=&quot;https://howdenil.lightning.force.com/lightning/r/Task/{!Create_First_Task}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;כאן&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SendSecondTaskEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;direction: rtl;&quot;&gt;היי {&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;!$Record.Owner:User.FirstName&lt;/span&gt;},&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;direction: rtl;&quot;&gt;הוקצתה לך משימה לתחילת טיפול בחידוש ללקוח נאסדק.&lt;/p&gt;&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;direction: rtl;&quot;&gt;למעבר למשימה לחץ &lt;a href=&quot;https://howdenil.lightning.force.com/lightning/r/Task/{!Create_Second_Task}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;כאן&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
