force-app/main/default/flows/Policy_Set_Policy_Type.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Has_Application</name>
        <label>Has Application</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Policy_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Application</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Application__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_Policy_Type</targetReference>
            </connector>
            <label>Has Application</label>
        </rules>
    </decisions>
    <decisions>
        <name>Policy_Type</name>
        <label>Policy Type</label>
        <locationX>710</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Project</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Product_Definition__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a0PD000000GcWKqMAN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Product_Definition__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a0PD0000005leUrMAI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Product_Definition__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a0PD0000005leV2MAI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Product_Definition__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a0P4G00000kaSZXUA2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Product_Definition__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a0P4G00000iqlGRUAY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Product_Definition__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a0P4G00000caBKMUA2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Product_Definition__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a0PD0000005m9MaMAI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Product_Definition__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a0PD0000005ljBEMAY</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Project</targetReference>
            </connector>
            <label>Project</label>
        </rules>
        <rules>
            <name>RunOff</name>
            <conditionLogic>(2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9) AND 1</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Days_Covered__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1095.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Product_Definition__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>a0PD000000GcWKqMAN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Product_Definition__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>a0PD0000005leUrMAI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Product_Definition__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>a0PD0000005leV2MAI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Product_Definition__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>a0P4G00000kaSZXUA2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Product_Definition__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>a0P4G00000iqlGRUAY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Product_Definition__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>a0P4G00000caBKMUA2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Product_Definition__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>a0PD0000005m9MaMAI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Product_Definition__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>a0PD0000005ljBEMAY</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_RunOff</targetReference>
            </connector>
            <label>RunOff</label>
        </rules>
        <rules>
            <name>OnGoing</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Days_Covered__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>1000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Product_Definition__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>a0PD000000GcWKqMAN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Product_Definition__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>a0PD0000005leUrMAI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Product_Definition__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>a0PD0000005leV2MAI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Product_Definition__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>a0P4G00000kaSZXUA2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Product_Definition__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>a0P4G00000iqlGRUAY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Product_Definition__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>a0P4G00000caBKMUA2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Product_Definition__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>a0PD0000005m9MaMAI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Product_Definition__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>a0PD0000005ljBEMAY</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Going</targetReference>
            </connector>
            <label>OnGoing</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Policy Set Policy Type {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Policy Set Policy Type</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Product_Policy_Type</name>
        <label>Set Product Policy Type</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Product_Policy_Type__c</field>
            <value>
                <elementReference>$Record.Novidea_HPC__Product__r.Policy_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Going</name>
        <label>Set Going</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Product_Policy_Type__c</field>
            <value>
                <stringValue>Ongoing</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Project</name>
        <label>Set Project</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Product_Policy_Type__c</field>
            <value>
                <stringValue>Project</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_RunOff</name>
        <label>Set RunOff</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Product_Policy_Type__c</field>
            <value>
                <stringValue>RunOff</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_Application</targetReference>
        </connector>
        <object>Novidea_HPC__Policy__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
