force-app/main/default/flows/Policy_BS_on_update_RI.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>setRI</name>
        <label>setRI</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.manage_RI__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>accountRI</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>setRI_0_0</name>
        <label>setRI</label>
        <locationX>314</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.manage_RI__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ownerRI</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>ownerOrRTisRI</name>
        <label>ownerOrRTisRI</label>
        <locationX>314</locationX>
        <locationY>551</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_RT_is_RI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Client__r.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setRI</targetReference>
            </connector>
            <label>Account RT is RI</label>
        </rules>
        <rules>
            <name>Owner_is_RI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ownerInGroupRI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setRI_0_0</targetReference>
            </connector>
            <label>Owner is RI</label>
        </rules>
    </decisions>
    <interviewLabel>Policy - BS on update - RI {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Policy - BS on update - RI</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>ownerInGroupRI</name>
        <label>ownerInGroupRI</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ownerOrRTisRI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RIUsers.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RIUsers</name>
        <label>RIUsers</label>
        <locationX>314</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ownerInGroupRI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ri_Users</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>RIUsers</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Novidea_HPC__Client__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Novidea_HPC__Policy__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
