force-app/main/default/flows/Product_Related_Entity_After_Creation_Connect_Lookups_And_Check_Ap.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>AssignContactAndAccount</name>
        <label>AssignContactAndAccount</label>
        <locationX>50</locationX>
        <locationY>888</locationY>
        <assignmentItems>
            <assignToReference>ContactForAp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Search_Contact_If_Exists_By_Oid.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountForAp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Product__r.Novidea_HPC__Application__r.Novidea_HPC__Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Search_Ap</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignContactAndAccount_0_0</name>
        <label>AssignContactAndAccount</label>
        <locationX>1106</locationX>
        <locationY>888</locationY>
        <assignmentItems>
            <assignToReference>ContactForAp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Search_Account_If_Exists_By_TaxId.Renewals_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountForAp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Search_Account_If_Exists_By_TaxId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Search_Ap</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignContactAndAccount_0_0_0</name>
        <label>AssignContactAndAccount</label>
        <locationX>1634</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>ContactForAp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ProductForAccountEntity__r.Novidea_HPC__Application__r.Novidea_HPC__Account__r.Renewals_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Search_Ap</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignContactAndAccount_0_0_0_0</name>
        <label>AssignContactAndAccount</label>
        <locationX>578</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>AccountForAp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Product__r.Novidea_HPC__Application__r.Novidea_HPC__Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Search_Ap</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_With_Renewal_Contact</name>
        <label>Account With Renewal Contact ?</label>
        <locationX>1238</locationX>
        <locationY>768</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Search_Account_If_Exists_By_TaxId.Renewals_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignContactAndAccount_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Account_With_Renewal_Contact_0</name>
        <label>Account With Renewal Contact ?</label>
        <locationX>1766</locationX>
        <locationY>888</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ProductForAccountEntity__r.Novidea_HPC__Application__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ProductForAccountEntity__r.Novidea_HPC__Application__r.Novidea_HPC__Account__r.Renewals_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignContactAndAccount_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Entity_Type</name>
        <label>Entity Type</label>
        <locationX>1304</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Employee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Entity_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employee</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product__r.Novidea_HPC__Application__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_Contact_If_Exists_By_Oid</targetReference>
            </connector>
            <label>Employee</label>
        </rules>
        <rules>
            <name>Company</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Entity_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Company</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ProductForAccountEntity__r.Novidea_HPC__Application__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_Account_If_Exists_By_TaxId</targetReference>
            </connector>
            <label>Company</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found</name>
        <label>Found</label>
        <locationX>446</locationX>
        <locationY>528</locationY>
        <defaultConnector>
            <targetReference>Create_Shefi_Rt_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_By_Oid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Search_Contact_If_Exists_By_Oid</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>תעודת זהות</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lookup</targetReference>
            </connector>
            <label>Found By Oid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Hp</name>
        <label>Found Hp?</label>
        <locationX>1502</locationX>
        <locationY>528</locationY>
        <defaultConnector>
            <targetReference>Create_Business_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_Hp0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Search_Account_If_Exists_By_TaxId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lookup_0</targetReference>
            </connector>
            <label>Found Hp</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Ap</name>
        <label>Has Ap ?</label>
        <locationX>1304</locationX>
        <locationY>1536</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Search_Ap</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Ap</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Account</name>
        <label>Verify Account</label>
        <locationX>710</locationX>
        <locationY>888</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product__r.Novidea_HPC__Application__r.Novidea_HPC__Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignContactAndAccount_0_0_0_0</targetReference>
            </connector>
            <label>Has Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Account_0</name>
        <label>Verify Account</label>
        <locationX>182</locationX>
        <locationY>768</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Account_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product__r.Novidea_HPC__Application__r.Novidea_HPC__Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignContactAndAccount</targetReference>
            </connector>
            <label>Has Account</label>
        </rules>
    </decisions>
    <interviewLabel>Product Related Entity After Creation Connect Lookups And Check Ap {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product Related Entity After Creation Connect Lookups And Check Ap</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Ap</name>
        <label>Create Ap</label>
        <locationX>1172</locationX>
        <locationY>1656</locationY>
        <inputAssignments>
            <field>Novidea_HPC__Account__c</field>
            <value>
                <elementReference>AccountForAp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Contact__c</field>
            <value>
                <elementReference>ContactForAp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012D0000000jetdIAA</stringValue>
            </value>
        </inputAssignments>
        <object>Novidea_HPC__Associated_Person__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Business_Account</name>
        <label>Create Business Account</label>
        <locationX>1766</locationX>
        <locationY>648</locationY>
        <assignRecordIdToReference>AccountForAp</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Lookup_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Company_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Tax_ID__c</field>
            <value>
                <elementReference>$Record.Company_Hp__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012D0000000jetZIAQ</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Shefi_Rt_Contact</name>
        <label>Create Shefi Rt Contact</label>
        <locationX>710</locationX>
        <locationY>648</locationY>
        <assignRecordIdToReference>ContactForAp</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Lookup3</targetReference>
        </connector>
        <inputAssignments>
            <field>AgentWise_IL__Id_Type__c</field>
            <value>
                <elementReference>$Record.Id_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__SSN__c</field>
            <value>
                <elementReference>$Record.Ssn__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0124G000000BjeNQAS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Shefi_Employee_Record__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordLookups>
        <name>Search_Account_If_Exists_By_TaxId</name>
        <label>Search Account If Exists By TaxId</label>
        <locationX>1502</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Hp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Novidea_HPC__Tax_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Company_Hp__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Search_Ap</name>
        <label>Search Ap</label>
        <locationX>1304</locationX>
        <locationY>1416</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Ap</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Novidea_HPC__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactForAp</elementReference>
            </value>
        </filters>
        <filters>
            <field>Novidea_HPC__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountForAp</elementReference>
            </value>
        </filters>
        <filters>
            <field>Novidea_HPC__Date_Connection_Ended__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Novidea_HPC__Associated_Person__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Search_Contact_If_Exists_By_Oid</name>
        <label>Search Contact If Exists By Oid</label>
        <locationX>446</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Otzar_Interface__Contact_OID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Ssn__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lookup</name>
        <label>Update Lookup</label>
        <locationX>182</locationX>
        <locationY>648</locationY>
        <connector>
            <targetReference>Verify_Account_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Search_Contact_If_Exists_By_Oid.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductForContactEntity__c</field>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lookup3</name>
        <label>Update Lookup</label>
        <locationX>710</locationX>
        <locationY>768</locationY>
        <connector>
            <targetReference>Verify_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>ContactForAp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductForContactEntity__c</field>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lookup_0</name>
        <label>Update Lookup</label>
        <locationX>1238</locationX>
        <locationY>648</locationY>
        <connector>
            <targetReference>Account_With_Renewal_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>Business_Account__c</field>
            <value>
                <elementReference>Search_Account_If_Exists_By_TaxId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductForAccountEntity__c</field>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lookup_0_0</name>
        <label>Update Lookup</label>
        <locationX>1766</locationX>
        <locationY>768</locationY>
        <connector>
            <targetReference>Account_With_Renewal_Contact_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Business_Account__c</field>
            <value>
                <elementReference>AccountForAp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductForAccountEntity__c</field>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <filterLogic>(1 AND 2 AND 5) OR (3 AND 4 AND 6)</filterLogic>
        <filters>
            <field>ProductForContactEntity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Business_Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Entity_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Company</stringValue>
            </value>
        </filters>
        <filters>
            <field>Entity_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Employee</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProductForAccountEntity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Product_Related_Entity__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Wait_1_Minute</name>
            <connector>
                <targetReference>Entity_Type</targetReference>
            </connector>
            <label>Wait 1 Minute</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountForAp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactForAp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
