force-app/main/default/flows/SalesLead_Screen_Update_Last_Meeting_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Check_Validation</name>
        <label>Check Validation</label>
        <locationX>380</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Meeting_DateTime_Is_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Meeting_Time_Is_Missing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChooseOtherDateTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StatusIsNotCanceled</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Message</targetReference>
            </connector>
            <label>Meeting Time Is Missing</label>
        </rules>
        <rules>
            <name>Status_Not_Chosen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChooseStatus0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>טרם נבחר</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Message2</targetReference>
            </connector>
            <label>Status Not Chosen</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Meeting</name>
        <label>Has Meeting ?</label>
        <locationX>743</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>NoMeeting</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead.Last_Meeeting_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ChooseStatus</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>בפגישה שבוטלה, כאשר אין מועד פגישה צריך לעדכן את האירוע לשדות התחלה וסיום אחורה כדי שיופיע בפעילויות שהושלמו</description>
        <name>Meeting_DateTime_Is_Null</name>
        <label>Meeting DateTime Is Null</label>
        <locationX>710</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Update_Last_Event_On_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChooseOtherDateTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead.Meeting_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Last_Event_On_Lead_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>מופעל מכפתור בליד, מעדכן סטטוס פגישה ברשומת הפגישה שמתחת לליד ובליד עצמו</description>
    <dynamicChoiceSets>
        <name>MeetingStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Meeting_Status__c</picklistField>
        <picklistObject>AgentWise_IL__Lead__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Pitsul</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Is_Split_Funds__c</picklistField>
        <picklistObject>AgentWise_IL__Lead__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>StatusIsNotCanceled</name>
        <dataType>Boolean</dataType>
        <expression>{!ChooseStatus0} = &apos;פגישה בוטלה&apos; || {!ChooseStatus0} = &apos;Meeting was canceled&apos;</expression>
    </formulas>
    <interviewLabel>SalesLead Screen Update Last Meeting Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SalesLead Screen Update Last Meeting Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>743</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Meeting</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AgentWise_IL__Lead__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Last_Event_On_Lead</name>
        <label>Update Last Event On Lead</label>
        <locationX>842</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Message_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.Last_Meeeting_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Meeting_DateTime__c</field>
            <value>
                <elementReference>ChooseOtherDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Status__c</field>
            <value>
                <elementReference>MeetingStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Last_Event_On_Lead_0</name>
        <label>Update Last Event On Lead</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Message_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.Last_Meeeting_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <dateTimeValue>1900-12-31T21:27:40.000Z</dateTimeValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_DateTime__c</field>
            <value>
                <elementReference>ChooseOtherDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Status__c</field>
            <value>
                <elementReference>MeetingStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <dateTimeValue>1900-12-31T21:24:40.000Z</dateTimeValue>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>ChooseStatus</name>
        <label>בחר סטטוס</label>
        <locationX>380</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Validation</targetReference>
        </connector>
        <fields>
            <name>ChooseStatus0</name>
            <choiceReferences>MeetingStatus</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>טרם נבחר</stringValue>
            </defaultValue>
            <fieldText>בחר סטטוס לעדכון</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ChooseOtherDateTime</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>Get_Lead.Meeting_Time__c</elementReference>
            </defaultValue>
            <fieldText>מועד הפגישה</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Message</name>
        <label>Message</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MessageToComplete</name>
            <fieldText>&lt;p style=&quot;direction: rtl; text-align: right;&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;חובה להשלים את זמן הפגישה&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Message2</name>
        <label>Message2</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_2_of_MessageToComplete</name>
            <fieldText>&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;הערך &quot;טרם נבחר&quot; בסטטוס הפגישה אינו חוקי&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Message_0</name>
        <label>Message</label>
        <locationX>710</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MessageToComplete_0</name>
            <fieldText>&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: right;&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;העדכון בוצע&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NoMeeting</name>
        <label>NoMeeting</label>
        <locationX>1106</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_MessageToComplete</name>
            <fieldText>&lt;p class=&quot;ql-direction-rtl&quot; style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;אין פגישה בליד, לא ניתן לעדכן סטטוס פגישה&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>617</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
