force-app/main/default/flows/Sales_Lead_Create_Private_Client_On_Flag_Change_After_Upload_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Found</name>
        <label>Found ?</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Create_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Search_If_Client_Exists</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_With_Ids</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FamilyName</name>
        <dataType>String</dataType>
        <expression>{!$Record.AgentWise_IL__Last_Name__c} +&quot; &quot; + {!$Record.AgentWise_IL__First_Name__c} &amp; &quot; - משק בית&quot;</expression>
    </formulas>
    <interviewLabel>Sales Lead Create Private Client On Flag Change After Upload Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sales Lead Create Private Client On Flag Change After Upload Lead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Account</name>
        <label>Create Account</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <assignRecordIdToReference>CreatedAccount</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>AgentWise_IL__Source_Lead__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>$Record.AgentWise_IL__Mailing_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>$Record.Mailing_Zip_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>$Record.Mailing_Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FamilyName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012D0000000jetbIAA</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <assignRecordIdToReference>CreatedContact</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Lead_With_Ids_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>CreatedAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AgentWise_IL__Gender__c</field>
            <value>
                <elementReference>$Record.AgentWise_IL__Gender__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AgentWise_IL__Household__c</field>
            <value>
                <elementReference>CreatedAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AgentWise_IL__Id_Type__c</field>
            <value>
                <stringValue>תעודת זהות</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AgentWise_IL__Martial_Status__c</field>
            <value>
                <elementReference>$Record.AgentWise_IL__Martial_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AgentWise_IL__Source_Lead__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Birthdate</field>
            <value>
                <elementReference>$Record.AgentWise_IL__Birthdate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Status__c</field>
            <value>
                <stringValue>Potencial</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.AgentWise_IL__Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.AgentWise_IL__First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Creation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HomePhone</field>
            <value>
                <elementReference>$Record.AgentWise_IL__Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Id_Type__c</field>
            <value>
                <elementReference>$Record.Id_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.AgentWise_IL__Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>$Record.AgentWise_IL__Mailing_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>$Record.Mailing_Zip_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>$Record.Mailing_Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Menahel_Tik_Pensiony__c</field>
            <value>
                <elementReference>$Record.Sales_Rep__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>$Record.AgentWise_IL__Mobile_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__SSN__c</field>
            <value>
                <elementReference>$Record.Client_TZ__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0124G000000kq7NQAQ</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordLookups>
        <name>Search_If_Client_Exists</name>
        <label>Search If Client Exists</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Otzar_Interface__Contact_OID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Client_TZ__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Novidea_HPC__SSN__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Client_TZ__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead_With_Ids</name>
        <label>Update Lead With Ids</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>AgentWise_IL__Client__c</field>
            <value>
                <elementReference>Search_If_Client_Exists.AgentWise_IL__Household__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AgentWise_IL__Insured_Person__c</field>
            <value>
                <elementReference>Search_If_Client_Exists.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_With_Ids_0</name>
        <label>Update Lead With Ids</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <inputAssignments>
            <field>AgentWise_IL__Client__c</field>
            <value>
                <elementReference>CreatedAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AgentWise_IL__Insured_Person__c</field>
            <value>
                <elementReference>CreatedContact</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Search_If_Client_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Create_Private_Client_In_Uploaded_Lead__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Create_Private_Client_In_Uploaded_Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>AgentWise_IL__Lead__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CreatedAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CreatedContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
