force-app/main/default/flows/SalesLead_OneTime_Check_Ap_If_Valid.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Found</name>
        <label>Found ?</label>
        <locationX>226</locationX>
        <locationY>396</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Search_Ap</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Valid</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Valid</name>
        <label>Is Valid ?</label>
        <locationX>50</locationX>
        <locationY>516</locationY>
        <defaultConnector>
            <targetReference>Update_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Search_Ap.Novidea_HPC__Date_Connection_Ended__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Valid</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SalesLead OneTime Check Ap If Valid {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SalesLead OneTime Check Ap If Valid</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Search_Ap</name>
        <label>Search Ap</label>
        <locationX>226</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Novidea_HPC__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AgentWise_IL__Insured_Person__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Novidea_HPC__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AgentWise_IL__Employer_Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0124G000000kqAsQAI</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Novidea_HPC__Associated_Person__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>138</locationX>
        <locationY>636</locationY>
        <inputAssignments>
            <field>Connection_To_Employer_Is_Not_Valid__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Search_Ap</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AgentWise_IL__Insured_Person__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AgentWise_IL__Employer_Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>AgentWise_IL__Lead__c</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2022-11-02</startDate>
            <startTime>15:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
