force-app/main/default/flows/Saleslead_Attachemnts_to_Inbound.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <interviewLabel>Saleslead - Attachemnts to Inbound {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Saleslead - Attachemnts to Inbound</label>
    <loops>
        <name>loopThruAttachments</name>
        <label>loopThruAttachments</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>getAttachmentsRelatedToSaleslead</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>createInbound</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createInbound</name>
        <label>createInbound</label>
        <locationX>600</locationX>
        <locationY>318</locationY>
        <connector>
            <targetReference>loopThruAttachments</targetReference>
        </connector>
        <inputAssignments>
            <field>NFILING__Attachment__c</field>
            <value>
                <elementReference>loopThruAttachments.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NFILING__Date_Received__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NFILING__EntExtId1__c</field>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NFILING__EntExtId2__c</field>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NFILING__EntExtId3__c</field>
            <value>
                <elementReference>salesLeadId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NFILING__Subject__c</field>
            <value>
                <elementReference>loopThruAttachments.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NFILING__Type__c</field>
            <value>
                <stringValue>b4u</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NFILING__account__c</field>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </inputAssignments>
        <object>NFILING__InboundDocument__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getAttachmentsRelatedToSaleslead</name>
        <label>getAttachments</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopThruAttachments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>salesLeadId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Attachment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getAttachmentsRelatedToSaleslead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>salesLeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
