force-app/main/default/flows/Update_Policy_Roll_Up_Sum.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Set_Policy_Sum</name>
        <label>Set Policy Sum</label>
        <locationX>578</locationX>
        <locationY>457</locationY>
        <assignmentItems>
            <assignToReference>var_Bruto</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Incomes.Novidea_HPC__Premium_Bruto__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AgencyFee</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Incomes.Novidea_HPC__Agency_Fee__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Fees</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Incomes.Novidea_HPC__Fees__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Insurance_Bank</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Incomes.Insurance_Bank__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Incomes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_sum_Values_to_Policy</name>
        <label>Set sum-Values to Policy</label>
        <locationX>662</locationX>
        <locationY>230</locationY>
        <assignmentItems>
            <assignToReference>Get_Policy.Novidea_HPC__Agency_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_AgencyFee</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Policy.Novidea_HPC__Premium_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Bruto</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Policy.Novidea_HPC__Fees__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Fees</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Policy.Insurance_Bank__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Insurance_Bank</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_If_Income_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_values_from_VF</name>
        <label>Set values from VF</label>
        <locationX>1020</locationX>
        <locationY>150</locationY>
        <assignmentItems>
            <assignToReference>Get_Policy.Insurance_Bank__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Income_s_Values.Insurance_Bank__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Policy.Agency_Fee_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Income_s_Values.Agency_Fee_Percentage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Policy.Fee_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Income_s_Values.Fee_Percentage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Policy.Tariff__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Income_s_Values.Tariff__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Policy</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_Income_0</name>
        <label>Check If need copy % fields to Policy</label>
        <locationX>760</locationX>
        <locationY>232</locationY>
        <defaultConnector>
            <targetReference>Update_Policy</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Income_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_NeedUpdatePolicy</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Income_s_Values</targetReference>
            </connector>
            <label>Need Copy To Policy</label>
        </rules>
    </decisions>
    <description>HIL-35;HIL-54</description>
    <environments>Default</environments>
    <interviewLabel>Update Policy Roll-Up Sum {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Policy Roll-Up Sum</label>
    <loops>
        <name>Loop_Incomes</name>
        <label>Loop Incomes</label>
        <locationX>515</locationX>
        <locationY>226</locationY>
        <collectionReference>Get_Policy_Incomes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Policy_Sum</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_sum_Values_to_Policy</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Income_s_Values</name>
        <label>Get Income&apos;s Values</label>
        <locationX>920</locationX>
        <locationY>153</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_values_from_VF</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_IncomeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Novidea_HPC__Income__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Policy</name>
        <label>Get Policy</label>
        <locationX>339</locationX>
        <locationY>224</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Incomes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_PolicyId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Novidea_HPC__Policy__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Policy_Incomes</name>
        <label>Get Policy Incomes</label>
        <locationX>177</locationX>
        <locationY>231</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Policy</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Novidea_HPC__Policy__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_PolicyId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Novidea_HPC__Income__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Policy</name>
        <label>Update Policy</label>
        <locationX>1023</locationX>
        <locationY>446</locationY>
        <inputReference>Get_Policy</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Policy_Incomes</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>var_AgencyFee</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_Bruto</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_Fees</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_IncomeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Insurance_Bank</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_NeedUpdatePolicy</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_PolicyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Premium</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
