force-app/main/default/flows/Update_Agency_Fees_Currency_on_Product.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <description>((ISNEW() || ISCHANGED({!$Record.Novidea_HPC__Previous_Policy__c})) &amp;&amp; NOT(ISBLANK({!$Record.Novidea_HPC__Previous_Policy__c})) &amp;&amp; ISPICKVAL({!$Record.Novidea_HPC__Required_Policy_Type__c}, &quot;Renew&quot;)) || ((ISCHANGED({!$Record.Novidea_HPC__Policy__c}) || ISCHANGED({!$Record.Novidea_HPC__Status__c})) &amp;&amp; ISPICKVAL({!$Record.Novidea_HPC__Status__c}, &quot;Converted&quot;))</description>
        <name>Renew_or_Converted_Product</name>
        <label>Renew or Converted Product?</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Renew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RenewProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Product_Agency_Fees_Currency</targetReference>
            </connector>
            <label>Renew</label>
        </rules>
        <rules>
            <name>Converted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConvertedProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Policy_Agency_Fees_Currency</targetReference>
            </connector>
            <label>Converted</label>
        </rules>
    </decisions>
    <description>HIL-203</description>
    <environments>Default</environments>
    <formulas>
        <name>ConvertedProduct</name>
        <dataType>Boolean</dataType>
        <expression>(ISCHANGED({!$Record.Novidea_HPC__Policy__c}) || ISCHANGED({!$Record.Novidea_HPC__Status__c})) &amp;&amp; ISPICKVAL({!$Record.Novidea_HPC__Status__c}, &quot;Converted&quot;) &amp;&amp; NOT(ISBLANK({!$Record.Novidea_HPC__Policy__c}))</expression>
    </formulas>
    <formulas>
        <name>RenewProduct</name>
        <dataType>Boolean</dataType>
        <expression>(ISNEW() || ISCHANGED({!$Record.Novidea_HPC__Previous_Policy__c})) &amp;&amp; NOT(ISBLANK({!$Record.Novidea_HPC__Previous_Policy__c})) &amp;&amp; ISPICKVAL({!$Record.Novidea_HPC__Required_Policy_Type__c}, &quot;Renew&quot;)</expression>
    </formulas>
    <interviewLabel>Update Agency Fees Currency {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Agency Fees Currency on HPC Product, Policy</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Agency_Fees_Currency_Income</name>
        <label>Update Agency Fees Currency Income</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Novidea_HPC__Policy__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Novidea_HPC__Policy__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Novidea_HPC__Endorsement_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Novidea_HPC__Agency_Fee_Currency__c</field>
            <value>
                <elementReference>$Record.Novidea_HPC__Agency_Fee_Currency__c</elementReference>
            </value>
        </inputAssignments>
        <object>Novidea_HPC__Income__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Policy_Agency_Fees_Currency</name>
        <label>Update Policy Agency Fees Currency</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Update_Agency_Fees_Currency_Income</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Novidea_HPC__Policy__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Novidea_HPC__Agency_Fees_Currency__c</field>
            <value>
                <elementReference>$Record.Novidea_HPC__Agency_Fee_Currency__c</elementReference>
            </value>
        </inputAssignments>
        <object>Novidea_HPC__Policy__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Product_Agency_Fees_Currency</name>
        <label>Update Product Agency Fees Currency</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Novidea_HPC__Agency_Fee_Currency__c</field>
            <value>
                <elementReference>$Record.Novidea_HPC__Previous_Policy__r.Novidea_HPC__Agency_Fees_Currency__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Renew_or_Converted_Product</targetReference>
        </connector>
        <filterFormula>((ISNEW() || ISCHANGED({!$Record.Novidea_HPC__Previous_Policy__c})) &amp;&amp; NOT(ISBLANK({!$Record.Novidea_HPC__Previous_Policy__c})) &amp;&amp; ISPICKVAL({!$Record.Novidea_HPC__Required_Policy_Type__c}, &quot;Renew&quot;)) || ((ISCHANGED({!$Record.Novidea_HPC__Policy__c}) || ISCHANGED({!$Record.Novidea_HPC__Status__c})) &amp;&amp; ISPICKVAL({!$Record.Novidea_HPC__Status__c}, &quot;Converted&quot;)  &amp;&amp; NOT(ISBLANK({!$Record.Novidea_HPC__Policy__c})))</filterFormula>
        <object>Novidea_HPC__Product__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
