force-app/main/default/flows/user_AL_create_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>assignContactToUser</name>
        <label>assignContactToUser</label>
        <locationX>601</locationX>
        <locationY>586</locationY>
        <assignmentItems>
            <assignToReference>userRecord.Contact_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactCreated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>userRecord.Contact_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>pause</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignContactToUser_0</name>
        <label>assignContactToUser</label>
        <locationX>835</locationX>
        <locationY>356</locationY>
        <assignmentItems>
            <assignToReference>userRecord.Contact_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_by_Taz.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>userRecord.Contact_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>pause</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>hasContact</name>
        <label>hasContact</label>
        <locationX>165</locationX>
        <locationY>364</locationY>
        <defaultConnector>
            <targetReference>account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>does not have</defaultConnectorLabel>
        <rules>
            <name>has</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact_by_Taz</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateContact</targetReference>
            </connector>
            <label>has</label>
        </rules>
    </decisions>
    <formulas>
        <name>contactName</name>
        <dataType>String</dataType>
        <expression>{!userRecord.FirstName}+ &quot; &quot; +{!userRecord.LastName}</expression>
    </formulas>
    <formulas>
        <name>hhName</name>
        <dataType>String</dataType>
        <expression>&apos;משפחת &apos;+{!userRecord.FirstName} + &apos; &apos; + {!userRecord.LastName}</expression>
    </formulas>
    <interviewLabel>user - AL - create Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>user - AL - create or Update Contact and Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>account</name>
        <label>account</label>
        <locationX>189</locationX>
        <locationY>597</locationY>
        <connector>
            <targetReference>contactCreated</targetReference>
        </connector>
        <inputAssignments>
            <field>Is_Howden_Employee_Household__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>hhName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012D0000000jetbIAA</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>contactCreated</name>
        <label>contactCreated</label>
        <locationX>415</locationX>
        <locationY>583</locationY>
        <connector>
            <targetReference>assignContactToUser</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AgentWise_IL__Household__c</field>
            <value>
                <elementReference>account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>userRecord.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>userRecord.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__SSN__c</field>
            <value>
                <elementReference>userRecord.TAZ__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0124G000000kq7NQAQ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>isDataFromUserRecord__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>is_Howden_Employee__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Contact_by_Taz</name>
        <label>Contact by Taz</label>
        <locationX>176</locationX>
        <locationY>232</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>hasContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Otzar_Interface__Contact_OID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userRecord.TAZ__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>geContact</name>
        <label>geContact</label>
        <locationX>541</locationX>
        <locationY>349</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>updateAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact_by_Taz.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>setContactOnUser</name>
        <label>setContactOnUser</label>
        <locationX>1174</locationX>
        <locationY>456</locationY>
        <inputReference>userRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateAccount</name>
        <label>updateAccount</label>
        <locationX>684</locationX>
        <locationY>348</locationY>
        <connector>
            <targetReference>assignContactToUser_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact_by_Taz.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Is_Howden_Employee_Household__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateContact</name>
        <label>updateContact</label>
        <locationX>391</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>geContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact_by_Taz.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>isDataFromUserRecord__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>is_Howden_Employee__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Contact_by_Taz</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>userRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <waits>
        <name>pause</name>
        <label>pause</label>
        <locationX>948</locationX>
        <locationY>452</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>a_while</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>setContactOnUser</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>a while</label>
        </waitEvents>
    </waits>
</Flow>
