force-app/main/default/flows/YH_Budget_4_New_Single_Policy.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>BL_Record_Collection3</name>
        <label>BL_Record_Collection 3</label>
        <locationX>446</locationX>
        <locationY>2351</locationY>
        <assignmentItems>
            <assignToReference>v_BL_Record_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>v_BL_Single_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Yeshut_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>BL_Record_Collection_1</name>
        <label>BL_Record_Collection 1</label>
        <locationX>446</locationX>
        <locationY>1919</locationY>
        <assignmentItems>
            <assignToReference>v_BL_Record_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>v_BL_Single_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BL_Single_Record_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>BL_Record_Collection_2</name>
        <label>BL_Record_Collection 2</label>
        <locationX>446</locationX>
        <locationY>2135</locationY>
        <assignmentItems>
            <assignToReference>v_BL_Record_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>v_BL_Single_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BL_Single_Record_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>BL_Single_Record_1</name>
        <label>BL_Single_Record 1</label>
        <locationX>446</locationX>
        <locationY>1811</locationY>
        <assignmentItems>
            <assignToReference>v_BL_Single_Record.Agency_Fee_Currency_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Agency_Fee_Currency_Rate.Budget_Currency_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_BL_Single_Record.Budget_Currency_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Budget_Currency_Rate.Budget_Currency_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_BL_Single_Record.Budget_Entity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Yeshut_Loop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_BL_Single_Record.Budget_Internal_Profit_Center__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Internal_Profit_Center_f__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_BL_Single_Record.Budget_Month_Manual__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Months_Loop.Month__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_BL_Single_Record.Budget_Param__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Budget_Param_by_Profit_Center.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_BL_Single_Record.Budget_USD_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_USD_Rate.Budget_Currency_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_BL_Single_Record.Budget_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Budget_Year_HARDCODED.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_BL_Single_Record.Income_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>חדש לא מתחדש</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_BL_Single_Record.Income_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>חדש</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_BL_Single_Record.Policy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_BL_Single_Record.Budget_Line_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>חדש</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BL_Record_Collection_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>BL_Single_Record_2</name>
        <label>BL_Single_Record 2</label>
        <locationX>446</locationX>
        <locationY>2027</locationY>
        <assignmentItems>
            <assignToReference>v_BL_Single_Record.Agency_Fee_Currency_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Agency_Fee_Currency_Rate.Budget_Currency_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_BL_Single_Record.Budget_Currency_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Budget_Currency_Rate.Budget_Currency_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_BL_Single_Record.Budget_Entity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Yeshut_Loop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_BL_Single_Record.Budget_Internal_Profit_Center__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Internal_Profit_Center_f__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_BL_Single_Record.Budget_Month_Manual__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Months_Loop.Month__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_BL_Single_Record.Budget_Param__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Budget_Param_by_Profit_Center.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_BL_Single_Record.Budget_USD_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_USD_Rate.Budget_Currency_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_BL_Single_Record.Budget_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Budget_Year_HARDCODED.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_BL_Single_Record.Income_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>חדש לקוחות חדשים</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_BL_Single_Record.Income_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>חדש</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_BL_Single_Record.Policy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_BL_Single_Record.Budget_Line_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>חדש</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BL_Record_Collection_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>BL_Single_Record_3</name>
        <label>BL_Single_Record 3</label>
        <locationX>446</locationX>
        <locationY>2243</locationY>
        <assignmentItems>
            <assignToReference>v_BL_Single_Record.Agency_Fee_Currency_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Agency_Fee_Currency_Rate.Budget_Currency_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_BL_Single_Record.Budget_Currency_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Budget_Currency_Rate.Budget_Currency_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_BL_Single_Record.Budget_Entity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Yeshut_Loop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_BL_Single_Record.Budget_Internal_Profit_Center__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Internal_Profit_Center_f__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_BL_Single_Record.Budget_Month_Manual__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Months_Loop.Month__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_BL_Single_Record.Budget_Param__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Budget_Param_by_Profit_Center.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_BL_Single_Record.Budget_USD_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_USD_Rate.Budget_Currency_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_BL_Single_Record.Budget_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Budget_Year_HARDCODED.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_BL_Single_Record.Income_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>חדש מכירה צולבת</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_BL_Single_Record.Income_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>חדש</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_BL_Single_Record.Policy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_BL_Single_Record.Budget_Line_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>חדש</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BL_Record_Collection3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Yeshut_Values_HARDCODED</name>
        <label>Yeshut Values HARDCODED</label>
        <locationX>182</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>v_Yeshut</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Howden 2002</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_Yeshut</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Howden 2011</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_Yeshut</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>BZR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_Yeshut</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Howden Boutique</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_Yeshut</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Howden Boutique (Nilibit)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_Yeshut</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Howden 2002 (Nilibit)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Months_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>BLs_Already_Created</name>
        <label>BLs Already Created</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Find_Budget_Param_by_Profit_Center</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BLs_In_Policy</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Del_BLs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Customer_New</name>
        <label>Is Customer &quot;New&quot;</label>
        <locationX>336</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Create_BLs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not New</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Client__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>תחשיב תקציב חדש</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BLs_In_Policy</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>YH Budget 4. New - Single Policy {!$Flow.CurrentDateTime}</interviewLabel>
    <label>YH Budget 4. New - Single Policy</label>
    <loops>
        <name>Months_Loop</name>
        <label>Months Loop</label>
        <locationX>182</locationX>
        <locationY>1595</locationY>
        <collectionReference>Find_Budget_Months</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Yeshut_Loop</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_BLs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Yeshut_Loop</name>
        <label>Yeshut Loop</label>
        <locationX>358</locationX>
        <locationY>1703</locationY>
        <collectionReference>v_Yeshut</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>BL_Single_Record_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Months_Loop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_BLs</name>
        <label>Create BLs</label>
        <locationX>336</locationX>
        <locationY>2777</locationY>
        <connector>
            <targetReference>Clear_Triggering_Flag</targetReference>
        </connector>
        <inputReference>v_BL_Record_Collection</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Del_BLs</name>
        <label>Del BLs</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Find_Budget_Param_by_Profit_Center</targetReference>
        </connector>
        <inputReference>BLs_In_Policy</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>BLs_In_Policy</name>
        <label>BLs In Policy</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BLs_Already_Created</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Policy__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Budget_Line__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Block_Auto_Update__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_Agency_Fee_Currency_Rate</name>
        <label>Find Agency Fee Currency Rate</label>
        <locationX>182</locationX>
        <locationY>1271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_USD_Rate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Budget_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_Budget_Year_HARDCODED.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Currency__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Novidea_HPC__Agency_Fees_Currency__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Budget_Currency_Rate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_Budget_Currency_Rate</name>
        <label>Find Budget Currency Rate</label>
        <locationX>182</locationX>
        <locationY>1163</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Agency_Fee_Currency_Rate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Budget_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_Budget_Year_HARDCODED.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Currency__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Novidea_HPC__Premium_Amount_Currency__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Budget_Currency_Rate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_Budget_Months</name>
        <label>Find Budget Months</label>
        <locationX>336</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Customer_New</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Budget_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_Budget_Year_HARDCODED.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Budget_Month__c</object>
        <sortField>Month__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_Budget_Param_by_Profit_Center</name>
        <label>Find Budget Param by Profit Center</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Budget_Currency_Rate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>calc_group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Internal_Profit_Center_f__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Budget_Param__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_Budget_Year_HARDCODED</name>
        <label>Find Budget Year HARDCODED</label>
        <locationX>336</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Budget_Months</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FY-2024</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Budget_Year__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_USD_Rate</name>
        <label>Find USD Rate</label>
        <locationX>182</locationX>
        <locationY>1379</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Yeshut_Values_HARDCODED</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Budget_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_Budget_Year_HARDCODED.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Currency__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Budget_Currency_Rate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Clear_Triggering_Flag</name>
        <label>Clear Triggering Flag</label>
        <locationX>336</locationX>
        <locationY>2885</locationY>
        <inputAssignments>
            <field>trigger_budget_new_flow__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Find_Budget_Year_HARDCODED</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>trigger_budget_new_flow__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Novidea_HPC__Policy__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>v_BL_Record_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Budget_Line__c</objectType>
    </variables>
    <variables>
        <name>v_BL_Single_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Budget_Line__c</objectType>
    </variables>
    <variables>
        <name>v_Yeshut</name>
        <dataType>Picklist</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
