force-app/main/default/flows/YH_Budget_5_Multiple_BLs_Single_Policy.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Decrease_Counter</name>
        <label>Decrease Counter</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Iteration</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Del</name>
        <label>Del?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Get_Existing_BL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_existing_BLs_for_delete</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Del_Existing_BLs1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Iteration</name>
        <label>Iteration</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Clear_Trigger</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Exit Loop</defaultConnectorLabel>
        <rules>
            <name>Run_Loop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Counter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_BL</targetReference>
            </connector>
            <label>Run Loop</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>f_Month</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!Get_Existing_BL.Budget_Month__c}  , {!Counter} )</expression>
    </formulas>
    <interviewLabel>YH Budget 5. Multiple BLs - Single Policy {!$Flow.CurrentDateTime}</interviewLabel>
    <label>YH Budget 5. Multiple BLs - Single Policy</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_BL</name>
        <label>Create BL</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>Decrease_Counter</targetReference>
        </connector>
        <inputAssignments>
            <field>Agency_Fee_Currency_Rate__c</field>
            <value>
                <elementReference>Get_Existing_BL.Agency_Fee_Currency_Rate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Budget_Currency_Rate__c</field>
            <value>
                <elementReference>Get_Existing_BL.Budget_Currency_Rate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Budget_Entity__c</field>
            <value>
                <elementReference>Get_Existing_BL.Budget_Entity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Budget_Internal_Profit_Center__c</field>
            <value>
                <elementReference>Get_Existing_BL.Budget_Internal_Profit_Center__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Budget_Line_Type__c</field>
            <value>
                <elementReference>Get_Existing_BL.Budget_Line_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Budget_Month_Manual__c</field>
            <value>
                <elementReference>v_Month</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Budget_Param__c</field>
            <value>
                <elementReference>Get_Existing_BL.Budget_Param__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Budget_USD_Rate__c</field>
            <value>
                <elementReference>Get_Existing_BL.Budget_USD_Rate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Budget_Year__c</field>
            <value>
                <elementReference>Get_Existing_BL.Budget_Year__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Income_Type__c</field>
            <value>
                <elementReference>Get_Existing_BL.Income_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Income__c</field>
            <value>
                <elementReference>Get_Existing_BL.Income__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MMI__c</field>
            <value>
                <elementReference>Get_Existing_BL.MMI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Policy__c</field>
            <value>
                <elementReference>Get_Existing_BL.Policy__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Retention_Percent__c</field>
            <value>
                <elementReference>Get_Existing_BL.Retention_Percent__c</elementReference>
            </value>
        </inputAssignments>
        <object>Budget_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Del_Existing_BLs1</name>
        <label>Del Existing BLs</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Get_Existing_BL</targetReference>
        </connector>
        <inputReference>Get_existing_BLs_for_delete</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Existing_BL</name>
        <label>Get Existing BL</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iteration</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Policy__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Budget_Line__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Policy__c</queriedFields>
        <queriedFields>Income__c</queriedFields>
        <queriedFields>Budget_Line_Type__c</queriedFields>
        <queriedFields>Income_Type__c</queriedFields>
        <queriedFields>Budget_USD_Rate__c</queriedFields>
        <queriedFields>MMI__c</queriedFields>
        <queriedFields>Budget_Internal_Profit_Center__c</queriedFields>
        <queriedFields>Budget_Entity__c</queriedFields>
        <queriedFields>Budget_Currency_Rate__c</queriedFields>
        <queriedFields>Agency_Fee_Currency_Rate__c</queriedFields>
        <queriedFields>Budget_Param__c</queriedFields>
        <queriedFields>Retention_Percent__c</queriedFields>
        <queriedFields>Budget_Year__c</queriedFields>
        <queriedFields>Budget_Month__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_existing_BLs_for_delete</name>
        <label>Get existing BLs for delete</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Del</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Policy__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Budget_Month_Manual__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Budget_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Clear_Trigger</name>
        <label>Clear Trigger</label>
        <locationX>314</locationX>
        <locationY>947</locationY>
        <inputAssignments>
            <field>trigger_budget_multiple_BLs__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_existing_BLs_for_delete</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>trigger_budget_multiple_BLs__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Novidea_HPC__Policy__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>11.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>v_Month</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>f_Month</elementReference>
        </value>
    </variables>
</Flow>
