force-app/main/default/flows/YH_Budget_3_Hafsharot_LostQ_Scheduled.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Retention</name>
        <label>Assign Retention</label>
        <locationX>528</locationX>
        <locationY>1308</locationY>
        <assignmentItems>
            <assignToReference>V_Retention</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Budget_Param_by_Product.Retention_Percent__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_BL_from_by_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Retention1</name>
        <label>Assign Retention</label>
        <locationX>792</locationX>
        <locationY>1524</locationY>
        <assignmentItems>
            <assignToReference>V_Retention</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Budget_Param_by_Profit_Center.Retention_Percent__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_BL_from_by_Profit_Center</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_UC1</name>
        <label>Set UC1</label>
        <locationX>50</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>HafsharaLostQ</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>UC1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Budget_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_UC2</name>
        <label>Set UC2</label>
        <locationX>314</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>HafsharaLostQ</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>UC2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Budget_Line</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Budget_Line_Found</name>
        <label>Budget Line Found</label>
        <locationX>314</locationX>
        <locationY>876</locationY>
        <defaultConnector>
            <targetReference>Budget_Line_Update_Block</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Budget_Line.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Budget_Line</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Budget_Line_Update_Block</name>
        <label>Budget Line Update Block</label>
        <locationX>539</locationX>
        <locationY>984</locationY>
        <defaultConnector>
            <targetReference>Find_Budget_Param_by_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update Allowed</defaultConnectorLabel>
        <rules>
            <name>Update_Blocked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Budget_Line.Block_Auto_Update__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Budget_Currency_Rate</targetReference>
            </connector>
            <label>Update Blocked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Budget_Param_by_Product</name>
        <label>Found Budget Param by Product</label>
        <locationX>726</locationX>
        <locationY>1200</locationY>
        <defaultConnector>
            <targetReference>Find_Budget_Param_by_Profit_Center</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Budget_Param_by_Product.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Retention</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Budget_Param_by_Profit_Center</name>
        <label>Found Budget Param by Profit Center</label>
        <locationX>924</locationX>
        <locationY>1416</locationY>
        <defaultConnector>
            <targetReference>Update_BL_No_Param</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Budget_Param_by_Profit_Center</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Retention1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Records_To_Delete</name>
        <label>Found Records To Delete</label>
        <locationX>1452</locationX>
        <locationY>468</locationY>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Budget_Line_To_Delete</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Obsolete_Budget_Lines</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Renewable</name>
        <label>Is Renewable</label>
        <locationX>883</locationX>
        <locationY>252</locationY>
        <defaultConnector>
            <targetReference>Find_Budget_Line_To_Delete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Renewable</defaultConnectorLabel>
        <rules>
            <name>Renewable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ProDef_Renew__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>מתחדש</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Budget_Year_HARDCODED</targetReference>
            </connector>
            <label>Renewable</label>
        </rules>
    </decisions>
    <decisions>
        <name>Relevant_to_Hafshara_Lost_Q</name>
        <label>Relevant to Hafshara Lost Q</label>
        <locationX>314</locationX>
        <locationY>468</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Find_Budget_Line_To_Delete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Relevant</defaultConnectorLabel>
        <rules>
            <name>Relevant_UC1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Renewal_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>RelativeFlowRunningDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Renewal_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Find_Budget_Year_HARDCODED.Budget_Start_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Renewal_Date_Lost_Q__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Find_Budget_Year_HARDCODED.End_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_UC1</targetReference>
            </connector>
            <label>Relevant UC1</label>
        </rules>
        <rules>
            <name>Relevant_UC2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Renewal_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>RelativeFlowRunningDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Renewal_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Find_Budget_Year_HARDCODED.Budget_Start_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Renewal_Date_Lost_Q__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Find_Budget_Year_HARDCODED.End_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Days_Covered__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>395.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_UC2</targetReference>
            </connector>
            <label>Relevant UC2</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Commission_Amount</name>
        <dataType>Number</dataType>
        <expression>IF(
ISPICKVAL( {!$Record.Novidea_HPC__Insurance_Type__c} , &quot;Local&quot;) &amp;&amp; ISPICKVAL({!$Record.Novidea_HPC__Status__c},  &quot;Approved Coverage&quot; ),BLANKVALUE( {!$Record.Total_Commission__c},0)- BLANKVALUE({!$Record.Novidea_HPC__Agent_Discount__c},0) ,
IF(
ISPICKVAL( {!$Record.Novidea_HPC__Insurance_Type__c} , &quot;Local&quot;) &amp;&amp; NOT(ISPICKVAL({!$Record.Novidea_HPC__Status__c},  &quot;Approved Coverage&quot; )), BLANKVALUE({!$Record.Novidea_HPC__Commission_From_Production__c},0)- BLANKVALUE({!$Record.Novidea_HPC__Agent_Discount_From_Production__c},0) ,
IF(
NOT(ISPICKVAL( {!$Record.Novidea_HPC__Insurance_Type__c} , &quot;Local&quot;)) &amp;&amp; ISPICKVAL({!$Record.Novidea_HPC__Status__c},  &quot;Approved Coverage&quot; ), (BLANKVALUE({!$Record.Total_Commission__c},0)- BLANKVALUE({!$Record.Novidea_HPC__Agent_Discount__c},0))/1.17 ,
IF(
NOT(ISPICKVAL( {!$Record.Novidea_HPC__Insurance_Type__c} , &quot;Local&quot;)) &amp;&amp; NOT(ISPICKVAL({!$Record.Novidea_HPC__Status__c},  &quot;Approved Coverage&quot; )), (BLANKVALUE({!$Record.Novidea_HPC__Commission_From_Production__c},0)- BLANKVALUE({!$Record.Novidea_HPC__Agent_Discount_From_Production__c},0))/1.17 ,
999 ))))
* (1- {!$Record.Shinut_Coeff__c})
* {!V_Retention} / 100</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>f_Income_Type</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!$Record.Novidea_HPC__Original_Type__c} , &quot;SC&quot;), &quot;SC&quot;,
IF(ISPICKVAL({!$Record.Novidea_HPC__Original_Type__c} , &quot;PPO&quot;), &quot;PPO&quot;,
&quot;חידוש&quot;
))</expression>
    </formulas>
    <formulas>
        <name>LostQ_Relative_Date</name>
        <dataType>Date</dataType>
        <expression>DATE(
YEAR({!Find_Budget_Year_HARDCODED.End_Date__c})
,MONTH( TODAY()  )
,01)</expression>
    </formulas>
    <formulas>
        <name>Policy_Amount</name>
        <dataType>Number</dataType>
        <expression>IF(
ISPICKVAL({!$Record.Novidea_HPC__Status__c}, &quot;Approved Coverage&quot;),
{!$Record.Novidea_HPC__Premium_Amount__c} ,
{!$Record.Gross_prem_from_production__c} 
)
* (1-{!$Record.Shinut_Coeff__c})
* {!V_Retention} / 100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>PolicyRenewalDateFormula</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Novidea_HPC__Expiration_Date__c} + 2</expression>
    </formulas>
    <formulas>
        <name>PolicyRenewalDateLostQ</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Novidea_HPC__Expiration_Date__c} + {!$Record.Novidea_HPC__Days_Covered__c} + 2</expression>
    </formulas>
    <formulas>
        <name>RelativeFlowRunningDate</name>
        <dataType>Date</dataType>
        <expression>DATE(
YEAR({!$Flow.CurrentDate}),
MONTH({!$Flow.CurrentDate}),
1)</expression>
    </formulas>
    <interviewLabel>YH Budget 3. Hafsharot LostQ - Scheduled {!$Flow.CurrentDateTime}</interviewLabel>
    <label>YH Budget 3. Hafsharot LostQ - Scheduled</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Budget_Line</name>
        <label>Create Budget Line</label>
        <locationX>88</locationX>
        <locationY>984</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Find_Budget_Line</targetReference>
        </connector>
        <inputAssignments>
            <field>Budget_Line_Type__c</field>
            <value>
                <stringValue>הפשרה רבעון אבוד</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Budget_Year__c</field>
            <value>
                <elementReference>Find_Budget_Year_HARDCODED.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hafshara_Lost_Q_Flag__c</field>
            <value>
                <elementReference>HafsharaLostQ</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Policy__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Budget_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Obsolete_Budget_Lines</name>
        <label>Delete Obsolete Budget Lines</label>
        <locationX>1320</locationX>
        <locationY>576</locationY>
        <inputReference>Find_Budget_Line_To_Delete</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Find_Agency_Fee_Currency_Rate</name>
        <label>Find Agency Fee Currency Rate</label>
        <locationX>539</locationX>
        <locationY>2424</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_USD_Rate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Budget_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_Budget_Year_HARDCODED.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Currency__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Novidea_HPC__Agency_Fees_Currency__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Budget_Currency_Rate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_Budget_Currency_Rate</name>
        <label>Find Budget Currency Rate</label>
        <locationX>539</locationX>
        <locationY>2316</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Agency_Fee_Currency_Rate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Budget_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_Budget_Year_HARDCODED.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Currency__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Novidea_HPC__Premium_Amount_Currency__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Budget_Currency_Rate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_Budget_Line</name>
        <label>Find Budget Line</label>
        <locationX>314</locationX>
        <locationY>768</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Budget_Line_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Policy__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Hafshara_Lost_Q_Flag__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Budget_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_Budget_Line_To_Delete</name>
        <label>Find Budget Line To Delete</label>
        <locationX>1452</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Records_To_Delete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Policy__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Budget_Line_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>הפשרה רבעון אבוד</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Budget_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_Budget_Param_by_Product</name>
        <label>Find Budget Param by Product</label>
        <locationX>726</locationX>
        <locationY>1092</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Budget_Param_by_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>calc_group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_Budget_Line.calc_group__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Budget_Param__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_Budget_Param_by_Profit_Center</name>
        <label>Find Budget Param by Profit Center</label>
        <locationX>924</locationX>
        <locationY>1308</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Budget_Param_by_Profit_Center</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>calc_group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_Budget_Line.Internal_Profit_Center__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Budget_Param__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_Budget_Year_HARDCODED</name>
        <label>Find Budget Year HARDCODED</label>
        <locationX>314</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Relevant_to_Hafshara_Lost_Q</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FY-2024</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Budget_Year__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_Internal_Entity</name>
        <label>Find Internal Entity</label>
        <locationX>726</locationX>
        <locationY>2016</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Budget_Line</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Novidea_HPC__Policy__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Novidea_HPC__Income__c</object>
        <sortField>Novidea_HPC__Endorsement_Number__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_USD_Rate</name>
        <label>Find USD Rate</label>
        <locationX>539</locationX>
        <locationY>2532</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Budget_Lines_Currency_Rates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Budget_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_Budget_Year_HARDCODED.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Currency__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Budget_Currency_Rate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>FindBudgetMonth</name>
        <label>FindBudgetMonth</label>
        <locationX>726</locationX>
        <locationY>1908</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Internal_Entity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Budget_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_Budget_Year_HARDCODED.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Month__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_Budget_Line.Budget_Month__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Budget_Month__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_BL_from_by_Product</name>
        <label>Update BL from by Product</label>
        <locationX>528</locationX>
        <locationY>1416</locationY>
        <connector>
            <targetReference>FindBudgetMonth</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_Budget_Line.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Budget_Param__c</field>
            <value>
                <elementReference>Find_Budget_Param_by_Product.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Retention_Percent__c</field>
            <value>
                <elementReference>V_Retention</elementReference>
            </value>
        </inputAssignments>
        <object>Budget_Line__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_BL_from_by_Profit_Center</name>
        <label>Update BL from by Profit Center</label>
        <locationX>792</locationX>
        <locationY>1632</locationY>
        <connector>
            <targetReference>FindBudgetMonth</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_Budget_Line.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Budget_Param__c</field>
            <value>
                <elementReference>Find_Budget_Param_by_Profit_Center.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Retention_Percent__c</field>
            <value>
                <elementReference>V_Retention</elementReference>
            </value>
        </inputAssignments>
        <object>Budget_Line__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_BL_No_Param</name>
        <label>Update BL - No Param</label>
        <locationX>1056</locationX>
        <locationY>1524</locationY>
        <connector>
            <targetReference>FindBudgetMonth</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_Budget_Line.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Retention_Percent__c</field>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </inputAssignments>
        <object>Budget_Line__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Budget_Line</name>
        <label>Update Budget Line</label>
        <locationX>726</locationX>
        <locationY>2124</locationY>
        <connector>
            <targetReference>Find_Budget_Currency_Rate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_Budget_Line.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Agency_Fee_Curr__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Budget_Commisson_Curr__c</field>
            <value>
                <elementReference>Commission_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Budget_Commisson_SubAgent_Curr__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Budget_Entity__c</field>
            <value>
                <elementReference>Find_Internal_Entity.Internalentity_f__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Budget_Internal_Profit_Center__c</field>
            <value>
                <elementReference>$Record.Internal_Profit_Center_f__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Budget_Premium_Currency__c</field>
            <value>
                <elementReference>Policy_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cost_of_Sales_Curr__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Income_Type__c</field>
            <value>
                <elementReference>f_Income_Type</elementReference>
            </value>
        </inputAssignments>
        <object>Budget_Line__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Budget_Lines_Currency_Rates</name>
        <label>Update Budget Lines Currency Rates</label>
        <locationX>539</locationX>
        <locationY>2640</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_Budget_Line.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Agency_Fee_Currency_Rate__c</field>
            <value>
                <elementReference>Find_Agency_Fee_Currency_Rate.Budget_Currency_Rate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Budget_Currency_Rate__c</field>
            <value>
                <elementReference>Find_Budget_Currency_Rate.Budget_Currency_Rate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Budget_USD_Rate__c</field>
            <value>
                <elementReference>Find_USD_Rate.Budget_Currency_Rate__c</elementReference>
            </value>
        </inputAssignments>
        <object>Budget_Line__c</object>
    </recordUpdates>
    <start>
        <locationX>757</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Renewable</targetReference>
        </connector>
        <filterLogic>(1 AND 2) AND (3 OR (  4 AND 5   ))</filterLogic>
        <filters>
            <field>Renewal_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <dateValue>2023-05-01</dateValue>
            </value>
        </filters>
        <filters>
            <field>Renewal_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <dateValue>2024-10-01</dateValue>
            </value>
        </filters>
        <filters>
            <field>Renewal_Date_Lost_Q__c</field>
            <operator>GreaterThan</operator>
            <value>
                <dateValue>2024-09-30</dateValue>
            </value>
        </filters>
        <filters>
            <field>Renewal_Date_Lost_Q__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <dateValue>2024-09-30</dateValue>
            </value>
        </filters>
        <filters>
            <field>Novidea_HPC__Days_Covered__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>395.0</numberValue>
            </value>
        </filters>
        <object>Novidea_HPC__Policy__c</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2023-07-09</startDate>
            <startTime>11:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>BudgetLineID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HafsharaLostQ</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsBlockedForUpdates</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PoliciesCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Novidea_HPC__Policy__c</objectType>
    </variables>
    <variables>
        <name>PolicyRenewalDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>V_Retention</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>100.0</numberValue>
        </value>
    </variables>
</Flow>
