force-app/main/default/flows/YH_Budget_2_Hafsharot_Scheduled.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Budget_Line_Found</name>
        <label>Budget Line Found</label>
        <locationX>226</locationX>
        <locationY>684</locationY>
        <defaultConnector>
            <targetReference>Budget_Line_Update_Block</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Budget_Line.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Budget_Line</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Budget_Line_Update_Block</name>
        <label>Budget Line Update Block</label>
        <locationX>402</locationX>
        <locationY>792</locationY>
        <defaultConnector>
            <targetReference>Update_Budget_Line</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update Allowed</defaultConnectorLabel>
        <rules>
            <name>Update_Blocked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Budget_Line.Block_Auto_Update__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Budget_Currency_Rate</targetReference>
            </connector>
            <label>Update Blocked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Records_To_Delete</name>
        <label>Found Records To Delete</label>
        <locationX>1150</locationX>
        <locationY>468</locationY>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Budget_Line_To_Delete</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Obsolete_Budget_Lines</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Receivable_In_Budget_Year</name>
        <label>Is Receivable In Budget Year?</label>
        <locationX>490</locationX>
        <locationY>468</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Find_Budget_Line_To_Delete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Income_Recognition_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Find_Budget_Year_HARDCODED.Budget_Start_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Income_Recognition_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Find_Budget_Year_HARDCODED.End_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Budget_Line</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Updated_By_Production</name>
        <label>Is Updated By Production</label>
        <locationX>820</locationX>
        <locationY>252</locationY>
        <defaultConnector>
            <targetReference>Find_Budget_Line_To_Delete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Is_Updated_by_Production__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Budget_Year_HARDCODED</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>f_Income_Type</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!$Record.Novidea_HPC__Policy__r.Novidea_HPC__Original_Type__c} , &quot;חדש&quot;), &quot;חדש&quot;, &quot;חידוש&quot;)</expression>
    </formulas>
    <interviewLabel>YH Budget 2. Hafsharot - Scheduled {!$Flow.CurrentDateTime}</interviewLabel>
    <label>YH Budget 2. Hafsharot - Scheduled</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Budget_Line</name>
        <label>Create Budget Line</label>
        <locationX>50</locationX>
        <locationY>792</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Find_Budget_Line</targetReference>
        </connector>
        <inputAssignments>
            <field>Budget_Line_Type__c</field>
            <value>
                <stringValue>הפשרה</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Budget_Year__c</field>
            <value>
                <elementReference>Find_Budget_Year_HARDCODED.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Income__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Policy__c</field>
            <value>
                <elementReference>$Record.Novidea_HPC__Policy__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Budget_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Obsolete_Budget_Lines</name>
        <label>Delete Obsolete Budget Lines</label>
        <locationX>1018</locationX>
        <locationY>576</locationY>
        <inputReference>Find_Budget_Line_To_Delete</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Find_Agency_Fee_Currency_Rate</name>
        <label>Find Agency Fee Currency Rate</label>
        <locationX>402</locationX>
        <locationY>1200</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_USD_Rate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Budget_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_Budget_Year_HARDCODED.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Currency__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Novidea_HPC__Agency_Fee_Currency__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Budget_Currency_Rate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_Budget_Currency_Rate</name>
        <label>Find Budget Currency Rate</label>
        <locationX>402</locationX>
        <locationY>1092</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Agency_Fee_Currency_Rate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Budget_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_Budget_Year_HARDCODED.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Currency__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Novidea_HPC__Premium_Currency__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Budget_Currency_Rate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_Budget_Line</name>
        <label>Find Budget Line</label>
        <locationX>226</locationX>
        <locationY>576</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Budget_Line_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Income__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Budget_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_Budget_Line_To_Delete</name>
        <label>Find Budget Line To Delete</label>
        <locationX>1150</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Records_To_Delete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Budget_Line_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>הפשרה</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Budget_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_Budget_Year_HARDCODED</name>
        <label>Find Budget Year HARDCODED</label>
        <locationX>490</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Receivable_In_Budget_Year</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FY-2024</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Budget_Year__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_USD_Rate</name>
        <label>Find USD Rate</label>
        <locationX>402</locationX>
        <locationY>1308</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Currency_Rates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Budget_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_Budget_Year_HARDCODED.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Currency__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Budget_Currency_Rate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Budget_Line</name>
        <label>Update Budget Line</label>
        <locationX>490</locationX>
        <locationY>900</locationY>
        <connector>
            <targetReference>Find_Budget_Currency_Rate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_Budget_Line.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Agency_Fee_Curr__c</field>
            <value>
                <elementReference>$Record.Novidea_HPC__Agency_Fee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Budget_Commisson_Curr__c</field>
            <value>
                <elementReference>$Record.Net_Com_After_Agent_Dis_Net_Production__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Budget_Commisson_SubAgent_Curr__c</field>
            <value>
                <elementReference>$Record.subagentfees__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Budget_Entity__c</field>
            <value>
                <elementReference>$Record.Internalentity_f__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Budget_Internal_Profit_Center__c</field>
            <value>
                <elementReference>$Record.Novidea_HPC__Policy__r.Internal_profit_center__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Budget_Premium_Currency__c</field>
            <value>
                <elementReference>$Record.Gross_premium_from_production__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cost_of_Sales_Curr__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Income_Type__c</field>
            <value>
                <elementReference>f_Income_Type</elementReference>
            </value>
        </inputAssignments>
        <object>Budget_Line__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Currency_Rates</name>
        <label>Update Currency Rates</label>
        <locationX>402</locationX>
        <locationY>1416</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_Budget_Line.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Agency_Fee_Currency_Rate__c</field>
            <value>
                <elementReference>Find_Agency_Fee_Currency_Rate.Budget_Currency_Rate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Budget_Currency_Rate__c</field>
            <value>
                <elementReference>Find_Budget_Currency_Rate.Budget_Currency_Rate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Budget_USD_Rate__c</field>
            <value>
                <elementReference>Find_USD_Rate.Budget_Currency_Rate__c</elementReference>
            </value>
        </inputAssignments>
        <object>Budget_Line__c</object>
    </recordUpdates>
    <start>
        <locationX>694</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Updated_By_Production</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Novidea_HPC__Is_Updated_by_Production__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Novidea_HPC__Income_Recognition_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <dateValue>2023-10-01</dateValue>
            </value>
        </filters>
        <filters>
            <field>Novidea_HPC__Income_Recognition_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <dateValue>2024-09-30</dateValue>
            </value>
        </filters>
        <object>Novidea_HPC__Income__c</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2023-07-09</startDate>
            <startTime>11:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
