force-app/main/default/flows/YH_Commissions_Async.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Carrier_Account</name>
        <label>Carrier Account</label>
        <locationX>1370</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>v_Carrier_Account</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AYALON_HARDCODED_Carrier_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Find_Policy_by_Manual</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Carrier_Account_1</name>
        <label>Carrier Account 1</label>
        <locationX>380</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>v_Carrier_Account</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AIG_HARDCODED_Carrier_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Policy_by_Manual</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Carrier_Account_4</name>
        <label>Carrier Account 4</label>
        <locationX>1634</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>v_Carrier_Account</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MENORA_HARDCODED_Carrier_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Find_Policy_by_Manual</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Carrier_Account_5</name>
        <label>Carrier Account 5</label>
        <locationX>1898</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>v_Carrier_Account</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HAREL_HARDCODED_Carrier_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Find_Policy_by_Manual</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Carrier_Account_6</name>
        <label>Carrier Account 6</label>
        <locationX>2162</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>v_Carrier_Account</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MIGDAL_HARDCODED_Carrier_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Find_Policy_by_Manual</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Carrier_Account_7</name>
        <label>Carrier Account 7</label>
        <locationX>2426</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>v_Carrier_Account</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PHOENIX_HARDCODED_Carrier_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Find_Policy_by_Manual</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Carrier_Account_8</name>
        <label>Carrier Account 8</label>
        <locationX>2690</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>v_Carrier_Account</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HAHSHARA_HARDCODED_Carrier_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Find_Policy_by_Manual</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CFC_Carrier_Account</name>
        <label>CFC Carrier Account</label>
        <locationX>5858</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>v_Carrier_Account</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>001D000001zceAGIAY</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Find_Policy_by_Manual</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CLAL_Carrier_Account</name>
        <label>CLAL Carrier Account</label>
        <locationX>2954</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>v_Carrier_Account</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>001D000000qdGOaIAM</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Find_Policy_by_Manual</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GUEST_Carrier_Account</name>
        <label>GUEST Carrier Account</label>
        <locationX>5066</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>v_Carrier_Account</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>001D000000qdGNqIAM</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GUEST_Transaction_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>HIBL_Carrier_Account</name>
        <label>HIBL Carrier Account</label>
        <locationX>4142</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>v_Carrier_Account</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0014G00002Z4d7UQAR</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Previous_Error_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Lux_Carrier_Account</name>
        <label>Lux Carrier Account</label>
        <locationX>3416</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>v_Carrier_Account</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0014G00002aDRUwQAO</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Previous_Error_Records_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Policies_Count</name>
        <label>Policies Count</label>
        <locationX>710</locationX>
        <locationY>924</locationY>
        <assignmentItems>
            <assignToReference>v_Policy_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Find_Policies_by_Policy_Number</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Number_of_Policies</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SELA_Carrier_Account</name>
        <label>SELA Carrier Account</label>
        <locationX>5594</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>v_Carrier_Account</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0014G00002SW8DIQA1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Find_Policy_by_Manual</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Audit_Required</name>
        <label>Audit Required</label>
        <locationX>4802</locationX>
        <locationY>600</locationY>
        <defaultConnectorLabel>END</defaultConnectorLabel>
        <rules>
            <name>Manual_Run</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Approved_by_carrier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Find_Policy_by_Manual</targetReference>
            </connector>
            <label>Manual Run</label>
        </rules>
        <rules>
            <name>New_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Approved_by_carrier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Audit_Required</targetReference>
            </connector>
            <label>New Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Carrier_Format_By_RT</name>
        <label>Carrier Format By RT</label>
        <locationX>3119</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>CFC_Carrier_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AIG</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AIG</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AIG_HARDCODED_Carrier_Account</targetReference>
            </connector>
            <label>AIG</label>
        </rules>
        <rules>
            <name>AYALON</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AYALON</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AYALON_HARDCODED_Carrier_Account</targetReference>
            </connector>
            <label>AYALON</label>
        </rules>
        <rules>
            <name>MENORA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MENORA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MENORA_HARDCODED_Carrier_Account</targetReference>
            </connector>
            <label>MENORA</label>
        </rules>
        <rules>
            <name>HAREL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HAREL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HAREL_HARDCODED_Carrier_Account</targetReference>
            </connector>
            <label>HAREL</label>
        </rules>
        <rules>
            <name>MIGDAL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MIGDAL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MIGDAL_HARDCODED_Carrier_Account</targetReference>
            </connector>
            <label>MIGDAL</label>
        </rules>
        <rules>
            <name>PHOENIX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>PHOENIX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PHOENIX_HARDCODED_Carrier_Account</targetReference>
            </connector>
            <label>PHOENIX</label>
        </rules>
        <rules>
            <name>HAHSHARA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HAHSHARA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HAHSHARA_HARDCODED_Carrier_Account</targetReference>
            </connector>
            <label>HAHSHARA</label>
        </rules>
        <rules>
            <name>CLAL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CLAL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CLAL_Carrier_Account</targetReference>
            </connector>
            <label>CLAL</label>
        </rules>
        <rules>
            <name>LUX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LUX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lux_Carrier_Account</targetReference>
            </connector>
            <label>LUX</label>
        </rules>
        <rules>
            <name>HIBL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HIBL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HIBL_Carrier_Account</targetReference>
            </connector>
            <label>HIBL</label>
        </rules>
        <rules>
            <name>GUEST</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GUEST</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GUEST_Carrier_Account</targetReference>
            </connector>
            <label>GUEST</label>
        </rules>
        <rules>
            <name>SELA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SELA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SELA_Carrier_Account</targetReference>
            </connector>
            <label>SELA</label>
        </rules>
    </decisions>
    <decisions>
        <name>GUEST_Transaction_Type</name>
        <label>GUEST Transaction Type</label>
        <locationX>5066</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>Delete_Load_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Outstanding</defaultConnectorLabel>
        <rules>
            <name>Payable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Load_Transaction_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Audit_Required</targetReference>
            </connector>
            <label>Payable</label>
        </rules>
    </decisions>
    <decisions>
        <name>Manual_Policy_Set</name>
        <label>Manual Policy Set</label>
        <locationX>380</locationX>
        <locationY>708</locationY>
        <defaultConnector>
            <targetReference>Find_Policies_by_Policy_Number</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Manual Policy</defaultConnectorLabel>
        <rules>
            <name>Manual_Policy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Policy_by_Manual.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Commission_2</targetReference>
            </connector>
            <label>Manual Policy</label>
        </rules>
    </decisions>
    <decisions>
        <name>Number_of_Policies</name>
        <label>Number of Policies</label>
        <locationX>710</locationX>
        <locationY>1032</locationY>
        <defaultConnector>
            <targetReference>Error_No_Policy</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Policy</defaultConnectorLabel>
        <rules>
            <name>One_Policy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_Policy_Count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_One_Policy</targetReference>
            </connector>
            <label>One Policy</label>
        </rules>
        <rules>
            <name>Multiple_Policies</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_Policy_Count</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_by_Policy_Num_Branch_Status</targetReference>
            </connector>
            <label>Multiple Policies</label>
        </rules>
    </decisions>
    <decisions>
        <name>One_Policy_Found</name>
        <label>One Policy Found</label>
        <locationX>710</locationX>
        <locationY>1248</locationY>
        <defaultConnector>
            <targetReference>Error_Multiple_Policies</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>One_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_by_Policy_Num_Branch_Status</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Commission_1</targetReference>
            </connector>
            <label>One Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Previous_Error_Record_Found</name>
        <label>Previous Error Record Found</label>
        <locationX>4142</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Return_Premium1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Previous_Error_Records.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Previous_Error_Record</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Previous_Error_Record_Found_1</name>
        <label>Previous Error Record Found 1</label>
        <locationX>3416</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>Return_Premium1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Previous_Error_Records_1.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Previous_Error_Record_1</targetReference>
            </connector>
            <label>Found 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Return_Premium1</name>
        <label>Return Premium</label>
        <locationX>3614</locationX>
        <locationY>708</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Find_Policy_by_Manual</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>Return_Premium_less_than_1000</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Load_Transaction_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Return Premium</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Commission_Amount__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Policy__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Return_Premium</targetReference>
            </connector>
            <label>Return Premium &lt; 1000</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>f_Append_To_Remark</name>
        <dataType>String</dataType>
        <expression>{!Get_Previous_Error_Records.Remark__c} +  &quot; * שגיאה נוספת &quot; + TEXT({!f_CommissionDate})</expression>
    </formulas>
    <formulas>
        <name>f_CommissionAmount</name>
        <dataType>Number</dataType>
        <expression>IF({!$Record.Load_Transaction_Type__c} = &quot;Return Premium&quot;, 
{!$Record.Commission_Amount__c} * -1,
{!$Record.Commission_Amount__c} + 

IF(ISBLANK({!$Record.Load_Commission_Amount_1__c}),0,

{!$Record.Load_Commission_Amount_1__c}
)
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>f_CommissionDate</name>
        <dataType>Date</dataType>
        <expression>IF(ISBLANK({!$Record.Load_Commission_Date__c}), 
DATE( 
YEAR(   {!$Flow.CurrentDate} ),
IF(ISNEW(), MONTH(   {!$Flow.CurrentDate} ), MONTH(  DATEVALUE( {!$Record.CreatedDate} )  )   ),
IF({!$Record.RecordType.DeveloperName} = &quot;LUX&quot; ||{!$Record.RecordType.DeveloperName} = &quot;HIBL&quot;||{!$Record.RecordType.DeveloperName} = &quot;ARDONAGH&quot;,
CASE({!$Record.Commission_Currency__c}, 
&quot;USD&quot;, 14,
&quot;ILS&quot;, 15,
&quot;EUR&quot;, 16,
&quot;GBP&quot;, 17,
&quot;CAD&quot;, 18,
&quot;AUD&quot;, 19,
20)
,14
))
,{!$Record.Load_Commission_Date__c})</expression>
    </formulas>
    <formulas>
        <name>f_Commisson_Name</name>
        <dataType>String</dataType>
        <expression>&quot; תקבול ממבטח&quot; + &quot; - &quot; + {!$Record.RecordType.DeveloperName}</expression>
    </formulas>
    <formulas>
        <name>f_Currency_by_Code</name>
        <dataType>String</dataType>
        <expression>CASE(
{!$Record.Currency_Name__c}, 
&quot;1&quot;, &quot;ILS&quot;,
&quot;2&quot;, &quot;USD&quot;, 
&quot;שח&quot;, &quot;ILS&quot;,
&quot;דולר&quot;, &quot;USD&quot;, 
&quot;דולר ארהב&quot;, &quot;USD&quot;, 
&quot;שקל&quot;, &quot;ILS&quot;,
&quot;שקלים חדשים&quot;, &quot;ILS&quot;,
{!$Record.Currency_Name__c})</expression>
    </formulas>
    <formulas>
        <name>f_Date_Null</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE(&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>f_ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>YH Commissions Async {!$Flow.CurrentDateTime}</interviewLabel>
    <label>YH Commissions Async</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Commission</name>
        <label>Create Commission</label>
        <locationX>314</locationX>
        <locationY>1248</locationY>
        <connector>
            <targetReference>Link_Staging_Commission</targetReference>
        </connector>
        <inputAssignments>
            <field>Commission_Staging__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>f_Commisson_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Carrier__c</field>
            <value>
                <elementReference>v_Carrier_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Collection_Date__c</field>
            <value>
                <elementReference>f_CommissionDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Payment_Currency__c</field>
            <value>
                <elementReference>f_Currency_by_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Payment__c</field>
            <value>
                <elementReference>f_CommissionAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Policy__c</field>
            <value>
                <elementReference>Find_One_Policy.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Remark__c</field>
            <value>
                <elementReference>$Record.Remark__c</elementReference>
            </value>
        </inputAssignments>
        <object>Novidea_HPC__Collection_From_Carrier__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Commission_1</name>
        <label>Create Commission 1</label>
        <locationX>578</locationX>
        <locationY>1356</locationY>
        <connector>
            <targetReference>Link_Staging_Commission_1</targetReference>
        </connector>
        <inputAssignments>
            <field>Commission_Staging__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>f_Commisson_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Carrier__c</field>
            <value>
                <elementReference>v_Carrier_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Collection_Date__c</field>
            <value>
                <elementReference>f_CommissionDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Payment_Currency__c</field>
            <value>
                <elementReference>f_Currency_by_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Payment__c</field>
            <value>
                <elementReference>$Record.Commission_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Policy__c</field>
            <value>
                <elementReference>Find_by_Policy_Num_Branch_Status.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Remark__c</field>
            <value>
                <elementReference>$Record.Remark__c</elementReference>
            </value>
        </inputAssignments>
        <object>Novidea_HPC__Collection_From_Carrier__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Commission_2</name>
        <label>Create Commission 2</label>
        <locationX>50</locationX>
        <locationY>816</locationY>
        <connector>
            <targetReference>Link_Staging_Commission_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Commission_Staging__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>f_Commisson_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Carrier__c</field>
            <value>
                <elementReference>v_Carrier_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Collection_Date__c</field>
            <value>
                <elementReference>f_CommissionDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Payment_Currency__c</field>
            <value>
                <elementReference>f_Currency_by_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Payment__c</field>
            <value>
                <elementReference>f_CommissionAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Policy__c</field>
            <value>
                <elementReference>Find_Policy_by_Manual.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Remark__c</field>
            <value>
                <elementReference>$Record.Remark__c</elementReference>
            </value>
        </inputAssignments>
        <object>Novidea_HPC__Collection_From_Carrier__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Load_Record</name>
        <label>Delete Load Record</label>
        <locationX>5330</locationX>
        <locationY>600</locationY>
        <inputReference>$Record</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>AIG_HARDCODED_Carrier_Account</name>
        <label>AIG HARDCODED Carrier Account</label>
        <locationX>380</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Carrier_Account_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>001D000000qdGLIIA2</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>AYALON_HARDCODED_Carrier_Account</name>
        <label>AYALON HARDCODED Carrier Account</label>
        <locationX>1370</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Carrier_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>001D000000qdGOAIA2</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_by_Policy_Num_Branch_Status</name>
        <label>Find by Policy Num, Branch, Status</label>
        <locationX>710</locationX>
        <locationY>1140</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>One_Policy_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Novidea_HPC__Policy_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Policy_Number_Transformed__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Novidea_HPC__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Production Updated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_in_carrier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Commission_Branch_Transformed__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Novidea_HPC__Policy__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_One_Policy</name>
        <label>Find One Policy</label>
        <locationX>314</locationX>
        <locationY>1140</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Commission</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Novidea_HPC__Policy_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Policy_Number__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Novidea_HPC__Policy_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Policy_Number_Transformed__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Local_Policy_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Policy_Number_Transformed__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Novidea_HPC__Policy_Number__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.Policy_Number_Transformed__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Novidea_HPC__Policy__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_Policies_by_Policy_Number</name>
        <label>Find Policies by Policy Number</label>
        <locationX>710</locationX>
        <locationY>816</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Policies_Count</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Novidea_HPC__Policy_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Policy_Number_Transformed__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Local_Policy_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Policy_Number_Transformed__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Novidea_HPC__Policy_Number__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.Policy_Number_Transformed__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Novidea_HPC__Policy__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_Policy_by_Manual</name>
        <label>Find Policy by Manual</label>
        <locationX>380</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Manual_Policy_Set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Policy__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Novidea_HPC__Policy__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Previous_Error_Records</name>
        <label>Get Previous Error Records</label>
        <locationX>4142</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Previous_Error_Record_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Policy_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Policy_Number__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Commission_Amount__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Commission_Amount__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Customer_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Customer_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Commission_id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Commission_Staging__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Previous_Error_Records_1</name>
        <label>Get Previous Error Records 1</label>
        <locationX>3416</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Previous_Error_Record_Found_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Policy_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Policy_Number__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Commission_Amount__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Commission_Amount__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Customer_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Customer_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Commission_id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Commission_Staging__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>HAHSHARA_HARDCODED_Carrier_Account</name>
        <label>HAHSHARA HARDCODED Carrier Account</label>
        <locationX>2690</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Carrier_Account_8</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>001D000000qdGHQIA2</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>HAREL_HARDCODED_Carrier_Account</name>
        <label>HAREL HARDCODED Carrier Account</label>
        <locationX>1898</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Carrier_Account_5</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>001D000000qdGOZIA2</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>MENORA_HARDCODED_Carrier_Account</name>
        <label>MENORA HARDCODED Carrier Account</label>
        <locationX>1634</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Carrier_Account_4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>001D000000qdGPHIA2</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>MIGDAL_HARDCODED_Carrier_Account</name>
        <label>MIGDAL HARDCODED Carrier Account</label>
        <locationX>2162</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Carrier_Account_6</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>001D000000qdGP5IAM</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>PHOENIX_HARDCODED_Carrier_Account</name>
        <label>PHOENIX HARDCODED Carrier Account</label>
        <locationX>2426</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Carrier_Account_7</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>001D000000qdGLGIA2</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Clear_Triggering_Flag</name>
        <label>Clear Triggering Flag</label>
        <locationX>3119</locationX>
        <locationY>1908</locationY>
        <inputAssignments>
            <field>trigger_find_policy__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Error_Audit_Required</name>
        <label>Error Audit Required</label>
        <locationX>4802</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Clear_Triggering_Flag</targetReference>
        </connector>
        <inputAssignments>
            <field>Carrier__c</field>
            <value>
                <elementReference>v_Carrier_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Currency__c</field>
            <value>
                <elementReference>f_Currency_by_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Date__c</field>
            <value>
                <elementReference>f_CommissionDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Description__c</field>
            <value>
                <elementReference>f_Commisson_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Load_Error__c</field>
            <value>
                <elementReference>txt_Audit_Required</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Error_Multiple_Policies</name>
        <label>Error Multiple Policies</label>
        <locationX>842</locationX>
        <locationY>1356</locationY>
        <connector>
            <targetReference>Clear_Triggering_Flag</targetReference>
        </connector>
        <inputAssignments>
            <field>Carrier__c</field>
            <value>
                <elementReference>v_Carrier_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Currency__c</field>
            <value>
                <elementReference>f_Currency_by_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Date__c</field>
            <value>
                <elementReference>f_CommissionDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Description__c</field>
            <value>
                <elementReference>f_Commisson_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Load_Error__c</field>
            <value>
                <elementReference>txt_Multiple_Policies_Found</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Error_No_Policy</name>
        <label>Error No Policy</label>
        <locationX>1106</locationX>
        <locationY>1140</locationY>
        <connector>
            <targetReference>Clear_Triggering_Flag</targetReference>
        </connector>
        <inputAssignments>
            <field>Carrier__c</field>
            <value>
                <elementReference>v_Carrier_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Currency__c</field>
            <value>
                <elementReference>f_Currency_by_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Date__c</field>
            <value>
                <elementReference>f_CommissionDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Description__c</field>
            <value>
                <elementReference>f_Commisson_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Load_Error__c</field>
            <value>
                <elementReference>txt_Policy_Not_Found</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Error_Return_Premium</name>
        <label>Error Return Premium</label>
        <locationX>3482</locationX>
        <locationY>816</locationY>
        <connector>
            <targetReference>Clear_Triggering_Flag</targetReference>
        </connector>
        <inputAssignments>
            <field>Carrier__c</field>
            <value>
                <elementReference>v_Carrier_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Currency__c</field>
            <value>
                <elementReference>f_Currency_by_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Date__c</field>
            <value>
                <elementReference>f_CommissionDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Description__c</field>
            <value>
                <elementReference>f_Commisson_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Load_Error__c</field>
            <value>
                <elementReference>txt_Return_Premium</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Link_Staging_Commission</name>
        <label>Link Staging Commission</label>
        <locationX>314</locationX>
        <locationY>1356</locationY>
        <connector>
            <targetReference>Clear_Triggering_Flag</targetReference>
        </connector>
        <inputAssignments>
            <field>Carrier__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Currency__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Date__c</field>
            <value>
                <elementReference>f_Date_Null</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Description__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Load_Error__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Commission__c</field>
            <value>
                <elementReference>Create_Commission</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Policy__c</field>
            <value>
                <elementReference>Find_One_Policy.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Link_Staging_Commission_1</name>
        <label>Link Staging Commission 1</label>
        <locationX>578</locationX>
        <locationY>1464</locationY>
        <connector>
            <targetReference>Clear_Triggering_Flag</targetReference>
        </connector>
        <inputAssignments>
            <field>Carrier__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Currency__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Date__c</field>
            <value>
                <elementReference>f_Date_Null</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Description__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Load_Error__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Commission__c</field>
            <value>
                <elementReference>Create_Commission_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Policy__c</field>
            <value>
                <elementReference>Find_by_Policy_Num_Branch_Status.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Link_Staging_Commission_2</name>
        <label>Link Staging Commission 2</label>
        <locationX>50</locationX>
        <locationY>924</locationY>
        <connector>
            <targetReference>Clear_Triggering_Flag</targetReference>
        </connector>
        <inputAssignments>
            <field>Carrier__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Currency__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Date__c</field>
            <value>
                <elementReference>f_Date_Null</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Description__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Load_Error__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Commission__c</field>
            <value>
                <elementReference>Create_Commission_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Policy__c</field>
            <value>
                <elementReference>Find_Policy_by_Manual.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Previous_Error_Record</name>
        <label>Update Previous Error Record</label>
        <locationX>4010</locationX>
        <locationY>708</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Delete_Load_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Previous_Error_Records.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Remark__c</field>
            <value>
                <elementReference>f_Append_To_Remark</elementReference>
            </value>
        </inputAssignments>
        <object>Commission_Staging__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Previous_Error_Record_1</name>
        <label>Update Previous Error Record 1</label>
        <locationX>3218</locationX>
        <locationY>708</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Delete_Load_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Previous_Error_Records_1.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Remark__c</field>
            <value>
                <elementReference>f_Append_To_Remark</elementReference>
            </value>
        </inputAssignments>
        <object>Commission_Staging__c</object>
    </recordUpdates>
    <start>
        <locationX>1326</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>{!$Record.trigger_find_policy__c}</filterFormula>
        <object>Commission_Staging__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Carrier_Format_By_RT</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>txt_Audit_Required</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>בקרה ידנית לפני יצירת תקבול</text>
    </textTemplates>
    <textTemplates>
        <name>txt_Commission_0</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>סכום העמלה הוא 0</text>
    </textTemplates>
    <textTemplates>
        <name>txt_Multiple_Policies_Found</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>מספר הפוליסה נמצא בכמה פוליסות שונות</text>
    </textTemplates>
    <textTemplates>
        <name>txt_Policy_Not_Found</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>לא נמצאה פוליסה עם מספר זה</text>
    </textTemplates>
    <textTemplates>
        <name>txt_Return_Premium</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>קיזוז מעל 1,000</text>
    </textTemplates>
    <variables>
        <name>currentItem_AIG_Car_Policies_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Novidea_HPC__Policy__c</objectType>
    </variables>
    <variables>
        <name>currentItem_AIG_Car_Policies_0_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Novidea_HPC__Policy__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Same_Branch</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Novidea_HPC__Policy__c</objectType>
    </variables>
    <variables>
        <name>v_Carrier_Account</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_Policy_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
