force-app/main/default/flows/YH_Income_395_Single_Income.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Run_Income_395</name>
        <label>Run Income 395</label>
        <locationX>512</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Del_101_201</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Relevant</defaultConnectorLabel>
        <rules>
            <name>Relevant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Income_395_relevant</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Income_395_Lock__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_101</targetReference>
            </connector>
            <label>Relevant</label>
        </rules>
        <rules>
            <name>Locked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Income_395_relevant</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Income_395_Lock__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Result_Locked</targetReference>
            </connector>
            <label>Locked</label>
        </rules>
    </decisions>
    <decisions>
        <name>X101_Found</name>
        <label>101 Found</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Update_101</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_101.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_101</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>X201_Found</name>
        <label>201 Found</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Update_201</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_201.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_201</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Income_395_relevant</name>
        <dataType>Boolean</dataType>
        <expression>(
{!$Record.Novidea_HPC__Endorsement_Number__c} = 0
&amp;&amp; {!$Record.Novidea_HPC__Policy__r.Novidea_HPC__Days_Covered__c} &gt;= 395
&amp;&amp; {!$Record.Novidea_HPC__Policy__r.RecordType.DeveloperName} &lt;&gt; &quot;Commission_Report&quot;
&amp;&amp; {!$Record.Novidea_HPC__Policy__r.Novidea_HPC__Product_Definition__r.Novidea_HPC__Category__r.Name} &lt;&gt; &quot;Marine&quot;
&amp;&amp; ISPICKVAL({!$Record.Novidea_HPC__Policy__r.Novidea_HPC__Product_Definition__r.Renewable_notrenewable__c} , &quot;מתחדש&quot;)
)</expression>
    </formulas>
    <formulas>
        <name>v_101</name>
        <dataType>Number</dataType>
        <expression>- {!v_201}</expression>
        <scale>4</scale>
    </formulas>
    <formulas>
        <name>v_101_Novidea_HPC_Agent_Discount</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Novidea_HPC__Agent_Discount__c} * {!v_101}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>v_101_Novidea_HPC_Commission_Amount</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Novidea_HPC__Commission_Amount__c} * {!v_101}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>v_101_Novidea_HPC_Commission_Amount_from_Production</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Novidea_HPC__Commission_Amount_from_Production__c} * {!v_101}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>v_101_Novidea_HPC_Fees</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Novidea_HPC__Fees__c} * {!v_101}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>v_101_Novidea_HPC_Fees_From_Production</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Novidea_HPC__Fees_From_Production__c} * {!v_101}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>v_101_Novidea_HPC_Income_Recognition_Date</name>
        <dataType>Date</dataType>
        <expression>DATE(
YEAR({!$Record.Novidea_HPC__Bordero_Date__c})
,MONTH( {!$Record.Novidea_HPC__Bordero_Date__c} )
,01)</expression>
    </formulas>
    <formulas>
        <name>v_101_Novidea_HPC_Other_Commission</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Novidea_HPC__Other_Commission__c} * {!v_101}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>v_101_Novidea_HPC_Premium</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Novidea_HPC__Premium__c} * {!v_101}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>v_101_Novidea_HPC_Premium_From_Production</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Novidea_HPC__Premium_From_Production__c} * {!v_101}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>v_101_Novidea_HPC_Underwriter_Commission</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Novidea_HPC__Underwriter_Commission__c} * {!v_101}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>v_201</name>
        <dataType>Number</dataType>
        <expression>1-{!$Record.Novidea_HPC__Policy__r.Shinut_Coeff__c}</expression>
        <scale>4</scale>
    </formulas>
    <formulas>
        <name>v_201_Novidea_HPC_Agent_Discount</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Novidea_HPC__Agent_Discount__c} * {!v_201}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>v_201_Novidea_HPC_Commission_Amount</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Novidea_HPC__Commission_Amount__c} * {!v_201}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>v_201_Novidea_HPC_Commission_Amount_from_Production</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Novidea_HPC__Commission_Amount_from_Production__c} * {!v_201}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>v_201_Novidea_HPC_Fees</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Novidea_HPC__Fees__c} * {!v_201}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>v_201_Novidea_HPC_Fees_From_Production</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Novidea_HPC__Fees_From_Production__c} * {!v_201}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>v_201_Novidea_HPC_Income_Recognition_Date</name>
        <dataType>Date</dataType>
        <expression>DATE(
YEAR( ADDMONTHS(
 {!$Record.Novidea_HPC__Policy__r.Novidea_HPC__Effective_Date__c}     , 12)),
MONTH(    {!$Record.Novidea_HPC__Policy__r.Novidea_HPC__Effective_Date__c}   ),
01
)</expression>
    </formulas>
    <formulas>
        <name>v_201_Novidea_HPC_Other_Commission</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Novidea_HPC__Other_Commission__c} * {!v_201}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>v_201_Novidea_HPC_Premium</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Novidea_HPC__Premium__c} * {!v_201}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>v_201_Novidea_HPC_Premium_From_Production</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Novidea_HPC__Premium_From_Production__c} * {!v_201}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>v_201_Novidea_HPC_Underwriter_Commission</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Novidea_HPC__Underwriter_Commission__c} * {!v_201}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>YH Income 395 - Single Income {!$Flow.CurrentDateTime}</interviewLabel>
    <label>YH Income 395 - Single Income</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_101</name>
        <label>Create 101</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Find_201</targetReference>
        </connector>
        <inputAssignments>
            <field>Income_0_for_395__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Agency_Fee_Currency__c</field>
            <value>
                <elementReference>$Record.Novidea_HPC__Agency_Fee_Currency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Agent_Discount__c</field>
            <value>
                <elementReference>v_101_Novidea_HPC_Agent_Discount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Bordero_Date__c</field>
            <value>
                <elementReference>$Record.Novidea_HPC__Bordero_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Carrier__c</field>
            <value>
                <elementReference>$Record.Novidea_HPC__Carrier__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Commission_Amount__c</field>
            <value>
                <elementReference>v_101_Novidea_HPC_Commission_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Commission_Amount_from_Production__c</field>
            <value>
                <elementReference>v_101_Novidea_HPC_Commission_Amount_from_Production</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Effective_Date__c</field>
            <value>
                <elementReference>$Record.Novidea_HPC__Effective_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Endorsement_Number__c</field>
            <value>
                <numberValue>-101.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Expiration_Date__c</field>
            <value>
                <elementReference>$Record.Novidea_HPC__Expiration_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Fees_From_Production__c</field>
            <value>
                <elementReference>v_101_Novidea_HPC_Fees_From_Production</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Fees__c</field>
            <value>
                <elementReference>v_101_Novidea_HPC_Fees</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Income_Recognition_Date__c</field>
            <value>
                <elementReference>v_101_Novidea_HPC_Income_Recognition_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Local_Tax__c</field>
            <value>
                <elementReference>$Record.Novidea_HPC__Local_Tax__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Other_Commission__c</field>
            <value>
                <elementReference>v_101_Novidea_HPC_Other_Commission</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Policy__c</field>
            <value>
                <elementReference>$Record.Novidea_HPC__Policy__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Premium_Currency__c</field>
            <value>
                <elementReference>$Record.Novidea_HPC__Premium_Currency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Premium_From_Production__c</field>
            <value>
                <elementReference>v_101_Novidea_HPC_Premium_From_Production</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Premium__c</field>
            <value>
                <elementReference>v_101_Novidea_HPC_Premium</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Production_Update_Date__c</field>
            <value>
                <elementReference>$Record.Novidea_HPC__Production_Update_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Tax_On_Premium__c</field>
            <value>
                <elementReference>$Record.Novidea_HPC__Tax_On_Premium__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Underwriter_Commission__c</field>
            <value>
                <elementReference>v_101_Novidea_HPC_Underwriter_Commission</elementReference>
            </value>
        </inputAssignments>
        <object>Novidea_HPC__Income__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_201</name>
        <label>Create 201</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Set_Result_Run_OK</targetReference>
        </connector>
        <inputAssignments>
            <field>Income_0_for_395__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Agency_Fee_Currency__c</field>
            <value>
                <elementReference>$Record.Novidea_HPC__Agency_Fee_Currency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Agent_Discount__c</field>
            <value>
                <elementReference>v_201_Novidea_HPC_Agent_Discount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Bordero_Date__c</field>
            <value>
                <elementReference>$Record.Novidea_HPC__Bordero_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Carrier__c</field>
            <value>
                <elementReference>$Record.Novidea_HPC__Carrier__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Commission_Amount__c</field>
            <value>
                <elementReference>v_201_Novidea_HPC_Commission_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Commission_Amount_from_Production__c</field>
            <value>
                <elementReference>v_201_Novidea_HPC_Commission_Amount_from_Production</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Effective_Date__c</field>
            <value>
                <elementReference>$Record.Novidea_HPC__Effective_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Endorsement_Number__c</field>
            <value>
                <numberValue>-201.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Expiration_Date__c</field>
            <value>
                <elementReference>$Record.Novidea_HPC__Expiration_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Fees_From_Production__c</field>
            <value>
                <elementReference>v_201_Novidea_HPC_Fees_From_Production</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Fees__c</field>
            <value>
                <elementReference>v_201_Novidea_HPC_Fees</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Income_Recognition_Date__c</field>
            <value>
                <elementReference>v_201_Novidea_HPC_Income_Recognition_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Local_Tax__c</field>
            <value>
                <elementReference>$Record.Novidea_HPC__Local_Tax__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Other_Commission__c</field>
            <value>
                <elementReference>v_201_Novidea_HPC_Other_Commission</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Policy__c</field>
            <value>
                <elementReference>$Record.Novidea_HPC__Policy__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Premium_Currency__c</field>
            <value>
                <elementReference>$Record.Novidea_HPC__Premium_Currency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Premium_From_Production__c</field>
            <value>
                <elementReference>v_201_Novidea_HPC_Premium_From_Production</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Premium__c</field>
            <value>
                <elementReference>v_201_Novidea_HPC_Premium</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Production_Update_Date__c</field>
            <value>
                <elementReference>$Record.Novidea_HPC__Production_Update_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Tax_On_Premium__c</field>
            <value>
                <elementReference>$Record.Novidea_HPC__Tax_On_Premium__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Underwriter_Commission__c</field>
            <value>
                <elementReference>v_201_Novidea_HPC_Underwriter_Commission</elementReference>
            </value>
        </inputAssignments>
        <object>Novidea_HPC__Income__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Del_101_201</name>
        <label>Del 101, 201</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Set_Result_Not_Relevant</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4) and 5</filterLogic>
        <filters>
            <field>Novidea_HPC__Policy__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Novidea_HPC__Policy__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Novidea_HPC__Carrier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Novidea_HPC__Carrier__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Novidea_HPC__Endorsement_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>-101.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Novidea_HPC__Endorsement_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>-201.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Income_0_for_395__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Novidea_HPC__Income__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Find_101</name>
        <label>Find 101</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>X101_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Novidea_HPC__Policy__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Novidea_HPC__Policy__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Novidea_HPC__Endorsement_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>-101.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Income_0_for_395__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Novidea_HPC__Carrier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Novidea_HPC__Carrier__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Novidea_HPC__Income__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_201</name>
        <label>Find 201</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>X201_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Novidea_HPC__Policy__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Novidea_HPC__Policy__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Novidea_HPC__Endorsement_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>-201.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Novidea_HPC__Carrier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Novidea_HPC__Carrier__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Income_0_for_395__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Novidea_HPC__Income__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Clear_Triggering_Flag</name>
        <label>Clear Triggering Flag</label>
        <locationX>512</locationX>
        <locationY>1547</locationY>
        <inputAssignments>
            <field>trigger_income_395__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Result_Locked</name>
        <label>Set Result - Locked</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Set_Timestamp</targetReference>
        </connector>
        <inputAssignments>
            <field>Income_395_Result__c</field>
            <value>
                <stringValue>ההכנסה נעולה לחיתוך</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Result_Not_Relevant</name>
        <label>Set Result - Not Relevant</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Set_Timestamp</targetReference>
        </connector>
        <inputAssignments>
            <field>Income_395_Result__c</field>
            <value>
                <stringValue>ההכנסה אינה עומדת בקריטריונים לחיתוך</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Result_Run_OK</name>
        <label>Set Result - Run OK</label>
        <locationX>182</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>Set_Timestamp</targetReference>
        </connector>
        <inputAssignments>
            <field>Income_395_Result__c</field>
            <value>
                <stringValue>ההכנסה נחתכה בהצלחה</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Timestamp</name>
        <label>Set Timestamp</label>
        <locationX>512</locationX>
        <locationY>1439</locationY>
        <connector>
            <targetReference>Clear_Triggering_Flag</targetReference>
        </connector>
        <inputAssignments>
            <field>Income_395_timestamp__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_101</name>
        <label>Update 101</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Find_201</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_101.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Income_395_Result__c</field>
            <value>
                <stringValue>החיתוך בוצע/עודכן בהצלחה</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Income_395_timestamp__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Agency_Fee_Currency__c</field>
            <value>
                <elementReference>$Record.Novidea_HPC__Agency_Fee_Currency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Agent_Discount__c</field>
            <value>
                <elementReference>v_101_Novidea_HPC_Agent_Discount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Bordero_Date__c</field>
            <value>
                <elementReference>$Record.Novidea_HPC__Bordero_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Commission_Amount__c</field>
            <value>
                <elementReference>v_101_Novidea_HPC_Commission_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Commission_Amount_from_Production__c</field>
            <value>
                <elementReference>v_101_Novidea_HPC_Commission_Amount_from_Production</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Effective_Date__c</field>
            <value>
                <elementReference>$Record.Novidea_HPC__Effective_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Expiration_Date__c</field>
            <value>
                <elementReference>$Record.Novidea_HPC__Expiration_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Fees_From_Production__c</field>
            <value>
                <elementReference>v_101_Novidea_HPC_Fees_From_Production</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Fees__c</field>
            <value>
                <elementReference>v_101_Novidea_HPC_Fees</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Income_Recognition_Date__c</field>
            <value>
                <elementReference>v_101_Novidea_HPC_Income_Recognition_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Local_Tax__c</field>
            <value>
                <elementReference>$Record.Novidea_HPC__Local_Tax__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Other_Commission__c</field>
            <value>
                <elementReference>v_101_Novidea_HPC_Other_Commission</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Premium_Currency__c</field>
            <value>
                <elementReference>$Record.Novidea_HPC__Premium_Currency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Premium_From_Production__c</field>
            <value>
                <elementReference>v_101_Novidea_HPC_Premium_From_Production</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Premium__c</field>
            <value>
                <elementReference>v_101_Novidea_HPC_Premium</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Production_Update_Date__c</field>
            <value>
                <elementReference>$Record.Novidea_HPC__Production_Update_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Tax_On_Premium__c</field>
            <value>
                <elementReference>$Record.Novidea_HPC__Tax_On_Premium__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Underwriter_Commission__c</field>
            <value>
                <elementReference>v_101_Novidea_HPC_Underwriter_Commission</elementReference>
            </value>
        </inputAssignments>
        <object>Novidea_HPC__Income__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_201</name>
        <label>Update 201</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Set_Result_Run_OK</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_201.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Income_395_Result__c</field>
            <value>
                <stringValue>החיתוך בוצע/עודכן בהצלחה</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Income_395_timestamp__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Agency_Fee_Currency__c</field>
            <value>
                <elementReference>$Record.Novidea_HPC__Agency_Fee_Currency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Agent_Discount__c</field>
            <value>
                <elementReference>v_201_Novidea_HPC_Agent_Discount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Bordero_Date__c</field>
            <value>
                <elementReference>$Record.Novidea_HPC__Bordero_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Commission_Amount__c</field>
            <value>
                <elementReference>v_201_Novidea_HPC_Commission_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Commission_Amount_from_Production__c</field>
            <value>
                <elementReference>v_201_Novidea_HPC_Commission_Amount_from_Production</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Effective_Date__c</field>
            <value>
                <elementReference>$Record.Novidea_HPC__Effective_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Expiration_Date__c</field>
            <value>
                <elementReference>$Record.Novidea_HPC__Expiration_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Fees_From_Production__c</field>
            <value>
                <elementReference>v_201_Novidea_HPC_Fees_From_Production</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Fees__c</field>
            <value>
                <elementReference>v_201_Novidea_HPC_Fees</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Income_Recognition_Date__c</field>
            <value>
                <elementReference>v_201_Novidea_HPC_Income_Recognition_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Local_Tax__c</field>
            <value>
                <elementReference>$Record.Novidea_HPC__Local_Tax__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Other_Commission__c</field>
            <value>
                <elementReference>v_201_Novidea_HPC_Other_Commission</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Premium_Currency__c</field>
            <value>
                <elementReference>$Record.Novidea_HPC__Premium_Currency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Premium_From_Production__c</field>
            <value>
                <elementReference>v_201_Novidea_HPC_Premium_From_Production</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Premium__c</field>
            <value>
                <elementReference>v_201_Novidea_HPC_Premium</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Production_Update_Date__c</field>
            <value>
                <elementReference>$Record.Novidea_HPC__Production_Update_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Tax_On_Premium__c</field>
            <value>
                <elementReference>$Record.Novidea_HPC__Tax_On_Premium__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novidea_HPC__Underwriter_Commission__c</field>
            <value>
                <elementReference>v_201_Novidea_HPC_Underwriter_Commission</elementReference>
            </value>
        </inputAssignments>
        <object>Novidea_HPC__Income__c</object>
    </recordUpdates>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Run_Income_395</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>{!$Record.trigger_income_395__c}</filterFormula>
        <object>Novidea_HPC__Income__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ID_101</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ID_201</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
