force-app/main/default/flows/YH_Income_Processes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Is_Update_Production_or_Manual</name>
        <label>Is Update Production or Manual?</label>
        <locationX>446</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_by_Production</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Novidea_HPC__Is_Updated_by_Production__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Manually_Set_yeshut_pnim_irgunit</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Update by Production</label>
        </rules>
        <rules>
            <name>InsurerEntity_Manual_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Insurerentity__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InsurerEntity_clear_the_by_production_flag</targetReference>
            </connector>
            <label>ישות במבטח Manual Update</label>
        </rules>
        <rules>
            <name>Yeshut_Pnim_Irgunit_Manual_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Internalentity__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Yeshut_Pnim_Irgunit_clear_the_by_production_flag</targetReference>
            </connector>
            <label>ישות פנים ארגונית Manual Update</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>YH Income Pre Processes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>YH Income Processes</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>InsurerEntity_clear_the_by_production_flag</name>
        <label>ישות במבטח clear the &quot;by production&quot; flag</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>InsurerEntity_By_Production__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InsurerEntity_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Manually_Set_yeshut_bamevateach</name>
        <label>Manually Set ישות במבטח</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Insurerentity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>InsurerEntity_By_Production__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InsurerEntity_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Insurerentity__c</field>
            <value>
                <elementReference>$Record.Insurerentity_f__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Manually_Set_yeshut_pnim_irgunit</name>
        <label>Manually Set ישות פנים ארגונית</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Manually_Set_yeshut_bamevateach</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Internalentity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>InternalEntity_By_Production__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InternalEntity_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internalentity__c</field>
            <value>
                <elementReference>$Record.Internalentity_f__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Yeshut_Pnim_Irgunit_clear_the_by_production_flag</name>
        <label>ישות פנים ארגונית clear the &quot;by production&quot; flag</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>InternalEntity_By_Production__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InternalEntity_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Update_Production_or_Manual</targetReference>
        </connector>
        <filterLogic>1 OR (2 OR 3)</filterLogic>
        <filters>
            <field>Novidea_HPC__Is_Updated_by_Production__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Insurerentity__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Internalentity__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Novidea_HPC__Income__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
