force-app/main/default/flows/YH_Policy_Number_Cleanup.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Is_Number</name>
        <label>Is Number</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Text</defaultConnectorLabel>
        <rules>
            <name>Zero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>f_Remove_Leading_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Policy_Number</targetReference>
            </connector>
            <label>Zero</label>
        </rules>
        <rules>
            <name>Number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>f_Remove_Leading_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Leading_0</targetReference>
            </connector>
            <label>Number</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>f_Remove_Leading_0</name>
        <dataType>String</dataType>
        <expression>TEXT(VALUE({!$Record.Novidea_HPC__Policy_Number__c}))</expression>
    </formulas>
    <interviewLabel>YH Policy Number Cleanup {!$Flow.CurrentDateTime}</interviewLabel>
    <label>YH Policy Number Cleanup after</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Clear_Policy_Number</name>
        <label>Clear Policy Number</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Novidea_HPC__Policy_Number__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_Leading_0</name>
        <label>Remove Leading 0</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Novidea_HPC__Policy_Number__c</field>
            <value>
                <elementReference>f_Remove_Leading_0</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Number</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Internal_insurance_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Local</stringValue>
            </value>
        </filters>
        <filters>
            <field>Novidea_HPC__Policy_Number__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>0</stringValue>
            </value>
        </filters>
        <object>Novidea_HPC__Policy__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
